<?php
$this->headTitle($this->title);
$escaper = new Zend\Escaper\Escaper();
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
$legends = array('GXDatasetNameEn' => 'Basic information');
$form->prepare();
/** @var \Triplestore\Classes\GXDatasetInterface $document */
$document = $this->document;

/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-5')
    ->setRowClass('form-group advanced-group');
$type = $form->get('GXDatasetType')->getValue();
?>

<?php echo $this->form()->openTag($form); ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $form, 'addLeavePreventer' => true)) ?>
<div class="page-header">
    <h1>
        <?php echo $this->title ?>
    </h1>
    <?php if (!$this->add): ?>
        <div class="specimen-link"><a
                href="<?php echo $this->SearchQuery('dataset' . \Elastic\Result\TypeMapping::RAW_SUFFIX . ':"' . $document->getGXDatasetNameEn() . '"') ?>">Specimens
                in this dataset</a></div>
    <?php endif ?>
</div>
<fieldset>
    <?php if (!$this->add): ?>
        <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit)) ?>
    <?php endif; ?>
    <?php echo $this->formElement($form->get('subject')) ?>
    <?php echo $this->formRow($form->get('MZOwner')); ?>
</fieldset>
<fieldset>
    <legend>Basic information</legend>
    <?php echo $this->formRow($form->get('GXDatasetType')); ?>
    <?php echo $this->formRow($form->get('GXDatasetNameEn')); ?>
    <?php echo $this->formRow($form->get('GXPersonsResponsible')); ?>
    <?php echo $this->formRow($form->get('GXDescriptionEn')); ?>
    <div class="project-field" style="display: <?php echo $type === 'GX.datasetTypeProject' ? 'block' : 'none' ?>;">
        <?php echo $this->formRow($form->get('GXResearchFundingSource')); ?>
        <?php echo $this->formRow($form->get('GXResearchFundingRecipient')); ?>
        <?php echo $this->formRow($form->get('GXResearchFundingDuration')); ?>
        <?php echo $this->formRow($form->get('GXResearchCollaborator')); ?>
        <?php echo $this->formRow($form->get('GXBenefitsDerivedAndShared')); ?>
    </div>
</fieldset>

<?php echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit)) ?>
<?php echo $this->form()->closeTag(); ?>
<style>
    textarea {
        min-height: 46px;
    }
</style>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $('select[name="GXDatasetType"]').on('change', function() {
        var $this = $(this);
        var type = $this.val();
        var fields$ = $('.project-field');
        if (type === 'GX.datasetTypeProject') {
            fields$.show();
        } else {
            fields$.hide();
        }
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>

