<?php
$this->headTitle('TAgs');
$this->partial('kotka/partial/tablesorter');
$uriHelper = new \Kotka\DataGrid\Type\URI();
$uriHelper->setEditUrl($this->url('https/tags/action', array('action' => 'edit'), array('query' => array('uri' => '%s'))));
$uriHelper->setAddView(false);
?>
<div class="page-header">
    <h1>TAgs</h1>
</div>
<?php echo $this->partial('kotka/partial/tablesorter', ['ofX' => 'datasets']); ?>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover table-sortable">
        <thead>
        <tr>
            <th>URI</th>
            <th>Name</th>
            <th>Persons responsible</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->datasets as $dataset):
            /** @var Kotka\Triple\GXDataset $dataset */
            ?>
            <tr>
                <?php $uri = $dataset->getUri(); ?>
                <td><?php echo $uriHelper($uri) ?></td>
                <td><?php echo $this->escapeHtml($dataset->getGXDatasetName('en')); ?></td>
                <td><?php echo $this->escapeHtml($dataset->getGXPersonsResponsible()); ?></td>
                <td><?php echo $this->escapeHtml($dataset->getGXDescription('en')); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
