<?php
$this->headTitle('Edit organization');
$escaper = new Zend\Escaper\Escaper();
/** @var \Zend\Form\Form $form */
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
$legends = array(
    'MOSOrganizationLevel1En' => 'Name of the Organization',
    'MOSStreetAddress' => 'Address',
    'MOSEmail' => 'Contact',
    'MOSAd' => 'User authentication and authorization',
);
$form->prepare();

/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-5')
    ->setRowClass('form-group advanced-group');
?>
<div id="organization" style="margin-bottom: 300px;">
    <?php echo $this->form()->openTag($form); ?>
    <?php echo $this->partial('kotka/partial/formTop', array('form' => $form, 'addLeavePreventer' => true)) ?>
    <div class="page-header">
        <h1>
            <?php echo $this->title ?>
        </h1>
    </div>

    <fieldset>
        <?php if (!$this->add): ?>
            <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit)) ?>
        <?php endif; ?>

        <?php
        foreach ($form as $element):
        $name = $element->getName();
        if (in_array(substr($name,-2), ['Fi','Sv'])) {
            continue;
        }
        if ($name === 'MOSAd' && !$this->user()->isAdmin()) {
            echo $this->formHidden($element);
            continue;
        }
        if (isset($legends[$name])): ?>
    </fieldset>
    <fieldset>
        <legend><?php echo $legends[$name] ?></legend>
        <?php
        endif;
        echo $this->formRow($element);
        endforeach; ?>
    </fieldset>
    <?php echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit)) ?>
    <?php echo $this->form()->closeTag(); ?>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $(document.body).trigger('requestRefresh');
    $('.date').datetimepicker({
        widgetPositioning: {
            vertical: 'bottom'
        },
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down",
            previous: "fa fa-angle-left",
            next: "fa fa-angle-right"
        }
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>
