<?php
/** @var \Kotka\Triple\MOSOrganization $org */
$this->headTitle('Organizations');
$uriHelper = new \Kotka\DataGrid\Type\URI();
$uriHelper->setEditUrl($this->url('https/organizations/action', array('action' => 'edit'), array('query' => array('uri' => '%s'))));
$uriHelper->setAddView(false);
?>
<div class="page-header">
    <h1>Organizations</h1>
</div>
<?php echo $this->partial('kotka/partial/tablesorter', ['ofX' => 'organizations']); ?>
<div class="table-responsive">
    <table id="organizations" class="table table-striped table-bordered table-condensed table-hover table-sortable">
        <thead>
        <tr>
            <th>URI</th>
            <th>Organization</th>
            <th>Suborganization</th>
            <th>Department</th>
            <th>Section, team</th>
            <th>Abbr</th>
            <th>PC</th>
            <th class="filter-select filter-onlyAvail" data-value="false">Hidden</th>
            <th>Dataset</th>
            <th>Orders Due</th>
        </tr>
        </thead>
        <tbody>
        <?php
        /** @var \Kotka\Triple\MOSOrganization $org */
        foreach ($this->organizations as $org):
            ?>
            <tr>
                <?php $uri = $org->getUri();
                $due = $org->getMOSDateOrdersDue();
                if ($due instanceof DateTime) {
                    $due = $due->format('Y-m-d');
                }
                ?>
                <td><?php echo $uriHelper($uri) ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSOrganizationLevel1('en')); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSOrganizationLevel2('en')); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSOrganizationLevel3('en')); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSOrganizationLevel4('en')); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSAbbreviation()); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSPostalCode()); ?></td>
                <td><?php echo $this->escapeHtml($org->getMOSHidden() ? 'true' : 'false'); ?></td>
                <td><?php echo $this->escapeHtml($this->DatasetName($org->getMOSDatasetID())); ?></td>
                <td><?php echo $this->escapeHtml($due); ?></td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>
</div>