<?php
$year = $this->escapeHtml($this->year);
$this->headTitle('Reports for ' . $year);
$stats = $this->stats;
?>
<div class="container">
    <h1>
        Annual reports for the year <?php echo $year ?>
    </h1>

    <div class="row">
        <div class="col-md-9">
            <table class="basictable collections collectionsTable">
                <thead>
                <tr style="vertical-align: bottom;ali; border-bottom: 0;">
                    <th style="background-color: #fff; border: 0"></th>
                    <th colspan="4"
                        style="border-top: 1px solid #999; border-left:  1px solid #999; border-right:  1px solid #999; border-bottom: 0; background-color: #fff; padding: 0 3px; text-align: center">
                        Digitized <?php echo $year ?></th>
                    <!--<th>of&nbsp;which&nbsp;were acquired&nbsp;before&nbsp;<?php echo $year ?></th>-->
                    <th style="background-color: #fff; border: 0"></th>
                </tr>
                <tr style="vertical-align: bottom;ali">
                    <th>Collection</th>
                    <th style="text-align: right">Total</th>
                    <th style="text-align: right">Type specimens</th>
                    <th style="text-align: right">Of which where verified</th>
                    <th style="text-align: right">Type specimens with photo</th>
                    <!--<th>of&nbsp;which&nbsp;were acquired&nbsp;before&nbsp;<?php echo $year ?></th>-->
                    <th style="text-align: right">All&nbsp;time</th>
                </tr>
                </thead>
                <?php foreach ($stats as $key => $stat):
                    $isTotal = $key == 'totals';
                    if (($stat['year'] + $stat['before'] + $stat['type_verified'] + $stat['type_other_verified']) == 0) {
                        continue;
                    }
                    ?>
                    <tr <?php echo $isTotal ? 'class="total-row"' : '' ?>>
                        <td class="title-cell">
                            <?php if ($isTotal): ?>
                                <?php echo $this->escapeHtml($stat['name']) ?>
                            <?php else: ?>
                                <a href="<?php echo $this->url('view', [], ['query' => ['uri' => $stat['uri']]]) ?>">
                                    <?php echo $this->escapeHtml($stat['name']) ?>
                                </a>
                            <?php endif ?>
                        </td>
                        <td><?php echo $stat['year'] + $stat['before'] ?></td>
                        <td><?php echo $stat['type_verified'] + $stat['type_other_verified'] ?></td>
                        <td><?php echo $stat['type_verified'] ?></td>
                        <td>
                            <?php echo $stat['type_with_picture'] ?>
                            <?php if ($stat['type_with_picture'] > 0 && ($stat['type_verified'] + $stat['type_other_verified']) != 0): ?>
                                <small>(<?php
                                    $prosent = round(($stat['type_with_picture'] / ($stat['type_verified'] + $stat['type_other_verified'])) * 100);
                                    echo $prosent ?>%)
                                </small>
                            <?php endif ?>
                        </td>
                        <!--<td><?php echo $stat['before'] ?></td>-->
                        <td><?php echo $stat['total'] ?></td>
                    </tr>
                <?php endforeach ?>
            </table>
        </div>
    </div>
</div>