<?php
$filter = $this->Filter();
$filter->addFilter('HRA.transactionType', $this->SelectOptions('HRA.transactionTypes'));
?>
<div class="container">
    <h1>
        Transaction reports
    </h1>
    <h2>
        Document counts
    </h2>
    <table class="basictable">
        <thead>
        <tr>
            <th style="width: 30%; text-align: right">Owner</th>
            <?php foreach($this->years as $year): ?>
                <th style="text-align: right"><?php echo $year ?></th>
            <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->results as $owner => $result): ?>
        <tr>
            <td style="vertical-align: bottom;"><?php echo $this->OrganizationName($owner, \Kotka\View\Helper\OrganizationName::FORMAT_LONG_WITHOUT_ABBR) ?></td>
            <?php foreach($this->years as $year): ?>
                <td style="vertical-align: bottom;">
                    <?php if (isset($result[$year])):
                        ksort($result[$year]);
                        ?>
                        <?php foreach ($result[$year] as $type => $amount): ?>
                            <?php echo isset($types[$type]) ? $types[$type] : $type ?>:&nbsp;<?php echo $amount ?><br>
                        <?php endforeach; ?>
                    <?php else: ?>
                        to: 0
                    <?php endif ?>
                </td>
            <?php endforeach; ?>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <h2>
        Loan counts
    </h2>
    <table class="basictable">
        <thead>
        <tr>
            <th style="width: 30%; text-align: right">Owner</th>
            <?php foreach($this->years as $year): ?>
                <th style="text-align: right"><?php echo $year ?></th>
            <?php endforeach; ?>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->results as $owner => $result): ?>
            <tr>
                <td style="vertical-align: bottom;"><?php echo $this->OrganizationName($owner, \Kotka\View\Helper\OrganizationName::FORMAT_LONG_WITHOUT_ABBR) ?></td>
                <?php foreach($this->years as $year): ?>
                    <td style="vertical-align: bottom;">
                        <?php if (isset($result[$year . '-loan'])):
                            ksort($result[$year . '-loan']);
                            ?>
                            <?php foreach ($result[$year . '-loan'] as $type => $amount): ?>
                                <?php echo isset($types[$type]) ? $types[$type] : $type ?>:&nbsp;<?php echo $amount ?><br>
                            <?php endforeach; ?>
                        <?php else: ?>
                            to: 0
                        <?php endif ?>
                    </td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>

    <?php
    ksort($types);
    foreach($types as $long => $short): ?>
        <?php echo $short ?> = <?php echo $this->filter('HRA.transactionType', $long, $long) ?><br>
    <?php endforeach; ?>

</div>
