<?php
/** @var \Zend\Paginator\Paginator $specimens */
$specimens = $this->specimens;
$idx = 0;
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();

$type_species_class = "";
$type_species_mem = "";
$pages = false;
if ($specimens->count() > 1) {
    $pages = $specimens->getPages();
    $pages->parameterNames['currentPage'] = 'page';
    $pages->noJs = true;
    $pages->activeParameters = $this->criteria;
}
$filter = $this->Filter();
$filter
    ->addFilter('MY.provenance', $this->SelectOptions('MY.provenance'))
;
$family = '';
$infraRankLookup = array_flip($this->SelectOptions('MY.infraRank'));

function endsWith($haystack, $needle)
{
    $length = strlen($needle);
    if ($length == 0) {
        return true;
    }

    return (substr($haystack, -$length) === $needle);
}
?>
<style>
    <?php $this->headStyle()->captureStart() ?>

    <?php $this->headStyle()->captureEnd() ?>
</style>
<?php if (count($specimens) == 0): ?>
    <h1>No seeds found</h1>
    <?php
    return;
endif ?>

<div class="row">
    <div class="col-xs-12">
        <ul class="types">
            <?php foreach ($specimens as $key => $specimen):
                $data = [
                    'subject' => $key,
                    'MY.taxon' => $specimen['taxon'] ?? '',
                    'MY.infraRank' => $specimen['infraRank'] ?? '',
                    'MY.infraEpithet' => $specimen['infraEpithet'] ?? ''
                ];
                if (isset($infraRankLookup[$data['MY.infraRank']])) {
                    $data['MY.infraRank'] = $infraRankLookup[$data['MY.infraRank']];
                }
                $taxon = str_replace('ssp.', 'subsp.', $this->Taxon($data, 'withInfra', $this->SelectOptions('MY.infraRank')));
                $accepted =  $this->CurrentTaxon($taxon);
                $hasAccepted = $taxon !== $accepted;
                $acceptedAuthor =  $this->CurrentTaxon($taxon, \Kotka\View\Helper\CurrentTaxon::TYPE_AUTHOR);
                $provenanceKey = '';
                if (isset($specimen['provenance'])) {
                    $provenanceKey = explode(' ', $specimen['provenance'])[0];
                }
                ?>
                <?php if (isset($specimen['family']) && $family !== $specimen['family']):
                $family = $specimen['family'];
                ?>
                <p><strong><?php echo $family ?></strong></p>
                <?php endif; ?>
                <p>
                    <strong><?php echo $provenanceKey ?></strong>
                    <?php echo $specimen['IPEN'] ?? ''?>
                    <?php if($hasAccepted): ?>
                        <strong><?php echo $accepted ?></strong>
                        <strong><?php echo $acceptedAuthor ?></strong>
                        <br>
                    <?php else: // no hasAccepted ?>
                        <strong><em><?php echo $taxon ?></em></strong>
                        <strong><?php echo $specimen['infraAuthor'] ?? $specimen['author'] ?? ''?></strong>
                    <?php endif; // eo hasAccepted?>
                    <br>
                    <?php echo $specimen['country'] ?? ''?>,
                    <?php echo $specimen['biologicalProvince'] ?? ''?>,
                    <?php echo $specimen['municipality'] ?? ''?>,
                    <?php echo $specimen['locality'] ?? ''?>.
                    <?php echo $specimen['localityDescription'] ?? ''?>.
                    WGS84 <?php echo $specimen['latitude'] ?? ''?>N  <?php echo $specimen['longitude'] ?? ''?>E.
                    <?php echo isset($specimen['habitatDescription']) ? (endsWith($specimen['habitatDescription'], '.') ? $specimen['habitatDescription'] : $specimen['habitatDescription'] . '.'): ''?>
                    Population size: <?php echo $specimen['populationAbundance'] ?? ''?>.
                    <?php echo $specimen['gatheringNotes'] ?? ''?>
                    Coll. <?php echo isset($specimen['leg']) ? implode('; ', $specimen['leg']) : '' ?>,
                    <?php echo $specimen['dateBegin'] ?? '' ?>.
                </p>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script>
<?php $this->inlineScript()->captureStart();?>

<?php $this->inlineScript()->captureEnd();?>
</script>
