<?php
/** @var \kotka\Triple\PUUBranch $branch */
$branch = $this->branch;
$qname = \Common\Service\IdService::getQName($branch->getSubject());
$uri = \Common\Service\IdService::getUri($qname);
$exists = $branch->getPUUExists();
/** @var \Kotka\ResultSet\AccessionResultSet $branchResultSet */
$branchResultSet = $this->branchResultSet;
$events = [];
foreach($branchResultSet->getEventIterator($qname) as $event) {
    $events[] = ['event' => $event];
}
?>
<?php if($this->full): ?>
<div class="col-sm-2 elem-data"
    id="<?php echo $this->Id($qname) ?>"
    data-branch-elem=".branch.dummy"
    data-elem-id="<?php echo $qname ?>">
<?php endif ?>
    <div class="branch popover-elem<?php echo $exists ? '' : ' depleted' ?>" data-placement="bottom">
        <div class="location">
            <?php echo $this->CollectionName($branch->getPUUCollectionID()) ?>
        </div>
        <div>
            <span class="branch-location">
                <?php echo $branch->getPUULocation() ?>
            </span>
            <div>
                Amount:
                <span class="branch-amount"></span>
            </div>
        </div>
        <div class="footer">
            <?php if ($exists): ?>
                <button class="btn btn-xs btn-success add-event no-event-action">
                    Add event
                </button>
            <?php endif ?>
            <div class="pull-left"><span class="event-cnt">0</span></div>
            <button class="btn btn-xs btn-info edit-branch pull-right no-event-action">
                <span class="fa fa-eye no-event-action"></span>
            </button>
        </div>
    </div>
<?php if($this->full): ?>
    <div class="dummy event" style="display: none;">
        <div class="popover-elem">
            new event
        </div>
    </div>
    <div class="events" style="display: none;">
        <?php echo $this->partialLoop('kotka/accessions/event', $events) ?>
    </div>
</div>
<?php endif ?>