<div>
    <div class="header">&nbsp;</div>
    <?php
    use Kotka\Model\Util;

    /** @var \Kotka\Form\View\Helper\FormRow $row */
    $row = $this->formRow();
    $row
        ->setLabelClass('col-sm-3 col-xs-5 control-label no-gutter-right')
        ->setElementClass('col-sm-9 col-xs-7')
        ->setRowClass('form-group');
    /** @var \Zend\Form\Form $form */
    $form->prepare();
    $form->setAttribute('class', 'form-horizontal');
    $branch = $form->getObject();
    $subject = $branch->getSubject();
    $uri = \Common\Service\IdService::getUri($subject);?>
    <div class="row form-data"
         data-valid="<?php echo $this->valid ?>"
         data-success="<?php echo $this->success ?>"
         data-form-id="<?php echo \Common\Service\IdService::getQName($subject) ?>">
        <div id="form-loading" style="display: none">
            <h2>loading...</h2>
        </div>
        <?php if(!$this->success): ?>
            <div style="margin: 0 5px 15px 5px">
                <?php
                    $messages = $form->getMessages();
                    if (count($messages) > 0) {
                        $str = array();
                        $msgs = Util::extract_messages($messages);
                        foreach ($msgs as $place => $message) {
                            $str[] = $message . '<br>';
                        }
                        $alert = isset($this->errorTitle) ? $this->errorTitle : '<strong>Data was not saved</strong> because it contains error(s). Please correct these and try again:';
                        $alert .= '<ul><li>' . implode('</li><li>', $str) . '</li></ul>';
                        echo $this->Alert($alert);
                    } else {
                        echo $this->alert('Could not complete request!');
                    }
                ?>
            </div>
        <?php endif; ?>
        <?php echo $this->form()->openTag($form); ?>
        <?php if (!$this->addition): ?>
            <div class="form-group remove-container">
                <div class="col-sm-2 col-sm-offset-10">
                    <a href="#"
                       class="btn btn-danger btn-block delete-form ladda-button"
                       data-style="slide-left">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        <?php endif; ?>
        <div class="parent-id">
            <?php echo $this->formHidden($form->get('PUUAccessionID')) ?>
        </div>
        <?php echo $this->formHidden($form->get('PUUExists')) ?>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUCollectionID')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUULocation')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNotes')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUWgs84Latitude')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUWgs84Longitude')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUGardenLocationNotes')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUExists'), null, null, null, null, 'col-xs-9 checkbox checkbox-success add-yes-no') ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3">
                    <a href="#"
                       class="btn btn-success btn-block save-form ladda-button"
                       data-style="slide-left">
                        Save
                    </a>
                </div>
                <div class="col-sm-4 pull-right">
                    <a href="#" class="btn btn-warning btn-block close-form">Close</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin: 15px 0 15px 15px">
                    <a target="_blank" href="<?php echo $this->SearchQuery('branchLocationTree:"' . $form->get('PUUCollectionID')->getValue() . '"') ?>">Accessions in this location</a>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag($form); ?>
    </div>
</div>