<?php
/** @var \kotka\Triple\PUUEvent $event */
$event = $this->event;
$qname = \Common\Service\IdService::getQName($event->getSubject());
$uri = \Common\Service\IdService::getUri($qname);
$filter = $this->Filter();
$filter->addFilter('eventType', $this->SelectOptions('PUU.eventType'))
?>
<div class="elem-data popover-elem"
    id="<?php echo $this->Id($qname) ?>"
    data-branch-elem=".branch.dummy"
    data-elem-id="<?php echo $qname ?>"
    data-amount="<?php echo $event->getPUUAmount() ?>"
    data-sorting="<?php echo $this->time($event->getPUUDate(), 'Ymd') ?>"
>
    <div class="event">
        <span style="margin-top: 5px;">
            <button class="btn btn-xs btn-info edit-event pull-right"><span class="fa fa-eye"></span></button>
        </span>
        <span class="event-type">
            <?php echo $filter('eventType', $event->getPUUEventType()) ?>
        </span>
        <span class="event-date">
            <?php echo $this->time($event->getPUUDate(), 'd.m.Y') ?>
        </span>
        <span class="event-amount" style="display: none;">
            <?php echo $event->getPUUAmount()?>
        </span>
    </div>
</div>