<div>
    <div class="header">&nbsp;</div>
    <?php
    /** @var \Kotka\Form\View\Helper\FormRow $row */
    $row = $this->formRow();
    $row
        ->setLabelClass('col-sm-3 col-xs-5 control-label no-gutter-right')
        ->setElementClass('col-sm-9 col-xs-7')
        ->setRowClass('form-group');
    /** @var \Zend\Form\Form $form */
    $form->prepare();
    $form->setAttribute('class', 'form-horizontal');
    $branch = $form->getObject();
    $subject = $branch->getSubject();
    $uri = \Common\Service\IdService::getUri($subject); ?>
    <div class="row form-data"
         data-valid="<?php echo $this->valid ?>"
         data-success="<?php echo $this->success ?>"
         data-form-id="<?php echo \Common\Service\IdService::getQName($subject) ?>">
        <div id="form-loading" style="display: none">
            <h2>loading...</h2>
        </div>
        <?php echo $this->form()->openTag($form); ?>
        <?php if (!$this->addition): ?>
            <div class="form-group remove-container">
                <div class="col-sm-2 col-sm-offset-10">
                    <a href="#"
                       class="btn btn-danger btn-block delete-form ladda-button"
                       data-style="slide-left">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        <?php endif; ?>
        <div class="parent-id">
            <?php echo $this->formHidden($form->get('PUUBranchID')) ?>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUAmount')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 event-type-listener">
                    <?php echo $row($form->get('PUUEventType')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="datepicker">
                    <?php echo $row($form->get('PUUDate')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUULifeStage')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUAgent')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNotes')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeQuantityEstimation']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUAmountEstimationUnit')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationControlling', 'MY.eventTypeGerminationTesting', 'MY.eventTypeTZTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsTested')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsFull')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsPartFull')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsEmpty')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsInfested')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUNumberOfSeedsMouldy')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeCutTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUPercentageSeedsFull')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeDrying']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUERH')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeGerminationControlling', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUGerminationPercentage')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeGerminationControlling', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationTesting', 'MY.eventTypeTZTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUViabilityPercentage')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeGerminationControlling', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUGerminationRate')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeSeedExchange']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUSeedsExchangedInstitution')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeGerminationControlling', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationTesting']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUGerminationConditions')) ?>
                </div>
            </div>
            <div class="row" data-type="['MY.eventTypeGerminationTesting', 'MY.eventTypeGerminationRetesting', 'MY.eventTypeGerminationControlling']">
                <div class="col-sm-12">
                    <?php echo $row($form->get('PUUTestPassed')) ?>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-3">
                    <a href="#"
                       class="btn btn-success btn-block save-form ladda-button"
                       data-style="slide-left">
                        Save
                    </a>
                </div>
                <div class="col-sm-4 pull-right">
                    <a href="#" class="btn btn-warning btn-block close-form">Close</a>
                </div>
            </div>
        </div>
        <?php echo $this->form()->closeTag($form); ?>
    </div>
</div>