<?php
$this->headScript()
    ->prependFile($this->basePath() . '/js/moment.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-dialog.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-datetimepicker.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-switch.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery/jquery.growl.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/kotka.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.4/select2.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/accessions.js?v=2' . KOTKA_BUILD);;
$this->headLink()->appendStylesheet($this->basePath() . '/css/accessions.css?v=' . KOTKA_BUILD);
/** @var \Kotka\ResultSet\AccessionResultSet $branchesResultSet */
$branchesResultSet = $this->branchesResultSet;
$root = $this->root;
if (!$root instanceof \Kotka\Triple\MYDocument) {
    echo '<div class="alert alert-danger">Could not find branch</div>';
    return;
}
$qname = \Common\Service\IdService::getQName($this->root->getSubject());

$taxon = $this->CurrentTaxon($this->Taxon($root)) . ' ' . $this->Taxon($root, 'infra', $this->SelectOptions('MY.infraRank'));
$family = $this->CurrentTaxon($this->Taxon($root), 'family');
?>
<div id="accession" class="container-fluid">

    <div id="root" class="page-header elem-data" data-elem-id="<?php echo $qname ?>" data-branch-elem=".dummy-branch">
        <h1>
            Accession <?php echo $root->getUri(); ?>
            <?php if($root->getMYOriginalSpecimenID()): ?>
                (<?php echo $root->getMYOriginalSpecimenID() ?>)
            <?php endif ?>
            <button class="btn btn-success add-branch no-form"><span class="fa fa-plus-circle no-form"></span></button>
            <button class="btn btn-info show-accession"><span class="fa fa-eye"></span></button><br>
            <?php if (!empty($taxon)):?>
                <em><?php echo $taxon ?></em>
                <?php if (!empty($family)):?>
                    (<?php echo $family ?>)
                <?php endif ?>
            <?php endif ?>
        </h1>
    </div>

    <?php // echo $this->partial('kotka/accessions/root-event', ['root' => $root]) ?>
    <div class="row">
        <div class="col-sm-2 pull-right">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-xs-12">
                    Depleted:
                    <input class="depleted-switch" type="checkbox" checked="checked" value="1"/>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <?php $cnt = 0; ?>
                <?php foreach ($branchesResultSet->getBranches() as $branch): ?>
                    <?php if ($cnt % 6 == 0): ?>
                        </div><div class="row">
                    <?php endif ?>
                    <?php echo $this->partial('kotka/accessions/branch', ['branch' => $branch, 'full' => true, 'branchResultSet' => $branchesResultSet]); ?>
                    <?php $cnt++; ?>
                <?php endforeach; ?>
                <div class="col-sm-2">
                    <div class="dummy-branch dummy popover-elem" data-placement="bottom" style="display: none">
                        new branch
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php echo $this->partial('kotka/partial/modal') ?>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    var accessionService = new Accessions.Service($('#accession'),'<?php echo \Common\Service\IdService::getQName($this->uri) ?>');
    accessionService.init();
    <?php $this->inlineScript()->captureEnd();?>
</script>