<?php
$node = $this->node;
if (!$node instanceof \Kotka\Triple\MYDocument) {
    echo '<div class="alert alert-danger">Could not find accession</div>';
    return;
}
$taxon = '';
$gatherings = $node->getMYGathering();
foreach ($gatherings as $gathering) {
    $units = $gathering->getMYUnit();
    foreach ($units as $unit) {
        $identifications = $unit->getMYIdentification();
        foreach ($identifications as $identification) {
            $taxon = $identification->getMYTaxon();
            break;
        }
        break;
    }
    break;
}
var_dump($node);exit();
$qname = \Common\Service\IdService::getQName($node->getSubject());
$title = $node->getMYOriginalSpecimenID() ? $node->getMYOriginalSpecimenID() : \Common\Service\IdService::getUri($qname);
/** @var \Kotka\ResultSet\AccessionResultSet $nodesResultSet */
$nodesResultSet = $this->nodesResultSet;
?>

<ul>
    <li class="branch root depleted" id="root" data-branch-id="<?php echo $qname ?>">
        <div class="node">
            <span class="branch-id"><?php echo $title ?></span>
            <span>
                <?php echo $taxon ?>
            </span>
            <button class="btn btn-success add-branch no-form"><span class="fa fa-plus-circle no-form"></span></button>
        </div>
        <ul>
            <?php foreach ($nodesResultSet->getIterator($qname) as $branch): ?>
                <?php echo $this->partial('kotka/accessions/branch', ['node' => $branch, 'nodesResultSet' => $nodesResultSet]); ?>
            <?php endforeach; ?>
        </ul>
    </li>
</ul>