<?php
$document = $this->root;
if (!$document instanceof \Kotka\Triple\MYDocument) {
    return;
}
$events = $document->getMYEvent();
if (empty($events)) {
    return;
}
$cnt = count($events);
?>
<div class="row" style="margin-bottom: 7px">
    <div class="col-sm-12">
        <h4>
            Old events (<?php echo $cnt ?>)
            <?php if ($cnt): ?>
                <button class="btn btn-success document-event-toggle">show/hide</button>
            <?php endif ?>
        </h4>
        <div class="document-event" style="display: none;">
            <ul>
                <?php foreach ($events as $event): ?>
                    <li><span><?php echo $this->escapeHtml($event) ?></span>
                        <button class="move-to-branch btn btn-success btn-xs fa fa-chevron-circle-right"></button>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>