/** Switch **/
.bootstrap-switch {
    z-index: 100;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 0;
}


/** No override **/
.bootstrap-datetimepicker-widget li::before, .popover li::before {
    border: none !important;
}
.bootstrap-datetimepicker-widget li::after, .popover li::after {
    border: none !important;
}

/** FORM **/
.popover {
    max-width: 500px;
    min-width: 350px;
}

/** Branches **/
.branch, .dummy-branch {
    height: 100px;
    border-radius: 5px;
    border: solid #999 1px;
    background-color: #5aac50;
    margin-top: 5px;
    padding: 3px;
    color: #fff;
}

.branch .footer {
    position: absolute;
    top: 78px;
    width: 100%;
    padding-right: 23px;
}
.branch .footer .event-cnt {
    margin: 2px 3px 0 0;
}

.depleted.branch {
    background-color: #a8afab;
}

.branch {
    cursor: pointer;
}

.branch .location {
    color: #fff;
    font-size: 16px;
    line-height: 1.1em;
    max-height: 2.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden-branch {
    display: none;
}

/** Events **/
.event {
    min-height: 40px;
    padding:3px;
}

.events {
    color: #000;
    background: #fff;
}

.event.dummy {
    background: #87e2ff;
}

textarea.PUUNotes, textarea.PUUGerminationConditions {
    height: 150px;
}
