button.elementCopier {
	border: 1px solid grey;
	color: rgb(100, 155, 100);
	padding: 5px;
	border-radius: 4px;
	font-weight: bold;
}

button.elementCopier:hover {
	border: 1px solid black;
	cursor: pointer;
}

.elementCopier_new {
	background: rgb(200,255,200);
}

button.elementCopier_delete {
	color: rgb(155, 100, 100);
}
