.shadowed {
    box-shadow:inset 0 0 100px 0 #333;
    background-color:#666;
}

.debugRed {
    border:1px solid red;
}

.debugLime {
    border:1px solid lime;
}

.debugBlue {
    border:1px solid blue;
}

@font-face {
    font-family:'Gill Sans';
    font-weight:700;
    font-style:italic;
    src: url('/css/gillsansbold.ttf');
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    background-color:#ccc;
    margin:0;
    padding:0;
}

h1 {
    font-size:19px;
}

#div_header {
    box-shadow:inset 0 0 100px 0 #333;
    background-color:#666;
    position:relative;
    height:65px;
    background-position:80px -15px;
    background-repeat:no-repeat;
    padding:10px;
}

#dev #div_header {
    background-color:#388d2e;
    background-image:url('/img/kotka50development.png');
}

#test #div_header {
    background-color:#8a7d30;
    background-image:url('/img/kotka50testing.png');
}

#production #div_header {
    background-image:url('/img/kotka50.png');
}

#p_title {
    margin-top:.5em;
    font-size:23px;
    text-transform:uppercase;
}

#p_title strong {
    font-weight:400;
}

#p_title a {
    color:#fff;
    text-decoration:none;
}

#p_tools {
    float:right;
    color:#ccc;
    position:absolute;
    top:2px;
    right:5px;
    font-size:13px;
    padding:3px;
}

#p_tools a {
    color:#fff;
}

#form_uri {
    position:absolute;
    top:5px;
    right:305px;
}

#form_uri input {
    font-size:12px;
}

#form_uri input[type="text"] {
    border:1px solid #333;
}

#div_content {
    background-color:#fff;
    padding:10px;
}

#div_footer {
    box-shadow:inset 0 0 100px 0 #333;
    background-color:#666;
    padding:10px;
}

#div_footer a:link,#div_footer a:visited {
    color:#999;
}

#div_footer p {
    font-size:13px;
    color:#888;
    margin:0 0 .3em;
}

#span_logout a {
    text-transform:capitalize;
}

#n1 a {
    color:#f780e6;
}

#n2 a {
    color:#c0e062;
}

#n3 a {
    color:#ff957b;
}

#n4 a {
    color:#95caff;
}

#n5 a {
    color:#ffd980;
}

#n6 a {
    color:#FF99DB;
}

#div_navi {
    clear:both;
    float:left;
    z-index:1000;
    position:absolute;
    top:77px;
    left:7px;
    margin:0 0 0 160px;
    padding:0;
}

#div_navi ul {
    list-style:none;
    float:right;
    position:relative;
    right:50%;
    top:-23px;
    margin:0;
    padding:0;
}

#div_navi ul li {
    float:left;
    position:relative;
    left:50%;
    top:1px;
    margin:0 0 0 4px;
    padding:0;
}

#div_navi ul li a:before {
    content:"» ";
}

#div_navi ul li li a:before {
    content:"";
}

#div_navi ul li a {
    display:block;
    font-size:1em;
    line-height:1em;
    background:#000;
    text-decoration:none;
    font-weight:700;
    margin:0;
    padding:.6em .7em .4em .5em;
}

#div_navi ul li.active a {
    color:#fff;
    background:#000;
}

#div_navi ul li:hover a,#div_navi ul li.hover a {
    background:#36f;
    color:#fff;
    border-bottom:1px solid #03f;
}

#div_navi ul ul {
    display:none;
    position:absolute;
    top:2em;
    left:0;
    width:10em;
}

#div_navi ul ul li {
    left:auto;
    clear:left;
    width:100%;
    margin:0;
}

#div_navi ul ul li a,#div_navi ul li.active li a,#div_navi ul li:hover ul li a,#div_navi ul li.hover ul li a {
    font-size:.8em;
    font-weight:400;
    background:#666;
    color:#fff;
    line-height:1.4em;
    border-bottom:1px solid #000;
}

#div_navi ul ul.last {
    left:auto;
    right:0;
}

#div_navi ul li:hover ul,#div_navi ul li.hover ul {
    display:block;
}

#div_navi ul li.li_add a {
    text-transform:uppercase;
}

a:link {
    color:#009;
}

a:visited {
    color:#526;
}

a:hover,a:focus {
    color:#00f;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Gill Sans';
    font-weight:400;
    margin:0 0 .4em;
}

.sidebox h3 {
    font-weight:400;
    margin-top:0;
}

#div_header h1 {
    position:RELATIVE;
    top:35px;
    font-size:250%;
    margin:0 0 0 5px;
}

h1 a {
    text-decoration:none;
    color:#000!important;
}

p {
    line-height:135%;
    margin:0 0 1em;
}

li {
    line-height:130%;
}

.sanscons {
    border:0!important;
    background-color:#91B2DF;
    border-radius:3px;
    margin-bottom:-2px;
}

.verbatim {
    background-color:#5eae3f!important;
}

table {
    border-collapse:collapse;
}

.basictable {
    margin-bottom:1em;
}

.basictable th {
    text-align:left;
    background-color:#ccd5cc;
    color:#000;
}

.basictable td,.basictable th {
    vertical-align:top;
    border:1px solid #ccc;
    padding:5px 4px 3px;
}

.tablesorter th {
    cursor:pointer;
}

.table_specimen_det th {
    font-weight:400;
    font-size:.9em;
}

.table_specimen_det ul {
    margin:0;
    padding:0;
}

.table_specimen_det li {
    list-style-type:none;
    margin:0;
    padding:0 0 2px;
}

.dateInput {
    width:70px!important;
}

.table_specimen_det label {
    width:150px;
    display:inline-block;
}

.column {
    float:left;
}

.portlet {
    margin:0 1em 1em 0;
}

.portlet-header {
    padding-bottom:4px;
    padding-left:.2em;
    cursor:pointer;
    margin:.3em;
}

.portlet-header .ui-icon {
    float:right;
}

.portlet-content {
    padding:.4em;
}

.ui-sortable-placeholder {
    border:1px dotted #000;
    visibility:visible!important;
    height:50px!important;
}

.ui-sortable-placeholder * {
    visibility:hidden;
}

#i-save {
    margin:0 0 1em;
}

#d_savebuttons {
    background-color:#444;
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    height:50px;
    overflow:scroll;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    padding:10px;
}

#i-save input {
    font-size:140%;
    margin:0 1em 0 0;
}

#i-save #submit-copy {
    margin-left:2em;
    font-size:100%;
}

#saveinfo {
    display:none;
    color:#999;
    margin-top:1em!important;
}

#d_buttonspacer {
    height:7em;
}

#entryform p {
    margin:0;
}

.mandatory:after {
    content:" •";
    color:#c00;
    font-weight:700;
}

.infoviewer {
    background-color:#fd0;
}

#flashmessage,.message {
    border:2px solid #ccc;
    width:95%;
    padding:3px;
}

#info {
    border:1px solid #ccc;
    padding:3px;
}

.ok {
    background-color:#cfc;
    padding:3px;
}

.error {
    background-color:#fbb;
    padding:3px;
}

.warning {
    background-color:#feb;
    padding:3px;
}

.r-error td {
    background-color:#fbb;
}

.ih {
    color:#444;
    font-size:93%;
}

#helpData {
    color:#fff;
    margin:.5em 0!important;
}

#helpData span span {
    display:block;
    float:left;
    width:10em;
    margin-right:.7em;
    overflow:hidden;
}

#entryform .p_add {
    border-radius:3px;
    margin:1px 0 .3em 1em;
}

.jsbutton {
    font-size:8pt;
    font-weight:700;
    color:#fff!important;
    text-decoration:none;
    background-color:#005348;
    border-radius:4px;
    cursor:pointer;
    border-color:#ccc;
    padding:2px 4px;
}

.jsbutton:focus {
    background-color:#FFE1A6;
    color:#000!important;
}

.removethis {
    background-color:#f66;
    margin-left:2em;
}

.show {
    background-color:#004061;
}

.hide {
    background-color:#610040;
    display:none;
}

#sidebar {
    background-color:#c8d9de;
    width:250px;
    float:right;
    border-radius:10px;
    box-shadow:0 0 2px #ccc;
    padding:1em;
}

#entryform .p_add a {
    background-color:#bde5c2;
    padding:3px;
}

#entryform h4 {
    color:#595;
    font-size:115%;
    background-color:#DDEBDD;
    border-radius:3px;
    padding:1px 5px;
}

#entryform h5 {
    color:#595;
    font-size:100%;
    border-bottom:3px solid #DDEBDD;
    margin-top:0;
    border-radius:3px;
    padding:1px 0;
}

.w5 {
    width:5em;
}

.w10 {
    width:10em;
}

.w15 {
    width:15em;
}

.w25 {
    width:25em;
}

.w30 {
    width:30em;
}

.w35 {
    width:35em;
}

.w40 {
    width:40em;
}

#tooltip {
    position:absolute;
    border:1px solid #ecd892;
    background:#f7f5d1;
    display:none;
    font-size:120%;
    border-radius:3px;
    box-shadow:3px 3px 7px 0 rgba(0,0,0,0.4);
    padding:2px 5px;
}

.tooltiptext {
    cursor:pointer;
    color:#91B2DF;
}

.table_kotkaform table {
    border-radius:5px;
}

.automaticfield td {
    color:#686;
}

input[type="text"],input[type="file"],input[type="password"],textarea,select {
    border:1px solid #80b380;
    border-radius:2px;
}

input:focus,textarea:focus,option:focus {
    background-color:#FFFFA3;
}

.sidebyside {
    float:left;
    width:30%;
    margin:0!important;
}

.clearboth {
    clear:both;
}

#change {
    font-size:86%;
    margin-left:2em;
}

#entryform #descriptionEN,#entryform #descriptionFI,#entryform #descriptionSV,#entryform #collectionNameEN,#entryform #collectionNameFI,#entryform #collectionNameSV,#entryform #onlineUrl,#entryform #onlineUrlFI,#entryform #onlineUrlSV {
    width:230px;
}

#entryform #digitizedSize {
    width:50px;
}

.specimen b {
    display:block;
    float:left;
    min-width:7em;
}

.due_ok {
    color:#555;
}

.due_late {
    background-color:#fcc;
}

.due_verylate {
    background-color:red;
    color:#fff;
}

#loanSheet {
    background-color:#595;
}

#ids {
    height:250px;
}

#entryform #abcd__Abbreviation,#entryform #vcard__post_office_box,#entryform #vcard__postal_code {
    width:60px;
}

.table_specimen_det {
    border:1px solid #ddd;
    margin-top:.5em;
}

#table_specimen_habitatdetails {
    margin-top:3em;
}

#entryform #genusQualifier,#entryform #speciesQualifier {
    width:50px;
    margin-right:10px;
}

#entryform #infraEpithet,#entryform #typeSsp,#entryform #separatedFrom,#entryform #separatedTo,#entryform #higherGeography {
    width:222px;
}

#entryform #author,#entryform #infraAuthor,#entryform #administrativeProvince,#entryform #biogeographicalProvince,#entryform #localityID,#entryform #alt,#entryform #depth,#entryform #N,#entryform #E,#entryform #AFE,#entryform #UTM,#entryform #coordRadius,#entryform #dateBegin,#entryform #dateEnd,#entryform #hostDBH,#entryform #hostDecayStage,#entryform #count,#entryform #acquisitionDate,#entryform #typifDate {
    width:70px;
}

#entryform #notes {
    width:260px;
    height:100px;
}

.highlight {
    background-color:#6f6;
}

#entryform option[value=PreservedSpecimen] {
    background-color:lime;
}

#higherGeography,label[for=higherGeography],#typeSsp,label[for=typeSsp],#hostDBH,label[for=hostDBH],#hostDecayStage,label[for=hostDecayStage],.other_what,.indented {
    margin-left:1em;
}

#cell_labelprefs {
    padding-left:2em;
}

#cell_labelprefs label {
    display: block;
    padding-bottom: 2px;
}

#table_search td.prevIds {
    padding-left:10px;
    padding-right:10px;
    background-color:#ccc;
}

#table_search h4,#cell_labelprefs p {
    font-weight:400;
    margin:0;
}

#toggle {
    background-color:#3c3;
    position:fixed;
    top:30px;
    right:10px;
    font-size:100%;
    z-index:10;
    box-shadow:3px 3px 5px rgba(0,0,0,0.5);
}

#toggle .toggle {
    background-color:#3c3;
}

#ul_navi .lastEdited {
    padding-left:.5em!important;
}

.pseudoLink a {
    cursor:default;
}

#cell_searchIDs textarea {
    width:250px;
    height:150px;
}

#s_taxonValidation {
    margin-left:1em;
    font-weight:700;
}

.validationOK {
    color:#090;
}

.validationWarning {
    color:#ff9000;
}

.validationError {
    color:#d00;
}

.langcode {
    width:2.5em;
    display:block;
    float:left;
}

.specimenImageView {
    background-color:#f5f5f5;
    border-radius:5px;
    width:100%;
    padding-left:10px;
    padding-right:10px;
}

#specimenImageView ul {
    margin:0;
    padding:0;
}

#specimenImageView ul li {
    float:left;
    list-style:none;
    padding-right:5px;
}

#specimenImageView a,#specimenImageView a:hover {
    color:blue;
    font-size:.8em;
}

.limitedLengthSelects select {
    width:270px;
}

p#noPermissionToEdit {
    border:1px dashed #640000;
    font-size:1.1em;
    background-color:#fac8c8;
    border-radius:3px;
    margin:10px;
    padding:5px;
}

.preferredIdentification {
    text-decoration:underline;
}

.taxonName {
    font-style:italic;
}

.popUpDiv {
    border:1px solid #000;
    border-radius:5px;
    background-color:#FFEDB2;
    padding:10px 30px;
}

.dataTables_wrapper {
    margin-top:10px;
    margin-bottom:30px;
}

#div_navi ul li a:hover,#div_navi ul ul li a:hover,#div_navi ul li.active ul li a:hover,#div_navi ul li:hover ul li a:hover,#div_navi ul li.hover ul li a:hover {
    background:#36f;
    color:#fff;
}

h2,h3,h4,h5,h6,#entryform,#table_botanyspecimen_habitatdetails {
    margin-top:1em;
}

h3,h4,h5,h6,.mandatory,.notification {
    font-weight:700;
}

.table_specimen_det li *,#entryform table td,#table_search td {
    vertical-align:top;
}

.r-warning td,.due_soon {
    background-color:#ffc;
}

#entryform input[type="text"],#entryform textarea,.w20 {
    width:20em;
}

#d-2ndnavi,#entryform #sec {
    width:400px;
}

.changefalse,#hidesummary {
    display:none;
}

.changetrue,table .repeating:first-child .removethis,#table_loan .repeating:first-child .removethis,#showsummary {
    display:inline;
}

#entryform #methods,#entryform #notes,#entryform #labelsVerbatim,#entryform #coordNotes {
    width:350px;
}

#entryform #taxonomicCoverage,#entryform #temporalCoverage,#entryform #geographicCoverage,#entryform #ltkm__org_level1,#entryform #taxon,.widthSetter {
    width:200px;
}

#entryform #collectionSize,#entryform #typesSize,#entryform #transactionRequestReceived,#entryform #transactionSent,#entryform #receiptReturned,#entryform #dueDate {
    width:100px;
}

#table_botanyspecimen table,#table_specimen table {
    margin-right:1em;
}

#table_botanyspecimen_locality,#table_botanyspecimen_misc,#table_specimen_locality,#table_specimen_misc {
    min-width:500px;
}

#table_botanyspecimen_coord,#table_specimen_coord {
    min-width:500px;
    background-color:#D7E2DA;
}

#table_botanyspecimen_coord .odd,#table_botanyspecimen_types .odd,#table_specimen_coord .odd,#table_specimen_types .odd {
    background-color:transparent;
}

#table_botanyspecimen_types,#table_specimen_types {
    min-width:500px;
    background-color:#F3D8E2;
}

#entryform #genus,#entryform #species,#entryform .qualifiers input {
    width:150px;
}

#ul_navi .pseudoLink a,#ul_navi .pseudoLink a:hover {
    background:#999!important;
}