
/* Styles for Kotka's minimal pages */

ul li {
	margin-right: 1em;
	list-style-type: none;
	text-indent: -17px;
}

ul li a {
	color: #005 !important;
	text-decoration: none;
}

ul li a:hover {
	background-color: #ded;
}

#empty {
	margin-bottom: 1em;
	font-weight: bold;
}

.letter {
	font-weight: bold;
	margin-left: -17px;
	padding-left: 0;
	margin-top: 0.5em;
}


