<?php
$this->headTitle($this->title);

$this->headScript()
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD);

$escaper = new Zend\Escaper\Escaper();
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
$legends = array('MFSpecimenID' => 'Basic information');
$form->prepare();
/** @var \Triplestore\Classes\MFSampleInterface $document */
$document = $this->document;

/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-5 col-md-4')
    ->setRowClass('form-group advanced-group');
?>

<?php echo $this->form()->openTag($form); ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $form, 'addLeavePreventer' => true)) ?>
<div class="page-header">
    <h1>
        <?php echo $this->title ?>
    </h1>
</div>
<fieldset>
    <?php if (!$this->add): ?>
        <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit)) ?>
    <?php endif; ?>
    <?php echo $this->formElement($form->get('subject')) ?>
    <?php echo $this->formRow($form->get('MZOwner')); ?>
</fieldset>
<fieldset>
    <legend>Basic information</legend>
    <?php if ($form->has('SampleID')): ?>
        <?php echo $this->formRow($form->get('SampleID')); ?>
    <?php endif ?>
    <?php echo $this->formRow($form->get('MFSpecimenID')); ?>
    <?php echo $this->formRow($form->get('MFEvent')); ?>
    <?php echo $this->formRow($form->get('MFGenbank')); ?>
    <?php echo $this->formRow($form->get('MFBold')); ?>
    <?php echo $this->formRow($form->get('MFSampleLocation')); ?>
</fieldset>

<?php echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit)) ?>
<?php echo $this->form()->closeTag(); ?>

