<?php
$this->headTitle('Sample');

$escaper = new Zend\Escaper\Escaper();
$this->partial('kotka/partial/tablesorter');
$uriHelper = new \Kotka\DataGrid\Type\URI();
$uriHelper->setEditUrl($this->url('https/samples/action', array('action' => 'edit'), array('query' => array('uri' => '%s'))));
$uriHelper->setViewUrl($this->url('view', array('action' => 'index'), array('query' => array('uri' => '%s'))));
$uriHelper->setAddView(false);
?>
<div class="page-header">
    <h1>Samples</h1>
</div>
<?php if (count($this->samples) === 0): ?>
    No samples added yeat
    <?php
    return;
endif; ?>
<?php echo $this->partial('kotka/partial/tablesorter', ['ofX' => 'samples']); ?>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover table-sortable">
        <thead>
        <tr>
            <th>URI</th>
            <th>Specimens</th>
            <th>Events</th>
        </tr>
        </thead>
        <tbody>
        <?php
        $cnt = 0;
        foreach ($this->samples as $sample):
            $id = ++$cnt;
            /** @var Kotka\Triple\MFSample $sample */
            ?>
            <tr>
                <?php $editUrl = $this->url('https/samples/action', array('action' => 'edit'), array('query' => array('uri' => $sample->getUri()))); ?>
                <td><?php echo $uriHelper($sample->getUri()) ?></td>
                <td>
                    <?php
                    $specimenURI = \Common\Service\IdService::getUri($sample->getMFSpecimenID());
                    $editUrl = $this->url('view', array('action' => 'edit'), array('query' => array('uri' => $specimenURI))); ?>
                    <a href="<?php echo $editUrl ?>"><?php echo $escaper->escapeHtml($specimenURI); ?></a>
                    <?php /* This is for repeating specimenID
                        foreach($sample->getMFSpecimenID() as $specimenID): ?>
                        <?php $editUrl = $this->url('view', array('action'=>'edit'), array('query' => array('uri'=>$specimenID))); ?>
                        <a href="<?php echo $editUrl ?>"><?php echo $escaper->escapeHtml($specimenID); ?></a>
                    <?php endforeach */ ?>
                </td>
                <td>
                    <?php
                    $events = $sample->getMFEvent();
                    if (is_array($events)):
                        $events = array_reverse($events);
                        $hasHidden = false;
                        foreach ($events as $key => $event): ?>
                            <?php if ($key === 3):
                                $hasHidden = true;
                                ?>
                                <a href="#" class="more" data-show="#s<?php echo $id ?>">[more events]</a>
                                <div id="s<?php echo $id ?>" style="display: none">
                            <?php endif ?>
                            <?php echo $escaper->escapeHtml($event); ?>
                            <br>
                        <?php endforeach ?>
                        <?php if ($hasHidden): ?>
                        </div>
                    <?php endif ?>
                    <?php endif; ?>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<script>
    <?php $this->inlineScript()->captureStart();?>
    $('.more').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var id = $this.data('show');
        $this.remove();
        $(id).show();
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>
