<?php
$this->headScript()
    ->appendFile('https://code.highcharts.com/highcharts.js?v=' . KOTKA_BUILD);
$allTime = $this->allTime;
?>

<div class="container front-page">
    <div class="row">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Help</h2>
                    <ul>
                        <li><a href="https://wiki.helsinki.fi/xwiki/bin/view/digit/Kotka%20Collection%20Management%20System/Manual%20for%20Kotka/">Manual</a>
                            &ndash; How to use Kotka
                        </li>
                        <li><a href="<?php echo $this->url('document', array('action' => 'field')) ?>">Fields used by
                                Kotka</a>
                            &ndash; What data fields mean and how they are validated
                        </li>
                    </ul>
                    <ul>
                        <li><a href="<?php echo $this->url('excel', array('action' => 'create')) ?>">Excel generator</a>
                            &ndash; Generic excel file generator for importing data
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>Tools</h2>
                    <ul>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'generic-label')) ?>">Create
                                generic labels</a></li>
                        <li>
                            <form action="<?php echo $this->url('https/search_specimens') ?>">
                                <input type="hidden" name="export" value="page">
                                <input class="search-field" type="text" name="search" autofocus="true"
                                       placeholder="Search"/>
                                <button class="search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <?php echo $this->news ?>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div id="specimen-chart" style="width:100%;height: 320px; padding-top: 10px;">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h2>10 most active users of all time</h2>
            <table class="basictable">
                <thead>
                <tr>
                    <th width="50%" class="text-right">
                        User
                    </th>
                    <th class="text-right">
                        Added
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->usageTotal as $user => $count): ?>
                    <tr>
                        <td>
                            <?php echo $user ?>
                        </td>
                        <td>
                            <?php echo $count ?>
                        </td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>10 most active users this year</h2>
            <table class="basictable">
                <thead>
                <tr>
                    <th width="50%" class="text-right">
                        User
                    </th>
                    <th class="text-right">
                        Added
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->usageThisYear as $user => $count): ?>
                    <tr>
                        <td>
                            <?php echo $user ?>
                        </td>
                        <td>
                            <?php echo $count ?>
                        </td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h2>10 most active users this month</h2>
            <table class="basictable">
                <thead>
                <tr>
                    <th width="50%" class="text-right">
                        User
                    </th>
                    <th class="text-right">
                        Added
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->usageThisMonth as $user => $count): ?>
                    <tr>
                        <td>
                            <?php echo $user ?>
                        </td>
                        <td>
                            <?php echo $count ?>
                        </td>
                    </tr>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
    <p>*
        <small>These numbers are based upon specimens created in kotka.</small>
    </p>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    (function (window, $) {
        $(function () {
            $('[autofocus]:not(:focus)').eq(0).focus();
        });
        $(function () {
            $('#specimen-chart').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Specimen history',
                    align: 'left'
                },
                xAxis: {
                    categories: <?php echo json_encode(array_keys($allTime)) ?>
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    pointFormat: '{point.y:,.0f}'
                },
                plotOptions: {
                    area: {
                        marker: {
                            enabled: false,
                            symbol: 'circle',
                            radius: 2,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                credits: false,
                series: [{
                    showInLegend: false,
                    data: <?php echo json_encode(array_values($allTime)) ?>,
                    threshold: null,
                    color: '#888888'
                }]
            });
        });
    })(window, jQuery);
    <?php $this->inlineScript()->captureEnd();?>
</script>

