<div class="row documentation-required">
    <div class="col-sm-12">
        <?php if ($this->required): ?>
            <strong>This Field is required</strong><br>
        <?php endif ?>
        <?php if ($this->help): ?>
            <div class="doc-help"><?php echo $this->help ?></div>
        <?php endif ?>
        <?php if ($this->info): ?>
            <div class="doc-info"><?php echo implode('<br>', $this->info) ?></div>
        <?php endif ?>
    </div>
</div>
<?php if ($this->options):
    $id = $this->field . '-allowed';
    ?>
    <div class="row documentation-allowed">
        <div class="col-sm-12">
            <ul class="nav nav-list">
                <li class="nav-header">
                    <span class="documentation-label">Allowed values <em> - and their meaning</em>:</span>
                    <ul class="nav nav-list" id="<?php echo $id ?>">
                        <?php
                        $limit = count($this->options) > 20 ? 5 : 200;
                        $cnt = 0;
                        $class = '';
                        $style = '';
                        ?>
                        <?php foreach ($this->options as $dbField => $label):
                            $cnt++;
                            if ($cnt == $limit):
                                $class = $this->field . '-rest';
                                $style = ' style="display:none;"';
                                ?>
                                <li class="indented-2" onclick="$('.<?php echo $class ?>').toggle();"><strong
                                        class="morelink">more...</strong></li>
                            <?php endif ?>
                            <li class="indented-2 <?php echo $class ?>"<?php echo $style ?>>
                                <strong><?php echo $dbField ?></strong> &ndash; <?php echo $label ?></li>
                        <?php endforeach ?>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
<?php endif ?>
<?php if ($this->errors): ?>
    <div class="row documentation-error">
        <div class="col-sm-12">
            <span class="documentation-label">Error is given if:</span>
            <ul class="nav nav-list">
                <?php foreach ($this->errors as $class => $explained): ?>
                    <li class="indented-2">
                        <?php echo $explained ?>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif ?>
<?php if ($this->warnings): ?>
    <div class="row documentation-warning">
        <div class="col-sm-12">
            <span class="documentation-label">Warning is given if:</span>
            <ul class="nav nav-list">
                <?php foreach ($this->warnings as $class => $explained): ?>
                    <li class="indented-2">
                        <?php echo $explained ?>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif ?>
<?php if ($this->filters): ?>
    <div class="row documentation-field">
        <div class="col-sm-12">
            <span class="documentation-label">Field:</span>
            <ul class="nav nav-list">
                <?php foreach ($this->filters as $class => $explained): ?>
                    <li class="indented-2">
                        <?php echo $explained ?>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
<?php endif ?>
<div class="row documentation-database">
    <div class="col-sm-12">
        <span
            class="documentation-label">Excel field:</span> <?php echo \Triplestore\Service\PhpVariableConverter::toPhpMethod($this->databaseField) ?>
        <br/>
        <?php if ($this->type): ?>
            <span class="documentation-label">Type:</span> <?php echo $this->type ?>
        <?php endif ?>
    </div>
</div>