<?php
$this->headTitle('Distinct values');
$stats = $this->stats;
?>
<div class="container">
    <h1>
        Value Statistics
    </h1>

    <div class="row">
        <div class="col-md-5">
            <?php $legs = $this->stats['MY.leg']; ?>
            <table id="transactions transactionsTable" class="basictable">
                <tr>
                    <th>Leg</th>
                    <th>Amount</th>
                </tr>
                <?php foreach ($legs as $leg): ?>
                    <tr>
                        <td class="title-cell"><?php echo $leg[0] ?></td>
                        <td><?php echo $leg[1] ?></td>
                    </tr>
                <?php endforeach ?>
            </table>
        </div>
        <div class="col-md-5">
            <?php $dets = $this->stats['MY.det']; ?>
            <table id="transactions transactionsTable" class="basictable">
                <tr>
                    <th>Det</th>
                    <th>Amount</th>
                </tr>
                <?php foreach ($dets as $det): ?>
                    <tr>
                        <td class="title-cell"><?php echo $det[0] ?></td>
                        <td><?php echo $det[1] ?></td>
                    </tr>
                <?php endforeach ?>
            </table>
        </div>
    </div>
</div>