<?php
$this->headTitle('Field documentation');
$explains = $this->explains;
?>
<div class="page-header">
    <h1>Fields used in Kotka</h1>
</div>
<div class="panel-group" id="panels documentation">
    <?php
    $cnt = 0;
    foreach ($explains as $name => $data):
        $cnt++; ?>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#panels" href="#panel-<?php echo $cnt ?>">
                        <?php echo $name ?>
                    </a>
                </h4>
            </div>
            <div id="panel-<?php echo $cnt ?>" class="panel-collapse collapse">
                <div class="panel-body documentation-body">
                    <dl>
                        <?php foreach ($data as $field => $description):
                            if (isset($description['hidden'])) {
                                continue;
                            }
                            ?>
                            <dt><?php echo $field ?></dt>
                            <dd><?php echo $this->partial('kotka/document/description', $description); ?></dd>
                        <?php endforeach; ?>
                    </dl>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>