<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$fieldLabels = array(
    'MA.inheritedName' => 'Lastname',
    'MA.preferredName' => 'Firstname',

);

$skip = [
    'rdf:type',
    'canEdit',
    'uri',
    'qname'
];
?>
<div id="viewer" class="container">
    <!--suppress HtmlUnknownTarget -->
    <div class="page-header view-header">
        <h1>
            <?php echo $data['uri']; ?>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <?php
            uksort($data, array($metadata, 'sortByProperty'));
            $skip = array_flip($skip);
            foreach ($data as $field => $value):
                if (isset($skip[$field])) {
                    continue;
                }
                $label = isset($fieldLabels[$field]) ? $fieldLabels[$field] : $metadata->getLabel($field);
                if (empty($value)) {
                    continue;
                }
                if (!is_array($value)) {
                    $value = (array)$value;
                }
                $hasMany = count($value) > 1;
                foreach ($value as $k => $v):
                    $lang = '';
                    if ($hasMany && in_array($k, ['fi', 'sv'])) {
                        $lang = " ($k)";
                    } ?>
                    <div class="row <?php echo PhpVariableConverter::toPhpMethod($field) ?> data-row">
                        <div class="col-sm-3 view-label"><?php echo $label . $lang ?>:</div>
                        <div class="col-sm-9 view-value">
                            <?php echo nl2br($this->escapeHtml($this->filter($field, $v, $v))) ?>
                        </div>
                    </div>
                <?php endforeach ?>
            <?php endforeach ?>
        </div>
    </div>
    <hr>
</div>