<?php
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$filter = $this->Filter();
$filter
    ->addFilter('MF.preparationProcess', $this->SelectOptions('MF.preparationProcess'))
    ->addFilter('MF.preparationMaterials', $this->SelectOptions('MF.preparationMaterials'))
;
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}

$skip = [
    'rdf:type',
    'qname',
    'MY.isPartOf',
    'total'
];

if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}
?>
<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif;
?>
<div class="row">
    <div class="col-sm-12" <?php echo $total > 1 ? 'style="border-left: 2px solid #ccc; margin: 5px 0;"' : ''?>>
        <?php
        uksort($data, array($metadata, 'sortByProperty'));
        $skip = array_flip($skip);
        foreach ($data as $field => $value):
            if (isset($skip[$field])) {
                continue;
            }
            $label = $metadata->getLabel($field);
            $methodField = PhpVariableConverter::toPhpMethod($field);
            ?>
            <div class="row <?php echo $methodField ?>" style="border-bottom: 1px dotted #eee;">
                <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                <div class="col-sm-8 view-value">
                    <?php if (is_array($value)): ?>
                        <?php
                        foreach ($value as $key => $val) {
                            $value[$key] = nl2br($this->escapeHtml($this->filter($field, $val, $val)));
                        }
                        echo implode("<br>", $value) ?>
                    <?php else: ?>
                        <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</div>