<?php
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$filter = $this->Filter();
$filter
    ->addFilter('MF.recordParts', $this->SelectOptions('MF.recordParts'))
    ->addFilter('MF.material', $this->SelectOptions('MF.material'))
    ->addFilter('MF.preparationType', $this->SelectOptions('MF.preparationType'))
    ->addFilter('MF.quality', $this->SelectOptions('MF.quality'))
    ->addFilter('MF.qualityCheckMethod', $this->SelectOptions('MF.qualityCheckMethod'))
    ->addFilter('MF.individualsInPreparation', $this->SelectOptions('MF.individualsInPreparation'))
    ->addFilter('MF.elutionMedium', $this->SelectOptions('MF.elutionMedium'))
    ->addFilter('MF.status', $this->SelectOptions('MF.status'))
    ->addFilter('MF.datasetID', $this->SelectOptions('MF.datasetID'))
    ->addFilter('MF.preservation', $this->SelectOptions('MF.preservation'))
    ->addFilter('MF.collectionID', 'CollectionName')
;
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}

$skip = [
    'rdf:type',
    'qname',
    'MY.isPartOf',
    'has'
];

$measurements = [];
$preparation = array();
$preparationHtml = '';
$measurementHtml = '';
$preparationCnt = 0;
if (isset($data['has'])) {
    $has = $data['has'];
    foreach ($has as $item) {
        if ($item['rdf:type'] == 'MF.preparationClass') {
            $preparation[] = $item;
            $preparationCnt++;
        } else if ($item['rdf:type'] == 'MY.measurementClass') {
            $measurements = $item;
        }
    }
    foreach ($preparation as &$item) {
        $item['total'] = $preparationCnt;
    }
    $preparationHtml .= $this->partialLoop('kotka/view/types/MF.preparation', $preparation);
    if (count($measurements)) {
        $measurementHtml .= $this->partial('kotka/view/types/MY.measurementClass', $measurements);
    }
}

if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}
?>
<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif;
?>
<div class="col-sm-6">
    <div class="page-header view-header">
        <h2>Preparation/sample <small><?php echo \Common\Service\IdService::getUri($data['qname']); ?></small></h2>
    </div>
    <?php
    uksort($data, array($metadata, 'sortByProperty'));
    $skip = array_flip($skip);
    $cnt = 0;
    foreach ($data as $field => $value):
        if (isset($skip[$field])) {
            continue;
        }
        $cnt++;
        $label = $metadata->getLabel($field);
        $methodField = PhpVariableConverter::toPhpMethod($field);
        ?>
        <div class="row <?php echo $methodField ?>" style="border-bottom: 1px dotted #eee;">
            <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
            <div class="col-sm-8 view-value">
                <?php if (is_array($value)): ?>
                    <?php
                    foreach ($value as $key => $val) {
                        $value[$key] = nl2br($this->escapeHtml($this->filter($field, $val, $val)));
                    }
                    echo implode("<br>", $value) ?>
                <?php else: ?>
                    <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                <?php endif; ?>
            </div>
        </div>
    <?php
        if ($field === 'MF.preparationType' || $cnt > 1) {
            echo $preparationHtml;
            $preparationHtml = '';
        }
    endforeach
    ?>
    <?php echo $measurementHtml ?>
</div>