<?php
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);

$edit = '';
if (isset($data['canEdit']) && $data['canEdit']) {
    $edit = '<small><a class="edit-link" href="/organization/edit?uri=' . $data['uri'] . '">edit</a></small>';
}

$filter = $this->Filter();
$filter
    ->addFilter('MOS.abbreviationExplanation', $this->SelectOptions('MOS.abbreviation-explanations'))
;

$skip = [
    'links',
    'rdf:type',
    'qname',
    'MY.isPartOf',
    'uri',
    'MZ.creator',
    'MZ.editor',
    'MZ.dateCreated',
    'MZ.dateEdited',
    'MZ.owner',
];
?>
<div id="viewer" class="container">
    <div class="page-header view-header">
        <div class="pull-right">
            <?php echo $this->partial('kotka/view/user', $data); ?>
        </div>
        <h1>
            <?php echo $data['uri']; ?>
            <?php echo $edit ?>
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <?php
            uksort($data, array($metadata, 'sortByProperty'));
            $skip = array_flip($skip);
            foreach ($data as $field => $value):
                if (isset($skip[$field])) {
                    continue;
                }
                $label = $metadata->getLabel($field);
                $methodField = PhpVariableConverter::toPhpMethod($field);
                ?>
                <div class="row <?php echo $methodField ?>" style="border-bottom: 1px dotted #eee;">
                    <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                    <?php if ($field === 'MOS.URL'): ?>
                        <div class="col-sm-8 view-value">
                            <?php $value = $this->escapeHtml($value) ?>
                            <a href="<?php echo $value ?>"><?php echo $value ?></a>
                        </div>
                    <?php else: ?>
                    <div class="col-sm-8 view-value">
                        <?php if (is_array($value)): ?>
                            <?php
                            array_walk($value, array($this, 'escapeHtml'));
                            echo implode("<br>", $value) ?>
                        <?php else: ?>
                            <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                        <?php endif; ?>
                    </div>
                    <?php endif ?>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</div>