<?php
use Kotka\Filter;
use Common\Service\IdService;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$filter = $this->Filter();
$filter
    ->addFilter('MY.collectionType', $this->SelectOptions('MY.collectionType'))
    ->addFilter('MY.metadataStatus', $this->SelectOptions('MY.metadataStatus'))
    ->addFilter('MY.publicationTerms', $this->SelectOptions('MY.publicationTerms'))
    ->addFilter('MY.intellectualRights', $this->SelectOptions('MY.intellectualRights'))
    ->addFilter('MZ.editor', $this->SelectOptions('MA.person'))
    ->addFilter('MZ.creator', $this->SelectOptions('MA.person'))
    ->addFilter('MY.isPartOf', $this->SelectOptions('MY.collectionID'))
    ->addFilter('MY.dataQuality', $this->SelectOptions('MY.dataQuality'))
    ->addFilter('MY.collectionQuality', $this->SelectOptions('MY.collectionQuality'))
    ->addFilter('MZ.owner', 'OrganizationName')
    ->addFilter('MY.collectionID', 'CollectionName');

$fieldLabels = array(
    'MZ.creator' => 'Created by',
    'MZ.editor' => 'Editor',
    'MZ.dateCreated' => 'Created',
    'MZ.dateEdited' => 'Edited',
    'MZ.owner' => 'Owner',
    'MY.datatype' => 'Tyyppi',

);
$skip = [
    'MZ.creator',
    'MZ.editor',
    'MZ.dateCreated',
    'MZ.dateEdited',
    'MZ.owner',
    'has',
    'links',
    'rdf:type',
    'canEdit',
    'uri',
    'qname',
    'MY.intellectualDescription',
    'MY.publicationTerms',
    'MY.metadataCreator',
    'MY.inMustikka'
];

$contains = false;
if (isset($data['has'])) {
    $contains = $data['has'];
}
$edit = '';
if (isset($data['canEdit']) && $data['canEdit']) {
    $edit = '<small><a class="edit-link" href="/collections/edit?uri=' . $data['uri'] . '">edit</a></small>';
}
$this->placeHolder('masters')->append('MY.document');
$subject = \Common\Service\IdService::getQName($data['uri'], true);
?>
<div id="viewer" class="container">
    <!--suppress HtmlUnknownTarget -->
    <div class="page-header view-header">
        <div class="pull-right">
            <?php echo $this->partial('kotka/view/user', $data); ?>
        </div>
        <h1>
            <?php echo $data['uri']; ?>
            <?php echo $edit ?>
        </h1>
        <?php if (!$this->User()->isGuest()):?>
            <span class="specimen-link" style="display: none;"><a target="_blank" href="https://laji.fi/observation/list?collectionId=<?php echo $this->escapeHtmlAttr($subject) ?>">Specimens
                    in FinBIF portal</a></span>&nbsp;&nbsp;
            <span class="specimen-link" style="display: none;"><a href="<?php echo $this->SearchQuery('collectionTree:"' . $subject . '"') ?>">Specimens
                    in this collection</a></span>&nbsp;&nbsp;
            <span class="specimen-link accessions-link" style="display: none;"><a href="<?php echo $this->SearchQuery('branchLocationTree:"' . $subject . '"') ?>">Accessions
                    in this location</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <?php
        endif ?>
        <span class="type-link" style="display: none;"><a
                href="<?php echo $this->url('types', ['action' => 'by-collection'], ['query' => ['uri' => $data['uri']]]) ?>">Type
                specimens in this collection</a></span>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <?php
            uksort($data, array($metadata, 'sortByProperty'));
            foreach ($data as $field => $value):
                $hasMany = false;
                if (in_array($field, $skip)) {
                    continue;
                }
                $label = isset($fieldLabels[$field]) ? $fieldLabels[$field] : $metadata->getLabel($field);
                $methodField = PhpVariableConverter::toPhpMethod($field);
                if (empty($value)) {
                    continue;
                }
                if (!is_array($value)) {
                    $value = (array)$value;
                } else {
                    $hasMany = count($value) > 1;
                    ksort($value);
                }

                foreach ($value as $k => $v):
                    $lang = '';
                    if ($hasMany && in_array($k, ['fi', 'sv'])) {
                        $lang = " ($k)";
                    }
                    ?>
                    <div class="row <?php echo $methodField ?> data-row">
                        <div class="col-sm-2 view-label"><?php echo $label . $lang ?>:</div>
                        <div class="col-sm-10 view-value">
                            <?php if ($field === 'MY.isPartOf'): ?>
                                <a href="/view?uri=<?php echo \Common\Service\IdService::getUri($v) ?>">
                                    <?php echo $this->escapeHtml($this->filter($field, $v, $v)) ?>
                                </a>
                            <?php elseif ($field === 'MY.onlineUrl'): ?>
                                <a href="<?php echo $v ?>">
                                    <?php echo $v ?>
                                </a>
                            <?php else: ?>
                                <?php echo nl2br($this->escapeHtml($this->filter($field, $v, $v))) ?>
                            <?php endif ?>
                        </div>
                    </div>
                <?php endforeach ?>
            <?php endforeach ?>
        </div>
    </div>
    <?php if ($contains):
        function print_children($children, $view, $level = 0)
        {
            $return = '<ul>';
            usort($children, function($a, $b) {
                if (!isset($a['MY.collectionName']) || !isset($a['MY.collectionName']['en'])) {
                    return -1;
                }
                if (!isset($b['MY.collectionName']) || !isset($b['MY.collectionName']['en'])) {
                    return 1;
                }
                return strcmp($a['MY.collectionName']['en'], $b['MY.collectionName']['en']);
            });
            foreach ($children as $child) {
                if (isset($child['MY.metadataStatus']) && $child['MY.metadataStatus'] === 'MY.metadataStatusHidden' &&
                   (!isset($child['MY.internalUseOnly']) || $child['MY.internalUseOnly'] !== 'true')
                ) {
                    continue;
                }
                $return .= '<li>'
                    . '<a href="/view?uri=' . IdService::getUri($child['qname']) . '">'
                    . $view->escapeHtml($view->filter('MY.isPartOf', IdService::getQName($child['qname'], true)), IdService::getQName($child['qname']))
                    . '</a>';
                if (isset($child['has'])) {
                    $return .= print_children($child['has'], $view, $level + 1);
                }
                $return .= '</li>';
            }
            return $return . '</ul>';
        }

        ?>
        <div class="page-header view-header">
            <h3>Collections belonging to <?php echo $data['MY.collectionName']['en'] ?></h3>
        </div>
        <div class="tree">
            <?php echo print_children($contains, $this); ?>
        </div>
    <?php endif; ?>
    <hr>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $.get('<?php echo $this->url('https/count_specimens', ['action' => 'count-in-collection'], ['query' => ['search' => "isType:true AND collectionTree:\"" . $subject . "\""]])?>', function (data) {
        if (data['count'] > 0) {
            $('.type-link').show();
        }
    });
    $.get('<?php echo $this->url('https/count_specimens', ['action' => 'count-in-collection'], ['query' => ['search' => "branchLocationTree:\"" . $subject . "\""]])?>', function (data) {
        if (data['count'] > 0) {
            $('.accessions-link').show();
        }
    });
    $.get('<?php echo $this->url('https/count_specimens', ['action' => 'count-in-collection'], ['query' => ['search' => "collectionTree:\"" . $subject . "\""]])?>', function (data) {
        if (data['count'] > 0) {
            $('.specimen-link').show();
        }
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>