<?php
use Triplestore\Service\PhpVariableConverter;

$metadata = $this->metadata('HRA.transaction');
$mapId = $this->partialLoop()->getPartialCounter();
$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$hasMaster = false;

/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter
    ->addFilter('HRA.availableForGeneticResearch', $this->SelectOptions('HRA.availableForGeneticResearch'))
    ->addFilter('HRA.transactionType', $this->SelectOptions('HRA.transactionType'))
    ->addFilter('HRA.transactionStatus', $this->SelectOptions('HRA.transactionStatus'))
    ->addFilter('type', [
      'away' => 'On loan',
      'returned' => 'Returned'
    ]);

$skip = [
    'uri',
    'HRA.transactionRequestReceived'
];

if (strpos($data['HRA.transactionType'], 'HRA.transactionTypeLoan') === false) {
  $skip[] = 'type';
}

$skip = array_flip($skip);
?>
<div class="document-transaction">
    <hr>
    <div class="row">
        <div class="col-sm-12">
                <a href="<?php echo NEW_KOTKA_URL?>/transactions/edit?uri=<?php echo $data['uri'] ?>" target="_blank">
                <?php echo $data['uri'] ?>
            </a>
        </div>
    </div>
    <?php foreach ($data as $field => $value):
        if (isset($skip[$field])) {
            continue;
        }
        $label = $field !== 'type' ? $metadata->getLabel($field) : 'Specimen status';
        $methodField = PhpVariableConverter::toPhpMethod($field);
        ?>
        <div class="row <?php echo $methodField ?> data-row">
            <div class="col-sm-6 view-label"><?php echo $label ?>:</div>
            <div class="col-sm-6 view-value no-gutter">
                <?php if (is_array($value)): ?>
                    <?php
                    array_walk($value, array($this, 'escapeHtml'));
                    echo implode("<br>", $value) ?>
                <?php else: ?>
                    <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach ?>
</div>
