<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter->addFilter('MY.status', $this->SelectOptions('MY.status'))
    ->addFilter('MY.condition', $this->SelectOptions('MY.condition'))
    ->addFilter('MY.preservation', $this->SelectOptions('MY.preservation'))
    ->addFilter('MZ.publicityRestrictions', $this->SelectOptions('MZ.publicityRestrictions'))
    ->addFilter('MZ.editor', $this->SelectOptions('MA.person'))
    ->addFilter('MZ.creator', $this->SelectOptions('MA.person'))
    ->addFilter('MY.datasetID', $this->SelectOptions('MY.datasetID'))
    ->addFilter('MY.verificationStatus', $this->SelectOptions('MY.verificationStatus'))
    ->addFilter('MZ.owner', 'OrganizationName')
    ->addFilter('MY.acquiredFromOrganization', 'OrganizationName')
    ->addFilter('MY.collectionID', 'CollectionName');

$skip = [
    'MZ.creator',
    'MZ.editor',
    'MZ.dateCreated',
    'MZ.dateEdited',
    'MZ.owner',
    'has',
    'links',
    'MY.qname',
    'MY.inMustikka',
    'MY.language',
    'loanedIn',
    'rdf:type',
    'MY.datatype',
    'canEdit',
    'uri',
    'qname',
    'compact',
    'MY.unreliableFields',
    'noImage',
    'HRA.transactions'
];

if (isset($data['MY.unreliableFields'])) {
    /** @var  $markUnreliable \Kotka\View\Helper\MarkUnreliableFields */
    $markUnreliable = $this->MarkUnreliableFields();
    $markUnreliable
        ->setMark('_?_')
        ->setPosition(1);
    $filter->setClearValue('_?_');
    $markUnreliable($data, $data['MY.unreliableFields']);
}
$isGuest = $this->User()->isGuest();
if (!$isGuest) {
    $this->headScript()
        ->appendFile($this->basePath() . '/js/navigation.js?v=' . KOTKA_BUILD);
}

$gathering = false;
if (isset($data['has'])) {
    $gathering = $data['has'];
}
if (isset($data['MY.editor']) && isset($data['MZ.creator']) && $data['MY.editor'] === $filter('MZ.creator', $data['MZ.creator'])) {
    $skip[] = 'MY.editor';
}
$loan = '';
if (isset($data['loanedIn'])) {
    $loan = '<p class="onloan"><i class="fa fa-globe"></i> This specimen is on loan';
    if (!$isGuest) {
        $loanUri = \Common\Service\IdService::DOMAIN_TUN . $data['loanedIn'];
        $href = NEW_KOTKA_URL . '/transactions/edit?uri=' . $loanUri;
        $loan .= ' <a href="' . $href . '">' . $loanUri . '</a>.</p>';
    }
}
$edit = '';
if (isset($data['canEdit']) && $data['canEdit']) {
    $url = $this->url('https/specimens', array('action' => 'edit'), array('query' => array(
        'uri' => $data['uri'],
        'page' => isset($_GET['page']) ? $_GET['page'] : null,
        'spot' => isset($_GET['spot']) ? $_GET['spot'] : null,
        'type' => isset($_GET['type']) ? $_GET['type'] : 'document'
    )), true);
    $edit = '<small><a class="edit-link" href="' . $url . '">edit</a></small>';
}

$eventLink = '';
if (isset($data['MY.datatype']) && $data['MY.datatype'] == 'accession') {
    $url = $this->url('https/accession', array('action' => 'index'), array('query' => array(
        'uri' => $data['uri']
    )), true);
    $eventLink = '<small><a class="events-link" href="' . $url . '">branches</a></small>';
}

$this->placeHolder('masters')->append('MY.document');
$qname = \Common\Service\IdService::getQName($data['uri']);
$container = $this->compact ? 'container-viewport' : 'container';
$geneticText = '';
if (isset($data['HRA.transactions'])) {
    foreach ($data['HRA.transactions'] as $transaction) {
        if (isset($transaction['HRA.availableForGeneticResearch'])) {
            if ($transaction['HRA.availableForGeneticResearch'] === 'HRA.availableForGeneticResearchWithRestrictions') {
                $geneticText = '<span style="color: #fa4">This specimen has restrictions regarding availability for genetic research.</span>';
            } else if ($transaction['HRA.availableForGeneticResearch'] === 'HRA.availableForGeneticResearchYes') {
                $geneticText = '<span style="color: #090">This specimen is freely available for genetic research.</span>';
            } else {
                $geneticText = '<span style="color: #d00">This specimen is NOT available for genetic research.</span>';
            }
        }
    }
}
?>
<div id="viewer" class="<?php echo $container ?>">
    <!--suppress HtmlUnknownTarget -->
    <div class="page-header view-header">
        <div class="pull-right no-print">
            <?php echo $this->partial('kotka/view/user', $data); ?>
        </div>
        <h1>
            <?php if(isset($data['MY.datatype']) && $data['MY.datatype'] === 'accession'):
                $taxon =  $this->CurrentTaxon($this->Taxon($data)) . ' ' . $this->Taxon($data, 'infra', $this->SelectOptions('MY.infraRank'));
                $taxonID = $this->CurrentTaxon($this->Taxon($data), 'taxonID');
                $family = $this->CurrentTaxon($this->Taxon($data), 'family');
                ?>
                Accession <?php echo $data['uri']; ?>
                <?php if(isset($data['MY.originalSpecimenID'])): ?>
                    (<?php echo $data['MY.originalSpecimenID'] ?>)
                <?php endif ?>
                <?php echo $edit ?>
                <?php if (!$isGuest): ?>
                <span class="navigation-links btn-group" data-nav-base="<?php echo $this->Url('view') ?>?uri=">
                    <a href="#" class="btn btn-default navigation-link-prev disabled"><i
                                class="fa fa-arrow-left"></i></a>
                    <a href="#" class="btn btn-default navigation-link-next disabled"><i class="fa fa-arrow-right"></i></a>
                </span>
                <?php echo $eventLink ?><br>
                <?php if (!empty($taxon)):?>
                    <em>
                        <?php if (!empty($taxonID)): ?>
                            <a href="<?php echo \Common\Service\IdService::getUri($taxonID) ?>" target="_blank">
                        <?php endif ?>
                        <?php echo $taxon ?>
                        <?php if (!empty($taxonID)): ?>
                            </a>
                        <?php endif ?>
                    </em>
                    <?php if (!empty($family)):?>
                        (<?php echo $family ?>)
                    <?php endif ?>
                <?php endif ?>
            <?php endif ?>
            <?php else: ?>
                <?php echo $data['uri']; ?>
                <?php echo $edit ?>
                <?php if (!$isGuest): ?>
                    <span class="navigation-links btn-group" data-nav-base="<?php echo $this->Url('view') ?>?uri=">
                    <a href="#" class="btn btn-default navigation-link-prev disabled"><i
                                class="fa fa-arrow-left"></i></a>
                    <a href="#" class="btn btn-default navigation-link-next disabled"><i class="fa fa-arrow-right"></i></a>
                </span>
                    <?php echo $eventLink ?>
                <?php endif ?>
            <?php endif; ?>
        </h1>
    </div>
    <?php echo empty($geneticText) ? '' : $geneticText . '<br>' ?>
    <?php if (isset($data['MY.verificationStatus']) && $data['MY.verificationStatus'] == 'MY.verificationStatusVerify'): ?>
        <p class="unreliable">This whole record is marked as unreliable. <i class="fa fa-question-circle"></i></p>
    <?php endif ?>
    <?php echo $loan ?>
    <div class="row">
        <div class="col-sm-5">
            <?php
            uksort($data, array($metadata, 'sortByProperty'));
            $skip = array_flip($skip); // Small performance boost
            foreach ($data as $field => $value):
                if (isset($skip[$field])) {
                    continue;
                }
                $label = $metadata->getLabel($field);
                $methodField = PhpVariableConverter::toPhpMethod($field);
                $methodField .= $filter->hasFilter($field) && is_string($value) ?
                    ' ' . PhpVariableConverter::toPhpMethod($value) : '';
                ?>
                <div class="row <?php echo $methodField ?> data-row">
                    <div class="col-sm-3 view-label"><?php echo $label ?>:</div>
                    <div class="col-sm-9 view-value">
                        <?php if ($field == 'MY.collectionID' || $field == 'MY.datasetID'): ?>
                            <?php if (is_array($value)): ?>
                                <?php
                                foreach ($value as $key => $val): ?>
                                    <a href="<?php
                                    echo $this->url('view', [], array('query' => array('uri' => \Common\Service\IdService::getUri($val))))
                                    ?>">
                                        <?php echo $this->escapeHtml($this->filter($field, $val, $val)) ?> <br>
                                    </a>
                                <?php endforeach; ?>
                            <?php else: ?>
                                <a href="<?php
                                echo $this->url('view', [], array('query' => array('uri' => \Common\Service\IdService::getUri($value))))
                                ?>">
                                    <?php echo $this->escapeHtml($this->filter($field, $value, $value)) ?>
                                </a>
                            <?php endif; ?>
                        <?php else: ?>
                            <?php if (is_array($value)): ?>
                                <?php
                                foreach ($value as $key => $val) {
                                    echo $this->escapeHtml($this->filter($field, $val, $val)) . '<br>';
                                }
                                ?>
                            <?php else: ?>
                                <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach ?>
            <?php if ($gathering): ?>
                <?php echo $this->partialLoop('kotka/view/types/MY.gathering', $gathering); ?>
            <?php endif ?>
            <?php echo $this->placeholder('gathering-data') ?>
        </div>
        <?php if (!$this->noImage): ?>
            <div class="col-sm-5">
                <div id="img" class="well">.</div>
                <?php echo $this->placeholder('gathering-maps') ?>
                <div id="transactions">
                    <?php if (isset($data['HRA.transactions']) && !empty($data['HRA.transactions'])): ?>
                        <h2>Transactions history</h2>
                        <div class="transaction-container">
                            <?php echo $this->partialLoop('kotka/view/types/MY.documentTransaction', $data['HRA.transactions']); ?>
                        </div>
                    <?php endif ?>
                </div>
            </div>
        <?php endif ?>
    </div>
    <?php echo $this->placeholder('units') ?>

    <hr>
</div>
<style>
    .transaction-container {
        padding: 0 15px 15px 15px;
        max-height: 290px;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
    }
</style>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $('.view-value').each(function () {
        var $this = $(this);
        $this.html($this.html().replace(/_\?_/g, ' <i class="help fa fa-question-circle unreliable" title="This field is marked as unreliable." data-placement="right"></i>'));
    });
    $(document).ready(function () {
        $('.generic-help').tooltip();
        <?php if (!$this->noImage):?>
        $.getJSON('/apiwrapper/image/<?php echo $qname ?>', function (response) {
            generateImageViewContentAndLinkToAddImages(response);
        });
        <?php endif ?>
    });
    var idNum = 0;
    function generateImageViewContentAndLinkToAddImages(jsonResponse) {
        var { html, downloadURLs } = generateImageViewContent(jsonResponse);
        var $images = $("#img");
        $images.html(html);
        $images.magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {
                enabled: true,
                navigateByImgClick: false
            },
            closeBtnInside: true,
            image: {
                markup: '' +
                '<div class="mfp-figure">' +
                '<div class="mfp-img"></div>' +
                '<div class="mfp-bottom-bar">' +
                '<div class="mfp-title"></div>' +
                '<div class="mfp-counter"></div>' +
                '</div>' +
                '</div>'
            },
            callbacks: {
                change: function () {
                    var that = this;
                    var $img = that.content.find('.mfp-img');
                    idNum++;
                    var src = $img.attr('src'),
                        id = 'osd' + idNum;
                    $img.one('load', function () {
                        var imgH = $img.height(),
                            imgW = $img.width();
                        var $container = $('<div id="' + id + '" class="mfp-img" style="width:' + imgW + 'px; height: ' + imgH + 'px; margin: 40px 0 40px;"></div>');
                        $container.append($(
                            '<div style="position:absolute;right: 10px; top: 10px; z-index:100">' +
                            '<a href="'+ downloadURLs[src] +'" download="'+ downloadURLs[src] +'" class="download-full-img" style="color: #aaa">' +
                            '<i class="fa fa-download"></i>' +
                            '</a>' +
                            '</div>'));
                        $img.replaceWith($container);
                        OpenSeadragon({
                            id: id,
                            animationTime: 0.7,
                            prefixUrl: '/js/opensea/images/',
                            showNavigator: true,
                            navigatorPosition: 'BOTTOM_RIGHT',
                            maxZoomPixelRatio: 2,
                            tileSources: [{
                                type: 'legacy-image-pyramid',
                                levels: [{
                                    url: src,
                                    height: $img[0].naturalHeight,
                                    width: $img[0].naturalWidth
                                }]
                            }]
                        });
                    });
                },
            }
        });
    }

    function generateImageViewContent(jsonResponse) {
        var response = jQuery('<div />');
        var downloadURLs = {};
        jsonResponse = jsonResponse[0];
        if (jsonResponse.num_images === undefined || jsonResponse.num_images == '0') {
            return response.append('No images for this specimen.');
        }
        var images = jsonResponse.images;
        for (var index in jsonResponse.images) {
            var image = images[index];
            var fullImageURL = image.full || image.large;
            var downloadURL = image.web_url || image.large;
            downloadURLs[fullImageURL] = downloadURL;
            var thumbnailURL = image.thumbnail;
            var title = '';
            if (typeof image.license !== 'undefined') {
                title += image.license;
            }
            if (typeof image.copyright_owner !== 'undefined') {
                title += ' <i>' + image.copyright_owner + '</i>';
            }
            if (typeof image.photographer_name !== 'undefined' && image.photographer_name.length > 0) {
                if (typeof image.photographer_name.join === 'function') {
                    title += '<br>photographer: ' + image.photographer_name.join(', ');
                } else {
                    title += '<br>photographer: ' + image.photographer_name;
                }
            }
            var imageName = image.filename;
            var link = '<a class="big-pic" href="' + fullImageURL + '" title="' + title + '" target="_blank"><img style="max-width:100px; max-height: 100px" src="' + thumbnailURL + '" alt="' + imageName + '"/></a>';
            response.append('<div class="col-xs-4 col-sm-4 col-lg-3 view-img"><figure>' + link + '<figcaption class="small">' + imageName + '</figcaption></figure></div>');
        }
        response.append('<div class="row"/>');
        return { html: response, downloadURLs: downloadURLs};
    }
    <?php $this->inlineScript()->captureEnd();?>
</script>
<?php
$this->headLink()->appendStylesheet($this->basePath() . '/css/magnific.css?v=' . KOTKA_BUILD);
$this->headLink()->appendStylesheet($this->basePath() . '/css/view.css?v=' . KOTKA_BUILD);
$this->headScript()->appendFile($this->basePath() . '/js/magnific.js?v=' . KOTKA_BUILD);
$this->headScript()->appendFile($this->basePath() . '/js/opensea/openseadragon.min.js?v=' . KOTKA_BUILD);
?>
