<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$mapId = $this->partialLoop()->getPartialCounter();
$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}
$masters->append('MY.gathering');

/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter->addFilter('MY.samplingMethod', $this->SelectOptions('MY.samplingMethod'))
    ->addFilter('MY.coordinateSystem', $this->SelectOptions('MY.coordinateSystem'))
    ->addFilter('MY.coordinateSource', $this->SelectOptions('MY.coordinateSource'))
    ->addFilter('MY.georeferenceSource', $this->SelectOptions('MY.georeferenceSource'))
    ->addFilter('MY.forestVegetationZone', $this->SelectOptions('MY.forestVegetationZone'));

$skip = [
    'has',
    'MY.wgs84Latitude',
    'MY.wgs84Longitude',
    'links',
    'rdf:type',
    'qname',
    'MY.isPartOf'
];

$unitHtml = '';
if (isset($data['has'])) {
    $unitHtml .= $this->partialLoop('kotka/view/types/MY.unit', $data['has']);
}
$hasMap = false;
$lat = '';
$lon = '';
if (isset($data['MY.wgs84Latitude']) && isset($data['MY.wgs84Longitude'])) {
    $lat = $data['MY.wgs84Latitude'];
    $lon = $data['MY.wgs84Longitude'];
    $hasMap = true;
}
if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}
?>
<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif;
uksort($data, array($metadata, 'sortByProperty'));
$skip = array_flip($skip);
?>
<?php $this->placeholder('gathering-data')->captureStart(); ?>
    <div class="gathering">
        <div class="page-header view-header">
            <h2>Collecting event (gathering)</h2>
        </div>
        <?php foreach ($data as $field => $value):
            if (isset($skip[$field])) {
                continue;
            }
            $label = $metadata->getLabel($field);
            $methodField = PhpVariableConverter::toPhpMethod($field);
            ?>
            <div class="row <?php echo $methodField ?> data-row">
                <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                <div class="col-sm-8 view-value">
                    <?php if (is_array($value)): ?>
                        <?php
                        array_walk($value, array($this, 'escapeHtml'));
                        echo implode("<br>", $value) ?>
                    <?php else: ?>
                        <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
<?php $this->placeholder('gathering-data')->captureEnd() ?>
<?php if ($hasMap): ?>
    <?php
    $mapInfo = array(array(
        'locationType' => 'POINT',
        'location' => array($lat, $lon),
        'notes' => ''));
    $mapData = json_encode($mapInfo);
    ?>
    <?php $this->placeholder('gathering-maps')->captureStart(); ?>
    <div class="gathering no-print">
        <div class="row">
            <div class="col-sm-12 marked-map">
                <img src="/maps?latitude=<?php echo $lat ?>&longitude=<?php echo $lon ?>&color=cacaca&scale=0.4"
                     style="width:80%;height:auto;"
                     data-popover="<?php echo $mapId ?>-popover"
                     class="small-map">
            </div>
        </div>
        <div class="map-popover">
            <div class="popover bottom" id="<?php echo $mapId ?>-popover">
                <div class="arrow"></div>
                <div class="popover-title">.
                    <button class="close" title="Close map" type="button">×</button>
                </div>
                <div class="popover-content">
                    <div id="<?php echo $mapId ?>" class="map"></div>
                </div>
            </div>
        </div>
    </div>
    <?php $this->placeholder('gathering-maps')->captureEnd() ?>
<?php endif; ?>

<?php if (!$hasMaster): ?>
    <div class="row">
        <div class="col-sm-5">
            <?php echo $this->placeholder('gathering-data') ?>
        </div>
        <div class="col-sm-5">
            <div id="img" class="well">.</div>
            <?php echo $this->placeholder('gathering-maps') ?>
        </div>
    </div>
    <div class="row">
        <?php echo $this->placeholder('units') ?>
    </div>
<?php endif ?>

<?php $this->headScript()
    ->appendFile($this->basePath() . '/js/map/wkartta.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/leaflet/leaflet.js?v=' . KOTKA_BUILD);
$this->headLink()->appendStylesheet($this->basePath() . '/leaflet/leaflet.css?v=' . KOTKA_BUILD);
?>

<?php if ($hasMap): ?>
    <script>
        <?php $this->inlineScript()->captureStart();?>
        (function () {
            var WKMap = L.wkartta('<?php echo $mapId ?>', {
                edit: false,
                mapOptions: {
                    scale: true,
                    center: [60, 20],
                    zoom: 6,
                }
            });
            WKMap.importData(<?php echo $mapData ?>);
            var mapVisible = null;
            $('.small-map').click(function () {
                if (mapVisible) {
                    return;
                }
                var $this = $(this);
                mapVisible = $this.data('popover');
                $('#' + mapVisible).show();
                WKMap.getLMap().invalidateSize(false);
            });
            $('.close').on('click', function () {
                $('#' + mapVisible).hide();
                mapVisible = null;
            });
        }());
        <?php $this->inlineScript()->captureEnd();?>
    </script>
<?php endif; ?>