<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$filter = $this->Filter();
$ranks = $this->SelectOptions('MY.taxonRank');
$filter->addFilter('MY.infraRank', $this->SelectOptions('MY.infraRank'));
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}

$skip = [
    'MY.taxonRank',
    'MY.taxon',
    'MY.author',
    'links',
    'rdf:type',
    'qname',
    'MY.isPartOf',
    'acceptedTaxon',
    'acceptedAuthor'
];

$taxon = array();
$taxonClass = array();
$taxonRank = 'Taxon';
if (isset($data['MY.taxonRank'])) {
    $taxonRank = ucfirst($ranks[$data['MY.taxonRank']]);
    $taxonClass[] = 'MYTaxonRank';
}
$accepted = false;
if (isset($data['MY.taxon'])) {
    $tmp = $data['MY.taxon'];
    if ($taxonRank == 'Species') {
        $tmp = '<em>' . $tmp . '</em>';
    }
    $taxon[] = $tmp;
    $taxonClass[] = 'MYTaxon';
    if (isset($data['acceptedTaxon']) && $data['acceptedTaxon'] !== $data['MY.taxon']) {
        $accepted = true;
    }
}
if (isset($data['MY.author'])) {
    $taxon[] = $data['MY.author'];
    $taxonClass[] = 'MYAuthor';
    if (isset($data['acceptedAuthor']) && $data['acceptedAuthor'] !== $data['MY.author']) {
        $accepted = true;
    }
}
$taxon = implode(' ', $taxon);
$taxonClass = count($taxonClass) ? ' ' . implode(' ', $taxonClass) : '';

if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}
?>
<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif;
?>
<div class="row">
    <div class="col-sm-12">
        <div class="page-header view-header">
            <h2>Identification</h2>
        </div>
        <div class="row<?php echo $taxonClass ?> data-row">
            <div class="col-sm-4 view-label"><?php echo $taxonRank ?>:</div>
            <div class="col-sm-8 view-value"><?php echo $taxon ?></div>
        </div>
        <?php if ($accepted): ?>
            <div class="row data-row">
                <div class="col-sm-4 view-label">Accepted taxon:</div>
                <div class="col-sm-8 view-value">
                    <?php echo $data['acceptedTaxon'] ?>
                    <?php echo $data['acceptedAuthor'] ?>
                </div>
            </div>
        <?php endif; ?>
        <?php
        uksort($data, array($metadata, 'sortByProperty'));
        $skip = array_flip($skip);
        foreach ($data as $field => $value):
            if (isset($skip[$field])) {
                continue;
            }
            $label = $metadata->getLabel($field);
            $methodField = PhpVariableConverter::toPhpMethod($field);
            ?>
            <div class="row <?php echo $methodField ?>" style="border-bottom: 1px dotted #eee;">
                <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                <div class="col-sm-8 view-value">
                    <?php if (is_array($value)): ?>
                        <?php
                        array_walk($value, array($this, 'escapeHtml'));
                        echo implode("<br>", $value) ?>
                    <?php else: ?>
                        <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</div>