<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */

$filter = $this->Filter();
$filter
    ->addFilter('MY.typeVerification', $this->SelectOptions('MY.typeVerification'))
    ->addFilter('MY.typeStatus', $this->SelectOptions('MY.typeStatus'));
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}

$skip = [
    'MY.typeStatus',
    'MY.typeSpecies',
    'MY.typeAuthor',
    'links',
    'rdf:type',
    'qname',
    'MY.isPartOf'
];

$type = array();
$typeClass = array();
if (isset($data['MY.typeStatus'])) {
    $type[] = $filter('MY.typeStatus', $data['MY.typeStatus']);
    $typeClass[] = 'MYTypeStatus';
}
if (isset($data['MY.typeSpecies'])) {
    $type[] = $data['MY.typeSpecies'];
    $typeClass[] = 'MYTypeSpecies';
}
if (isset($data['MY.typeAuthor'])) {
    $type[] = $data['MY.typeAuthor'];
    $typeClass[] = 'MYTypeAuthor';
}
//$type      = implode(' ', $type);
$typeString = "";
if (isset($type[0])) {
    $typeString .= $type[0];
}
if (isset($type[1])) {
    $typeString .= " <em>" . $type[1] . "</em> ";
}
if (isset($type[2])) {
    $typeString .= $type[2];
}
if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}

$typeClass = count($typeClass) ? ' ' . implode(' ', $typeClass) : '';
?>
<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif;
?>

<div class="row">
    <div class="col-sm-12">
        <div class="page-header view-header">
            <h2>Type specimen</h2>
        </div>
        <div class="row<?php echo $typeClass ?> data-row">
            <div class="col-sm-4 view-label">Type:</div>
            <?php //view-value class is needed here to mark type as unreliable! ?>
            <div class="col-sm-8 view-value"><?php echo $typeString ?></div>
        </div>
        <?php
        uksort($data, array($metadata, 'sortByProperty'));
        $skip = array_flip($skip);
        foreach ($data as $field => $value):
            if (isset($skip[$field])) {
                continue;
            }
            $label = $metadata->getLabel($field);
            $methodField = PhpVariableConverter::toPhpMethod($field);
            ?>
            <div class="row <?php echo $methodField ?>" style="border-bottom: 1px dotted #eee;">
                <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                <div class="col-sm-8 view-value">
                    <?php if (is_array($value)): ?>
                        <?php
                        array_walk($value, array($this, 'escapeHtml'));
                        echo implode("<br>", $value) ?>
                    <?php else: ?>
                        <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</div>