<?php
use Kotka\Filter;
use Triplestore\Service\PhpVariableConverter;

$data = $this->vars()->getArrayCopy();
/** @var \Triplestore\Model\Metadata $metadata */
$metadata = $this->metadata($data['rdf:type']);
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter->addFilter('MY.sex', $this->SelectOptions('MY.sex'))
    ->addFilter('MY.lifeStage', $this->SelectOptions('MY.lifeStage'))
    ->addFilter('MY.provenance', $this->SelectOptions('MY.provenance'))
    ->addFilter('MY.microbiologicalRiskGroup', $this->SelectOptions('MY.microbiologicalRiskGroup'))
    ->addFilter('MY.earliestEpochOrLowestSeries', $this->SelectOptions('MY.earliestEpochOrLowestSeries'))
    ->addFilter('MY.latestEpochOrHighestSeries', $this->SelectOptions('MY.latestEpochOrHighestSeries'))
    ->addFilter('MY.plantStatusCode', $this->SelectOptions('MY.plantStatusCode'))
    ->addFilter('MY.fruitType', $this->SelectOptions('MY.fruitType'))
    ->addFilter('MY.seedMorphology', $this->SelectOptions('MY.seedMorphology'))
    ->addFilter('MY.seedMaturity', $this->SelectOptions('MY.seedMaturity'))
    ->addFilter('MY.recordBasis', $this->SelectOptions('MY.recordBasis'))
    ->addFilter('MY.recordParts', $this->SelectOptions('MY.recordParts'));
$masters = $this->placeHolder('masters');
$hasMaster = false;
if ($masters->count() !== 0) {
    $hasMaster = true;
}
$masters->append('MY.unit');

$skip = [
    'has',
    'links',
    'rdf:type',
    'qname',
    'MY.isPartOf',
    'MY.primarySpecimen'
];

$measurements = [];
$types = array();
$identifications = array();
$samples = array();
$typeHtml = '';
$identificationHtml = '';
$sampleHtml = '';
$measurementHtml = '';
if (isset($data['has'])) {
    $has = $data['has'];
    foreach ($has as $item) {
        if ($item['rdf:type'] == 'MY.typeSpecimen') {
            $types[] = $item;
        } else if ($item['rdf:type'] == 'MF.sample') {
            $samples[] = $item;
        } else if ($item['rdf:type'] == 'MY.measurementClass') {
            $measurements = $item;
        } else {
            $identifications[] = $item;
        }
    }
    $identifications = \Zend\Filter\StaticFilter::execute($identifications, 'Kotka\Filter\SortIdentifications');
    $typeHtml .= $this->partialLoop('kotka/view/types/MY.typeSpecimen', $types);
    $identificationHtml .= $this->partialLoop('kotka/view/types/MY.identification', $identifications);
    $sampleHtml .= $this->partialLoop('kotka/view/types/MF.sample', $samples);
    if (count($measurements)) {
        $measurementHtml .= $this->partial('kotka/view/types/MY.measurementClass', $measurements);
    }
}
if (isset($data['MZ.publicityRestrictions'])) {
    unset($data['MZ.publicityRestrictions']);
}
?>

<?php if (!$hasMaster): ?>
    <div class="page-header">
        <h1>
            <?php echo \Common\Service\IdService::getUri($data['qname']); ?>
        </h1>
    </div>
<?php endif; ?>
<?php $this->placeholder('units')->captureStart(); ?>
    <div class="row">
        <div class="col-sm-5">
            <div class="page-header view-header">
                <h2 style="display:inline;">Specimen/observation (unit)</h2>
                <?php if( isset($data['MY.primarySpecimen']) && $data['MY.primarySpecimen'] === 'true' ): ?>
                    <h3 style="background-color:lawngreen;color:white;display:inline;padding:5px;border-radius:5px;marigin-left:5px">primary specimen</h3>
                <?php endif; ?>
            </div>
            <?php
            uksort($data, array($metadata, 'sortByProperty'));
            $skip = array_flip($skip);
            foreach ($data as $field => $value):
                if (isset($skip[$field])) {
                    continue;
                }
                $label = $metadata->getLabel($field);
                $methodField = PhpVariableConverter::toPhpMethod($field);
                ?>
                <div class="row <?php echo $methodField ?> data-row">
                    <div class="col-sm-4 view-label"><?php echo $label ?>:</div>
                    <div class="col-sm-8 view-value">
                        <?php if ($field === 'MY.growthMediumName'): ?>
                            <?php echo $this->MdToHtml($value) ?>
                        <?php elseif (is_array($value)): ?>
                            <?php
                            $value = $this->filter($field, $value, $value);
                            array_walk($value, array($this, 'escapeHtml'));
                            echo implode("<br>", $value) ?>
                        <?php else: ?>
                            <?php echo nl2br($this->escapeHtml($this->filter($field, $value, $value))) ?>
                        <?php endif; ?>
                        <?php if ($field === 'MY.microbiologicalRiskGroup'): ?>
                            <?php echo $this->FormHelp('MY.microbiologicalRiskGroup') ?>
                        <?php endif ?>
                    </div>
                </div>
            <?php endforeach ?>
            <?php echo $measurementHtml ?>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <?php echo $identificationHtml; ?>
        </div>
        <div class="col-sm-5">
            <?php echo $typeHtml; ?>
        </div>
    </div>
    <div class="row">
        <?php echo $sampleHtml; ?>
    </div>
<?php $this->placeholder('units')->captureEnd() ?>
<?php if (!$hasMaster): ?>
    <div class="row">
        <div class="col-sm-12">
            <?php echo $this->placeholder('units') ?>
        </div>
    </div>
<?php endif ?>
