<?php
/**
 * @var $specimen \Kotka\Triple\MYDocument
 * @var $form \Zend\Form\Form
 */
$this->headLink()->appendStylesheet($this->basePath() . '/css/dropzone.css?v=' . KOTKA_BUILD);
$this->headScript()->appendFile($this->basePath() . '/js/dropzone.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/typeahead.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/navigation.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery/jquery.growl.js?v=' . KOTKA_BUILD);
/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-7')
    ->setRowClass('form-group advanced-group');

$this->headTitle($this->title);
$escaper = new Zend\Escaper\Escaper();
$form->setAttribute('class', 'form-horizontal');
/** @var \Kotka\Triple\MYDocument $specimen */
$specimen = $this->document;

/** @var \ImageApi\Form\PictureMeta $metaForm */
$metaForm = $this->pictureForm;
$metaForm->prepare();

$form->prepare();
$this->placeholder('group')->set($this->group);
$group = $this->group; ?>
<?php echo $this->form()->openTag($form); ?>
<?php if ($this->document instanceof \Kotka\Triple\MYDocument && $this->document->getMZScheduledForDeletion()):
    ?>
    <script>
        init.push(function () {
            disableForm();
        });
    </script>
    <?php
    $msg = "<strong>This specimen is scheduled for deletion so you can't edit it anymore!</strong>";
    if ($this->canDelete) {
        $params = $this->params;
        $params['cancelDelete'] = 'true';
        $uri = $this->url('https/specimens', array('action' => 'edit'), array('query' => $params));
        $uri = $this->escapeHtmlAttr($uri);
        $msg .= " <a href=\"$uri\">Cancel deletion</a>";
    } else {
        $msg .= "<br>If you don't want this to be deleted contact the creator or someone from the kotka support as soon as possible";
    }
    echo $this->Alert($msg, \Kotka\View\Helper\Alert::TYPE_WARNING);
    $this->canDelete = false;
    ?>
<?php endif ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $form, 'addLeavePreventer' => true)) ?>
<?php
if ($group === 'accession'):
    echo $this->partial('kotka/specimens/partial/document_accession', $this->vars());
elseif($group === 'culture'):
    echo $this->partial('kotka/specimens/partial/document_culture', $this->vars());
else: ?>
<div class="page-header">
    <h1>
        <?php echo $this->title ?>
    </h1>
</div>
<div class="row">
    <div class="col-md-3 pull-right-md">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="70">
            <div id="sidenav" class="hidden-xs hidden-sm"></div>
            <ul class="nav bs-sidenav hidden-xs hidden-sm">
                <li><a href="#" id="toggle-panel-show">Expand all</a> <a href="#" id="toggle-panel-hide">Collapse
                        all</a></li>
            </ul>
            <ul class="nav bs-sidenav">
                <li><a href="#" class="mark_advanced">Start marking advanced fields</a></li>
                <li>
                    <a href="#" class="toggle_advanced">
                        <span>Show basic and advanced fields</span>
                        <span style="display: none">Show only basic fields</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="specimen" class="col-md-9">
        <?php
        $rowHelper
            ->setLabelClass('col-sm-4 control-label')
            ->setElementClass('col-sm-7'); ?>
        <div class="row">
            <?php if (!$this->add && !$this->history): ?>
                <div class="col-md-4 pull-right-md">
                    <div id="images" class="dropzone dz-square"></div>
                </div>
            <?php endif ?>
            <div class="col-md-8">
                <?php if (!$this->add): ?>
                    <?php if ($form->has('history') && $this->history): ?>
                        <?php echo $this->FormRow($form->get('history')); ?>
                    <?php endif ?>
                    <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit, 'showHistory' => ($form->has('history') && !$this->history), 'denyEditReason' => $this->denyEditReason)) ?>
                <?php endif; ?>
                <?php echo $this->formRow($form->get('subject')) ?>
                <?php echo $this->formRow($form->get('MZOwner')); ?>
                <fieldset>
                    <legend data-nav-1="Basic information">Basic information</legend>
                    <?php echo $this->FormRow($form->get('MYCollectionID')); ?>
                    <?php echo $this->FormRow($form->get('MYDatasetID')) ?>
                    <?php echo $this->FormRow($form->get('MYPrimaryDataLocation')) ?>
                    <?php if ($this->add): ?>
                        <div class="row">
                            <div class="col-sm-4 no-gutter-right">
                                <label class="col-sm-12 control-label"><span>Identifier</span></label>
                            </div>
                            <div class="col-sm-3">
                                <?php echo $this->FormRow($form->get('MYNamespaceID'), null . null . null, null, null, 'form-group advanced-group', 'col-sm-12', 'hidden'); ?>
                            </div>
                            <div class="col-sm-4">
                                <?php echo $this->FormRow($form->get('MYObjectID'), null . null . null, null, null, 'form-group advanced-group', 'col-sm-12', 'hidden'); ?>
                            </div>
                        </div>
                    <?php endif ?>
                    <?php echo $this->FormRow($form->get('MYStatus')) ?>
                    <?php echo $this->FormRow($form->get('MYCondition')) ?>
                    <?php echo $this->FormRow($form->get('MYOriginalSpecimenID')); ?>
                </fieldset>
            </div>
        </div>
        <?php
        $rowHelper
            ->setLabelClass('col-sm-2 control-label')
            ->setElementClass('col-sm-7'); ?>
        <?php
        $gatheringElement = $form->get('MYGathering');
        $placeHolder = $gatheringElement->getOption('template_placeholder');
        $total = $this->Count($gatheringElement);
        $id = $this->Id($gatheringElement->getName());
        ?>
        <?php
        $data = array();
        foreach ($gatheringElement as $gatheringForm) {
            $data[] = array('form' => $gatheringForm, 'id' => $id);
        }
        echo $this->partialLoop('kotka/specimens/partial/gathering_palaeontology', $data) ?>
        <fieldset>
            <legend data-nav-1="Other">Other</legend>
            <?php echo $this->FormRow($form->get('MYLabelsVerbatim')); ?>
            <?php echo $this->FormRow($form->get('MYRawOCRData')); ?>
            <?php echo $this->FormRow($form->get('MYVerificationStatus')) ?>
            <?php echo $this->FormRow($form->get('MYNotes')) ?>
            <?php echo $this->FormRow($form->get('MYDocumentLocation')); ?>
            <?php echo $this->FormRow($form->get('MZPublicityRestrictions')); ?>
            <?php echo $this->FormRow($form->get('MYLegID')); ?>
            <?php echo $this->FormRow($form->get('MYAdditionalIDs')); ?>
            <?php echo $this->FormRow($form->get('MYObservationID')); ?>
            <?php echo $this->FormRow($form->get('MYDataSource')) ?>
            <?php echo $this->FormRow($form->get('MYPublication')); ?>
            <?php echo $this->FormRow($form->get('MYSeparatedFrom')); ?>
            <?php echo $this->FormRow($form->get('MYSeparatedTo')); ?>
            <?php echo $this->FormRow($form->get('MYDuplicatesIn')); ?>
            <?php echo $this->FormRow($form->get('MYAcquiredFrom')); ?>
            <?php echo $this->FormRow($form->get('MYAcquiredFromOrganization')); ?>
            <?php echo $this->FormRow($form->get('MYAcquisitionDate')); ?>
            <?php echo $this->FormRow($form->get('MYExsiccatum')) ?>
            <?php echo $this->FormRow($form->get('MYPreservation')); ?>
            <?php echo $this->FormRow($form->get('MYURL')); ?>
            <?php echo $this->FormRow($form->get('MYLanguage')) ?>
            <?php echo $this->FormRow($form->get('MYEditNotes')) ?>
            <?php echo $this->FormRow($form->get('MYTranscriberNotes')) ?>
            <?php echo $this->FormRow($form->get('MYPrivateNotes')) ?>
            <div class="hidden"><?php echo $this->FormRow($form->get('MYUnreliableFields')) ?></div>
        </fieldset>
        <?php
        $uri = '';
        if (!$this->add) {
            $uri = $this->url('https/specimens', array('action' => 'edit'), array('query' => array('uri' => $specimen->getUri())));
        }
        echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit, 'canDelete' => $this->canDelete, 'history' => $this->history, 'disableHistory' => $uri, 'showCopyAsNew' => $this->showCopyAsNew, 'add' => $this->add, 'document' => $specimen)) ?>
    </div>
</div>
<?php
endif; // End of group specific part
echo $this->form()->closeTag();
$this->headScript()->appendFile($this->basePath() . '/js/specimen.js?v=' . KOTKA_BUILD);
?>
<div class="hidden">
    <div id="image-preview">
        <div class="dz-preview dz-file-preview">
            <div class="dz-details">
                <div class="dz-filename"><span data-dz-name></span></div>
                <div class="dz-documentUri hidden"><span data-dz-documentUri class="documentUri"></span></div>
                <img data-dz-thumbnail/>
            </div>
            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
            <div class="dz-error-mark"><span>✘</span></div>
            <div class="dz-error-message text-danger"><span data-dz-errormessage></span></div>
        </div>
    </div>
    <div id="popover-meta">
        <div style="width: 350px" class="image-meta">
            <div class="form-group popover-alert-danger" style="display: none;">
                <div class="col-sm-12">
                    <?php echo $this->alert('failure') ?>
                </div>
            </div>
            <div class="form-group popover-alert-success" style="display: none;">
                <div class="col-sm-12">
                    <?php echo $this->alert('Data successfully saved', \Kotka\View\Helper\Alert::TYPE_SUCCESS) ?>
                </div>
            </div>
            <?php foreach ($metaForm as $metaElement):
                $elemClass = 'col-sm-12';
                if ($metaElement instanceof \Kotka\Form\Element\ArrayCollection) {
                    $elemClass = 'col-sm-10';
                } else if ($metaElement instanceof \Zend\Form\Fieldset) {
                    foreach ($metaElement as $subElement) {
                        echo $this->formRow($subElement, null, null, null, 'form-group', 'col-sm-10', 'col-sm-12 no-margin-buttom');
                    }
                    continue;
                }
                ?>
                <?php echo $this->formRow($metaElement, null, null, null, 'form-group', $elemClass, 'col-sm-12 no-margin-buttom') ?>
            <?php endforeach ?>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="button" name="save" value="Save" class="image-meta-save btn btn-success"/>
                    <input type="button" name="close" value="Close" class="image-meta-close pull-right btn btn-danger"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <?php $this->inlineScript()->captureStart();?>
    // Show pictures
    <?php if (!$this->add && !$this->history): ?>
    var preview = $("#image-preview").html();
    Dropzone.autoDiscover = false;
    $("#images").dropzone({
        url: "/images?documentId=<?php echo $this->document->getUri() ?>",
        paramName: "image", // The name that will be used to transfer the file
        maxFilesize: 350, // MB
        maxFiles: 5,
        parallelUploads: 5,
        addRemoveLinks: <?php echo ($this->User()->isAdmin() || ($this->allowEdit && $this->User()->isAdvanced())) ? 'true' : 'false'?>,
        previewTemplate: preview,
        dictMaxFilesExceeded: "You can only upload upto 5 images",
        dictRemoveFile: "Delete",
        dictRemoveFileConfirmation: "Are you sure you want to delete the image?",
        acceptedFiles: "image/*",
        init: function () {
            var _i, _len, node, lastFile;
            $.get('/images?documentId=<?php echo $this->document->getUri() ?>&type=dropzone', $.proxy(function (data) {
                for (var i in data) {
                    var mockFile = {
                        name: data[i]['data']['meta']['originalFilename'],
                        documentUri: data[i]['data']['id'],
                        size: data[i]['size'],
                        type: data[i]['type'],
                        data: data[i]['data']
                    };
                    //this.addFile.call(this, mockFile); // gives an error but calls the addedfile event
                    this.options.addedfile.call(this, mockFile); // doesn't give the error but also dosn't call the addedfile event
                    this.options.thumbnail.call(this, mockFile, data[i]['prev']);
                    var _ref = mockFile.previewElement.querySelectorAll("[data-dz-documentUri]");
                    for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                        node = _ref[_i];
                        node.textContent = mockFile.documentUri;
                    }
                }
            }, this));
            this.on('removedfile', function (file) {
                if ('documentUri' in file) {
                    var url = '/images?id=' + file.documentUri;
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        error: function (xhr) {
                            alert("Failed to remove file!\n" + xhr.responseJSON.error + "\n\nPlease reload the page to try again");
                        }
                    });
                } else {
                    alert("Could not remove image. Place reload and delete image again!");
                }
            }).on('success', function (file, response) {
                lastFile = file;
                file.documentUri = response.id;
                var _ref = file.previewElement.querySelectorAll("[data-dz-documentUri]");
                for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                    node = _ref[_i];
                    node.textContent = file.documentUri;
                }
            }).on('queuecomplete', function () {
                var $elem = $(lastFile.previewElement.querySelectorAll(".dz-details"));
                $document.trigger('meta.show', [lastFile.documentUri, $elem]);
            });
        }
    });
    var popovers = [];
    var $document = $(document);
    $document.on('meta.show', function (event, documentUri, $element) {
        var needAdd = true;
        var current = {};
        for (var i in popovers) {
            if (!popovers.hasOwnProperty(i)) {
                continue;
            }
            if (documentUri == popovers[i]['documentUri']) {
                needAdd = false;
                current = popovers[i];
            } else {
                popovers[i].elem.popover('hide');
                popovers[i].visible = false;
            }
            popovers[i].form.find('.popover-alert-danger,.popover-alert-success').hide();
        }
        if (needAdd) {
            var $form = $($('#popover-meta').html());
            var loaded = false;
            $form.find('input,select').addClass('disabled').attr('disabled', true);
            $element.popover({
                html: true,
                title: 'Picture metadata',
                placement: 'left',
                trigger: 'manual',
                content: function () {
                    return $form;
                }
            }).on('shown.bs.popover', function () {
                if (!loaded) {
                    return;
                }
                $('.image-datetime-picker').parent().datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    locale: 'en-au',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: "fa fa-angle-left",
                        next: "fa fa-angle-right"
                    }
                });
            });
            $.get('/images?type=single&id=' + documentUri, function (data) {
                var meta = data['meta'];
                var value;
                for (var field in meta) {
                    if (!meta.hasOwnProperty(field)) {
                        continue;
                    }
                    value = meta[field];
                    if ($.isArray(value) || $.isPlainObject(value)) {
                        if (field === 'tags') {
                            var $field = $form.find('[name="' + field + '[]"]');
                            $.each(value, function (key, value) {
                                if ($field.find('option[value="' + value + '"]').length == 0) {
                                    $field
                                        .append($("<option></option>")
                                            .attr("value", value)
                                            .text(value));
                                }
                            });
                            $field.val(value);
                            continue;
                        }
                        setRepeatingElementValue(field, 0, value, $form);
                        continue;
                    }
                    $form.find('[name="' + field + '"]').val(value);
                }
                $form.find('[disabled]').removeClass('disabled').removeAttr('disabled');
                $form.find('.image-datetime-picker').parent().datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    locale: 'en-au',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: "fa fa-angle-left",
                        next: "fa fa-angle-right"
                    }
                });
                $form.find('#tags').select2();
                loaded = true;
            }).fail(function (data) {
                var result = data.responseJSON;
                $form.find('.popover-alert-danger .alert span').text(result.error).end().find('.popover-alert-danger').show();
            });
            $form.data('id', documentUri);
            current = {documentUri: documentUri, elem: $element, visible: false, form: $form};
            popovers.push(current);
        }
        if (!current.visible) {
            current.elem.popover('show');
            current.visible = true;
        } else {
            current.elem.popover('hide');
            current.visible = false;
        }
    });
    function setRepeatingElementValue(base, key, value, $form) {
        if ($.isArray(value) || $.isPlainObject(value)) {
            $.each(value, function (k, v) {
                setRepeatingElementValue(base + '[' + k + ']', k, v, $form);
            });
        } else {
            if (key > 0) {
                var n = base.lastIndexOf('[');
                var addBase = base.substring(0, n) + '[0]';
                var $addButton = $form.find('[name="' + addBase + '"]');
                $(document.body).trigger('collection.add', [$addButton]);
            }
            $form.find('[name="' + base + '"]:not(.reset)').val(value);
        }
    }
    $document.on('click', '.dz-details', function (e) {
        e.preventDefault();
        var $this = $(this);
        var documentUri = $this.find('.documentUri').text();
        $document.trigger('meta.show', [documentUri, $this]);

    }).on('click', '.image-meta-save', function () {
        var documentUri = $(this).closest('.dz-preview').find('.documentUri').text();
        for (var i in popovers) {
            if (!popovers.hasOwnProperty(i)) {
                continue;
            }
            if (popovers[i].documentUri == documentUri) {
                var $form = popovers[i].form;
                break;
            }
        }
        var data = $form.find('input,select').serialize();
        var url = '/images?id=' + documentUri;
        $form.find('.popover-alert-danger,.popover-alert-success').hide();
        $form.find('input,select').addClass('disabled').attr('disabled', true);
        $.ajax({
            url: url,
            type: 'PUT',
            data: data,
            success: function () {
                $form.find('.popover-alert-success').show();
            },
            error: function (data) {
                var result = data.responseJSON;
                $form.find('.popover-alert-danger .alert span').text(result.error).end().find('.popover-alert-danger').show();
            },
            complete: function () {
                $form.find('[disabled]').removeClass('disabled').removeAttr('disabled');
            }
        });
    }).on('click', '.image-meta-close', function () {
        for (var i in popovers) {
            if (!popovers.hasOwnProperty(i)) {
                continue;
            }
            if (popovers[i].visible) {
                popovers[i].elem.popover('hide');
                popovers[i].visible = false;
            }
        }
    });
    <?php endif; ?>
    <?php $this->inlineScript()->captureEnd();?>
</script>
