<?php
/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$escaper = new Zend\Escaper\Escaper();
/** @var $form \Zend\Form\Form */
$form->setAttribute('class', 'form-horizontal');
/** @var \Kotka\Triple\MYDocument $specimen */
$specimen = $this->document;

/** @var \ImageApi\Form\PictureMeta $metaForm */
$metaForm = $this->pictureForm;
$metaForm->prepare();

$form->prepare();
$this->placeholder('group')->set($this->group);
$group = $this->group;
?>
<div class="page-header">
    <h1>
        <?php echo $this->title ?>
    </h1>
</div>
<div class="row">
    <div class="col-md-3 pull-right-md">
        <div class="bs-sidebar" data-spy="affix" data-offset-top="70">
            <div id="sidenav" class="hidden-xs hidden-sm"></div>
            <ul class="nav bs-sidenav hidden-xs hidden-sm">
                <li><a href="#" id="toggle-panel-show">Expand all</a> <a href="#" id="toggle-panel-hide">Collapse
                        all</a></li>
            </ul>
            <ul class="nav bs-sidenav">
                <li><a href="#" class="mark_advanced">Start marking advanced fields</a></li>
                <li>
                    <a href="#" class="toggle_advanced">
                        <span>Show basic and advanced fields</span>
                        <span style="display: none">Show only basic fields</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="specimen" class="col-md-9">
        <?php
        $rowHelper
            ->setLabelClass('col-sm-4 control-label')
            ->setElementClass('col-sm-7'); ?>
        <div class="row">
            <?php if (!$this->add && !$this->history): ?>
                <div class="col-md-4 pull-right-md">
                    <div id="images" class="dropzone dz-square"></div>
                </div>
            <?php endif ?>
            <div class="col-md-8">
                <?php if (!$this->add): ?>
                    <?php if ($form->has('history') && $this->history): ?>
                        <?php echo $this->FormRow($form->get('history')); ?>
                    <?php endif ?>
                    <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit, 'showHistory' => ($form->has('history') && !$this->history), 'denyEditReason' => $this->denyEditReason)) ?>
                <?php endif; ?>
                <?php echo $this->formRow($form->get('subject')) ?>
                <?php echo $this->formRow($form->get('MZOwner')); ?>
                <fieldset>
                    <legend data-nav-1="Basic information">Basic information</legend>
                    <?php echo $this->FormRow($form->get('MYCollectionID')); ?>
                    <?php echo $this->FormRow($form->get('MYDatasetID')) ?>
                    <?php if ($this->add): ?>
                        <div class="row">
                            <div class="col-sm-4 no-gutter-right">
                                <label class="col-sm-12 control-label"><span>Identifier</span></label>
                            </div>
                            <div class="col-sm-3">
                                <?php echo $this->FormRow($form->get('MYNamespaceID'), null . null . null, null, null, 'form-group advanced-group', 'col-sm-12', 'hidden'); ?>
                            </div>
                            <div class="col-sm-4">
                                <?php echo $this->FormRow($form->get('MYObjectID'), null . null . null, null, null, 'form-group advanced-group', 'col-sm-12', 'hidden'); ?>
                            </div>
                        </div>
                    <?php endif ?>
                    <?php echo $this->FormRow($form->get('MYStatus')) ?>
                    <?php echo $this->FormRow($form->get('MYOriginalSpecimenID')) ?>
                </fieldset>
            </div>
        </div>
        <?php
        $rowHelper
            ->setLabelClass('col-sm-2 control-label')
            ->setElementClass('col-sm-7'); ?>
        <?php
        $gatheringElement = $form->get('MYGathering');
        $placeHolder = $gatheringElement->getOption('template_placeholder');
        $total = $this->Count($gatheringElement);
        $id = $this->Id($gatheringElement->getName());
        ?>
        <?php
        $data = array();
        foreach ($gatheringElement as $gatheringForm) {
            $data[] = array('form' => $gatheringForm, 'id' => $id);
        }
        echo $this->partialLoop('kotka/specimens/partial/gathering', $data) ?>
        <fieldset>
            <legend data-nav-1="Other">Other</legend>
            <?php echo $this->FormRow($form->get('MYLabelsVerbatim')); ?>
            <?php echo $this->FormRow($form->get('MYRawOCRData')); ?>
            <?php echo $this->FormRow($form->get('MYVerificationStatus')) ?>
            <?php echo $this->FormRow($form->get('MYNotes')) ?>
            <?php echo $this->FormRow($form->get('MYDocumentLocation')); ?>
            <?php echo $this->FormRow($form->get('MZPublicityRestrictions')); ?>
            <?php echo $this->FormRow($form->get('MYLegID')); ?>
            <?php echo $this->FormRow($form->get('MYGenbank')); ?>
            <?php echo $this->FormRow($form->get('MYAdditionalIDs')); ?>
            <?php echo $this->FormRow($form->get('MYObservationID')); ?>
            <?php echo $this->FormRow($form->get('MYPublication')); ?>
            <?php echo $this->FormRow($form->get('MYSeparatedFrom')); ?>
            <?php echo $this->FormRow($form->get('MYSeparatedTo')); ?>
            <?php echo $this->FormRow($form->get('MYAcquiredFrom')); ?>
            <?php echo $this->FormRow($form->get('MYAcquiredFromOrganization')); ?>
            <?php echo $this->FormRow($form->get('MYAcquisitionDate')); ?>
            <?php echo $this->FormRow($form->get('MYTransferAgreement')); ?>
            <?php echo $this->FormRow($form->get('MYSampleHistory')) ?>
            <?php echo $this->FormRow($form->get('MYPreservation')); ?>
            <?php echo $this->FormRow($form->get('MYURL')); ?>
            <?php echo $this->FormRow($form->get('MYLanguage')) ?>
            <?php echo $this->FormRow($form->get('MYEditNotes')) ?>
            <?php echo $this->FormRow($form->get('MYTranscriberNotes')) ?>
            <?php echo $this->FormRow($form->get('MYPrivateNotes')) ?>
            <div class="hidden"><?php echo $this->FormRow($form->get('MYUnreliableFields')) ?></div>
        </fieldset>
        <?php
        $uri = '';
        if (!$this->add) {
            $uri = $this->url('https/specimens', array('action' => 'edit'), array('query' => array('uri' => $specimen->getUri())));
        }
        echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit, 'canDelete' => $this->canDelete, 'history' => $this->history, 'disableHistory' => $uri, 'showCopyAsNew' => $this->showCopyAsNew, 'add' => $this->add, 'document' => $specimen)) ?>
    </div>
</div>