<?php
if (!$this->group) {
    $group = '' . $this->placeholder('group');
}
$this->ElementGroup()
    ->addElement('MYDateBegin', 'kotka/specimens/gathering-date')
    ->addElement('MYDateEnd', 'kotka/specimens/gathering-date')
    ->addElement('MYWgs84Latitude', 'kotka/specimens/map')
    ->addElement('MYWgs84Longitude', 'kotka/specimens/map')
    ->addElement('MYCoordinateRadius', 'kotka/specimens/map')
    ->addElement('MYCoordinateSystem', 'kotka/specimens/map')
    ->addElement('MYGeoreferenceSource', 'kotka/specimens/map')
    ->addElement('MYAlt', 'kotka/specimens/map')
    ->addElement('MYDepth', 'kotka/specimens/map')
    ->addElement('MYLatitude', 'kotka/specimens/map')
    ->addElement('MYLongitude', 'kotka/specimens/map')
    ->addElement('MYCoordinatesVerbatim', 'kotka/specimens/map')
    ->addElement('MYCoordinateSource', 'kotka/specimens/map')
    ->addElement('MYAFEQuadrat', 'kotka/specimens/map')
    ->addElement('MYUTMQuadrat', 'kotka/specimens/map')
    ->addElement('MYCoordinateNotes', 'kotka/specimens/map');
$str = array();
$str[] = $form->get('MYCountry')->getValue();
$str[] = $form->get('MYMunicipality')->getValue();
$str[] = $form->get('MYLocality')->getValue();
$str = implode(', ', array_filter($str));
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
?>

<fieldset>
    <legend data-nav-2="Locality">Collecting event (gathering)</legend>
    <?php echo $this->FormRow($form->get('MYLeg')) ?>
    <?php echo $this->FormRow($form->get('MYLegVerbatim')) ?>
    <?php echo $this->ElementGroup($form->get('MYDateBegin')) ?>
    <?php echo $this->ElementGroup($form->get('MYDateEnd')) ?>
    <?php echo $this->FormRow($form->get('MYDateVerbatim')) ?>
    <?php echo $this->FormRow($form->get('MYSubstrate')) ?>
    <?php
    if ($group !== 'botany') {
        echo $this->FormRow($form->get('MYSamplingMethod'));
    }
    ?>
</fieldset>
<fieldset>
    <legend data-nav-2="Locality">Locality</legend>
    <?php echo $this->ElementGroup($form->get('MYWgs84Latitude')) ?>
    <?php echo $this->ElementGroup($form->get('MYWgs84Longitude')) ?>
    <?php echo $this->ElementGroup($form->get('MYCoordinateSystem')) ?>
    <?php echo $this->ElementGroup($form->get('MYCoordinateRadius')) ?>
    <?php echo $this->ElementGroup($form->get('MYAlt')) ?>
    <?php echo $this->ElementGroup($form->get('MYDepth')) ?>
    <?php echo $this->ElementGroup($form->get('MYLatitude')) ?>
    <?php echo $this->ElementGroup($form->get('MYLongitude')) ?>
    <?php echo $this->ElementGroup($form->get('MYCoordinatesVerbatim')) ?>
    <?php echo $this->ElementGroup($form->get('MYCoordinateSource')) ?>
    <?php echo $this->ElementGroup($form->get('MYGeoreferenceSource')) ?>
    <?php echo $this->ElementGroup($form->get('MYAFEQuadrat')) ?>
    <?php echo $this->ElementGroup($form->get('MYUTMQuadrat')) ?>
    <?php echo $this->ElementGroup($form->get('MYCoordinateNotes')) ?>
    <?php echo $this->FormRow($form->get('MYLocalityVerbatim')) ?>
    <div class="form-group" data-advanced="2">
        <div class="col-sm-12">
            <div class="form-group">
                <?php echo $this->FormRow($form->get('MYCountry'), null, null, null, 'advanced-group', 'col-sm-2 no-gutter-right', 'col-sm-3 control-label') ?>
                <?php
                $elem = $form->get('MYHigherGeography');
                $elem->setLabel('OR ' . $elem->getLabel());
                ?>
                <?php echo $this->FormRow($elem, null, null, null, 'advanced-group', 'col-sm-2 advanced-group', 'col-sm-2 control-label no-gutter') ?>
            </div>
        </div>
    </div>
    <?php echo $this->FormRow($form->get('MYBiologicalProvince')) ?>
    <?php echo $this->FormRow($form->get('MYForestVegetationZone')) ?>
    <?php echo $this->FormRow($form->get('MYAdministrativeProvince')) ?>
    <?php echo $this->FormRow($form->get('MYCounty')) ?>
    <?php echo $this->FormRow($form->get('MYMunicipality')) ?>
    <?php echo $this->FormRow($form->get('MYLocality')) ?>
    <?php echo $this->FormRow($form->get('MYLocalityID')) ?>
    <?php echo $this->FormRow($form->get('MYLocalityDescription')) ?>
    <?php echo $this->FormRow($form->get('MYHabitatDescription')) ?>
    <?php echo $this->FormRow($form->get('MYHabitatClassification')) ?>
    <?php echo $this->FormRow($form->get('MYAssociatedObservationTaxa')) ?>
    <?php echo $this->FormRow($form->get('MYAssociatedSpecimenTaxa')) ?>
    <?php echo $this->FormRow($form->get('MYCollectingEventName')) ?>
    <?php echo $this->FormRow($form->get('MYNotes')) ?>
</fieldset>

<fieldset>
    <?php
    $unitElement = $form->get('MYUnit');
    $placeHolder = $unitElement->getOption('template_placeholder');
    $total = $this->Count($unitElement);
    $id = $this->Id($unitElement->getName());
    ?>
    <div class="panel-group"
         id="<?php echo $id ?>"
         data-count="<?php echo $total ?>"
         data-link-prefix="Unit #"
         data-template-name="<?php echo $form->getName() ?>"
         data-template-elem="MYUnit">
        <?php
        $data = array();
        foreach ($unitElement as $unitForm) {
            $data[] = array('form' => $unitForm, 'id' => $id);
        }
        $partial = 'kotka/specimens/partial/unit';
        if ($group === 'accession') {
            $partial = 'kotka/specimens/partial/unit_accession';
        } elseif ($group === 'culture') {
            $partial = 'kotka/specimens/partial/unit_culture';
        }
        echo $this->partialLoop($partial, $data) ?>

    </div>
    <a href="#<?php echo $id ?>" class="add-tab add-tab-below" id="add-unit" data-target="<?php echo $id ?>"
       data-placeholder="<?php echo $placeHolder ?>" data-type="<?php echo $group ?>">Add specimen/observation</a>
</fieldset>
