<?php
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
?>
<div class="panel panel-default partial-identification" data-removable
     data-nav-2="Identification: <?php echo $form->get('MYTaxon')->getValue() ?>">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <button class="close remove-on-click" title="Remove identification" type="button">×</button>
        </div>
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#<?php echo $id ?>"
               href="#<?php echo $this->Id($form->getName()) ?>">
                <strong>Identification:</strong> <?php echo $form->get('MYTaxon')->getValue() ?>
            </a>
        </h4>
    </div>
    <div id="<?php echo $this->Id($form->getName()) ?>" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group" data-advanced="3">
                <?php echo $this->formLabel()->openTag() ?>Taxon<?php echo $this->formLabel()->closeTag() ?>
                <div
                    class="col-sm-2 advanced-group no-gutter-right"><?php echo $this->FormElement($form->get('MYTaxonRank')) ?></div>
                <div
                    class="col-sm-2 no-gutter no-gutter-right advanced-group"><?php echo $this->FormElement($form->get('MYTaxon')) ?></div>
                <div
                    class="col-sm-2 no-gutter advanced-group"><?php echo $this->FormElement($form->get('MYAuthor')) ?></div>
                <span class="help-block"></span>
            </div>
            <div class="form-group" data-advanced="3">
                <?php echo $this->formLabel()->openTag() ?>Infra<?php echo $this->formLabel()->closeTag() ?>
                <div
                    class="col-sm-2 advanced-group no-gutter-right"><?php echo $this->FormElement($form->get('MYInfraRank')) ?></div>
                <div
                    class="col-sm-2 no-gutter no-gutter-right advanced-group"><?php echo $this->FormElement($form->get('MYInfraEpithet')) ?></div>
                <div
                    class="col-sm-2 no-gutter advanced-group"><?php echo $this->FormElement($form->get('MYInfraAuthor')) ?></div>
            </div>
            <?php echo $this->FormRow($form->get('MYInfrasubspecificSubdivision')); ?>
            <?php echo $this->FormRow($form->get('MYTaxonVerbatim')); ?>
            <?php echo $this->FormRow($form->get('MYGenusQualifier')); ?>
            <?php echo $this->FormRow($form->get('MYSpeciesQualifier')); ?>
            <div class="form-group" data-advanced="2">
                <?php echo $this->formLabel()->openTag() ?>Det<?php echo $this->formLabel()->closeTag() ?>
                <div class="col-sm-4 advanced-group">
                    <?php echo $this->FormElement($form->get('MYDet')); ?>
                </div>
                <?php echo $this->formRow()->help($form->get('MYDet')) ?>
                <div class="col-sm-2 no-gutter advanced-group">
                    <?php echo $this->FormElement($form->get('MYDetDate')); ?>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MYTaxonID')); ?>
            <?php echo $this->FormRow($form->get('MYDetVerbatim')); ?>
            <?php echo $this->FormRow($form->get('MYSec')); ?>
            <?php echo $this->FormRow($form->get('MYIdentificationNotes')) ?>
            <?php echo $this->FormRow($form->get('MYPreferredIdentification')) ?>
        </div>
    </div>
</div>