<?php
$this->formRow()
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-12')
    ->setRowClass('form-group');
?>
<div data-removable id="<?php echo $this->Id($form->getName()) ?>" class="col-sm-6">
    <?php
    $id = $this->Id($form->get('image')->getName());
    echo $this->FormRow($form->get('image'));
    $form->remove('image')
    ?>
    <div class="" id="<?php echo $id ?>">
        <?php foreach ($form as $element): ?>
            <?php echo $this->FormRow($element) ?>
        <?php endforeach ?>
    </div>
</div>