<?php
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');

$hasValue = [];
$noValue = [];
$templates = [];
$indexes = [];
$elements = [];
foreach ($form as $collection):
    if (!$collection instanceof \Zend\Form\Element\Collection) {
        continue;
    }
    $label = $collection->getLabel();
    $elementOrFieldset = $collection->getTemplateElement();
    $templates[] = ['label' => $label, 'value' =>
        '<div class="input-group"><span class="input-group-addon" style="min-width: 150px; text-align: right; padding: 6px;">' . $label . '</span>' .
        $this->FormElement($elementOrFieldset) .
        '</div>'
    ];
    $indexes[$label] = 0;
    $elements[$label] = [];
    foreach ($collection as $element) {
        $value = $element->getValue();
        if (empty($value)) {
            continue;
        }
        $indexes[$label]++;
        $elements[$label][] = $element;
    }
endforeach;

?>
<div class="row">
    <div class="col-sm-8 measurements" id="<?php echo $this->Id($form->getName()) ?>" data-indexes="<?php echo $this->escapeHtmlAttr(json_encode($indexes, true)) ?>" data-no-value="<?php echo $this->escapeHtmlAttr(json_encode($templates, true)) ?>">
        <div class="measurement-container">
            <?php foreach ($elements as $label => $col): ?>
                <?php foreach ($col as $element): ?>
                    <div class="input-group">
                        <span class="input-group-addon" style="min-width: 150px; text-align: right; padding: 6px;">
                            <?php echo $label ?>
                        </span>
                        <?php echo $this->FormElement($element) ?>
                    </div>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </div>
        <input type="text" placeholder="Add measurement" class="form-control add-measurement">
    </div>
</div>