<?php
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
$localID = $this->Id($form->getName());
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
?>
<div data-removable style="position: relative" class="preparation">
    <div style="position: absolute; top 0; right: 0">
        <button class="close remove-on-click" title="Remove identification" type="button">×</button>
    </div>
    <div id="<?php echo $this->Id($form->getName()) ?>">
        <div class="form-group" data-advanced="2">
            <?php echo $this->formLabel()->openTag() . $form->get('MFPreparedBy')->getLabel() . $this->formLabel()->closeTag() ?>
            <div class="col-sm-4 advanced-group">
                <?php echo $this->FormElement($form->get('MFPreparedBy')); ?>
            </div>
            <div class="col-sm-2 no-gutter advanced-group">
                <?php echo $this->FormElement($form->get('MFPreparationDate')); ?>
            </div>
        </div>
        <?php echo $this->FormRow($form->get('MFPreparationProcess')) ?>
        <?php echo $this->FormRow($form->get('MFPreparationMaterials')) ?>
        <?php echo $this->FormRow($form->get('MFPreparationProcessNotes')) ?>
    </div>
</div>