<?php
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
$localID = $this->Id($form->getName());
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter->addFilter('MFPreparationType', $this->SelectOptions('MF.preparationType'));
$name = $this->escapeHtml($this->filter('MFPreparationType', $form->get('MFPreparationType')->getValue(), ''));
if ($form->get('subject')->getValue()) {
    $name .= ' <small>' . \Common\Service\IdService::getUri($form->get('subject')->getValue()) . '</small>';
}
?>
<div class="panel panel-default partial-sample" data-removable
     data-nav-2="Preparation/sample: <?php echo $name ?>">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <button class="close remove-on-click" title="Remove preparation/sample" type="button">×</button>
        </div>
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#<?php echo $id ?>"
               href="#<?php echo $this->Id($form->getName()) ?>">
                <strong>Preparation/sample:</strong> <?php echo $name ?>
            </a>
        </h4>
    </div>
    <div id="<?php echo $this->Id($form->getName()) ?>" class="panel-collapse collapse in">
        <div class="panel-body">
            <?php echo $this->FormHidden($form->get('subject')) ?>
            <div class="depending-select init" data-depending="<?php echo str_replace('"',"'", json_encode(\Kotka\InputFilter\MFSample::$validMaterials)); ?>">
                <div class="source">
                    <?php echo $this->FormRow($form->get('MFPreparationType')) ?>
                </div>
                <div class="target" <?php echo empty($form->get('MFMaterial')->getValue()) ? 'style="display: none"' : '' ?>>
                    <?php echo $this->FormRow($form->get('MFMaterial')) ?>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MFIndividualsInPreparation')) ?>
            <?php echo $this->FormRow($form->get('MFPreservation')) ?>
            <?php
            $preparationElement = $form->get('MFPreparation');
            $placeHolder = $preparationElement->getOption('template_placeholder');
            $total = $this->Count($preparationElement);
            $id = $this->Id($preparationElement->getName());
            ?>
            <div id="<?php echo $id ?>"
                 class="preparation-wrapper"
                 data-count="<?php echo $total ?>"
                 data-link-prefix="preparation "
                 style="position: relative"
                 data-template-name="<?php echo $form->getName() ?>"
                 data-template-elem="MFPreparation">
                <a href="#<?php echo $id ?>" id="add-id" style="position: absolute; top: 0; right: 0; z-index: 100" class="add-tab add-tab-below" data-target="<?php echo $id ?>"
                   data-placeholder="<?php echo $placeHolder ?>"  data-type="" data-placement="bellow"><i class="fa fa-plus"></i></a>
                <?php
                $data = array();
                $idx = 1;
                foreach ($preparationElement as $preparationForm) {
                    $data[] = array('form' => $preparationForm, 'id' => $id, 'idx' => $idx++);
                }
                echo $this->partialLoop('kotka/specimens/partial/preparation', $data) ?>
            </div>
            <div class="form-group" data-advanced="1">
                <?php echo $this->formLabel()->openTag() . $form->get('MYMeasurement')->getLabel() . $this->formLabel()->closeTag() ?>
                <div class="col-sm-9 advanced-group">
                    <?php echo $this->partial('kotka/specimens/partial/measurement', ['form' => $form->get('MYMeasurement')]) ?>
                </div>
            </div>
            <div class="form-group" data-advanced="2">
                <?php echo $this->formLabel()->openTag() . $form->get('MFQualityCheckMethod')->getLabel() . $this->formLabel()->closeTag() ?>
                <div class="col-sm-4 advanced-group">
                    <?php echo $this->FormElement($form->get('MFQualityCheckMethod')); ?>
                </div>
                <div class="col-sm-2 no-gutter advanced-group">
                    <?php echo $this->FormElement($form->get('MFQualityCheckDate')); ?>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MFQuality')) ?>
            <?php echo $this->FormRow($form->get('MFQualityNotes')) ?>
            <?php echo $this->FormRow($form->get('MFElutionMedium')) ?>
            <?php echo $this->FormRow($form->get('MFDNAExtractionInstrument')) ?>
            <?php echo $this->FormRow($form->get('MFEvent')) ?>
            <?php echo $this->FormRow($form->get('MFSampleLocation')) ?>
            <?php echo $this->FormRow($form->get('MFGenbank')) ?>
            <?php echo $this->FormRow($form->get('MFBold')) ?>
            <?php echo $this->FormRow($form->get('MFStatus')) ?>
            <?php echo $this->FormRow($form->get('MFCondition')) ?>
            <?php echo $this->FormRow($form->get('MFDatasetID')) ?>
            <?php echo $this->FormRow($form->get('MFPublication')) ?>
            <div class="form-group" data-advanced="1">
                <?php echo $this->formLabel()->openTag() . $form->get('MFAdditionalIDs')->getLabel() . $this->formLabel()->closeTag() ?>
                <div class="col-sm-6 advanced-group MFAdditionalIDsWrap">
                    <?php echo $this->FormElement($form->get('MFAdditionalIDs')) ?>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-success generate-additional-ids" type="button">generate</button>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MFCollectionID')) ?>
            <?php echo $this->FormRow($form->get('MFNotes')) ?>
        </div>
    </div>
</div>