<?php
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
?>
<div class="panel panel-default partial-type" data-removable
     data-nav-2="Type: <?php echo $form->get('MYTypeSpecies')->getValue() ?>">
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <button class="close remove-on-click" title="Remove type" type="button">×</button>
        </div>
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#<?php echo $id ?>"
               href="#<?php echo $this->Id($form->getName()) ?>">
                <strong>Type:</strong> <?php echo $form->get('MYTypeSpecies')->getValue() ?>
            </a>
        </h4>
    </div>
    <div id="<?php echo $this->Id($form->getName()) ?>" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="form-group" data-advanced="3">
                <?php echo $this->formLabel()->openTag() ?>Type<?php echo $this->formLabel()->closeTag() ?>
                <div class="col-sm-2 advanced-group"><?php echo $this->FormElement($form->get('MYTypeStatus')) ?></div>
                <div
                    class="col-sm-3 no-gutter advanced-group"><?php echo $this->FormElement($form->get('MYTypeSpecies')) ?></div>
                <div
                    class="col-sm-2 no-gutter advanced-group"><?php echo $this->FormElement($form->get('MYTypeAuthor')) ?></div>
            </div>
            <div class="form-group" data-advanced="3">
                <?php echo $this->formLabel()->openTag() . $form->get('MYTypeSubspecies')->getLabel() . $this->formLabel()->closeTag() ?>
                <div
                    class="col-sm-5 advanced-group"><?php echo $this->FormElement($form->get('MYTypeSubspecies')) ?></div>
                <div
                    class="col-sm-2 no-gutter advanced-group"><?php echo $this->FormElement($form->get('MYTypeSubspeciesAuthor')) ?></div>
            </div>
            <div class="form-group" data-advanced="2">
                <?php echo $this->formLabel()->openTag() ?>Typifier<?php echo $this->formLabel()->closeTag() ?>
                <div class="col-sm-4 advanced-group">
                    <?php echo $this->FormElement($form->get('MYTypif')); ?>
                </div>
                <div class="col-sm-3 no-gutter advanced-group">
                    <?php echo $this->FormElement($form->get('MYTypifDate')); ?>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MYTypeVerification')) ?>
            <?php echo $this->FormRow($form->get('MYTypeBasionymePubl')); ?>
            <?php echo $this->FormRow($form->get('MYTypePubl')); ?>
            <?php echo $this->FormRow($form->get('MYTypeNotes')) ?>
            <?php echo $this->FormRow($form->get('MYTypeSeriesID')); ?>
        </div>
    </div>
</div>