<?php
if (!$this->group) {
    $group = '' . $this->placeholder('group');
}
$identifications = $form->get('MYIdentification');
$identificationStr = array();
foreach ($identifications as $ident) {
    /** @var \Kotka\Form\IdentificationFieldset $ident */
    $rank = str_replace('MX.', '', $ident->get('MYTaxonRank')->getValue());
    $taxon = $ident->get('MYTaxon')->getValue();
    $author = $ident->get('MYAuthor')->getValue();
    $identificationStr[] = "$rank $taxon $author";
}
$identificationStr = implode(', ', $identificationStr);
$this->formRow()
    ->setLabelClass('col-sm-3 control-label')
    ->setElementClass('col-sm-6')
    ->setRowClass('form-group advanced-group');
?>
<div class="panel panel-default partial-unit" data-removable data-nav-1="Specimen/Observation">
    <div class="panel-heading clearfix">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#<?php echo $id ?>"
               href="#<?php echo $this->Id($form->getName()) ?>">
                <strong>Specimen/observation (unit):</strong> <?php echo $identificationStr ?>
            </a>
        </h4>
    </div>
    <div id="<?php echo $this->Id($form->getName()) ?>" class="panel-collapse collapse in">
        <div class="panel-body">
            <?php
            $basis = $form->get('MYRecordBasis');
            if (empty($basis->getValue())) {
                $basis->setValue('MY.recordBasisLivingSpecimen');
            }
            ?>
            <?php echo $this->FormRow($form->get('MYRecordBasis')) ?>
            <?php echo $this->FormRow($form->get('MYRecordParts')) ?>
            <?php echo $this->FormRow($form->get('MYProvenance')) ?>
            <?php echo $this->FormRow($form->get('MYSex')) ?>
            <?php echo $this->FormRow($form->get('MYSexNotes')) ?>
            <?php echo $this->FormRow($form->get('MYCount')) ?>
            <?php echo $this->FormRow($form->get('MYPopulationAbundance')) ?>
            <?php // echo $this->FormRow($form->get('MYHost')) ?>
            <?php echo $this->FormRow($form->get('MYChemistry')) ?>
            <?php echo $this->FormRow($form->get('MYMicroscopy')) ?>
            <?php echo $this->FormRow($form->get('MYMacroscopy')) ?>
            <?php echo $this->FormRow($form->get('MYNotes')) ?>
            <div class="form-group" data-advanced="1">
                <?php echo $this->formLabel()->openTag() . $form->get('MYMeasurement')->getLabel() . $this->formLabel()->closeTag() ?>
                <div class="col-sm-9 advanced-group">
                    <?php echo $this->partial('kotka/specimens/partial/measurement', ['form' => $form->get('MYMeasurement')]) ?>
                </div>
            </div>
            <?php echo $this->FormRow($form->get('MYSeedMaturity')) ?>
            <?php echo $this->FormRow($form->get('MYFruitType')) ?>
            <?php echo $this->FormRow($form->get('MYSeedMorphology')) ?>
            <?php echo $this->FormRow($form->get('MYInfestation')) ?>
            <fieldset>
                <?php
                $identificationElement = $form->get('MYIdentification');
                $placeHolder = $identificationElement->getOption('template_placeholder');
                $total = $this->Count($identificationElement);
                $id = $this->Id($identificationElement->getName());
                ?>
                <a href="#<?php echo $id ?>" id="add-id" class="add-tab add-tab-below" data-target="<?php echo $id ?>"
                   data-placeholder="<?php echo $placeHolder ?>"  data-type="<?php echo $group ?>" data-placement="top">Add identification</a>

                <div class="panel-group"
                     id="<?php echo $id ?>"
                     data-count="<?php echo $total ?>"
                     data-link-prefix="Identification "
                     data-template-name="<?php echo $form->getName() ?>"
                     data-template-elem="MYIdentification">

                    <?php
                    $data = array();
                    foreach ($identificationElement as $identificationForm) {
                        $data[] = array('form' => $identificationForm, 'id' => $id);
                    }
                    echo $this->partialLoop('kotka/specimens/partial/identification', $data) ?>
                </div>

            </fieldset>
            <fieldset>
                <?php
                $typeElement = $form->get('MYTypeSpecimen');
                $placeHolder = $typeElement->getOption('template_placeholder');
                $total = $this->Count($typeElement);
                $id = $this->Id($typeElement->getName());
                ?>
                <a href="#<?php echo $id ?>" class="add-tab add-tab-below" id="add-type" data-target="<?php echo $id ?>"
                   data-placeholder="<?php echo $placeHolder ?>"  data-type="<?php echo $group ?>" data-placement="top">Add type</a>

                <div class="panel-group"
                     id="<?php echo $id ?>"
                     data-count="<?php echo $total ?>"
                     data-link-prefix="Type "
                     data-template-name="<?php echo $form->getName() ?>"
                     data-template-elem="MYTypeSpecimen">
                    <?php
                    $data = array();
                    foreach ($typeElement as $typeForm) {
                        $data[] = array('form' => $typeForm, 'id' => $id);
                    }
                    echo $this->partialLoop('kotka/specimens/partial/types', $data) ?>
                </div>
            </fieldset>
            <fieldset>
                <?php
                $sampleElement = $form->get('MFSample');
                $placeHolder = $sampleElement->getOption('template_placeholder');
                $total = $this->Count($sampleElement);
                $id = $this->Id($sampleElement->getName());
                ?>
                <a href="#<?php echo $id ?>" id="add-id" class="add-tab add-tab-below" data-target="<?php echo $id ?>"
                   data-placeholder="<?php echo $placeHolder ?>"  data-type="<?php echo $group ?>" data-placement="top">Add preparation/sample</a>

                <div class="panel-group"
                     id="<?php echo $id ?>"
                     data-count="<?php echo $total ?>"
                     data-link-prefix="Sample "
                     data-template-name="<?php echo $form->getName() ?>"
                     data-template-elem="MFSample">

                    <?php
                    $data = array();
                    $idx = 1;
                    foreach ($sampleElement as $sampleForm) {
                        $data[] = array('form' => $sampleForm, 'id' => $id, 'idx' => $idx++);
                    }
                    echo $this->partialLoop('kotka/specimens/partial/sample', $data) ?>
                </div>
            </fieldset>
        </div>
    </div>
</div>