<div class="form-group">
    <?php echo $this->formLabel($this->MYConcealmentBasisEn); ?>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYConcealmentBasisEn); ?>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">FI</span>
            <?php echo $this->formElement($this->MYConcealmentBasisFi); ?>
        </div>
    </div>
    <?php if ($this->MYConcealmentBasisEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYConcealmentBasisEn->getOption('help')) ?>
    <?php endif ?>
</div>