<div class="form-group">
    <?php echo $this->formLabel($this->MYDataQualityDescriptionEn); ?>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYDataQualityDescriptionEn); ?>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">FI</span>
            <?php echo $this->formElement($this->MYDataQualityDescriptionFi); ?>
        </div>
    </div>
    <?php if ($this->MYDataQualityDescriptionEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYDataQualityDescriptionEn->getOption('help')) ?>
    <?php endif ?>
</div>