<div class="form-group">
    <?php echo $this->formLabel($this->MYDescriptionEn) ?>
    <?php echo $this->formRow()->required() ?>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYDescriptionEn); ?>
        </div>
    </div>
    <?php echo $this->formRow()->required() ?>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">FI</span>
            <?php echo $this->formElement($this->MYDescriptionFi); ?>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">SV</span>
            <?php echo $this->formElement($this->MYDescriptionSv); ?>
        </div>
    </div>
    <?php if ($this->MYDescriptionEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYDescriptionEn->getOption('help')) ?>
    <?php endif ?>
</div>