<?php
$this->headTitle($this->title);
$escaper = new Zend\Escaper\Escaper();
$this->headScript()
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD);
/** @var $form \Zend\Form\Form */
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
$legends = array(
    'MYCollectionName' => 'Basic information',
    'taxonomicCoverage' => 'Coverage and methods',
    'intellectualOwner' => 'Copyrights and permissions for use',
    'collectionSize' => 'Size',
    'dataLocation' => 'Additional information',
    'metadataCreator' => 'Metadata on this metadata',
);
$form->prepare();
$this->ElementGroup()
    ->reset()
    ->addElement('MYCollectionNameEn', 'kotka/collections/name')
    ->addElement('MYCollectionNameFi', 'kotka/collections/name')
    ->addElement('MYCollectionNameSv', 'kotka/collections/name')
    ->addElement('MYPublisherShortnameEn', 'kotka/collections/short-name')
    ->addElement('MYPublisherShortnameFi', 'kotka/collections/short-name')
    ->addElement('MYPublisherShortnameSv', 'kotka/collections/short-name')
    ->addElement('MYDescriptionEn', 'kotka/collections/description')
    ->addElement('MYDescriptionFi', 'kotka/collections/description')
    ->addElement('MYDescriptionSv', 'kotka/collections/description')
    ->addElement('MYOnlineUrlEn', 'kotka/collections/url')
    ->addElement('MYOnlineUrlFi', 'kotka/collections/url')
    ->addElement('MYOnlineUrlSv', 'kotka/collections/url')
    ->addElement('MYDataQualityDescriptionEn', 'kotka/collections/data-quality-description')
    ->addElement('MYDataQualityDescriptionFi', 'kotka/collections/data-quality-description')
    ->addElement('MYDataUseTermsEn', 'kotka/collections/data-use-terms')
    ->addElement('MYDataUseTermsFi', 'kotka/collections/data-use-terms')
    ->addElement('MYConcealmentBasisEn', 'kotka/collections/concealment')
    ->addElement('MYConcealmentBasisFi', 'kotka/collections/concealment');

/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-5')
    ->setRowClass('form-group advanced-group');
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter
    ->addFilter('MY.downloadRequestHandler', $this->SelectOptions('MA.person'))
    ->addFilter('MY.dataQuality', $this->SelectOptions('MY.dataQuality'))
;
?>

<?php echo $this->form()->openTag($form); ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $form, 'addLeavePreventer' => true)) ?>
<div class="page-header">
    <h1>
        <?php echo $this->title ?>
    </h1>
    <?php if (!$this->add): ?>
        <div class="specimen-link"><a
                href="<?php echo $this->SearchQuery('collectionID: "' . $this->document->getSubject() . '"') ?>">Specimens
                in this collection</a></div>
    <?php endif ?>
</div>
<?php if (!$this->add): ?>
    <?php echo $this->partial('kotka/partial/editor', array('document' => $this->document, 'allowEdit' => $this->allowEdit)) ?>
<?php endif; ?>
<?php echo $this->formElement($form->get('subject')) ?>
<?php echo $this->formRow($form->get('MZOwner')); ?>
<fieldset>
    <legend>Basic information</legend>
    <?php echo $this->ElementGroup($form->get('MYCollectionNameEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYCollectionNameFi')) ?>
    <?php echo $this->ElementGroup($form->get('MYCollectionNameSv')) ?>
    <?php echo $this->formRow($form->get('MYAbbreviation')); ?>
    <?php echo $this->formRow($form->get('MYCollectionCode')); ?>
    <?php echo $this->formRow($form->get('MYInstitutionCode')); ?>
    <?php echo $this->formRow($form->get('MYCollectionType')); ?>
    <?php echo $this->ElementGroup($form->get('MYDescriptionEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYDescriptionFi')) ?>
    <?php echo $this->ElementGroup($form->get('MYDescriptionSv')) ?>
    <?php echo $this->formRow($form->get('MYIsPartOf')); ?>
    <?php echo $this->ElementGroup($form->get('MYPublisherShortnameEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYPublisherShortnameFi')) ?>
    <?php echo $this->ElementGroup($form->get('MYPublisherShortnameSv')) ?>
</fieldset>
<fieldset>
    <legend>Coverage and methods</legend>
    <?php echo $this->formRow($form->get('MYTaxonomicCoverageEn')); ?>
    <?php echo $this->formRow($form->get('MYTemporalCoverageEn')); ?>
    <?php echo $this->formRow($form->get('MYGeographicCoverageEn')); ?>
    <?php echo $this->formRow($form->get('MYCoverageBasisEn')); ?>
    <?php echo $this->formRow($form->get('MYMethodsEn')); ?>
</fieldset>
<fieldset>
    <legend>Copyrights and permissions for use</legend>
    <?php echo $this->formRow($form->get('MYIntellectualOwner')); ?>
    <?php echo $this->formRow($form->get('MYIntellectualRights')); ?>
    <?php echo $this->formRow($form->get('MXSecureLevel')); ?>
    <?php echo $this->formRow($form->get('MYDataQuarantinePeriod')); ?>
    <?php echo $this->ElementGroup($form->get('MYConcealmentBasisEn')); ?>
    <?php echo $this->ElementGroup($form->get('MYConcealmentBasisFi')); ?>
    <?php echo $this->ElementGroup($form->get('MYDataUseTermsEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYDataUseTermsFi')) ?>
    <?php echo $this->formRow($form->get('MYPublicAccess')) ?>
    <?php if ($this->user()->isAdmin()): ?>
        <?php echo $this->formRow($form->get('MYAllowedForDwStatistics')); ?>
        <?php echo $this->formRow($form->get('MYDownloadRequestHandler')); ?>
        <?php if ($this->document instanceOf \Triplestore\Classes\MYCollectionInterface
            && count($this->document->getMYDownloadRequestHandler()) == 0): ?>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="MYDownloadRequestHandler">
                    Inherited request handlers
                </label>
                <div class="col-sm-10 form-control-static">
                    <?php echo $this->ParentCollection($this->document, 'MY.downloadRequestHandler', $filter); ?>
                </div>
            </div>
        <?php endif ?>
        <?php echo $this->formRow($form->get('MYGbifDoi')); ?>
        <?php echo $this->formRow($form->get('MYShareToGbif')); ?>
        <?php echo $this->formRow($form->get('MYShareToFEO')); ?>
    <?php endif ?>
</fieldset>
<fieldset>
    <legend>Size</legend>
    <?php echo $this->formRow($form->get('MYCollectionSize')); ?>
    <?php echo $this->formRow($form->get('MYDigitizedSize')); ?>
    <?php echo $this->formRow($form->get('MYTypesSize')); ?>
</fieldset>
<fieldset>
    <legend>Additional information</legend>
    <?php if ($this->user()->isAdmin()): ?>
        <?php echo $this->formRow($form->get('MYBoundingBoxLatMin')); ?>
        <?php echo $this->formRow($form->get('MYBoundingBoxLatMax')); ?>
        <?php echo $this->formRow($form->get('MYBoundingBoxLonMin')); ?>
        <?php echo $this->formRow($form->get('MYBoundingBoxLonMax')); ?>
    <?php endif ?>
    <?php echo $this->formRow($form->get('MYDataLocationEn')); ?>
    <?php echo $this->formRow($form->get('MYCollectionLocationEn')); ?>
    <?php echo $this->formRow($form->get('MYPersonResponsible')); ?>
    <?php echo $this->formRow($form->get('MYContactEmail')); ?>
    <?php echo $this->formRow($form->get('MYCitation')); ?>
    <?php echo $this->formRow($form->get('MYLanguage')); ?>
    <?php echo $this->ElementGroup($form->get('MYOnlineUrlEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYOnlineUrlFi')) ?>
    <?php echo $this->ElementGroup($form->get('MYOnlineUrlSv')) ?>
    <?php echo $this->ElementGroup($form->get('MYOnlineUrlSv')) ?>
    <?php if (empty($form->get('MYCollectionQuality')->getValue())): ?>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <?php
                $label = $filter('MY.dataQuality', $form->get('MYDataQuality')->getValue());
                if (!empty($label)): ?>
                Data quality for this collection was previously set to <strong><?php echo $label; ?></strong>.<br>
                <?php endif; ?>
                We have changed the classification, so you need to choose a new class from the field bellow.
                See <a target="_blank" href="https://wiki.helsinki.fi/xwiki/bin/view/digit/Kotka%20Collection%20Management%20System/Manual%20for%20Kotka/CollectionsAineistot/Collection%20quality%20rating/">https://wiki.helsinki.fi/xwiki/bin/view/digit/Kotka%20Collection%20Management%20System/Manual%20for%20Kotka/CollectionsAineistot/Collection%20quality%20rating/</a> for instructions.
            </div>
        </div>
    <?php endif; ?>
    <?php echo $this->formRow($form->get('MYCollectionQuality')); ?>
    <?php echo $this->ElementGroup($form->get('MYDataQualityDescriptionEn')) ?>
    <?php echo $this->ElementGroup($form->get('MYDataQualityDescriptionFi')) ?>
    <?php echo $this->formRow($form->get('MYDataNotes')); ?>
</fieldset>
<fieldset>
    <legend>Metadata on this metadata</legend>
    <?php echo $this->formRow($form->get('MYMetadataStatus')); ?>
    <?php if ($this->user()->isAdmin()):
        $metadataStatus = $form->get('MYMetadataStatus')->getValue();
        ?>
        <div class="internal-use" <?php echo $metadataStatus === 'MY.metadataStatusHidden' ? '' : 'style="display: none"'?>>
            <?php echo $this->formRow($form->get('MYInternalUseOnly')); ?>
        </div>
    <?php endif; ?>
    <?php echo $this->formRow($form->get('MYNotes')); ?>
</fieldset>
<?php echo $this->partial('kotka/partial/formBottom', array('allowEdit' => $this->allowEdit)) ?>
<?php echo $this->form()->closeTag(); ?>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $(document.body).trigger('requestRefresh');
    <?php if ($this->user()->isAdmin()): ?>
    $('[name="MYMetadataStatus"]').on('change', function() {
        var $this = $(this);
        if ($this.val() === 'MY.metadataStatusHidden') {
            $('.internal-use').show();
        } else {
            $('.internal-use').hide();
        }
    });
    <?php endif; ?>
<?php $this->inlineScript()->captureEnd();?>
</script>
