<?php
/**
 * @var \Kotka\Triple\MYCollection $col
 */
$this->headTitle('Collections and Surveys');
$uriHelper = new \Kotka\DataGrid\Type\URI();
$uriHelper->setEditUrl($this->url('https/collections/action', array('action' => 'edit'), array('query' => array('uri' => '%s'))));
$uriHelper->setViewUrl($this->url('view', array('action' => 'index'), array('query' => array('uri' => '%s'))));
$uriHelper->setAddView(true);
?>
<div class="page-header">
    <h1>Collections and Surveys</h1>
</div>
<?php echo $this->partial('kotka/partial/tablesorter', ['ofX' => 'collections']); ?>
<div class="row">
    <div class="col-sm-1">
        <select class="form-control" id="collectionLang">
            <option value="en" <?php echo $lang  === 'en' ? 'selected' : '' ?>>en</option>
            <option value="fi" <?php echo $lang  === 'fi' ? 'selected' : '' ?>>fi</option>
        </select>
    </div>
    <div class="col-sm-10 form-control-static">
        <label for="collectionLang">name and description language</label>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover table-sortable">
        <thead>
        <tr>
            <th>URI</th>
            <th>Name (<?php echo $lang ?>)</th>
            <th>Description (<?php echo $lang ?>)</th>
            <th class="filter-select filter-onlyAvail">Type</th>
            <th>Responsible</th>
            <th class="filter-select filter-onlyAvail">Owner</th>
            <th class="filter-false">Create new subcollection</th>
            <th class="filter-select filter-onlyAvail" data-value="false">Hidden</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->collections as $col):
            /** @var \Kotka\Triple\MYCollection $col */
            ?>
            <tr>
                <?php $uri = $col->getUri() ?>
                <?php $addUrl = $this->url('https/collections/action', array('action' => 'add'), array('query' => array('isPartOf' => $uri))); ?>
                <?php $type = str_replace('MY.collectionType', '', $col->getMYCollectionType()) ?>
                <td><?php echo $uriHelper($uri) ?></td>
                <td><?php echo $this->escapeHtml($col->getMYCollectionName($lang)); ?></td>
                <td><?php echo $this->escapeHtml($col->getMYDescription($lang)); ?></td>
                <td><?php echo $this->escapeHtml($type) ?></td>
                <td><?php echo $this->escapeHtml($col->getMYPersonResponsible()) ?></td>
                <td style="overflow: hidden; white-space: nowrap; max-width: 150px;">
                    <?php echo $this->escapeHtml($this->OrganizationName($col->getMZOwner(), \Kotka\View\Helper\OrganizationName::FORMAT_LONG_WITHOUT_ABBR)) ?>
                </td>
                <td><a href="<?php echo $this->escapeHtmlAttr($addUrl) ?>">Create</a></td>
                <td><?php echo $this->escapeHtml($col->getMYMetadataStatus() === 'MY.metadataStatusHidden' ? 'true' : 'false'); ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    (function (window, $) {
        var $collectionLang = $('#collectionLang');
        $('#collectionLang').change(function(value) {
            var value = $collectionLang.val();
            if (value !== '<?php $lang ?>') {
                window.location = '/collections?lang=' + value;
            }
        })
    })(window, jQuery);
    <?php $this->inlineScript()->captureEnd();?>
</script>