<div class="form-group">
    <?php echo $this->formLabel($this->MYCollectionNameEn) ?>
    <?php echo $this->formRow()->required() ?>
    <div class="col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYCollectionNameEn); ?>
        </div>
    </div>
    <?php if ($this->MYCollectionNameEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYCollectionNameEn->getOption('help')) ?>
    <?php endif ?>
</div>
<div class="form-group">
    <div class="col-sm-2"></div>
    <?php echo $this->formRow()->required() ?>
    <div class="col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">FI&nbsp;&nbsp;</span>
            <?php echo $this->formElement($this->MYCollectionNameFi); ?>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">SV</span>
            <?php echo $this->formElement($this->MYCollectionNameSv); ?>
        </div>
    </div>
</div>