<div class="form-group">
    <?php echo $this->formLabel($this->MYPublisherShortnameEn) ?>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYPublisherShortnameEn); ?>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">FI</span>
            <?php echo $this->formElement($this->MYPublisherShortnameFi); ?>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">SV</span>
            <?php echo $this->formElement($this->MYPublisherShortnameSv); ?>
        </div>
    </div>
    <?php if ($this->MYPublisherShortnameEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYPublisherShortnameEn->getOption('help')) ?>
    <?php endif ?>
</div>