<div class="form-group">
    <?php echo $this->formLabel($this->MYOnlineUrlEn) ?>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">EN</span>
            <?php echo $this->formElement($this->MYOnlineUrlEn); ?>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">FI</span>
            <?php echo $this->formElement($this->MYOnlineUrlFi); ?>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">SV</span>
            <?php echo $this->formElement($this->MYOnlineUrlSv); ?>
        </div>
    </div>
    <?php if ($this->MYOnlineUrlEn->getOption('help')): ?>
        <?php echo $this->formRow()->help($this->MYOnlineUrlEn->getOption('help')) ?>
    <?php endif ?>
</div>