<?php
$this->headLink()
    ->prependStylesheet($this->basePath() . '/css/kotka.css?v=' . KOTKA_BUILD)
    ->prependStylesheet($this->basePath() . '/css/ladda-themeless.min.css?v=' . KOTKA_BUILD)
    ->appendStylesheet($this->basePath() . '/css/dropzone.css?v=' . KOTKA_BUILD);
$this->headScript()
    ->prependFile($this->basePath() . '/js/ladda.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/spin.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/bootstrap.js?=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/jquery-1.11.0.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery.unveil.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery/jquery.growl.js?v=' . KOTKA_BUILD);
$params = $this->params;
$perPage = (
    isset($params['limit'])
    && is_numeric($params['limit'])
    && $params['limit'] <= 100
    && $params['limit'] > 0) ?
    $params['limit'] : 100;
$count = count($this->images);
$nextOffset = $count >= $perPage ? (isset($params['offset']) ? $params['offset'] + $perPage : $perPage) : false;
$prevOffset = (isset($params['offset']) && $params['offset'] > 0) ? (($params['offset'] - $perPage) < 0 ? 0 : $params['offset'] - $perPage) : false;

$activeField = 'documentIds';
$activeValue = '';

$metaForm = $this->metaForm;
$metaForm->prepare();
?>
<div class="page-header">
    <h1>Edit images
        <?php if (isset($params['noLayout']) && $params['noLayout']): ?>
            <small class="pull-right">
                <a href="<?php echo isset($params['identifications_taxonIds']) ? $this->url('https/taxon_images', [], ['query' => [
                    'taxonID' => $params['identifications_taxonIds'],
                    'personToken' => $params['personToken']
                ]]) : 'javascript:history.back()' ?>">Back</a>
            </small>
        <?php endif; ?>
    </h1>
</div>
<div class="form-group">
    <div class="col-sm-5">
        <?php if (!(isset($params['noLayout']) && $params['noLayout'])): ?>
            <div class="input-group">
                <div class="input-group-btn">
                    <ul class="dropdown-menu">
                        <?php foreach ($this->fields as $field => $label):
                            if (isset($params[$field])) {
                                $activeField = $field;
                                $activeValue = $this->escapeHtmlAttr($params[$field]);
                            }
                            ?>
                            <li><a href="#<?php echo $field ?>"><?php echo $label ?></a></li>
                        <?php endforeach; ?>
                    </ul>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><span
                            id="searchField"><?php echo $this->fields[$activeField] ?></span> <span
                            class="caret"></span></button>
                </div>
                <input type="text" id="search" class="form-control" aria-label="search field"
                       value="<?php echo $activeValue ?>">

                <div class="input-group-btn">
                    <button type="button"
                            class="btn btn-default ladda-button"
                            id="find"
                            data-style="slide-left"
                            data-spinner-color="#777">Search
                    </button>
                </div>
            </div>
        <?php endif ?>
    </div>
    <div class="col-sm-4 form-control-static">
        <?php
        if ($count):
            $add = 0;
            if (isset($params['offset']) && is_numeric($params['offset'])) {
                $add = $params['offset'];
            }
            ?>
            Found <?php echo $count >= $perPage ? '>' : '';
            echo $count + $add ?> images
        <?php endif; ?>
    </div>
    <div class="col-sm-1">
        <?php if ($prevOffset !== false):
            $nextParams = $params;
            $nextParams['offset'] = $prevOffset;
            ?>
            <a href="<?php echo $this->url('https/image_upload', ['action' => 'edit'], ['query' => $nextParams]) ?>"
               class="btn btn-default btn-block">Prev</a>
        <?php endif; ?>
    </div>
    <div class="col-sm-1">
        <?php if ($nextOffset):
            $nextParams = $params;
            $nextParams['offset'] = $nextOffset;
            ?>
            <a href="<?php echo $this->url('https/image_upload', ['action' => 'edit'], ['query' => $nextParams]) ?>"
               class="btn btn-default btn-block">Next</a>
        <?php endif; ?>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div id="images" class="dropzone dz-square dz-clickable dz-started" style="background: none;">
                <?php
                $this->partialLoop()->setObjectKey('media');
                echo $this->partialLoop('kotka/image/image', $this->images); ?>
            </div>
        </form>
    </div>
</div>
<div class="hidden">
    <div id="popover-meta">
        <div style="width: 350px" class="image-meta">
            <input type="hidden" name="personToken" value="<?php echo isSet($params['personToken']) ? $params['personToken'] : null ?>">
            <div class="form-group popover-alert-danger" style="display: none;">
                <div class="col-sm-12">
                    <?php echo $this->alert('failure') ?>
                </div>
            </div>
            <div class="form-group popover-alert-success" style="display: none;">
                <div class="col-sm-12">
                    <?php echo $this->alert('Data successfully saved', \Kotka\View\Helper\Alert::TYPE_SUCCESS) ?>
                </div>
            </div>
            <?php foreach ($metaForm as $metaElement):
                $elemClass = 'col-sm-12';
                if ($metaElement instanceof \Kotka\Form\Element\ArrayCollection) {
                    $elemClass = 'col-sm-10';
                } else if ($metaElement instanceof \Zend\Form\Fieldset) {
                    foreach ($metaElement as $subElement) {
                        echo $this->formRow($subElement, null, null, null, 'form-group', 'col-sm-10', 'col-sm-12 no-margin-buttom');
                    }
                    continue;
                }
                ?>
                <?php echo $this->formRow($metaElement, null, null, null, 'form-group', $elemClass, 'col-sm-12 no-margin-buttom') ?>
            <?php endforeach ?>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="button" name="save" value="Save" class="image-meta-save btn btn-success"/>
                    <input type="button" name="close" value="Close" class="image-meta-close pull-right btn btn-danger"/>
                </div>
            </div>
        </div>
    </div>
</div>

<?php $url = $this->escapeJs($this->url('https/image_upload', ['action' => 'edit'])); ?>
<script>
    <?php $this->inlineScript()->captureStart();?>
    var field = '<?php echo $activeField ?>';
    window.location = '#';
    $(window).on('hashchange', function () {
        var hash = window.location.hash.substr(1);
        if (hash.length < 2) {
            return;
        }
        field = hash;
        $('#searchField').text(
            $('a[href="#' + field + '"]').text()
        );
    });
    $('#find').on('click', function () {
        var search = $('#search').val();
        if (search.length == 0) {
            return;
        }
        var ladda = Ladda.create(document.querySelector('#find'));
        ladda.start();
        window.location = '<?php echo $url ?>' + '?' + field + '=' + search;
    });
    $(function () {
        $("img.lazy").unveil();
    });
    $('#search').keypress(function (e) {
        if ((e.keyCode || e.which) == 13) {
            $('#find').trigger('click');
        }
    });

    //images
    var preview = $("#image-preview").html();
    $('#images').on('click', '.dz-remove', function (e) {
        e.preventDefault();
        var $img = $(this).closest('.image');
        var imgId = $img.data('image-id');
        var url = '/images?id=' + imgId;
        if (confirm('Are you sure you want to delete the image?')) {
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function () {
                    $.growl.notice({title: "Image", message: "successfully deleted"});
                    $img.remove();
                },
                error: function (xhr) {
                    $.growl.error({
                        title: "Failed to remove file",
                        message: xhr.responseJSON.error + "\n\nPlease reload the page to try again"
                    });
                }
            });
        }
    });


    function setRepeatingElementValue(base, key, value, $form) {
        if ($.isArray(value) || $.isPlainObject(value)) {
            $.each(value, function (k, v) {
                setRepeatingElementValue(base + '[' + k + ']', k, v, $form);
            });
        } else {
            if (key > 0) {
                var n = base.lastIndexOf('[');
                var addBase = base.substring(0, n) + '[0]';
                var $addButton = $form.find('[name="' + addBase + '"]');
                $(document.body).trigger('collection.add', [$addButton]);
            }
            $form.find('[name="' + base + '"]:not(.reset)').val(value);
        }
    }

    var popovers = [];
    var $document = $(document);
    $document.on('meta.show', function (event, imageId, $element) {
        var needAdd = true;
        var current = {};
        for (var i in popovers) {
            if (imageId == popovers[i]['imageId']) {
                needAdd = false;
                current = popovers[i];
            } else {
                popovers[i].elem.popover('hide');
                popovers[i].visible = false;
            }
            popovers[i].form.find('.popover-alert-danger,.popover-alert-success').hide();
        }
        if (needAdd) {
            var $form = $($('#popover-meta').html());
            var loaded = false;
            $form.find('input,select').addClass('disabled').attr('disabled', true);
            $element.popover({
                html: true,
                title: 'Picture metadata',
                trigger: 'manual',
                content: function () {
                    return $form;
                }
            }).on('shown.bs.popover', function () {
                if (!loaded) {
                    return;
                }
                $('.image-datetime-picker').parent().datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    locale: 'en-au',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: "fa fa-angle-left",
                        next: "fa fa-angle-right"
                    }
                });
            });
            $.get('/images?type=single&id=' + imageId, function (data) {
                var meta = data['meta'];
                var value;
                for (var field in meta) {
                    if (!meta.hasOwnProperty(field)) {
                        continue;
                    }
                    value = meta[field];
                    if ($.isArray(value) || $.isPlainObject(value)) {
                        if (field === 'tags') {
                            var $field = $form.find('[name="' + field + '[]"]');
                            if (meta.identifications.taxonIds && meta.identifications.taxonIds.length) {
                                $options = [];
                                $field.find('option').each(function (key, value) {
                                    if (value.text !== 'label') {
                                        $options.push(value);
                                    }
                                });
                                $field.empty();
                                $field.append($options);
                            } else {
                                $options = [
                                    'specimen',
                                    'primary',
                                    'label',
                                    'habitat',
                                    'carcass',
                                    'skeletal',
                                    'microscope image',
                                    'drawing',
                                    'non-public'
                                ];
                                $field.empty();
                                $field.append($options.map(option => {
                                  return $("<option></option>")
                                      .attr("value", option)
                                      .text(option);
                                }));
                            }
                            $.each(value, function (key, value) {
                                if ($field.find('option[value="' + value + '"]').length == 0) {
                                    $field
                                        .append($("<option></option>")
                                            .attr("value", value)
                                            .text(value));
                                }
                            });
                            $field.val(value);
                            continue;
                        }
                        setRepeatingElementValue(field, 0, value, $form);
                        continue;
                    }
                    $form.find('[name="' + field + '"]').val(value);
                }
                $form.find('[disabled]').removeClass('disabled').removeAttr('disabled');
                $form.find('.image-datetime-picker').parent().datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    locale: 'en-au',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: "fa fa-angle-left",
                        next: "fa fa-angle-right"
                    }
                });
                $form.find('#tags').select2();
                loaded = true;
            }).fail(function (data) {
                var result = data.responseJSON;
                $form.find('.popover-alert-danger .alert span').text(result.error).end().find('.popover-alert-danger').show();
            });
            $form.data('image-id', imageId);
            current = {imageId: imageId, elem: $element, visible: false, form: $form};
            popovers.push(current);
        }
        if (!current.visible) {
            current.elem.popover('show');
            current.visible = true;
        } else {
            current.elem.popover('hide');
            current.visible = false;
        }
    });
    $document
        .on('click', '.dz-details', function (e) {
            e.preventDefault();
            var $img = $(this).closest('.image');
            var imgId = $img.data('image-id');
            $document.trigger('meta.show', [imgId, $img]);
        })
        .on('click', '.image-meta-save', function () {
            var imgId = $(this).closest('.image-meta').data('image-id');
            var found = false;
            for (var i in popovers) {
                if (!popovers.hasOwnProperty(i)) {
                    continue;
                }
                if (popovers[i].imageId == imgId) {
                    var $form = popovers[i].form;
                    found = true;
                    break;
                }
            }
            if (!found) {
                $.growl.error({title: "Error", message: "Could not find data to save"});
                return;
            }
            var data = $form.find('input,select').serialize();
            var url = '/images?id=' + imgId;
            $form.find('.popover-alert-danger,.popover-alert-success').hide();
            $form.find('input,select').addClass('disabled').attr('disabled', true);
            $.ajax({
                url: url,
                type: 'PUT',
                data: data,
                success: function () {
                    $form.find('.popover-alert-success').show();
                },
                error: function (data) {
                    var result = data.responseJSON;
                    $form.find('.popover-alert-danger .alert span').text(result.error).end().find('.popover-alert-danger').show();
                },
                complete: function () {
                    $form.find('[disabled]').removeClass('disabled').removeAttr('disabled');
                }
            });
        })
        .on('click', '.image-meta-close', function () {
            for (var i in popovers) {
                if (!popovers.hasOwnProperty(i)) {
                    continue;
                }
                if (popovers[i].visible) {
                    popovers[i].elem.popover('hide');
                    popovers[i].visible = false;
                }
            }
        });

    $('form').on('click', '.add-me', function (e) {
        var nameField = $($(e.target).attr('data-add-name'));
        var emailField = $($(e.target).attr('data-add-email'));
        if (typeof nameField !== 'undefined' && nameField !== false) {
            nameField.val('<?php echo $this->escapeJs('' . $this->User('fullname'))?>');
        }
        if (typeof emailField !== 'undefined' && emailField !== false) {
            emailField.val('<?php echo $this->escapeJs('' . $this->User('email')) ?>');
        }
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>
