<?php
/** @var \ImageApi\Model\Media $media */
$media = $this->media;
?>
<div class="dz-preview dz-image-preview image" data-image-id="<?php echo $media->getId() ?>">
    <div class="dz-details">
        <div class="dz-filename"><span data-dz-name=""><?php echo $media->getMeta()->getOriginalFilename() ?></span>
        </div>
        <img alt="img" class="lazy" data-src="<?php echo $media->getUrls()->getSquare() ?>">
    </div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
    <div class="dz-error-mark"><span>✘</span></div>
    <div class="dz-error-message text-danger"><span data-dz-errormessage=""></span></div>
    <?php if ($this->IsAllowed('image', 'delete')): ?>
        <a class="dz-remove">Delete</a>
    <?php endif ?>
</div>