<?php
$this->headScript()
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/fileinput.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD);;
$escaper = new \Zend\Escaper\Escaper('utf-8');

/** @var \Kotka\Form\ImageUpload $imageForm */
/** @var \ImageApi\Form\PictureMeta $metaForm */
$imageForm = $this->imagesForm;
$metaForm = $this->metaForm;
$imageForm->prepare();
$metaForm->prepare();
/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper->setElementClass('col-sm-8')->setLabelClass('col-sm-4 control-label')->setRowClass('form-group');
$elemClass = null;
?>
    <div class="page-header">
        <h1>Import multiple images</h1>
    </div>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $imageForm)) ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $metaForm)) ?>
<?php
if ($this->success) {
    echo $this->alert($this->success, \Kotka\View\Helper\Alert::TYPE_SUCCESS);
}
?>

<?php echo $this->form()->openTag($imageForm); ?>
    <div class="form-group">
        <div class="col-sm-11">
            <div class="alert alert-info">
                <b>Please note</b> that images are not hidden. So do your best not to include
                anything that would reveal the location when uploading images of sensitive species!
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <?php 
                $tags = $metaForm->get('tags');
                $options = [
                    'specimen' => 'specimen',
                    'primary' => 'primary',
                    'label' => 'label',
                    'habitat' => 'habitat',
                    'carcass' => 'carcass',
                    'skeletal' => 'skeletal',
                    'microscope image' => 'microscope image',
                    'drawing' => 'drawing',
                    'non-public' => 'non-public',
                ];
                $tags->setValueOptions($options);
            ?>
            <?php foreach ($metaForm as $element): ?>
                <?php if ($element instanceof \Kotka\Form\Element\ArrayCollection): ?>
                    <?php echo $this->formRow($element) ?>
                <?php elseif ($element instanceof \Zend\Form\Fieldset): ?>
                    <?php foreach ($element as $subElement): ?>
                        <?php echo $this->formRow($subElement); ?>
                    <?php endforeach ?>
                <?php else: ?>
                    <?php echo $this->formRow($element) ?>
                <?php endif ?>
            <?php endforeach ?>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-4">
                    <button type="submit" class="btn btn-danger ladda-button" data-style="slide-left">
                        <span class="ladda-label">Send images</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="hidden">
                <?php
                echo $this->formRow($imageForm->get('format'));
                $imageForm->remove('format');
                ?>
            </div>
            <div class="form-group">
                <div class="col-sm-12" id="image-upload-help">
                    <p>
                        Files have to be in format <strong>identifier_anything.jpg</strong>.<br>
                    <span>For example, these are valid filenames:<br>
                        HT.1234.jpg &nbsp;&nbsp;&nbsp; HT.1235_Betula_pendula.jpg &nbsp;&nbsp;&nbsp; HT.1235_IMG_1234.jpg<br>
                        if you include desired tag in the filename it will be added to the list of tags. For example<br>
                        HT.1234_Betula_pendula_label.jpg will add "label" tag <br>
                        HT.1234_specimen_label.jpg will add "specimen" and "label" tags.
                    </span>
                    </p>
                </div>
            </div>
            <div class="well">
                <?php
                $rowHelper->setRowClass('form-group no-margin-buttom');
                foreach ($imageForm as $element): ?>
                    <?php if ($element->getName() === 'images'): ?>
                        <div class="form-group no-margin-buttom">
                            <div class="col-xs-3 col-xs-offset-4 form-control-static"><strong>OR</strong></div>
                        </div>
                    <?php endif ?>
                    <?php echo $this->formRow($element) ?>
                <?php endforeach ?>
            </div>
        </div>
    </div>
    <input type="hidden" name="check" value="ok"/>
<?php echo $this->form()->closeTag(); ?>
<?php $this->inlineScript()->appendScript("
$('#tags').select2();
$('form').on('click', '.add-me', function(e) {
        var nameField = $($(e.target).attr('data-add-name'));
        var emailField = $($(e.target).attr('data-add-email'));
        if (typeof nameField !== 'undefined' && nameField !== false) {
            nameField.val('" . $escaper->escapeJs('' . $this->User('fullname')) . "');
        }
        if (typeof emailField !== 'undefined' && emailField !== false) {
            emailField.val('" . $escaper->escapeJs('' . $this->User('email')) . "');
        }
    })
    .find('.add-datetimepicker')
    .removeClass('.add-datetimepicker')
    .datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: 'en-au',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-arrow-up',
            down: 'fa fa-arrow-down',
            previous: 'fa fa-angle-left',
            next: 'fa fa-angle-right'
        }
    });
Ladda.bind('.ladda-button');
"); ?>