<?php
$this->headLink()
    ->prependStylesheet($this->basePath() . '/css/kotka.css?v=' . KOTKA_BUILD)
    ->prependStylesheet($this->basePath() . '/css/ladda-themeless.min.css?v=' . KOTKA_BUILD);
$this->headScript()
    ->prependFile($this->basePath() . '/js/ladda.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/spin.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/app.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/bootstrap.js?=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/jquery-1.11.0.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/fileinput.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD);;
$escaper = new \Zend\Escaper\Escaper('utf-8');

/** @var \Kotka\Form\ImageUpload $imageForm */
/** @var \ImageApi\Form\PictureMeta $metaForm */
$imageForm = $this->imagesForm;
$metaForm = $this->metaForm;
$imageForm->prepare();
$metaForm->prepare();
/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper->setElementClass('col-sm-7')->setLabelClass('col-sm-5 control-label')->setRowClass('form-group');
$elemClass = null;
?>
<?php if (!$this->CurrentTaxon($this->taxonID, \Kotka\View\Helper\CurrentTaxon::TYPE_EXISTS)): ?>
    <div class="page-header">
        <h1>Could not find the given taxon ID <?php echo $this->escapeHtml($this->taxonID) ?></h1>
    </div>
    <?php
    return;
endif ?>
    <div class="page-header">
        <h1>Add taxon images to <?php echo $this->CurrentTaxon($this->taxonID) ?>
            <small class="pull-right">
                <a href="<?php echo $this->url('https/image_upload', ['action' => 'edit'], ['query' => [
                    'identifications.taxonIds' => $this->taxonID,
                    'noLayout' => true,
                    'personToken' => $this->personToken
                ]]) ?>">
                    edit existing images
                </a>
            </small>
        </h1>
    </div>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $imageForm)) ?>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $metaForm)) ?>
<?php
if ($this->success) {
    echo $this->alert($this->success, \Kotka\View\Helper\Alert::TYPE_SUCCESS);
}
?>
    <div class="form-group">
        <div class="col-sm-11">
            <div class="alert alert-info">
                <b>Please note</b> that images are not hidden. So do your best not to include
                anything that would reveal the location when uploading images of sensitive species!
            </div>
        </div>
    </div>
<?php echo $this->form()->openTag($imageForm); ?>
    <div class="form-group">
        <div class="col-sm-5">
            <?php 
                $tags = $metaForm->get('tags');
                $options = $tags->getValueOptions();
                if ($this->taxonID) {
                    $options = array_filter($options, function ($option) {
                        return $option !== 'label';
                    }); 
                } else {
                    $options = [
                      'specimen' => 'specimen',
                      'primary' => 'primary',
                      'label' => 'label',
                      'habitat' => 'habitat',
                      'carcass' => 'carcass',
                      'skeletal' => 'skeletal',
                      'microscope image' => 'microscope image',
                      'drawing' => 'drawing',
                      'non-public' => 'non-public',
                    ];
                }
                $tags->setValueOptions($options);
            ?>
            <?php foreach ($metaForm as $element):
                $name = $element->getName();
                if ($name === 'documentIds') { ?>
                    <input type="hidden" name="documentIds[0]"
                           value="<?php echo $this->escapeHtmlAttr($this->taxonID) ?>">
                    <?php
                    continue;
                }
                ?>
                <?php if ($element instanceof \Kotka\Form\Element\ArrayCollection): ?>
                <?php echo $this->formRow($element) ?>
            <?php elseif ($element instanceof \Zend\Form\Fieldset): ?>
                <?php foreach ($element as $subElement): ?>
                    <?php echo $this->formRow($subElement); ?>
                <?php endforeach ?>
            <?php else: ?>
                <?php echo $this->formRow($element) ?>
            <?php endif ?>
            <?php endforeach ?>
            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-5">
                    <button type="submit" class="btn btn-danger ladda-button" data-style="slide-left">
                        <span class="ladda-label">Send images</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="hidden">
                <?php
                echo $this->formRow($imageForm->get('format'));
                $imageForm->remove('format');
                ?>
            </div>
            <div class="well">
                <?php
                $rowHelper->setLabelClass('col-sm-2 control-label');
                $rowHelper->setRowClass('form-group no-margin-buttom');
                foreach ($imageForm as $element): ?>
                    <?php if ($element->getName() === 'images'): ?>
                        <?php echo $this->formRow($element) ?>
                    <?php endif ?>
                <?php endforeach ?>
            </div>
        </div>
    </div>
    <input type="hidden" name="check" value="ok"/>
<?php echo $this->form()->closeTag(); ?>
<?php $this->inlineScript()->appendScript("
$('#tags').select2();
$('form').on('click', '.add-me', function(e) {
        var nameField = $($(e.target).attr('data-add-name'));
        var emailField = $($(e.target).attr('data-add-email'));
        if (typeof nameField !== 'undefined' && nameField !== false) {
            nameField.val('" . $escaper->escapeJs('' . $this->User('fullname')) . "');
        }
        if (typeof emailField !== 'undefined' && emailField !== false) {
            emailField.val('" . $escaper->escapeJs('' . $this->User('email')) . "');
        }
    })
    .find('.add-datetimepicker')
    .removeClass('.add-datetimepicker')
    .datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        locale: 'en-au',
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-arrow-up',
            down: 'fa fa-arrow-down',
            previous: 'fa fa-angle-left',
            next: 'fa fa-angle-right'
        }
    });
Ladda.bind('.ladda-button');
"); ?>