<?php
/** @var \Zend\Form\Element $element */
$addMe = $element->getOption('add-me');
$skip = $element->getOption('skip-group');
$skip = $skip ?: false;
$addAttr = array();
if (null !== $addMe) {
    if (isset($addMe['name'])) {
        if ($addMe['name'] === 'this') {
            if ($element->hasAttribute('id')) {
                $id = $element->getAttribute('id');
            } else {
                $id = str_replace(array('[', ']', '.'), '', $element->getName());
                $element->setAttribute('id', $id);
            }
            $addMe['name'] = '#' . $id;
        }
        $addAttr[] = 'data-add-name="' . $addMe['name'] . '"';
    }
    if (isset($addMe['email'])) {
        $addAttr[] = 'data-add-email="' . $addMe['email'] . '"';
    }
}
$addAttr = implode(' ', $addAttr);
?>
<?php if (!$skip): ?>
<div class="input-group">
    <?php endif; ?>
    <?php echo $this->formInput($element); ?>
    <span class="input-group-btn">
        <button class="btn btn-default add-me" title="Insert my name here" type="button" <?php echo $addAttr ?>>Me
        </button>
    </span>
    <?php if (!$skip): ?>
</div>
<?php endif; ?>
