<?php $dismissClass = ($this->closeButton) ? ' alert-dismissable' : '' ?>
<div class="alert alert-<?php echo $this->type . $dismissClass ?> fade in">
    <?php if ($this->closeButton): ?>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><?php endif ?>
    <span><?php echo $this->message ?></span>
</div>