<?php
/** @var \Zend\Form\Element\Date $element */
$attrs = $element->getAttributes();
$data = array();
foreach ($attrs as $key => $attr) {
    if (strpos($key, 'data') === 0) {
        $data[$key] = $attr;
        unset($attrs[$key]);
    }
}
$data['data-date-week-start'] = 1;
$element->clearAttributes()->setAttributes($attrs);
$data  = $this->FormRow()->createAttributesString($data);
$addTo = $element->getOption('add-to');
?>
<div class="input-group date add-datepicker" <?php echo $data ?>>
    <?php echo $this->formInput($element)?>
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>
<?php if (null !== $addTo):
    $id = '';
    if ($element->hasAttribute('id')) {
        $id = $element->getAttribute('id');
    } else {
        $id = str_replace(array('[',']','.'),'',$element->getName());
    }
    ?>
    <?php $addId = $id . '-add'?>
<?php //End of external div (not a god practice) ?>
</div>
<div class="col-sm-2" id="<?php echo $addId?>">
    <div class="btn-group">
        <input type="button" value="+6m" class="btn btn-success">
        <input type="button" value="+1y" class="btn btn-success">
    </div>
    <?php $this->inlineScript()->captureStart();?>
        $('#<?php echo $addId?>').on('click', 'input', function(){
            var sent = $('#<?php echo $id ?>').val();
            if (!sent) {
                sent = $('<?php echo $addTo ?>').val();
            }
            if (!sent) {
                return;
            }
            var add = $(this).val() == '+1y' ? 12 : 6;
      <?php //TODO: find nicer way to parse the date string based on the format ?>
            var parts = sent.split('.');
            var startDate = new Date(parts[2], parts[1], parts[0]);
            startDate.setMonth((startDate.getMonth() - 1) + add);
            $('#<?php  echo $id?>').parent().datepicker('setDate', startDate).datepicker('update');
        });
    <?php $this->inlineScript()->captureEnd();?>
<?php endif ?>
<?php
$this->headScript()->appendFile($this->basePath() . '/js/bootstrap-datepicker.js?v=' . KOTKA_BUILD);
