<?php
/** @var \Zend\Form\Element\Date $element */
$attrs = $element->getAttributes();
$attrs['data-date-locale'] = 'en-au';
$element->clearAttributes()->setAttributes($attrs); ?>
    <div class='input-group date add-datetimepicker'>
        <?php echo $this->formInput($element) ?>
        <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
    </span>
    </div>
<?php
$this->headScript()->prependFile($this->basePath() . '/js/moment.min.js?v=' . KOTKA_BUILD);
$this->headScript()->appendFile($this->basePath() . '/js/bootstrap-datetimepicker.js?v=' . KOTKA_BUILD);
