<?php /** @var \Kotka\Form\Element\Special $element */ ?>
<div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="input-group">
        <div class="form-control uneditable-input span3" data-trigger="fileinput"><i
                class="fa fa-file fileinput-exists"></i>&nbsp;<span class="fileinput-filename"></span></div>
        <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span
                class="fileinput-exists">Change</span><?php echo $this->formFile($element) ?></span>
        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
</div>