<?php
/** @var \Zend\Form\Element $element */
$prefix = $element->getOption('prefix');
$suffix = $element->getOption('suffix');
$type = $element->getOption('type');
$type = $type === null ? 'default' : $type;
?>
<?php if ($prefix !== null): ?>
    <span class="input-group-addon">
        <?php echo $prefix ?>
    </span>
<?php endif ?>
<?php echo $this->formInput($element); ?>
<?php if ($suffix !== null): ?>
    <span class="input-group-addon">
        <?php echo $suffix ?>
    </span>
<?php endif ?>

