#viewer .row
{
  margin-bottom: 0.3em;
}

#viewer .view-label
{
  font-weight: bold;
}

#viewer .unreliable
{
  color: #d00;
}


#viewer .onloan
{
  color: #090;
  margin-bottom: 1em;
}

#viewer .navigation-links {
  position: fixed;
  bottom: 10px;
  right: 15px;
}

#viewer .navigation-links .disabled {
  color: #fff;
}

#viewer .popover
{
  min-width: 330px;
  max-width: 700px;
  width: 100%;
  @media (min-width: @screen-sm-min) {
    width: 120%;
  }
}

.view-img {
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.gathering .map {
  height: 430px;
}

.data-row {
  border-bottom: 1px dotted #eee;
}

.tree ul {
  padding: 0 0 0 20px;
}

.tree li {
  margin: 0px 0;

  list-style-type: none;
  position: relative;
  padding: 1px 5px 0px 3px;
}

.tree li::before{
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  right: auto;
  left: -10px;
  border-left: 1px solid #ccc;
  bottom: 10px;
}
.tree li::after{
  content: '';
  position: absolute;
  top: 10px;
  width: 15px;
  height: 20px;
  right: auto;
  left: -10px;
  border-top: 1px solid #ccc;
}
.tree li a{
  display: inline-block;
  text-decoration: none;
}

/*Remove connectors after last child*/
.tree li:last-child::before{
  height: 10px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*.tree li a:hover, .tree li a:hover+ul li a {
  background: #fafafa;
}*/
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

.gathering {
  .marked-map {
    padding-bottom: 10px;
    text-align: center;
  }

  .map-popover {
    position: relative;
  }
}