/* jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.2.7
 */
@top-position: 33px;
#growls {
  z-index: 50000;
  position: fixed; }
#growls.default {
  top: @top-position;
  right: 10px; }
#growls.tl {
  top: @top-position;
  left: 10px; }
#growls.tr {
  top: @top-position;
  right: 10px; }
#growls.bl {
  bottom: 10px;
  left: 10px; }
#growls.br {
  bottom: 10px;
  right: 10px; }
#growls.tc {
  top: @top-position;
  right: 10px;
  left: 10px; }
#growls.bc {
  bottom: 10px;
  right: 10px;
  left: 10px; }
#growls.tc .growl, #growls.bc .growl {
  margin-left: auto;
  margin-right: auto; }

.growl {
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.growl.growl-incoming {
  opacity: 0;
  filter: alpha(opacity=0); }
.growl.growl-outgoing {
  opacity: 0;
  filter: alpha(opacity=0); }
.growl.growl-small {
  width: 200px;
  padding: 5px;
  margin: 5px; }
.growl.growl-medium {
  width: 250px;
  padding: 10px;
  margin: 10px; }
.growl.growl-large {
  width: 300px;
  padding: 15px;
  margin: 15px; }
.growl.growl-default {
  color: #FFF;
  background: @gray-dark; }
.growl.growl-error {
  color: #fff;
  background: @brand-danger; }
.growl.growl-notice {
  color: #fff;
  background: @brand-success; }
.growl.growl-warning {
  color: #fff;
  background: @brand-warning; }
.growl .growl-close {
  cursor: pointer;
  float: right;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: helvetica, verdana, sans-serif; }
.growl .growl-title {
  font-size: 18px;
  line-height: 24px; }
.growl .growl-message {
  font-size: 14px;
  line-height: 18px; }
