/* Common to all pages */
a:focus {
  outline: 0;
}

textarea {
  overflow-x: hidden;
}

.top-buffer-1 {
  margin-top: 1em;
}
.top-buffer-2 {
  margin-top: 2em;
}

.indented-2 {
  margin-left: 2em;
}

.tooltip-inner {
  min-width: 200px;
  max-width: 300px;
}
.tooltip {
  z-index: 30000;
}​

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (min-width: @screen-sm-min) {
  .no-gutter {
    padding-left:0;
  }
  .no-gutter-right {
    padding-right: 0;
  }
  .no-gutter-top {
    padding-top: 0;
    margin-top: 0;
  }
}

.required {
  position: relative;
  color: @brand-danger;
  font-size: 8px;
  margin: 7px 0 0 -5px;
  display: inline-block;
  float: left;
  width: 1px;
}

.form-help {
  position: absolute;
  margin:7px 0 0 -7px;
}

.form-group {
  margin-bottom: 4px
}

.help, .form-help {
  color: @brand-info;
}

/* Specimen specific */
.advanced {
  display: none;
}

.advanced-mark {
  border: 2px solid #900;
}

.popover-content .alert {
  margin-bottom: 0;
}

#specimenImageView
{
  margin: 10px 0;
  overflow: hidden;
  max-width: 140px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0 0 5px 0;
    }
  }
}

.view-header {
  padding-bottom: ((@line-height-computed / 4) - 1);
  margin: @line-height-computed 0 (@line-height-computed / 2);
  h1 {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}


.select2-container a {
  color: @gray;

}

.select2-container a:hover {
  text-decoration: none;
}

.due_ok {
  color:#555;
}

.due_late {
  background-color:#fcc;
}

.due_verylate {
  background-color:red;
  color:#fff;
}

#main {
  margin-top: -18px;
  margin-bottom: 60px;
  padding: 5px 0 0 0;
  background-color: #fff;
  min-height: 300px;
/*  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 0 3px 0 #000;*/
}

#main-nav {
  //background-color: rgba(30,30,30,0.8);
  background-image: linear-gradient(to bottom, #3f3f3f 0%, #222222 100%);
}

footer {
  background-color: #222;
  padding: 20px 10px 10px 10px;
  color: @gray-light;
  a {
    color: #999;
  }
}

@media (max-width: @screen-xs-max) {
  #main {
    margin: 0;
  }
}

@media (min-width: @screen-sm) {
  .pull-right-sm {
    float: right;
  }
  #transaction-transaction #status {
    position: absolute;
    width: 600px;
    margin: -46px 0 0 26px;
  }
}

#HRATransaction #viewer {
  width: 100%;
}

@media (min-width: @screen-md) {
  .pull-right-md {
    float: right;
  }
  #transaction-transaction #status {
    position: absolute;
    width: 600px;
    margin: -46px 0 0 26px;
  }
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  width: 260px;
  margin-top: 0;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: @well-bg;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: @brand-primary;
  background-color: transparent;
  border-left: 1px solid @brand-primary;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.bs-sidebar .nav .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 40px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: @screen-md) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 20%;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: @screen-lg) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 21%;
  }
}

/*
 * ---------------------------------------------------------------------------------------
 * Forms generic
 *
 */
label {
  font-weight: normal;
}

.form-group {
  //margin-bottom: 5px;
}

.input-group-addon, .input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: top;
}

/*
 * ---------------------------------------------------------------------------------------
 * Specimen forms
 * 
 */


.panel-group .panel-heading+.panel-collapse .panel-body
{
  border-top: none;
}

.well-sm
{
  border-radius: 0;
}

// close cross
.close
{
  opacity: 0.5;  
}

.close:hover
{
  opacity: 1;
  color: #d00;  
}

.add-tab
{
  padding-top: 0.4em;
  margin-left: 1.2em;
  position: relative;
  top: -0.4em;
}

.add-tab-below
{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 0.3em 0.5em;
  border-radius: 4px;
}
.add-tab-below:hover
{
  background-color: #449d44;
  color: #fff;
  text-decoration: none;
}

// Partial (repeating) panels

@opacity: 0.05;
@opacityMap: 0.1;
@opacityHeading: 0.15;

.partial-gathering,
.partial-unit,
.partial-identification,
.partial-type
 {
  background-color: rgba(0,0,0,@opacity);
 }

.panel-default
{
//  border: 2px solid rgba(0,0,0,@opacityHeading);
  border: 0;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.6);
}

 .panel-default>.panel-heading
 {
  background-color: rgba(0,0,0,@opacityHeading);
  border-color: rgba(0,0,0,@opacityHeading);
 }

// Colors for different partial panels
// colors from http://www.theorange.co/blog/colorful-modern-abstract-city-maps-by-jazzberry-blue
@colorGathering: rgba(155,123,84,@opacityHeading);
.partial-gathering>.panel-heading
{
  background-color: @colorGathering;
  border-color: @colorGathering;
}
/*
.partial-gathering
{
   border: 2px solid @colorGathering;
}
*/

@colorUnit: rgba(254,90,0,@opacityHeading);
.partial-unit>.panel-heading
{
  background-color: @colorUnit;
  border-color: @colorUnit;
}

@colorIdentification: rgba(166,138,2,@opacityHeading);
.partial-identification>.panel-heading
{
  background-color: @colorIdentification;
  border-color: @colorIdentification;
}

@colorType: rgba(15,159,132,@opacityHeading);
.partial-type>.panel-heading
{
  background-color: @colorType;
  border-color: @colorType;
}


// Coordinates area
.well
{
  background-color: rgba(152,166,255,@opacityMap); // blue
  background-color: rgba(0,0,0,@opacityMap); // blue
  border: 0;
}

// Emphasize verbatim fields
.MYLegVerbatim,
.MYDateVerbatim,
.MYLocalityVerbatim,
.MYLabelsVerbatim,
.MYTaxonVerbatim,
.MYCoordinatesVerbatim,
.MYDetVerbatim
{
  background: #eee0ca url('/img/paper-bgr.jpg') top left repeat;
}

/*
 * ---------------------------------------------------------------------------------------
 * Specimen search
 *
 */
#table_search .input-group-addon, #table_search .input-group-btn {
  vertical-align: top;
}


/*
 * ---------------------------------------------------------------------------------------
 * General styles
 * 
 */
a
{
  color: #006cc9;
}


a:hover,
a:focus
{
  color: #004f93;
}

.navbar-inverse .navbar-nav>li>a
{
  color: #ccc;
}
.navbar-inverse .navbar-brand
{
  color: #ccc;
}


.table-hover tr:hover>td
{
  color: #000;
}

.no-margin-buttom {
  margin-bottom: 0 !important;
}

.margin-top
{
  margin-top: 1em;
}

#table_search .message.error
{
  font-size: 110%;
  color: #d00;
  margin-left: 3em;
  margin-bottom: 2em;
}



.basictable
{
  border-collapse: collapse;
  margin-bottom: 1em;
  text-align: right;
  width: 100%;

  td, th
  {
    padding: 0.2em;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
  }
  th
  {
    text-align: left;
    padding-right: 0.5em;
    background-color: #eee;
    border-bottom: 3px solid #ccc;
  }
}

.total-row td
{
  background-color: @colorType;
}

.title-cell
{
  text-align: left;
}


/*
 * ---------------------------------------------------------------------------------------
 * Transactions
 *
 */

// Emphasize empty status field
/*
#form_loans [data-columnuniqueid="Status"]:empty
{
  background-color: #cbebc9;
}
*/

@okColor: #cfc;
@noteColor: #ffc;
@warningColor: #fcc;
@neutralColor: #eef;

#transacsstion-specimens {
  .buttons {
    padding: 43px 0 0 0
  }
  .wrap, .specimen {
    display: inline;
  }

   .well
   {
     line-height: 200%;
   }

  .wrap
  {
    color: #ddd;
  }

  .specimen
  {
    white-space: nowrap;
    color: #000;
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 4px;
    background-color: #fff;

    a
    {
      color: @link-color;
      padding: 3px;
      margin: -3px;
    }
  }

  .specimen:hover
  {
    background-color: #ccffcc;
  }

}

#item-toggle {
  margin-top: 5px;
}

#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

#HRATransaction.marking .wrap,
#HRATransaction.marking .wrap a {
  cursor: crosshair;
}

// Loans
// Specimens on loan, expiring
.type-loan.balance-negative.due-expiring td,
.expiring
{
  background-color: @noteColor !important;
}
// Specimens on loan, late
.type-loan.balance-negative.due-negative td,
.expired
{
  background-color: @warningColor !important;
}
// Specimens returned
.type-loan.balance-0 td,
.returned
{
  background-color: @okColor !important;
//  color: #ccc;
}

.type-exchange td,
.type-gift td,
.gift-or-exchange
{
  background-color: @neutralColor !important;
}

#color-explanations
{
  margin: 1em 0 2em 0;
}

#color-explanations span
{
  margin-left: 1em;
  padding: 0.3em;
  border: 1px solid #ccc;
}


// Type dropdown
.form-control [value="HRA.transactionTypeLoanIncoming"],
.form-control [value="HRA.transactionTypeLoanOutgoing"]
{
  background-color: @okColor;
}

.form-control [value="HRA.transactionTypeLoanOutgoing"],
.form-control [value="HRA.transactionTypeGiftOutgoing"],
.form-control [value="HRA.transactionTypeExchangeOutgoing"]
{
  text-align: right;
}


// Short fields
// date field width cannot edited this easily
//#transactionRequestReceived,
#externalTransactionID,
#oldLoanID,
//#transactionSent,
//#dueDate,
//#receiptReturned
{
  width: 15em;
}

#sentParcels
{
  width: 5em;
}

@specimensPadding: 0.5em;

#transaction-specimens
{
  position: relative;
  padding-top: (@specimensPadding + 0.7em);
  background-color: #f1f1f1;
  padding: @specimensPadding;
  margin-left: -(@specimensPadding);
  border-radius: 4px;
  margin-bottom: 1em;

  -webkit-box-shadow: inset 1px 1px 7px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: inset 1px 1px 7px 0px rgba(0,0,0,0.6);
  box-shadow: inset 1px 1px 7px 0px rgba(0,0,0,0.6);
}

#transaction-specimens legend
{
  border-bottom: 0;
  position: absolute;
  top: (@specimensPadding - 0.2em);
  left: @specimensPadding;
}

// Clears overlapping alert with new transactions
#transaction-specimens .alert-info
{
  margin-top: (@specimensPadding * 5);
}

#add-specimens
{
  margin-top: 2em;
}

/*
 * ---------------------------------------------------------------------------------------
 * Documentation
 *
 */

.documentation-body dt
{
  margin-top: 1em;
  font-size: 120%;
  border-bottom: 1px solid #ddd;
}


.documentation-body dd
{
  margin-left: 1em;
}


.documentation-body .row
{
  margin-top: 0.5em;
}

.documentation-body .morelink
{
  cursor: pointer;
  color: #009;
  text-decoration: underline;
}

.documentation-label
{
  font-weight: bold;

  em
  {
    font-weight: normal;
    font-style: normal;
  }
}

.documentation-error .documentation-label
{
  color: #d00;
}

.documentation-warning .documentation-label
{
  color: #f80;
}

.documentation-database
{
  color: #999;
}

/* Header color for dev & test sites  */
body#test
{
  #main-nav
  {
    background-image: linear-gradient(to bottom, #00c71a 0%, #222222 100%);
  }
  .bs-footer
  {
    background-color: #173f1c;
  }
}

#error-stacktrace
{
  color: #999 !important;
  margin-top: 3em;
}

#error-stacktrace pre
{
    color: #999 !important;
}

#transaction-specimen-status-buttons {
  width: 117px;
  &.affix {
    top: 0;
  }
  &.affix-bottom {
    position: relative;
  }
  #button-delete {
    margin-top: 1.5em;
  }
  #item-toggle {
    .active {
      position: relative; /* This is needed for the arrow to work */
      &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(60, 139, 60, 0);
        border-left-color: #3c8b3c;
        border-width: 12px;
        margin-top: -12px;
      }
    }
    .btn-danger.active:after {
      border-color: rgba(212, 63, 58, 0);
      border-left-color: #d43f3a;
    }
  }
}

#button-allreturned
{
  width: 13em;
  float: right;
  margin: 1em 0.5em;
}

#add-specimens .col-sm-10
{
  background-color: #eee;
  border-radius: 4px;
  padding-top: 1em;
}

#add-specimens .col-sm-10:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(238, 238, 238, 0);
  border-bottom-color: #eeeeee;
  border-width: 20px;
  margin-left: -20px;
}

#status .btn-group label
{
  font-size: 120%;
}

#status .btn-group label:nth-child(1).active
{
  background-color: #ffff00;
}
#status .btn-group label:nth-child(2).active
{
  background-color: #87cefa;
}
#status .btn-group label:nth-child(3).active
{
  background-color: #ccc;
}

td[data-columnuniqueid="errors"] em
{
  color: red;
}

/*
#labelFields-container,
#popover-labelfields
{
  display: none;
}
*/


#image-upload-help span
{
  color: #999;
}


#submit-area
{
  /*
  padding: 1em 1em 0.5em 1em;
  box-shadow: 0 0 15px 11px #333;

  margin: 0 -15px;
  background-color: #333;
  */

  padding: 1em 1em 0.5em 1em;

  margin: 0 -15px;
  background-color:rgba(51,51,51,0.75);

  width: 100%;
  z-index: 1111;
  position: fixed;
  bottom: 0;

  #save-info-group
  {
    display: none;
  }
}

// Round button
.btn-round {
  border-color: #fff !important;
  border-width: 3px;
  border-radius: 26px;
  box-shadow: 0 0 3px #888;
  padding: 0 4px;
}

// Utilities

.text-right {
  text-align: right !important;
}

.pull-up {
  margin-top: -46px !important;
}

.canvas-responsive {
  width: 100% !important;
  height: auto !important;
}

a .fa-edit.btn
{
  padding: 3px 4px;
  opacity: 0.7;
}

.navigation-link-prev,
.navigation-link-next
{
  background-color: #f0ad4e;
  border-color: #ec971f;
}
.navigation-link-next.disabled,
.navigation-link-prev.disabled
{
  background-color: #fff;
  border-color: #fff;
}

.navigation-link-prev:hover,
.navigation-link-next:hover
{
  background-color: #ec971f;
  border-color: #ec971f;
}

// Document Id in lists:
.document-uri-wrapper {
  .edit-link {
    padding: 2px 3px 0 0 !important;
  }
  .document-uri {
    display: inline-block;
    white-space:nowrap;
    font-size: 7px;
    line-height: 1.6em;
    span {
      font-size: 13px;
    }
  }
  tr td {
    padding: 0;
    margin: 0;
  }
}

.preparation {
  border-left: 2px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}