// important is required for the media queries to work!
.hidden-inline-xs {
  display: inline !important;
}
.hidden-inline-sm {
  display: inline !important;
}

.hidden-inline-md {
  display: inline !important;
}
.hidden-inline-lg {
  display: inline !important;
}


@media (max-width: @screen-xs-max) {
  .hidden-inline-xs {
    display: none !important;
  }
}

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
  .hidden-inline-sm {
    display: none !important;
  }
}

@media (min-width: @screen-md) and (max-width: @screen-md-max) {
  .hidden-inline-md {
    display: none !important;
  }
}

@media (min-width: @screen-lg) {
  .hidden-inline-lg {
    display: none !important;
  }
}