<?php if ($this->status === 'waiting' && $this->queue === 0): ?>
    <h1>You have not exported anything</h1>
    <p>
        You can make an export from <a href="/specimens/search">search page</a> and then return here for the exported file.
    </p>
<?php elseif ($this->status === 'waiting'): ?>
    <h1>Waiting for free spot in the export queue</h1>
    <p>
        This can take a while if there is a long queue or huge items in the queue
        (currently <?php echo $this->queue ?> item(s) in queue).<br>
        If there is a long queue you can return to this page at any later time.
    </p>
<?php elseif ($this->status === 'exporting'):?>
    <h1>Excel export</h1>
    <p>
        Generating excel...
    </p>
    <p>
        This can take several minutes depending on how many specimen where exported. You can safely close this window and return to this page when it's done.
    </p>
<?php elseif ($this->status === 'done'):?>
    <h1>Excel export</h1>
    <!--<p>You can download the wanted file <a href="/tools/export-download">here</a>.</p>-->
<?php endif ?>
<?php if($this->error): ?>
    <div class="alert alert-danger">
        <p>
            Kotka was unable to generate excel! Please try again and if the problem persists
            contact <a href="mailto:kotka@luomus.fi?Subject=Export%20error">Kotka support</a>
        </p>
    </div>
<?php endif ?>
<?php echo $this->content ?>