<?php
$this->headTitle('Label designer');
$metadata = $this->metadata('MY.document');
$labelHelper = new \Kotka\Model\Label\Helper();

$this->headLink()
    ->prependStylesheet($this->basePath() . '/css/kotka.css?v=' . KOTKA_BUILD);
$this->headScript()
    ->prependFile('https://cdn.laji.fi/label-designer/4.0.10/label-designer.js')
    ->prependFile($this->basePath() . '/js/spin.min.js?v=' . KOTKA_BUILD)
    ->prependFile('https://polyfill.io/v3/polyfill.js?features=es5,es6,es7&flags=gated')
    ->prependFile('https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/custom-elements-es5-adapter.js');

function utf8ize($mixed) {
    if (is_array($mixed)) {
        foreach ($mixed as $key => $value) {
            $mixed[$key] = utf8ize($value);
        }
    } else if (is_string ($mixed)) {
        return iconv('UTF-8', 'UTF-8//TRANSLIT', $mixed);
    }
    return $mixed;
}

?>
<style>
    html, body, .container, .container-fluid, #main {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #main {
        height: calc(100% - 42px);
    }
    #main {
        margin-top: -18px;
    }
    .label-editor-window {
        border: none;
    }
</style>
<div class="container">
    <label-designer></label-designer>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    var availableFields = [
        { field: 'uri', content: 'http://tun.fi/ID', label: 'URI - QRCode', type: 'qr-code' },
        { field: 'uri', content: 'http://tun.fi/ID', label: 'URI', type: 'uri' },
        { field: 'domain', label: 'Domain', type: 'domain' },
        { field: 'id', label: 'ID', type: 'id' },
        { label: 'Free text', content: 'Free text', type: 'text'},
        { field: 'taxon', label: 'Taxon' },
        { field: 'taxon_accepted', label: 'Taxon (accepted)' },
        { field: 'taxonVerbatim', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.taxonVerbatim')) ?>' },
        { field: 'author', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.author')) ?>' },
        { field: 'author_accepted', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.author')) ?> (accepted)' },
        { field: 'taxonRank', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.taxonRank')) ?>', valueMap:  <?php echo json_encode($this->SelectOptions('MY.taxonRank')) ?> },
        { field: 'genusQualifier', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.genusQualifier')) ?>'},
        { field: 'speciesQualifier', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.speciesQualifier')) ?>'},
        { field: 'collectionID', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.collectionID')) ?>', valueMap:  <?php echo json_encode($this->SelectOptions('MY.collectionID')) ?> },
        { field: 'infraRank', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.infraRank')) ?>', valueMap:  <?php echo json_encode($this->SelectOptions('MY.infraRank')) ?> },
        { field: 'infraEpithet', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.infraEpithet')) ?>'},
        { field: 'infraAuthor', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.infraAuthor')) ?>'},
        { field: 'publication', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.publication')) ?>'},
        { field: 'associatedTaxa', label: 'Associated taxa', isArray: true },
        { field: 'identificationNotes', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.identificationNotes')) ?>'},
        { field: 'measurement', label: 'measurement', isArray: true },
        { field: 'DBH', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.DBH')) ?>'},
        { field: 'additionalIDs', label: 'additionalIDs', isArray: true },
        { field: 'observationID', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.observationID')) ?>'},
        { field: 'sex', label: 'sex', valueMap: <?php echo json_encode($this->SelectOptions('MY.sex')) ?> },
        { field: 'age', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.age')) ?>'},
        { field: 'lifeStage', label: 'lifeStage', valueMap:  <?php echo json_encode($this->SelectOptions('MY.lifeStage')) ?> },
        { field: 'country', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.country')) ?>'},
        { field: 'municipality', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.municipality')) ?>'},
        { field: 'locality', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.locality')) ?>'},
        { field: 'localityDescription', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.localityDescription')) ?>'},
        { field: 'localityVerbatim', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.localityVerbatim')) ?>'},
        { field: 'habitatClassification', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.habitatClassification')) ?>'},
        { field: 'habitatDescription', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.habitatDescription')) ?>'},
        { field: 'biologicalProvince', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.biologicalProvince')) ?>'},
        { field: 'administrativeProvince', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.administrativeProvince')) ?>'},
        { field: 'originalCatalogueNumber', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.originalSpecimenID')) ?>'},
        { field: 'system', label: 'CoordinateSystem', valueMap: <?php echo json_encode($this->SelectOptions('MY.coordinateSystem')) ?>  },
        { field: 'coordinates_short', label: 'Coordinates (short)' },
        { field: 'coordinates_long', label: 'Coordinates (long)' },
        { field: 'latitude', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.latitude')) ?>'},
        { field: 'longitude', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.longitude')) ?>'},
        { field: 'wgs84Latitude', label: 'WGS84 latitude'},
        { field: 'wgs84Longitude', label: 'WGS84 longitude'},
        { field: 'wgs84Latitude_1dec', label: 'WGS84 latitude (1 decimal place)'},
        { field: 'wgs84Longitude_1dec', label: 'WGS84 longitude (1 decimal place)'},
        { field: 'wgs84Latitude_2dec', label: 'WGS84 latitude (2 decimal place)'},
        { field: 'wgs84Longitude_2dec', label: 'WGS84 longitude (2 decimal place)'},
        { field: 'wgs84Latitude_3dec', label: 'WGS84 latitude (3 decimal place)'},
        { field: 'wgs84Longitude_3dec', label: 'WGS84 longitude (3 decimal place)'},
        { field: 'wgs84Latitude_4dec', label: 'WGS84 latitude (4 decimal place)'},
        { field: 'wgs84Longitude_4dec', label: 'WGS84 longitude (4 decimal place)'},
        { field: 'wgs84Latitude_5dec', label: 'WGS84 latitude (5 decimal place)'},
        { field: 'wgs84Longitude_5dec', label: 'WGS84 longitude (5 decimal place)'},
        { field: 'coordinateRadius', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.coordinateRadius')) ?>'},
        { field: 'ipen', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.IPEN')) ?>'},
        { field: 'alt', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.alt')) ?>'},
        { field: 'depth', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.depth')) ?>'},
        { field: 'count', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.count')) ?>'},
        { field: 'populationAbundance', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.populationAbundance')) ?>'},
        { field: 'substrate', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.substrate')) ?>'},
        { field: 'decayStage', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.decayStage')) ?>'},
        { field: 'dateBegin', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.dateBegin')) ?>'},
        { field: 'dateEnd', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.dateEnd')) ?>'},
        { field: 'date_roman', label: 'Date with Roman'},
        { field: 'date_month', label: 'Date with abbr. month'},
        { field: 'dateVerbatim', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.dateVerbatim')) ?>'},
        { field: 'leg', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.leg')) ?>', isArray: true },
        { field: 'leg_short', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.leg')) ?> (short)'},
        { field: 'leg_swapped', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.leg')) ?> (firstname lastname)', isArray: true},
        { field: 'legID', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.legID')) ?>'},
        { field: 'legVerbatim', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.legVerbatim')) ?>'},
        { field: 'det', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.det')) ?>' },
        { field: 'detDate', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.detDate')) ?>' },
        { field: 'host', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.host')) ?>'},
        { field: 'ring', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.ring')) ?>' },
        { field: 'causeOfDeath', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.causeOfDeath')) ?>'},
        { field: 'sampleAdditionalIDs', label: 'Sample additional IDs', isArray: true },
        { field: 'exsiccatum', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.exsiccatum')) ?>' },
        { field: 'relationship', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.relationship')) ?>', isArray: true },
        { field: 'objectID', label: 'ObjectID' },
        { field: 'bold', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.bold')) ?>', isArray: true },
        { field: 'transcriberNotes', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.transcriberNotes')) ?>' },
        { field: 'sec', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.sec')) ?>' },
        { field: 'higherGeography', label: '<?php echo $this->escapeJs($metadata->getLabel('MY.higherGeography')) ?>' }
    ];
    var labelDesigner = document.querySelector('label-designer');
    var originalSetup = labelDesigner.setup;
    var cacheKey = '<?php echo $this->generic ? 'ld-generic' : 'ld-setup'?>';
    var colMapCacheKey = 'ld-col-map';
    labelDesigner.pdfLoading = false;
    labelDesigner.availableFields = availableFields;
    labelDesigner.defaultAvailableFields = availableFields;
    var defaultSetup = JSON.parse(JSON.stringify(Object.assign(originalSetup, {
        label: Object.assign(originalSetup.label, {
            'font-size.pt': 6
        }),
        labelItems: [
            {
                type: 'field',
                style: {
                    'width.mm': 10,
                    'height.mm': 10
                },
                x: 0,
                y: 0,
                fields: [
                    {field: 'uri', content: 'http://tun.fi/ID', label: 'URI - QRCode', type: 'qr-code'}
                ]
            },
            {
                type: 'field',
                style: {
                    'width.mm': 25,
                    'height.mm': 5
                },
                x: 11,
                y: 0,
                fields: [
                    {field: 'uri', content: 'http://tun.fi/ID', label: 'URI', type: 'uri'}
                ]
            }
        ]})));
    var currentSetup = defaultSetup;
    try {
        var setupData = window.localStorage.getItem(cacheKey);
        if (setupData) {
            currentSetup = JSON.parse(setupData);
        }
    } catch (e) {}
    labelDesigner.setup = currentSetup;
    labelDesigner.defaultSetup = defaultSetup;
    labelDesigner.allowLabelItemRepeat = true;
    <?php
            $data = [];
            $labels = isset($this->labels) ? $this->labels : [];
            foreach ($labels as $label) {
                $item = $label->asKeyValueArray();
                $item['uri'] = \Common\Service\IdService::getUri($label->getQname());
                $coordinateHelper = $this->Coordinate();
                $coordinateHelper->setType('long');
                $item['coordinates_long'] = $coordinateHelper(
                    $label->getSystem(),
                    $label->getLatitude(),
                    $label->getLongitude(),
                    $label->getWgs84Latitude(),
                    $label->getWgs84Longitude()
                );
                $coordinateHelper->setType('short');
                $item['coordinates_short'] = $coordinateHelper(
                    $label->getSystem(),
                    $label->getLatitude(),
                    $label->getLongitude()
                );
                $item['leg_swapped'] = $labelHelper->swapLeg($label->getLeg());
                $item['leg_short'] = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), true);
                $item['date_roman'] = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
                $item['date_month'] = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd(), 'abbr');
                if ($this->CurrentTaxon($label->getTaxon(), \Kotka\View\Helper\CurrentTaxon::TYPE_EXISTS)) {
                    $item['taxon_accepted'] = $this->CurrentTaxon($label->getTaxon());
                    $item['author_accepted'] = $this->CurrentTaxon($label->getTaxon(), \Kotka\View\Helper\CurrentTaxon::TYPE_AUTHOR);
                } else {
                    $item['taxon_accepted'] = $label->getTaxon();
                    $item['author_accepted'] = $label->getAuthor();
                }
                if ($label->getSystem() === 'MY.coordinateSystemYkj' && !(isset($item['wgs84Latitude']) && isset($item['wgs84Longitude']))) {
                  $wgs = \Kotka\Service\CoordinateService::ykj2wgs84($label->getLatitude(), $label->getLongitude());
                  if (!isset($item['wgs84Latitude'])) {
                    $item['wgs84Latitude'] = strval($wgs['N']);
                  }
                  if (!isset($item['wgs84Longitude'])) {
                    $item['wgs84Longitude'] = strval($wgs['E']);
                  }
                }
                if (isset($item['wgs84Latitude'])) {
                    $item['wgs84Latitude_1dec'] = $labelHelper->roundTo($item['wgs84Latitude'], 1);
                    $item['wgs84Latitude_2dec'] = $labelHelper->roundTo($item['wgs84Latitude'], 2);
                    $item['wgs84Latitude_3dec'] = $labelHelper->roundTo($item['wgs84Latitude'], 3);
                    $item['wgs84Latitude_4dec'] = $labelHelper->roundTo($item['wgs84Latitude'], 4);
                    $item['wgs84Latitude_5dec'] = $labelHelper->roundTo($item['wgs84Latitude'], 5);
                }
                if (isset($item['wgs84Longitude'])) {
                    $item['wgs84Longitude_1dec'] = $labelHelper->roundTo($item['wgs84Longitude'], 1);
                    $item['wgs84Longitude_2dec'] = $labelHelper->roundTo($item['wgs84Longitude'], 2);
                    $item['wgs84Longitude_3dec'] = $labelHelper->roundTo($item['wgs84Longitude'], 3);
                    $item['wgs84Longitude_4dec'] = $labelHelper->roundTo($item['wgs84Longitude'], 4);
                    $item['wgs84Longitude_5dec'] = $labelHelper->roundTo($item['wgs84Longitude'], 5);
                }
                array_push($data, $item);
            }
            $data = json_encode(utf8ize($data));
            echo '// Data parsing error code: ' . json_last_error() . "\n";
    ?>
    labelDesigner.data = <?php echo !empty($data) ? $data : '[]' ?>;
    var templates = [];
    <?php if ($this->generic): ?>
    templates.push({name: 'GenericLabel', setup: {"page":{"height.mm":297,"width.mm":210,"paddingTop.mm":10,"paddingLeft.mm":10,"paddingBottom.mm":10,"paddingRight.mm":10},"label":{"height.mm":10,"width.mm":35,"marginTop.mm":0.5,"marginLeft.mm":0.5,"marginBottom.mm":0.5,"marginRight.mm":0.5,"font-family":"Arial","font-size.pt":5},"border":"none","labelItems":[{"type":"field","style":{"width.mm":10,"height.mm":10},"x":0,"y":0,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI - QRCode","type":"qr-code"}],"_id":1},{"type":"field","y":5,"x":10.5,"fields":[{"label":"Text line 1","type":"text","content":"Text line 1","separator":"<br>"},{"label":"Text line 2","type":"text","content":"Text line 2","separator":"<br>"}],"style":{"height.mm":5,"width.mm":24},"_id":3},{"type":"field","y":0,"x":10.5,"fields":[{"field":"domain","label":"Domain", "content": "http://tun.fi/", "type":"domain","separator":"<br>"},{"field":"id","label":"ID","type":"id","content": "ID", "prefix":"&nbsp;&nbsp;&nbsp;&nbsp;","_menuOpen":true}],"style":{"height.mm":4.5,"width.mm":24},"_id":4}],"backSideLabelItems":[],"valueMap":{}}});
    <?php endif; ?>
    templates.push({name: 'Fungi', setup: {"page":{"height.mm":297,"width.mm":210,"paddingTop.mm":10,"paddingLeft.mm":10,"paddingBottom.mm":10,"paddingRight.mm":10},"label":{"height.mm":75,"width.mm":90,"marginTop.mm":1,"marginLeft.mm":1,"marginBottom.mm":1,"marginRight.mm":1,"font-family":"Arial","font-size.pt":8,"line-height":"1.15"},"border":"thin dashed #999","labelItems":[{"type":"field","style":{"width.mm":15,"height.mm":15},"x":74,"y":11,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI - QRCode","type":"qr-code"}],"_id":1},{"type":"field","y":0,"x":0,"fields":[{"field":"collectionID","label":"Collection","separator":"<br>","_menuOpen":true},{"field":"uri","label":"URI","type":"id","prefix":"Specimen ID ","styleAppliesTo":"content","style":{"font-weight":"bold"},"separator":"<br>","_menuOpen":true},{"field":"originalCatalogueNumber","label":"Original catalogue number","prefix":"Original catalogue number: ","_menuOpen":true,"style":{},"styleAppliesTo":"all"}],"style":{"height.mm":10,"width.mm":90,"text-align":"left"},"_id":3},{"type":"field","y":13,"x":0,"fields":[{"field":"taxon","label":"Species","separator":" ","_menuOpen":true,"style":{"font-style":"italic"}},{"field":"author","label":"Taxon author","style":{},"_menuOpen":true}],"style":{"height.mm":6,"width.mm":73,"font-size.pt":10},"_id":4},{"type":"field","y":20.719576,"x":0,"fields":[{"field":"det","label":"Det.","prefix":"Det. ","_menuOpen":true,"styleAppliesTo":"prefix","style":{"font-weight":"bold"}},{"field":"detDate","label":"Det date"}],"style":{"height.mm":5,"width.mm":73},"_id":5},{"type":"field","y":27,"x":0,"fields":[{"field":"country","label":"Country","style":{"font-weight":"bold"},"separatorAlways":false,"separator":", ","_menuOpen":true,"suffix":""},{"field":"biologicalProvince","label":"Biogeographical province","separator":", ","_menuOpen":true,"suffix":""},{"field":"municipality","label":"Municipality","separator":", ","_menuOpen":true,"suffix":"","separatorAlways":false},{"field":"locality","label":"Locality names","separatorAlways":false},{"field":"localityDescription","label":"Locality description","separator":"<br>","separatorAlways":true},{"field":"latitude","label":"Lat (N)","separator":", ","prefix":"Lat/Lon. ","styleAppliesTo":"prefix","style":{"font-weight":"bold"}},{"field":"longitude","label":"Lon (E)","separator":" ","_menuOpen":true,"style":{}},{"field":"system","label":"CoordinateSystem","valueMap":{"MY.coordinateSystemYkj":"Uniform grid (YKJ)","MY.coordinateSystemWgs84":"WGS84 and ETRS89, decimal degrees","MY.coordinateSystemWgs84dms":"WGS84 or ETRS89, degrees minutes (seconds)","MY.coordinateSystemKkj":"KKJ astekoord. = Finnish KKJ decimal (NOT PREFERRED)","MY.coordinateSystemEtrs-tm35fin":"ETRS-TM35FIN grid","MY.coordinateSystemDd":"Decimal degrees with unknown system (NOT PREFERRED)","MY.coordinateSystemDms":"Degrees minutes seconds, with unknown system (NOT PREF.)"},"prefix":"(","_menuOpen":true,"suffix":")","separator":"<br>","separatorAlways":true},{"field":"habitatDescription","label":"Habitat description","prefix":"Hab. ","_menuOpen":true,"style":{"font-weight":"bold"},"styleAppliesTo":"prefix","separator":"<br>","separatorAlways":true},{"field":"leg","label":"Leg","isArray":true,"prefix":"Leg. ","_menuOpen":true,"style":{"font-weight":"bold"},"styleAppliesTo":"prefix","separator":", ","join":"; "},{"field":"legID","label":"Collector's ID","prefix":"(","_menuOpen":true,"suffix":")","separator":"<br>","separatorAlways":true},{"field":"dateBegin","label":"Start date","prefix":"Date ","_menuOpen":true,"style":{"font-weight":"bold"},"styleAppliesTo":"prefix","separatorAlways":false,"separator":""},{"field":"dateEnd","label":"End date","prefix":"-","_menuOpen":true,"separator":""}],"style":{"height.mm":48,"width.mm":90},"_id":6}],"backSideLabelItems":[],"valueMap":{"system":{"WGS84 and ETRS89, decimal degrees":"WGS84"}}}});
    templates.push({name: 'InsectaDet', setup: {"page":{"height.mm":297,"width.mm":210,"paddingTop.mm":10,"paddingLeft.mm":10,"paddingBottom.mm":10,"paddingRight.mm":10},"label":{"height.mm":10,"width.mm":35,"marginTop.mm":1,"marginLeft.mm":1,"marginBottom.mm":1,"marginRight.mm":1,"font-family":"Arial","font-size.pt":4},"border":"none","labelItems":[{"type":"field","style":{"width.mm":10,"height.mm":10},"x":0,"y":0,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI - QRCode","type":"qr-code"}],"_id":1},{"type":"field","y":0,"x":11,"fields":[{"field":"domain","label":"Domain","type":"id","separator":"<br>"},{"field":"id","label":"ID","type":"id","prefix":"&nbsp;&nbsp;&nbsp;&nbsp;"}],"style":{"height.mm":4,"width.mm":24},"_id":2},{"type":"field","y":4,"x":11,"fields":[{"field":"taxon","label":"Species","separator":" ","style":{"font-style":"italic"},"_menuOpen":true},{"field":"sex","label":"sex","valueMap":{"MY.sexM":"M - Male","MY.sexF":"F - Female","MY.sexW":"W - Worker","MY.sexU":"U - Unknown","MY.sexN":"N - Not applicable","MY.sexX":"X - Gynandromorph","MY.sexE":"E - multiple","MY.sexC":"C - Conflicting"},"separator":"<br>","separatorAlways":true,"_menuOpen":true},{"field":"author","label":"Taxon author","separator":"<br>","_menuOpen":true,"separatorAlways":true},{"field":"det","label":"Det.","separator":", ","_menuOpen":true,"suffix":"&nbsp;det."}],"style":{"height.mm":6,"width.mm":24},"_id":3}],"backSideLabelItems":[],"valueMap":{"sex":{"M - Male":"♂","F - Female":"♀"}}}});
    templates.push({name: 'Vertebrate', setup: {"page":{"height.mm":297,"width.mm":210,"paddingTop.mm":10,"paddingLeft.mm":10,"paddingBottom.mm":10,"paddingRight.mm":10},"label":{"height.mm":44,"width.mm":61,"marginTop.mm":1,"marginLeft.mm":1,"marginBottom.mm":1,"marginRight.mm":1,"font-family":"Arial","font-size.pt":7},"border":"thin dashed #999","labelItems":[{"type":"field","style":{"width.mm":15,"height.mm":15},"x":45,"y":1,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI - QRCode","type":"qr-code"}],"_id":1},{"type":"field","style":{"width.mm":43,"height.mm":4,"font-weight":"bold"},"x":1,"y":1,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI","type":"id"}],"_id":2},{"type":"field","y":6,"x":1,"fields":[{"field":"originalCatalogueNumber","label":"Original catalogue number"}],"style":{"height.mm":4,"width.mm":43,"font-weight":"bold"},"_id":3},{"type":"field","y":17,"x":1,"fields":[{"field":"taxon","label":"Species","separator":"<br>","_menuOpen":true,"style":{"font-weight":"bold","font-size.pt":8},"separatorAlways":false},{"field":"author","label":"Taxon author","separator":"<br>","_menuOpen":true,"separatorAlways":true},{"field":"sex","label":"sex","valueMap":{"MY.sexM":"M - Male","MY.sexF":"F - Female","MY.sexW":"W - Worker","MY.sexU":"U - Unknown","MY.sexN":"N - Not applicable","MY.sexX":"X - Gynandromorph","MY.sexE":"E - multiple","MY.sexC":"C - Conflicting"},"separator":" ","_menuOpen":true},{"field":"age","label":"Age"}],"style":{"height.mm":10,"width.mm":59},"_id":4},{"type":"field","y":28,"x":1,"fields":[{"field":"country","label":"Country"},{"field":"municipality","label":"Municipality"},{"field":"locality","label":"Locality names","separator":"<br>","_menuOpen":true,"separatorAlways":true},{"field":"dateBegin","label":"Start date","separator":"","_menuOpen":true},{"field":"dateEnd","label":"End date","separator":"<br>","_menuOpen":true,"separatorAlways":true,"prefix":"-"},{"field":"leg","label":"Leg","isArray":true,"separator":"<br>","_menuOpen":true,"suffix":"&nbsp;leg.","separatorAlways":true},{"field":"ring","label":"Ring","prefix":"Ring:&nbsp;","_menuOpen":true}],"style":{"height.mm":16,"width.mm":59},"_id":5}],"backSideLabelItems":[],"valueMap":{"sex":{"":"","M - Male":"♂","F - Female":"♀"},"country":{"Finland":" ","FI":" ","Suomi":" "}}}});
    templates.push({name: 'Botanical', setup: {"page":{"height.mm":297,"width.mm":210,"paddingTop.mm":10,"paddingLeft.mm":10,"paddingBottom.mm":10,"paddingRight.mm":10},"label":{"height.mm":60,"width.mm":80,"marginTop.mm":2,"marginLeft.mm":2,"marginBottom.mm":2,"marginRight.mm":2,"font-family":"Times New Roman","font-size.pt":8},"border":"thin dashed #999","labelItems":[{"type":"field","style":{"width.mm":15,"height.mm":15},"x":65,"y":0,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI - QRCode","type":"qr-code"}],"_id":1},{"type":"field","style":{"width.mm":80,"height.mm":4,"text-align":"left"},"x":0,"y":56,"fields":[{"field":"uri","content":"http://tun.fi/ID","label":"URI","type":"id","prefix":"Specimen&nbsp;ID&nbsp;","_menuOpen":true}],"_id":2},{"type":"field","y":0,"x":0,"fields":[{"label":"Text line 1","type":"text","separator":"<br>","_menuOpen":true,"style":{"font-weight":"bold"},"content":"Text line 1"},{"label":"Text line 2","type":"text","separator":"<br>","_menuOpen":true,"content":"Text line 2"},{"label":"Text line 3","type":"text","content":"Text line 3"}],"style":{"height.mm":15,"width.mm":64,"text-align":"center"},"_id":3},{"type":"field","y":18,"x":0,"fields":[{"field":"taxon","label":"Species","separator":" ","_menuOpen":true,"style":{"font-style":"italic","font-size.pt":10}},{"field":"author","label":"Taxon author"}],"style":{"height.mm":4,"width.mm":80},"_id":4},{"type":"field","y":25,"x":0,"fields":[{"field":"country","label":"Country","separator":". "},{"field":"biologicalProvince","label":"Biogeographical province","separator":". "},{"field":"municipality","label":"Municipality","separator":". "},{"field":"locality","label":"Locality names","separator":". "},{"field":"localityDescription","label":"Locality description","separator":". "},{"field":"habitatDescription","label":"Habitat description","separator":"<br>","separatorAlways":true},{"field":"system","label":"CoordinateSystem","valueMap":{"MY.coordinateSystemYkj":"Uniform grid (YKJ)","MY.coordinateSystemWgs84":"WGS84 and ETRS89, decimal degrees","MY.coordinateSystemWgs84dms":"WGS84 or ETRS89, degrees minutes (seconds)","MY.coordinateSystemKkj":"KKJ astekoord. = Finnish KKJ decimal (NOT PREFERRED)","MY.coordinateSystemEtrs-tm35fin":"ETRS-TM35FIN grid","MY.coordinateSystemDd":"Decimal degrees with unknown system (NOT PREFERRED)","MY.coordinateSystemDms":"Degrees minutes seconds, with unknown system (NOT PREF.)"},"prefix":"Coordinates&nbsp;(","suffix":")","separator":" "},{"field":"latitude","label":"Lat (N)","prefix":"","suffix":"&nbsp;N"},{"field":"longitude","label":"Lon (E)","suffix":"&nbsp;E"}],"style":{"height.mm":15,"width.mm":79,"line-height":"1.5"},"_id":5},{"type":"field","y":41,"x":0,"fields":[{"field":"date_roman","label":"Date with Roman"}],"style":{"height.mm":4,"width.mm":17},"_id":6},{"type":"field","y":46,"x":18,"fields":[{"field":"leg","label":"Leg","isArray":true,"separator":"<br>","_menuOpen":true,"separatorAlways":true,"join":"; ","prefix":"leg.&nbsp;"},{"field":"det","label":"Det.","separator":" ","_menuOpen":true,"prefix":"det.&nbsp;"},{"field":"detDate","label":"Det date"}],"style":{"height.mm":9,"width.mm":62,"text-align":"right"},"_id":7}],"backSideLabelItems":[],"valueMap":{"system":{"WGS84 and ETRS89, decimal degrees":"wgs84dd","WGS84 or ETRS89, degrees minutes (seconds)":"wgs84dms","Uniform grid (YKJ)":"YKJ"}}}});

    labelDesigner.presets = templates;


    labelDesigner.addEventListener('pdfLoadingChange', function(event) {
        labelDesigner.pdfLoading = event.detail;
    });

    labelDesigner.addEventListener('html', function(event) {
        var xhr;
        if ('ActiveXObject' in window) {
            xhr = new ActiveXObject('Msxml2.XMLHTTP');
        } else {
            xhr = new XMLHttpRequest();
        }
        xhr.onreadystatechange = function(){
            if (this.readyState == 4){
                if (this.status == 200) {
                    saveAs(this.response,  event.detail.filename || 'labels.pdf');
                } else if (this.status == 413) {
                    alert('There were too many labels to print. Try making labels in a smaller batches and try again.');
                } else {
                    alert('Failed to create labels. Please try again in a few moments. If the error doesn\'t go away, please contact support.');
                }
            }
            labelDesigner.pdfLoading = false;
        };
        xhr.open('POST', 'https://laji.fi/api/html-to-pdf');
        xhr.responseType = 'blob';
        xhr.setRequestHeader("Content-Type", "text/plain");
        xhr.send(event.detail.html);
    });

    labelDesigner.addEventListener('setupChange', function(event) {
        try {
            window.localStorage.setItem(cacheKey, JSON.stringify(event.detail));
        } catch (e) {}
    });

    try {
        var colMapping = window.localStorage.getItem(colMapCacheKey);
        if (colMapping) {
            labelDesigner.fileColumnMap = JSON.parse(colMapping);
        }
    } catch (e) {}

    labelDesigner.addEventListener('fileColumnMapChange', function(event) {
        try {
            window.localStorage.setItem(colMapCacheKey, JSON.stringify(event.detail));
        } catch (e) {}
    });

    <?php $this->inlineScript()->captureEnd();?>
</script>
