<?php
$this->headTitle('Generic form');
/** @var \Kotka\Form\GenericLabel $form */
$form = $this->form;
$form->prepare();
$form->setAttribute('method', 'post');

$this->formRow()
    ->setLabelClass('col-sm-3 control-label no-gutter-right no-gutter')
    ->setElementClass('col-sm-9 ')
    ->setRowClass('form-group advanced-group');

$this->headScript()
    ->prependFile($this->basePath() . '/js/spin.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/collections.js?v=' . KOTKA_BUILD);

?>
<style>
    fieldset {
        padding: 0 1px 0 0;
    }

    .form-group {
        padding-top: 5px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="page-header">
                <h1>Generic form <?php echo $form->getName() ?></h1>
            </div>
            <?php echo $this->form()->openTag($form) ?>
            <?php foreach ($form as $elem) {
                if ($elem instanceof \Zend\Form\Fieldset) {
                    echo $this->partial('kotka/partial/fieldset', ['elem' => $elem]);
                } else {
                    echo $this->formRow($elem);
                }
            } ?>
            <div class="form-group advanced-group">
                <div class="col-sm-9 ">
                    <button name="create" type="submit" class="col-sm-offset-4 btn btn-primary ladda-button"
                            data-style="slide-left" id="generate" value="">Submit
                    </button>
                </div>
            </div>
            <?php echo $this->form()->closeTag($form); ?>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default toggle-json">json</button>
            <pre id="json" style="display: none">
<?php echo $this->json ?>
            </pre>
        </div>
    </div>
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $('.toggle-json').on('click', function () {
        $('#json').toggle();
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>