<?php if ($this->status === 'waiting'): ?>
    <h1>Waiting for excel to be processed</h1>
    <p>
        This can take while if there is a long queue or huge items in the queue
        (currently <?php echo $this->queue ?> item(s) in queue).<br>
        If there is a long queue you can return to this page at any time.
    </p>
<?php elseif ($this->status === 'validating'):?>
    <h1>Validating data</h1>
    <p>This can take several minutes...</p>
<?php elseif ($this->status === 'validation-error'):?>
    <h1>Data contains errors</h1>
<?php elseif ($this->status === 'importing'):?>
    <h1>Importing data...</h1>
    <p>This can take several minutes...</p>
<?php elseif ($this->status === 'done'):?>
    <h1>Done</h1>
    <p><strong>Please check</strong> the list of imported specimens below for any failed records:</p>
<?php endif ?>
<?php if($this->error): ?>
    <div class="alert alert-danger">
        Kotka was unable to save all the specimens! Please check the list below and try importing the failed ones again.
        If the problem persists contact <a href="mailto:kotka@luomus.fi?Subject=Import%20error">Kotka support</a>
    </div>
<?php endif ?>
<?php echo $this->content ?>