<?php
/**
 * @var $form \Zend\Form\Form
 */
$escaper = new Zend\Escaper\Escaper();
$this->headScript()->appendFile($this->basePath() . '/js/fileinput.js?v=' . KOTKA_BUILD);
$this->headTitle('Import data');
$form = $this->form;
$form->setAttribute('action', $this->url(
    'https/tools', array('action' => 'preview')
));
$form->prepare();

/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-5')
    ->setRowClass('form-group');

?>
<div class="page-header">
    <h1><?php echo $this->header ?></h1>
</div>
<?php echo $this->partial('kotka/partial/formTop', array('form' => $form)) ?>
<?php echo $this->errors ?>
<?php echo $this->html ?>

<?php /*
<div class="row">
    <div class="col-sm-8">
        <div class="alert alert-warning">
            <strong>Please note</strong> that our servers are experiencing heavy load periods and because of that server resources
            for the Kotka are very limited. We're working hard to find lasting solution to this problem, but until then
            import might not work as expected.<br>
            If you're getting blank page try to reducing the size of the excel or importing
            the file as text sheet.
        </div>
    </div>
</div>
 */ ?>

<div class="form-group">
    You can use <a href="<?php echo $this->url('excel', array('action' => 'create')) ?>">excel generator</a> to generate
    template for you. <br/>
    The file can contain max <?php echo \Kotka\Service\ImportService::MAX_EXCEL_ROW_SIZE ?> rows (split larger into several files).
</div>
<?php echo $this->form()->openTag($form); ?>
<?php foreach ($form as $element) {
    echo $this->formRow($element);
} ?>

<button type="submit" class="col-sm-offset-2 btn btn-primary ladda-button" name="kotka_return" data-style="slide-left">
    <span class="ladda-label">Validate and preview</span>
</button>
<?php echo $this->form()->closeTag(); ?>

<script>
    <?php $this->inlineScript()->captureStart();?>
    var $datatype = $("#datatype");
    var $organization = $("#organization");
    $datatype.on('change', function () {
        var $this = $(this);
        window.KotkaApp.setRemember('import-datatype', $this.val());
    });
    /*
     $organization.on('change', function () {
     var $this = $(this);
     window.KotkaApp.setRemember('import-organization', $this.val());
     });
     */
    $(':file').change(function () {
        $('#sheet-select').remove();
        var $this = $(this);
        if ($this.val() === '') {
            return;
        }
        var $form = $('#importExcel');
        var formData = new FormData($form[0]);
        var fileInput = $this[0];
        var file = fileInput.files[0];
        formData.append('import', file);
        $.ajax({
            url: '<?php echo $this->url('https/tools', array('action' => 'excelSheets')) ?>',  //Server script to process data
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.length < 2) {
                    return;
                }
                var $wrap = $('<div class="form-group" id="sheet-select">' +
                    '<label class="col-sm-2 control-label" for="organization">Excel sheet</label>' +
                    '<div class="col-sm-5"><select name="sheet" id="sheet" class="form-control">' +
                    '</select></div></div>');
                var $select = $wrap.find('#sheet');
                $.each(data, function (key, value) {
                    $select
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value));
                });
                $form.find('.fileinput').parent().parent().after($wrap);
            }
        });
    });

    init.push(function () {
        var val = window.KotkaApp.getRemember('import-datatype');
        if (val) {
            $datatype.val(val);
        }
        /*
         val = window.KotkaApp.getRemember('import-organization');
         if (val) {
         $organization.val(val);
         }
         */
    });

    Ladda.bind('.ladda-button');
    <?php $this->inlineScript()->captureEnd();?>
</script>
