<?php
$this->headLink()->prependStylesheet('/css/kotka.css?v=' . KOTKA_BUILD);
$escaper = new Zend\Escaper\Escaper();
$this->headTitle('Preview data');
$this->inlineScript()->appendScript("
    $('#labelFields').select2({
        allowClear: true,
    });
");
$guest = $this->User()->isGuest();
?>
<div class="page-header">
    <h1>Preview</h1>
</div>
<?php if ($this->hasErrors): ?>
    <?php echo $this->partial('kotka/partial/messages',
        array('type' => 'danger',
            'messages' => array('<strong>Data can not be saved</strong> because it contains error(s). Please correct the errors (highlighted below) and try again.'),
        ));
else :?>
    <div class="row">
        <div class="col-sm-8">
            <p>
                <strong>Validation succeeded!</strong> No errors were found from the
                data<?php echo $guest ? '.' : ', you can go ahead and save it.' ?><br/>
            </p>
            <?php if (!$guest): ?>
                <form action="<?php echo $this->url('https/tools', array('action' => 'saveJob')) ?>" method="get">
                    <div class="form-group" id="save">
                        <button class="btn btn-success ladda-button" <?php if ($this->hasErrors) echo "disabled"; ?>
                                type="submit" data-style="slide-left">
                            <span class="ladda-label">Save data</span>
                        </button>
                        <span>Saving can take some time to complete.</span>
                    </div>
                </form>
            <?php endif; ?>
        </div>
        <div class="col-sm-4 well">
            <form class="form-horizontal" action="<?php echo $this->url('https/tools', array('action' => 'labels')) ?>"
                  target="_blank" method="get">
                <?php $form = $this->print ?>
                <div class="form-group">
                    <div class="col-sm-7">
                        <?php echo $this->formElement($form->get('format')) ?>
                    </div>
                    <div class="col-sm-5">
                        <input class="btn btn-success btn-block" <?php if ($this->hasErrors) echo "disabled"; ?>
                               type="submit" value="Print">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <?php echo $this->formElement($form->get('labelFields')) ?>
                    </div>
                </div>
            </form>
        </div>
    </div>
<?php endif ?>
<?php /* Show data grid in all cases */ ?>
<?php if (isset($this->dataGrid)): ?>
    <?php echo $this->dataGrid ?>
<?php endif;
$this->inlineScript()->appendScript("Ladda.bind('.ladda-button');");
?>

