<div style="display: flex; flex-direction: column; height: calc(100vh - 100px); min-height: 450px">
    <h1>Welcome to QR Code Reader!</h1>

    <p>QR Code Reader is a mobile application, which scans QR Codes or barcodes from specimen labels, displays specimen data, and allows collection manager to edit the data instantly using Kotka user interface.</p>
    <p>To scan a QR code or a barcode, press the shutter icon and point the camera at a QR code or a barcode. Give the browser and the website the permission to use camera, if prompted. Change between views from the menu on the bottom right. To edit specimen data in Kotka or view sensitive data, you need to login.</p>
    <div style="flex: 1 0 auto"></div>
    <div style="max-width: 300px; margin-top: 20px;">
    <img style="max-width: 100%" src="//cdn.laji.fi/images/logos/FinBIF_ENG.png" />
    </div>
</div>