<?php
$this->headLink()->prependStylesheet('/css/kotka.css');
$escaper = new Zend\Escaper\Escaper();
$this->headTitle('Imported data');
?>
<style>
    .badge-success {
        background-color: darkgreen;
    }
    .badge-dange {
        background-color: darkred;
    }
    .user-log small {
        font-size: small;
    }
</style>
<noscript>
    You need to have javascript enabled to be able to see import status.
    You can manually refresh <a href="<?php echo $this->url('https/tools', array('action' => 'import-status')) ?>">this</a> page if you don't want to enable it
</noscript>
<div class="row">
    <div class="col-xs-1"><img id="ajax-loader" src="/img/ajax-loader.gif" style="padding:25px 0 0 50%;"></div>
    <div class="col-xs-9">
        <div id="import-status"></div>
    </div>
</div>


<script>
    <?php $this->inlineScript()->captureStart();?>
    var refresh = function() {
        var loader = $('#ajax-loader');
        loader.fadeIn();
        $.get('<?php echo $this->url('https/tools', array('action' => 'import-status')) ?>', function(data) {
            if (data.indexOf('<?php echo \Kotka\Job\ImportExcel::DONE_STRING ?>') !== -1) {
                clearInterval(status);
            }
            $('#import-status').html(data);
            loader.fadeOut();
        })
    };
    var status = setInterval(function() {
        refresh();
    }, <?php echo $this->queue === 0 ? 60000 : 5000 ?>);
    refresh();
    <?php $this->inlineScript()->captureEnd();?>
</script>
