<?php
$this->headTitle('Simple Statistics');
$stats = $this->stats;
?>
<div class="container">
    <h1>
        Simple Statistics
    </h1>

    <div class="row">
        <div class="col-md-7">
            <h2>Collections, which have their metadata in Kotka</h2>

            <table id="collections collectionsTable" class="basictable">
                <tr>
                    <th>Collection type</th>
                    <th>Number of</th>
                    <th>Resources in collections</th>
                    <th>Digitized resources ~</th>
                </tr>
                <?php $collections = $stats['collections']; ?>
                <tr class="total-row">
                    <td class="title-cell">All collections total</td>
                    <td><?php echo $collections['total']['records'] ?></td>
                    <td><?php echo $collections['total']['resources'] ?></td>
                    <td><?php echo $collections['total']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Specimen collections</td>
                    <td><?php echo $collections['specimens']['records'] ?></td>
                    <td><?php echo $collections['specimens']['resources'] ?></td>
                    <td><?php echo $collections['specimens']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Living collections</td>
                    <td><?php echo $collections['living']['records'] ?></td>
                    <td><?php echo $collections['living']['resources'] ?></td>
                    <td><?php echo $collections['living']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Monitoring collections</td>
                    <td><?php echo $collections['monitoring']['records'] ?></td>
                    <td><?php echo $collections['monitoring']['resources'] ?></td>
                    <td><?php echo $collections['monitoring']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Free-form observation collections</td>
                    <td><?php echo $collections['observations']['records'] ?></td>
                    <td><?php echo $collections['observations']['resources'] ?></td>
                    <td><?php echo $collections['observations']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Data from publication collections</td>
                    <td><?php echo $collections['publicationdata']['records'] ?></td>
                    <td><?php echo $collections['publicationdata']['resources'] ?></td>
                    <td><?php echo $collections['publicationdata']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Publication collections</td>
                    <td><?php echo $collections['publication']['records'] ?></td>
                    <td><?php echo $collections['publication']['resources'] ?></td>
                    <td><?php echo $collections['publication']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Mixed collections</td>
                    <td><?php echo $collections['mixed']['records'] ?></td>
                    <td><?php echo $collections['mixed']['resources'] ?></td>
                    <td><?php echo $collections['mixed']['digitized'] ?></td>
                </tr>
                <tr>
                    <td class="title-cell">Other collections</td>
                    <td><?php echo $collections['other']['records'] ?></td>
                    <td><?php echo $collections['other']['resources'] ?></td>
                    <td><?php echo $collections['other']['digitized'] ?></td>
                </tr>
            </table>
            <p>Note that all digitized resources are not necessarily in Kotka.</p>

            <div class="row">
                <div class="col-md-6">

                    <h2>Specimens in Kotka</h2>
                    <?php $specimens = $this->stats['specimens']; ?>
                    <table id="specimens specimensTable" class="basictable">
                        <tr>
                            <th>Specimen type</th>
                            <th>Amount</th>
                        </tr>
                        <tr class="total-row">
                            <td class="title-cell">Total specimens:</td>
                            <td><?php echo $specimens['total'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Botanical specimens:</td>
                            <td><?php echo $specimens['botanyspecimen'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Zoological specimens:</td>
                            <td><?php echo $specimens['zoospecimen'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Paleontological specimens:</td>
                            <td></td>
                        </tr>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <h2>Transactions in Kotka</h2>
                    <?php $transactions = $this->stats['transactions']; ?>
                    <table id="transactions transactionsTable" class="basictable">
                        <tr>
                            <th>Transaction type</th>
                            <th>Amount</th>
                        </tr>
                        <tr class="total-row">
                            <td class="title-cell">Total transactions:</td>
                            <td><?php echo $transactions['total'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Incoming loans:</td>
                            <td><?php echo $transactions['loanIncoming'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Incoming gifts:</td>
                            <td><?php echo $transactions['giftIncoming'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Incoming exchanges:</td>
                            <td><?php echo $transactions['exchangeIncoming'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Outgoing loans:</td>
                            <td><?php echo $transactions['loanOutgoing'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Outgoing gifts:</td>
                            <td><?php echo $transactions['giftOutgoing'] ?></td>
                        </tr>
                        <tr>
                            <td class="title-cell">Outgoing exchanges:</td>
                            <td><?php echo $transactions['exchangeOutgoing'] ?></td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-5">
            <h2>Collections, which have specimens in Kotka</h2>
            <?php
            $collections = $this->stats['specimens-in-collection'];
            ksort($collections);
            ?>
            <table id="transactions transactionsTable" class="basictable">
                <tr>
                    <th>Collection</th>
                    <th>Amount</th>
                </tr>
                <?php foreach ($collections as $collection => $amount): ?>
                    <tr>
                        <td class="title-cell"><?php echo $collection ?></td>
                        <td><?php echo $amount ?></td>
                    </tr>
                <?php endforeach ?>
            </table>
        </div>
    </div>
</div>