<script src="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js"></script>
<link href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css" rel="stylesheet"/>
<div id="map" class="col-sm-12" style="height: 300px;"></div>
<?php foreach ($this->features as $feature):
    /** @var \Trimble\Model\JObject $feature */
    $photos = null;
    ?>
    <a name="<?php echo $feature->getProperty('_meta_externalid') ?>"></a>
    <div class="row">
        <div class="col-sm-4">
            <dl>
                <dt>Accession: <?php echo $feature->getProperty('accession') ?></dt>
                <dd>
                    <table class="table table-striped table-condensed">
                        <?php foreach ($feature->getProperties() as $key => $value):
                            if (strpos($key, '_') === 0 || $key === 'accession') {
                                continue;
                            }
                            if ($key === 'photo') {
                                $photos = explode('|', $value);
                                continue;
                            }
                            ?>
                            <tr>
                                <td style="width: 100px; text-align: right"><?php echo $key ?></td>
                                <td><?php echo $value ?></td>
                            </tr>
                        <?php endforeach ?>
                    </table>
                </dd>
            </dl>
        </div>
        <div class="col-sm-8">
            <?php
            if ($photos) {
                foreach ($photos as $photo):?>
                    <a target="_blank" href="<?php echo $photo ?>"><img src="<?php echo $photo ?>"
                                                                        style="max-width: 150px; max-height: 150px;"></a>
                <?php endforeach;
            }
            ?>
        </div>
    </div>
<?php endforeach; ?>
<script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoidml4cmlpaGkiLCJhIjoiY2lmcndzZzl0MDBnNHU0bHp5azhwaHd5MCJ9.CVIDbGb56rUq4hDcOSW8zQ';

    var map = L.mapbox.map('map', 'mapbox.streets')
        .setView([60.8, 27], 7);

    var featureLayer = L.mapbox.featureLayer()
        .addTo(map);

    featureLayer.on('layeradd', function (e) {
        var marker = e.layer,
            feature = marker.feature;

        // Create custom popup content
        var popupContent = '<a href="#' + feature.properties._meta_externalid + '"><strong>Accession:</strong> ' + feature.properties.accession + ' </a><br>' +
            '<strong>notes:</strong> ' + feature.properties.notes + '<br>' +
            '<strong>crated:</strong> ' + feature.properties.created + '<br>' +
            '<strong>event</strong> ' + feature.properties.event;

        // http://leafletjs.com/reference.html#popup
        marker.bindPopup(popupContent, {
            closeButton: false,
            minWidth: 320
        });
    });

    featureLayer.setGeoJSON(<?php echo $geoJson ?>);
    map.fitBounds(featureLayer.getBounds());
</script>
