<?php
$this->headTitle('Sample');

$this->headScript()
    ->prependFile($this->basePath() . '/js/moment.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-tour.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery.textcomplete.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-datetimepicker.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/zeroClipboard/ZeroClipboard.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/leaflet/leaflet-src.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/leaflet/leaflet.draw.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery/jquery.growl.js?v=' . KOTKA_BUILD);
$this->headLink()
    ->appendStylesheet($this->basePath() . '/css/bootstrap-tour.min.css?v=' . KOTKA_BUILD)
;

$escaper = new Zend\Escaper\Escaper();
$specimens = $this->specimens;

$form = $this->form;
$form->setAttribute('action', $this->url('https/culture') . '#search-result');
$form->setAttribute('method', 'get');
$form->setAttribute('id', 'table_search');

$form->prepare();

/** @var Kotka\Form\View\Helper\FormRow $rows */
$rows = $this->formRow();
$rows->setElementClass('col-sm-10 col-md-9')->setLabelClass('col-sm-2 col-md-3 control-label');
$jsArray = array();
$fields = [];
/** @var \Elastic\Result\TypeMapping $mappings */
$mappings = $this->mappings;
$elasticFields = [];
$suffix = \Elastic\Result\TypeMapping::RAW_SUFFIX;
$dates = [];
$dateTimes = [];
$geoPoints = [];
$fields = $mappings->getFlattedPropertyTypes();
foreach ($fields as $field => $type) {
    if ($type === 'object') {
        continue;
    }
    $elasticFields[] = $field;
    if ($type === 'date') {
        $dates[] = $field;
    } else if ($type === 'datetime') {
        $dateTimes[] = $field;
    } else if ($type === 'geo_point') {
        $geoPoints[] = $field;
    }
}
$removeQuery = '<a href="#" class="remove-query text-danger"><span class="fa fa-times-circle"></span></a>';
?>
<?php echo $this->form()->openTag($form) ?>
<div class="page-header">
    <h1>Search culture</h1>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="row">

        </div>
        <div class="btn btn-default visible-xs" onclick="toggle_filters()" style="margin-bottom: 15px;">show/hide filters</div>
        <div id="filters-col" class="row hidden-xs">
            <div class="col-sm-12 filters">
                <h2 class="no-gutter-top">Initial letter of genus:</h2>
                <div id="bucket" style="overflow: hidden; padding-bottom: 20px;">

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="form-group">
            <div class="col-sm-9 singe-query">
                <div class="input-group ">
                    <?php echo $this->formElement($form->get('q')) ?>
                    <span class="input-group-btn">
                        <button id="search-button"
                                class="btn btn-default ladda-button"
                                data-style="slide-left"
                                data-spinner-color="#777"
                                type="submit">Search
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-12" id="searches">
                <?php if (isset($params['s'])):
                    if (is_string($params['s'])) {
                        $params['s'] = [$params['s']];
                    }
                    if (is_array($params['s'])):
                        ?>
                        <?php foreach ($params['s'] as $value): ?>
                        <span class="query">
                                <?php
                                if (strpos($value, $suffix) !== false) {
                                    $label = str_replace($suffix, '', $value);
                                } else {
                                    $label = $value;
                                }
                                ?>
                            <input type="hidden" name="s[]" value="<?php echo $this->escapeHtmlAttr($value) ?>">
                            <?php echo $this->escapeHtml($label) ?> <?php echo $removeQuery ?>&nbsp;&nbsp;
                            </span>
                    <?php endforeach ?>
                    <?php endif ?>
                <?php endif ?>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="search-result">
            </div>
        </div>
    </div>
</div>
<?php echo $this->formHidden($form->get('format')) ?>
<input type="hidden" name="export" id="export" value=""/>
<input type="hidden" name="_type" id="type" value="<?php echo $params['_type'] ?>"/>
<?php echo $this->formElement($form->get('perPage')) ?>
<?php echo $this->formElement($form->get('page')) ?>
<?php echo $this->formElement($form->get('sortBy')) ?>
<?php echo $this->formElement($form->get('sortDirection')) ?>
<?php
echo $this->form()->closeTag($form);
$this->headScript()->appendFile($this->basePath() . '/js/jquery.autosize.min.js?v=' . KOTKA_BUILD);
?>

<div class="modal fade" id="builderModal" role="dialog" aria-labelledby="builderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="builderLabel">Search query builder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/img/ajax-loader.gif"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="searchBuild">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapModal" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mapLabel">Search query builder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/img/ajax-loader.gif"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    <?php $this->inlineScript()->captureStart();?>

    var filtersVisible = false;
    var filters = [<?php echo implode(',', $jsArray)?>];
    var $load = $('#save-load');
    var $form = $(document.forms['form_defaultGrid']);
    var saves = {};
    var $textarea = $('textarea');
    var $search = $('#search');
    var ladda = Ladda.create(document.querySelector('#search-button'));
    $textarea.autosize();
    <?php // Filter handling ?>
    $('.filter').on('change', function () {
        setPage(1);
        $form.submit();
    });

    function toggle_filters() {
        var $filters = $('#filters-col');
        filtersVisible = !filtersVisible;
        if (filtersVisible) {
            $filters.attr('style', 'display: block !important')
        } else {
            $filters.attr('style', '')
        }
    }

    $('#identifier').keypress(function (e) {
        if ((e.keyCode || e.which) == 13) {
            e.preventDefault();
            setPage(1);
            $form.submit();
        }
    });

    $search.keypress(function (e) {
        if ((e.keyCode || e.which) == 13) {
            e.preventDefault();
            setPage(1);
            $form.submit();
        }
    });

    $('#today-edited').on('click', function (e) {
        e.preventDefault();
        clearForm();
        $search.val('editor: "<?php echo $this->escapeJs($this->User(\User\View\Helper\User::FULLNAME))?>" AND dateEdited: [<?php echo date('Y-m-d') ?> TO <?php echo date('Y-m-d', strtotime('+1 day')) ?>]');
        goToPage(1);
    });

    $form.on('submit', function (e) {
        if ($('#export').val() !== '') {
            return e;
        }
        e.preventDefault();
        ladda.start();
        $.ajax({
            type: 'POST',
            url: '<?php echo $this->url('https/culture/action', ['action' => 'table'])?>',
            data: $form.serialize()
        }).done(function (data) {
            $('#search-result').html(data);
            aggregate();
            ladda.stop();
        }).error(function (data) {
            $('#search-result').html('<p class="message error"><strong>Error fetching results</strong></p>');
            ladda.stop();
        });
    });

    var $bucket = $('#bucket');
    var $searches = $('#searches');
    function aggregate() {
        $.ajax({
            url: '/js/data/aggregate.json?size=25&aggr%5B%5D=initialLetterOfGenus<?php echo $suffix?>',
            success: function (data) {
                $bucket.html('');
                var fields = ['initialLetterOfGenus<?php echo $suffix?>'];
                for (var i in fields) {
                    if (!fields.hasOwnProperty(i)) {
                        continue;
                    }
                    if (typeof data[fields[i]]['results'] !== 'undefined' && data[fields[i]]['results'].length > 0) {
                        $bucket.append('<li style="list-style: none;padding-top:5px;"><strong>' + fields[i].replace('<?php echo $suffix?>', '') + ' <span class="small">(' + (data[fields[i]]['total'] > <?php echo \Elastic\Query\Query::CARDINALITY_ACCURACY ?> ? '~' : '') + data[fields[i]]['total'] + ')</span>:</strong></li>');
                        var $list = $('<ul class="list-group"></ul>');
                        for (var j in data[fields[i]]['results']) {
                            if (!data[fields[i]]['results'].hasOwnProperty(j)) {
                                continue;
                            }
                            var label = data[fields[i]]['results'][j]['key'].replace(/\\"/g, '"');
                            var key = label.replace(/"/g, '\\&quot;');
                            var count = data[fields[i]]['results'][j]['doc_count'];
                            if (hasQuery(getQueryString(fields[i], key))) {
                                $list.append('<li style="list-style: none;">' + label + ' <span class="small">(' + count + ')</span>&nbsp;&nbsp;<a href="#" class="remove-filter text-danger" data-field="' + fields[i] + '" data-value="' + key + '"><span class="fa fa-times-circle"></span></a></li>');
                            } else {
                                $list.append('<li style="list-style: none;"><a href="#" class="filter" data-field="' + fields[i] + '" data-value="' + key + '">' + label + ' <span class="small">(' + count + ')</span></a></li>');
                            }
                        }
                        $bucket.append($list);
                    } else {
                        $bucket.append('<li style="list-style: none;padding-top:5px;"><strong>' + fields[i].replace('<?php echo $suffix?>', '') + ' <span class="small">(0)</span>:</strong></li>');
                    }
                }
            }
        });
    }

    $bucket.on('click', '.filter', function (e) {
        e.preventDefault();
        var $this = $(this);
        var field = $this.data('field');
        var value = $this.data('value');
        addQuery(field, value);
        goToPage(1);
    });

    $bucket.on('click', '.remove-filter', function (e) {
        e.preventDefault();
        var $this = $(this);
        var field = $this.data('field');
        var value = $this.data('value');
        var query = getQueryString(field, value);
        if (hasQuery(query)) {
            $searches.find('input[value="' + query + '"]').parent().remove();
            goToPage(1);
        }
        query = query.replace(/\\/g, '\\\\');
        if (hasQuery(query)) {
            $searches.find('input[value="' + query + '"]').parent().remove();
            goToPage(1);
        }
    });

    function getQueryString(field, value) {
        if ($.isArray(value)) {
            var parts = [];
            $.each(value, function (idx, val) {
                parts.push(getQueryString(field, val))
            });
            return parts.join(' OR ');
        }
        value = '' + value;
        if (field !== 'all' && field !== '_all') {
            value = field + ':"' + value.replace(/&quot;/g, '\\"') + '"';
        }
        return value;
    }

    function hasQuery(query) {
        return ($searches.find('input[value="' + query + '"]').length > 0);
    }

    function addQuery(field, value) {
        var query = getQueryString(field, value);
        addQueryInput(query);
    }

    function addQueryInput(query) {
        if (hasQuery(query)) {
            return;
        }
        var $query = $('<span class="query"></spane>');
        var $input = $('<input name="s[]" type="hidden"/>');
        $input.val(query);
        $query
            .append($input)
            .append(query.replace('<?php echo $suffix?>', '') + ' <?php echo $removeQuery ?>&nbsp;&nbsp; ');

        $searches.append($query);
    }

    function clearForm() {
        $searches.find('input').parent().remove();
        $('.filters input[type="checkbox"]').attr('checked', false);
        $($textarea).val('');
        $loc.val('');
    }

    $searches.on('click', '.remove-query', function (e) {
        e.preventDefault();
        $(this).parent().remove();
        goToPage(1);
    });

    // Navigating part
    function setPage(page) {
        $('input[name="page"]').val(page);
    }

    function goToPage(page) {
        setPage(page);
        $form.submit();
    }
    function perPageChange(elem) {
        var $this = $(elem);
        $('input[name="perPage"]').val($this.val());
        goToPage(1);
    }
    function sortGrid(by, direction) {
        $('input[name="sortBy"]').val(by);
        $('input[name="sortDirection"]').val(direction);
        $form.submit();
    }
    function setOptions(options) {
        $('#aggr-options').val(options['aggrs']).trigger("change");
        $('#field-options').val(options['fields']).trigger("change");
        $('#aggr-size').val(options['size']);
    }

    init.push(function () {
        $form.submit();
    });

    function tagExists(tag) {
        return ($search.val().indexOf(tag) !== -1)
    }

    <?php $this->inlineScript()->captureEnd();?>
</script>