<?php
$vars = $this->vars();
$specials = array('links' => 'kotka/view/link');
$skips = array('status' => 1);
/** @var \Triplestore\Model\Metadata $metadata */
if (isset($vars['rdf:type'])) {
    $type = $vars['rdf:type'];
    $type = is_array($type) ? array_pop($type) : $type;
    echo $this->partial('kotka/view/types/' . $type, $vars);
    return;
}
if (isset($vars['metadata'])) {
    $metadata = $vars['metadata'];
} else {
    $metadata = new \Triplestore\Model\Metadata();
}

foreach ($vars as $field => $value):
    if (isset($skips[$field])) {
        continue;
    }
    if (isset($specials[$field])) {
        echo $this->partial($specials[$field], $value);
        continue;
    }
    if ($field === 'has' && is_array($value)) {
        echo $this->partialLoop('kotka/view/content', $value);
        continue;
    }
    $label = $metadata->getLabel($field);
    ?>
    <div class="row">
        <div class="col-sm-12">
            <?php if (is_array($value)) { ?>
                <?php if (!is_numeric($field)): ?>
                    <div class="col-sm-2"><?php echo $field; ?></div>
                <?php endif; ?>
                <div class="col-sm-12">

                </div>
            <?php } else { ?>
                <?php if (!is_numeric($field)): ?>
                    <div class="col-sm-2"><?php echo $label ?></div>
                <?php endif; ?>
                <div class="col-sm-10"><?php echo $value ?></div>
            <?php } ?>
        </div>
    </div>
<?php endforeach;