<?php
$type = $this->get('rdf:type');
$list = true;
if ($type !== null) {
    $list = false;
}
if ($this->uri) {
    $this->headTitle($this->uri);
}
?>
<?php if ($this->status == '404'): ?>
    <div class="page-header">
        <h1>Nothing found!</h1>
    </div>
    <?php return ?>
<?php endif ?>
<?php
if ($list) { ?>
    <div class="page-header">
        <h1>View</h1>
    </div>
    <?php
    echo $this->partialLoop('kotka/view/row', $this->vars());
} else {
    echo $this->partial('kotka/view/content', $this->vars());
}
?>
