<?php
$linkWrap = '<a href="%s">%s</a>';
$uri = $this->uri;
if ($this->links) {
    $links = $this->get('links');
    foreach ($links as $link) {
        if (isset($link['rel']) && $link['rel'] == 'self') {
            $uri = sprintf($linkWrap, $link['href'], $uri);
        }
    }
}
?>
<div class="row">
    <div class="col-sm-3"><strong><?php echo $uri ?></strong></div>
</div>