<?php

$data = $this->vars()->getArrayCopy();
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter
    ->addFilter('MZ.editor', $this->SelectOptions('MA.person'))
    ->addFilter('MZ.creator', $this->SelectOptions('MA.person'))
    ->addFilter('MZ.owner', 'OrganizationName');

$lines = [];
$lineParts = [];
if (isset($data['MZ.creator']) && !empty(trim($data['MZ.creator']))) {
    $lineParts[] = '<strong>by</strong> ' . $this->escapeHtmlAttr($filter('MZ.editor', $data['MZ.creator'], $data['MZ.creator']));
}
if (isset($data['MZ.dateCreated'])) {
    $lineParts[] .= 'on ' . str_replace('T', ' <strong>at</strong> ', substr($data['MZ.dateCreated'], 0, 10));
}
if (isset($lineParts[0])) {
    $lines[] = '<strong>Created</strong> ' . implode(' ', $lineParts);
}
$lineParts = [];
if (isset($data['MZ.editor'])) {
    $lineParts[] = '<strong>by</strong> ' . $this->escapeHtmlAttr($filter('MZ.editor', $data['MZ.editor'], $data['MZ.editor']));
}
if (isset($data['MZ.dateEdited'])) {
    $lineParts[] .= 'on ' . str_replace('T', ' <strong>at</strong> ', substr($data['MZ.dateEdited'], 0, 10));
}
if (isset($lineParts[0])) {
    $lines[] = '<strong>Edited</strong> ' . implode(' ', $lineParts);
}
if (isset($data['MZ.owner'])) {
    $lines[] = '<strong>Current owner is</strong> ' . $this->escapeHtmlAttr($filter('MZ.owner', $data['MZ.owner']));
}
if (count($lines)):?>
    <button id="user-view-data"
            class="btn btn-default fa fa-user"
            data-placement="bottom"
            data-html="true"
            data-content="<?php echo implode('<br>', $lines) ?>"
            data-trigger="hover">
    </button>
    <?php
    $this->inlineScript()->captureStart();
    echo <<<JS
    $('#user-view-data').popover();
JS;
    $this->inlineScript()->captureEnd();
    ?>
<?php endif;
