<?php
$this->headTitle('Excel generator');
$partial = 'kotka/excel/formlevel';
$form = $this->form;
$form->setAttribute('action', $this->url(
    'excel', array('action' => 'generate')
));
$form->prepare();
?>

<div class="page-header">
    <h1>
        Choose the fields you want to include in the excel:
    </h1>
</div>
<?php echo $this->Form()->openTag($form) ?>
<div class="form-group">
    <div class="well">
        Here you can create custom Excel sheets for importing specimen data.<br>
        Specify the number of repeating fields for <!-- collecting event <select name="num-of-gatherings">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>, --> specimen/observation <select name="num-of-units">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>, identifications <select name="num-of-identifications">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select> and types <select name="num-of-types">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>,
        and the language of the labels <select name="language" id="lang-switch">
            <option value="en">English</option>
            <option value="fi">Finnish</option>
        </select>.<br>
        Please note that <strong>required fields are automatically included</strong> in the Excel-file. File creation
        process <strong>can take some time complete</strong>.
    </div>
    <div class="row">
        <div class="col-sm-2">
            <input type="submit" value="Make the excel" class="btn btn-success">
        </div>
        <div class="col-sm-2 col-sm-push-1">
            <a href="#" class="btn btn-success select-all">Select all</a>
            <a href="#" class="btn btn-success unselect-all" style="display: none;">Clear all</a>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-9">
                <h1>Specimens</h1>
            </div>
        </div>
        <?php foreach ($form as $element): ?>
            <?php if ($element instanceof \Zend\Form\Element\Checkbox): ?>
                <div class="row <?php echo $element->getAttribute('class') ?>">
                    <?php $element->setAttribute('class', '') ?>
                    <div class="col-sm-12">
                        <label><?php echo $this->formCheckbox($element) ?><?php echo $element->getLabel() ?></label>
                        <?php
                        $help = $element->getOption('help');
                        if (!empty($help)):?>
                            <i style="margin-left: 3px;"
                               class="form-help fa fa-question-circle hidden-xs"
                               title="<?php echo $element->getOption('help') ?>"
                               data-toggle="tooltip"
                               data-placement="bottom"
                               data-container="body"
                                ></i>
                        <?php endif ?>
                    </div>
                </div>
            <?php else: ?>
                <?php echo $this->FormRow($element); ?>
            <?php endif; ?>
            <?php
        endforeach; ?>

        <h1>Preparation/sample</h1>
        <div id="sample"></div>
    </div>
    <div class="col-sm-3">
        <h1>Collecting Event</h1>

        <div id="gathering"></div>
    </div>
    <div class="col-sm-3">
        <h1>Specimen/Observation</h1>

        <div id="unit"></div>
        <h1>Measurements</h1>

        <div id="measurement"></div>
    </div>
    <div class="col-sm-3">
        <h1>Identification</h1>

        <div id="identification"></div>
        <h1>Type</h1>

        <div id="type"></div>
    </div>
</div>
<?php
echo $this->form()->closeTag(); ?>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $('.gathering').each(function () {
        var $this = $(this);
        $this.appendTo("#gathering");
    });
    $('.unit').each(function () {
        var $this = $(this);
        $this.appendTo("#unit");
    });
    $('.identification').each(function () {
        var $this = $(this);
        $this.appendTo("#identification");
    });
    $('.type').each(function () {
        var $this = $(this);
        $this.appendTo("#type");
    });
    $('.measurement').each(function () {
        var $this = $(this);
        $this.appendTo("#measurement");
    });
    $('.sample').each(function () {
        var $this = $(this);
        $this.appendTo("#sample");
    });
    $('.select-all').on('click', function (e) {
        e.preventDefault();
        var cbs = $('input:visible');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = 'checked';
            }
        }
        $(this).hide();
        $('.unselect-all').show();
    });
    $('.unselect-all').on('click', function (e) {
        e.preventDefault();
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = '';
            }
        }
        $(this).hide();
        $('.select-all').show();
    });

    $('#excel').on('submit', function (e) {
        remember();
    });

    $('#lang-switch').on('change', function () {
        remember();
        window.location = '?lang=' + $('#lang-switch').val();
    });
    var excelRememberKey = 'excel-fields-2';
    function remember() {
        window.KotkaApp.setRemember(excelRememberKey, $('#excel').serializeArray());
    }

    init.push(function () {
        var excelSelected = this.getRemember(excelRememberKey),
            $input;
        if (excelSelected !== false) {
            var fields = [];
            for (var i in excelSelected) {
                var name = excelSelected[i]['name'];
                var value = excelSelected[i]['value'];
                $input = $('[name="' + name + '"]');
                if ($input.is(':checkbox') || $input.is('[type="hidden"]')) {
                    fields.push(value);
                } else {
                    $input.val(value);
                }
            }
            for (i in fields) {
                value = fields[i];
                $input = $('[value="' + value + '"]');
                if ($input.is(':checkbox')) {
                    $input.prop('checked', true);
                }
            }
        }
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>




