<?php
$form = $this->form;
/** @var \Kotka\Form\View\Helper\FormRow $rowHelper */
$rowHelper = $this->formRow();
$rowHelper
    ->setLabelClass('col-sm-4 control-label')
    ->setElementClass('col-sm-7');
?>
<div class="row query-builder">
    <div class="col-sm-12">
        <?php echo $this->form()->openTag($form); ?>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-taxon">Taxon</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('taxon')); ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-originalSpecimenID">Original specimen id</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('originalSpecimenID')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-collection">Collection</label>

            <div class="col-sm-7">
                <?php echo $this->formElement($form->get('collection')); ?>
            </div>
            <div class="col-sm-1">
                <?php echo $this->formElement($form->get('sub-collection')); ?>
            </div>
            <i class="form-help fa fa-question-circle hidden-xs" title="" data-toggle="tooltip" data-placement="right"
               data-container="body"
               data-original-title="When checked search will include all specimens that belong to any collection that are part of the selected collection"></i>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-dataset">Tags</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('dataset')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-editor">User</label>

            <div class="col-sm-4 no-gutter-right">
                <?php echo $this->formElement($form->get('creator')); ?>
            </div>
            <div class="col-sm-4">
                <?php echo $this->formElement($form->get('editor')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-leg">Leg</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('leg')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-municipality">Finnish municipality</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('municipality')); ?>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="qb-locality">Locality name</label>

            <div class="col-sm-8">
                <?php echo $this->formElement($form->get('locality')); ?>
            </div>
        </div>

        <?php echo $this->form()->closeTag(); ?>
    </div>
</div>

<?php echo $this->inlineScript() ?>
<script>
    <?php
    // This page is injected the search index page. That's why many of the variables used
    // are not defined here
    ?>
    $('.query-builder [data-toggle="tooltip"]').tooltip();
    $('#searchBuild').on('click', function () {
        var field;
        var $builderForm = $("#simple_search");
        var data = formToObject($builderForm);
        for (var name in data) {
            if (!data.hasOwnProperty(name) || !data[name]) {
                continue;
            }
            if (name === 'taxon') {
                var taxon = data[name];
                var query = 'taxon: "' + taxon + '" OR taxa: "' + taxon + '" OR synonyms: "' + taxon + '"';
                addQueryInput(query);
                continue;
            } else if (name === 'sub-collection') {
                continue;
            } else if (name === 'collection[]') {
                field = 'collectionID';
                var $check = $builderForm.find('[name="sub-collection"]');
                if ($check.is(':checked')) {
                    field = 'collectionTree'
                }
            } else {
                var $elem = $builderForm.find('[name="' + name + '"]:not([type="hidden"])');
                field = $elem.data('elastic');
            }
            addQuery(field, data[name]);
        }
        $('#builderModal').modal('hide');
        $form.submit();
    });

    function formToObject(jqueryElem) {
        var data = {};
        jqueryElem.serializeArray().map(function (x) {
            if (x.name.indexOf('[]') !== -1) {
                var key = x.name;
                if (!data[key]) {
                    data[key] = [];
                }
                data[key].push(x.value);
            } else {
                data[x.name] = x.value;
            }

        });
        return data;
    }
</script>
