<?php
$this->headTitle($this->title);

$this->headScript()
    ->prependFile($this->basePath() . '/js/moment.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/select2-3.5.1/select2.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-tour.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery.textcomplete.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/bootstrap-datetimepicker.min.js?v=' . KOTKA_BUILD)
    ->appendFile('https://cdn.laji.fi/clipboardjs/clipboard.min.js')
    ->appendFile($this->basePath() . '/leaflet/leaflet-src.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/leaflet/leaflet.draw.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/jquery/jquery.growl.js?v=' . KOTKA_BUILD);
$this->headLink()
    ->appendStylesheet($this->basePath() . '/css/bootstrap-tour.min.css?v=' . KOTKA_BUILD)
    ->appendStylesheet($this->basePath() . '/leaflet/leaflet.draw.css?v=' . KOTKA_BUILD)
    ->appendStylesheet($this->basePath() . '/leaflet/leaflet.css?v=' . KOTKA_BUILD);

$escaper = new Zend\Escaper\Escaper();
$specimens = $this->specimens;

$form = $this->form;
$form->setAttribute('action', $this->url($this->base) . '#search-result');
$form->setAttribute('method', 'get');
$form->setAttribute('id', 'table_search');

$form->prepare();

/** @var Kotka\Form\View\Helper\FormRow $rows */
$rows = $this->formRow();
$rows->setElementClass('col-sm-10 col-md-9')->setLabelClass('col-sm-2 col-md-3 control-label');
$jsArray = array();
/** @var \Elastic\Result\TypeMapping $mappings */
$mappings = $this->mappings;
$elasticFields = [];
$suffix = \Elastic\Result\TypeMapping::RAW_SUFFIX;
$dates = [];
$dateTimes = [];
$geoPoints = [];
$fields = $mappings->getFlattedPropertyTypes();
foreach ($fields as $field => $type) {
    if ($type === 'object') {
        continue;
    }
    $elasticFields[] = $field;
    if ($type === 'date') {
        $dates[] = $field;
    } else if ($type === 'datetime') {
        $dateTimes[] = $field;
    } else if ($type === 'geo_point') {
        $geoPoints[] = $field;
    }
}
$removeQuery = '<a href="#" class="remove-query text-danger"><span class="fa fa-times-circle"></span></a>';
?>
<?php echo $this->form()->openTag($form) ?>
<div class="page-header">
    <button type="button" class="btn btn-default btn-sm fa fa-question pull-right" id="tutorial"></button>
    <button type="button" class="btn btn-default btn-sm fa fa-gear pull-right options" data-toggle="modal"
            data-target="#optionsModal"></button>
    <div class="col-xs-2 pull-right">
        <div class="input-group input-group-md">
            <input id="full-permalink" type="text" class="form-control" />
            <span class="input-group-btn">
            <button id="permalink" class="btn btn-default add-filter" type="button" data-clipboard-target="#full-permalink" title="Copy this search to your clipboard">
                <i class="fa fa-link"></i>
            </button>
        </span>
        </div>
    </div>
    <h1><?php echo $this->title ?></h1>
</div>
<div id="excelSuccess" style="display: none">
    <?php echo $this->Alert('<strong>Excel is being generated!</strong> You can download the generated excel on <a href="/tools/export">this page</a>', 'success'); ?>
</div>
<div id="excelOutput">

</div>
<div class="row">
    <div class="col-sm-2">
        <div class="row">

        </div>
        <div class="btn btn-default visible-xs" onclick="toggle_filters()" style="margin-bottom: 15px;">show/hide filters</div>
        <div id="filters-col" class="row hidden-xs">
            <div class="col-sm-12 filters">
                <h2 class="no-gutter-top">filter:</h2>
                <div class="real-identifier-as-range">
                    <?php echo $this->formHidden($form->get('identifierAsRange')); ?>
                </div>
                <?php echo $this->formRow($form->get('accepted'), null, null, null, 'row accepted', 'col-sm-2 filter no-gutter', 'col-sm-10'); ?>
                <?php echo $this->formRow($form->get('pic'), null, null, null, 'row', 'col-sm-2 filter no-gutter', 'col-sm-10'); ?>
                <?php echo $this->formRow($form->get('types'), null, null, null, 'row', 'col-sm-2 filter no-gutter', 'col-sm-10'); ?>
                <?php echo $this->formRow($form->get('primary'), null, null, null, 'row', 'col-sm-2 filter no-gutter', 'col-sm-10'); ?>
                <div class="row">
                    <label class="col-sm-10">
                        <span>By location</span>
                    </label>

                    <div class="col-sm-2 filter no-gutter">
                        <a class="btn btn-small btn-default fa fa-globe" data-toggle="modal"
                           data-target="#mapModal"></a>
                    </div>
                </div>
                <ul class="list-group loc-list" style="display: none">
                    <li style="list-style: none;">
                        <small><span id="loc-text"></span></small>
                        &nbsp;&nbsp;<a href="#" class="remove-loc text-danger"><span class="fa fa-times-circle"></span></a>
                    </li>
                </ul>
                <?php echo $this->formRow($form->get('loc')); ?>
                <div id="bucket" style="overflow: hidden; padding-bottom: 20px;">

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <div class="col-sm-12 identifier">
                        <?php echo $this->formElement($form->get('identifier')) ?>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 previously">
                <a href="#" class="btn-block" id="today-edited"><i class="fa fa-arrow-circle-left"></i> Specimens I've
                    edited or created today</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 singe-query">
                <div class="input-group ">
                    <?php echo $this->formElement($form->get('q')) ?>
                    <input type='text' id="dateTimeStart" style="display: none"/>
                    <input type='text' id="dateTimeEnd" style="display: none"/>
                    <input type='text' id="dateStart" style="display: none"/>
                    <input type='text' id="dateEnd" style="display: none"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default add-filter" type="button">AND</button>
                        <button id="search-button"
                                class="btn btn-default ladda-button"
                                data-style="slide-left"
                                data-spinner-color="#777"
                                type="submit">Search
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-default clear" type="button">Clear all</button>
                <a class="btn btn-default pull-right" data-toggle="modal" data-target="#builderModal">Query builder</a>
            </div>
            <div class="col-sm-12" id="searches">
                <?php if (isset($params['s'])):
                    if (is_string($params['s'])) {
                        $params['s'] = [$params['s']];
                    }
                    if (is_array($params['s'])):
                        ?>
                        <?php foreach ($params['s'] as $value): ?>
                        <span class="query">
                                <?php
                                if (strpos($value, $suffix) !== false) {
                                    $label = str_replace($suffix, '', $value);
                                } else {
                                    $label = $value;
                                }
                                ?>
                            <input type="hidden" name="s[]" value="<?php echo $this->escapeHtmlAttr($value) ?>">
                            <?php echo $this->escapeHtml($label) ?> <?php echo $removeQuery ?>&nbsp;&nbsp;
                            </span>
                    <?php endforeach ?>
                    <?php endif ?>
                <?php endif ?>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="search-result">
            </div>
        </div>
    </div>
</div>
<?php echo $this->formHidden($form->get('format')) ?>
<input type="hidden" name="export" id="export" value=""/>
<?php echo $this->formElement($form->get('perPage')) ?>
<?php echo $this->formElement($form->get('page')) ?>
<?php echo $this->formElement($form->get('sortBy')) ?>
<?php echo $this->formElement($form->get('sortDirection')) ?>
<div class="hidden" id="popover-pdf">
    <div style="width: 250px;">
        <?php $options = $form->get('format')->getValueOptions() ?>
        <?php foreach ($options as $key => $value): ?>
            <div class="row">
                <div class="col-sm-12"><a href="#" data-format="<?php echo $key ?>"
                                          class="label-format"><?php echo $value ?></a></div>
            </div>
        <?php endforeach ?>
        <br>
        <?php echo $this->formRow($form->get('doubleSided'), null, null, null, 'row', 'col-sm-1 col-sm-pull-9', 'col-sm-9 col-sm-push-1') ?>
        <br>
        <?php echo $form->get('labelFields')->getLabel() ?>
    </div>
</div>
<div id="labelFields-base" class="hidden">
    <div id="labelFields-container">
        <?php echo $this->formElement($form->get('labelFields')) ?>
    </div>
</div>
<div class="hidden" id="popover-excel">
    <div style="width: 250px;">
        <div class="row">
            <div class="col-sm-12">
                <a class="export" href="<?php echo $this->url($this->base, [], ['query' => ['export' => 'excel']]) ?>">
                    In Kotka specific format
                </a>
            </div>
            <div class="col-sm-12">
                <a href="<?php echo $this->url($this->base, [], ['query' => ['export' => 'simple-excel']]) ?>">
                    Simply export the results
                </a>
            </div>
            <div class="col-sm-12">
                <a class="export" href="<?php echo $this->url($this->base, [], ['query' => ['export' => 'hertta-excel']]) ?>">
                    In Hertta specific format
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="optionsModal" role="dialog" aria-labelledby="optionsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="optionsLabel">Search options</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Filter options:</h2>
                        <select class="form-control" name="aggr[]" multiple id="aggr-options">
                            <?php foreach ($elasticFields as $field): ?>
                                <?php if (!$mappings->hasRawProperty($field)) continue ?>
                                <option value="<?php echo $field . $suffix ?>"><?php echo $field ?></option>
                            <?php endforeach ?>
                        </select>

                        <p>Filters shown on the left side of the page</p>
                    </div>
                    <div class="col-sm-6">
                        <h2>Result options:</h2>
                        <select class="form-control" name="fields[]" multiple id="field-options">
                            <?php foreach ($elasticFields as $field): ?>
                                <option value="<?php echo $field ?>"><?php echo $field ?></option>
                            <?php endforeach ?>
                        </select>

                        <p>Fields that you'll see in the list of results</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Filter size:</h2>
                        <input class="form-control" type="number" name="aggr-size" id="aggr-size" value="10" min="2"
                               max="100"/>

                        <p>How many different terms you'd like to see in filter lists. (max is 100)</p>
                    </div>
                    <div class="col-sm-6">
                        <h2>Other options:</h2>
                        <?php echo $this->formRow($form->get('identifierAsRange'), null, null, null, 'row identifier-as-range', 'col-sm-1 filter no-gutter', 'col-sm-6'); ?>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveOptions">Save changes</button>
            </div>
        </div>
    </div>
</div>
<?php
echo $this->form()->closeTag($form);
$this->headScript()->appendFile($this->basePath() . '/js/jquery.autosize.min.js?v=' . KOTKA_BUILD);
?>

<div class="modal fade" id="builderModal" role="dialog" aria-labelledby="builderLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="builderLabel">Search query builder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/img/ajax-loader.gif"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="searchBuild">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mapModal" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mapLabel">Search query builder</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="/img/ajax-loader.gif"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    <?php $this->inlineScript()->captureStart();?>

    var filtersVisible = false;
    var filters = [<?php echo implode(',', $jsArray)?>];
    var $load = $('#save-load');
    var $form = $(document.forms['form_defaultGrid']);
    var saves = {};
    var $textarea = $('textarea');
    var $search = $('#search');
    var ladda = Ladda.create(document.querySelector('#search-button'));
    $textarea.autosize();
    <?php // Filter handling ?>
    $('.filter').on('change', function () {
        setPage(1);
        $form.submit();
    });

    function toggle_filters() {
        var $filters = $('#filters-col');
        filtersVisible = !filtersVisible;
        if (filtersVisible) {
            $filters.attr('style', 'display: block !important')
        } else {
            $filters.attr('style', '')
        }
    }

    $('#identifier').keypress(function (e) {
        if ((e.keyCode || e.which) == 13) {
            e.preventDefault();
            setPage(1);
            $form.submit();
        }
    });

    $search.keypress(function (e) {
        if ((e.keyCode || e.which) == 13) {
            e.preventDefault();
            setPage(1);
            $form.submit();
        }
    });

    $('#today-edited').on('click', function (e) {
        e.preventDefault();
        clearForm();
        $search.val('editor: "<?php echo $this->escapeJs($this->User(\User\View\Helper\User::FULLNAME))?>" AND dateEdited: [<?php echo date('Y-m-d') ?> TO <?php echo date('Y-m-d', strtotime('+1 day')) ?>]');
        goToPage(1);
    });

    <?php // export pdf part ?>
    $form.on('click', '#export-pdf,#export-excel', function (e) {
        e.preventDefault();
    });
    function _init_page() {
        var $pdfExport = $('#export-pdf'),
            $excelExport = $('#export-excel');
        $pdfExport.popover({
            html: true,
            placement: 'left',
            content: function () {
                return $('#popover-pdf').html() + "<div id='popover-labelfields' style='min-height:80px;'></div>";
            },
            title: 'Export pdf'
        });
        $pdfExport.on('shown.bs.popover', function () {
            $('#labelFields-container').appendTo("#popover-labelfields");
        });
        $pdfExport.on('hide.bs.popover', function () {
            $('#labelFields-container').appendTo("#labelFields-base");
        });
        $excelExport.popover({
            html: true,
            content: function () {
                return $('#popover-excel').html()
            },
            title: 'Export excel'
        });
        $excelExport.on('shown.bs.popover', function () {
            $('.export').click(function(e) {
                e.preventDefault();
                $excelExport.popover('hide');
                var this$ = $(this);
                $.ajax({
                    type: 'GET',
                    url: this$.attr('href')
                }).done(function (data) {
                    if (data.excelExported) {
                        $('#excelOutput').html($('#excelSuccess').html());
                    } else if (data.error) {
                        $('#excelOutput').html('<div class="alert alert-danger alert-dismissable">\n' +
                            '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><span>' +
                                data.error +
                            '</span>' +
                            '</div>');
                    }
                }).error(function (data) {
                    $('#excelOutput').html('<div class="alert alert-danger alert-dismissable">\n' +
                        '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><span>' +
                        'Could not generate excel' +
                        '</span>' +
                        '</div>');
                });
            });
        });
    }

    $form.on('submit', function (e) {
        if ($('#export').val() !== '') {
            return e;
        }
        e.preventDefault();
        try { window.scrollTo(0, 0); } catch (e) {}

        //$('#search-result').prepend('<div>loading...</div>');
        ladda.start();
        $.ajax({
            type: 'POST',
            url: '<?php echo $this->url($this->base, array('action' => 'table'))?>',
            data: $form.serialize()
        }).done(function (data) {
            $('#search-result').html(data);
            _init_page();
            aggregate($aggregates, $('#aggr-size').val());
            ladda.stop();
            $('#full-permalink').val($('#search-permalink').val() + '&c=1');
        }).error(function (data) {
            $('#search-result').html('<p class="message error"><strong>Error fetching results</strong></p>');
            ladda.stop();
        });
    });

    $form.on('click', '.label-format', function (e) {
        e.preventDefault();
        var $this = $(this);
        var format = $this.data('format');
        var doubleSided = $this.closest('.popover-content').find('.doubleSided').val();
        $('#labelFormat').val(format);
        $('#export').val('pdf');
        $('.doubleSided').val(doubleSided);
        $form.submit();
        $('#export').val('');
    });
    $('#export').val('');

    var $aggregates = $('#aggr-options');
    var $bucket = $('#bucket');
    var $searches = $('#searches');
    function aggregate($fields, size) {
        $.ajax({
            url: '/js/data/aggregate.json?size=' + size + '&' + $fields.serialize(),
            success: function (data) {
                $bucket.html('');
                var fields = $fields.val();
                for (var i in fields) {
                    if (!fields.hasOwnProperty(i)) {
                        continue;
                    }
                    if (typeof data[fields[i]]['results'] !== 'undefined' && data[fields[i]]['results'].length > 0) {
                        $bucket.append('<li style="list-style: none;padding-top:5px;"><strong>' + fields[i].replace('<?php echo $suffix?>', '') + ' <span class="small">(' + (data[fields[i]]['total'] > <?php echo \Elastic\Query\Query::CARDINALITY_ACCURACY ?> ? '~' : '') + data[fields[i]]['total'] + ')</span>:</strong></li>');
                        var $list = $('<ul class="list-group"></ul>');
                        for (var j in data[fields[i]]['results']) {
                            if (!data[fields[i]]['results'].hasOwnProperty(j)) {
                                continue;
                            }
                            var label = data[fields[i]]['results'][j]['key'].replace(/\\"/g, '"');
                            var key = label.replace(/"/g, '\\&quot;');
                            var count = data[fields[i]]['results'][j]['doc_count'];
                            if (hasQuery(getQueryString(fields[i], key))) {
                                $list.append('<li style="list-style: none;">' + label + ' <span class="small">(' + count + ')</span>&nbsp;&nbsp;<a href="#" class="remove-filter text-danger" data-field="' + fields[i] + '" data-value="' + key + '"><span class="fa fa-times-circle"></span></a></li>');
                            } else {
                                $list.append('<li style="list-style: none;"><a href="#" class="filter" data-field="' + fields[i] + '" data-value="' + key + '">' + label + ' <span class="small">(' + count + ')</span></a></li>');
                            }
                        }
                        $bucket.append($list);
                    } else {
                        $bucket.append('<li style="list-style: none;padding-top:5px;"><strong>' + fields[i].replace('<?php echo $suffix?>', '') + ' <span class="small">(0)</span>:</strong></li>');
                    }
                }
            }
        });
    }

    $bucket.on('click', '.filter', function (e) {
        e.preventDefault();
        var $this = $(this);
        var field = $this.data('field');
        var value = $this.data('value');
        addQuery(field, value);
        goToPage(1);
    });

    $bucket.on('click', '.remove-filter', function (e) {
        e.preventDefault();
        var $this = $(this);
        var field = $this.data('field');
        var value = $this.data('value');
        var query = getQueryString(field, value);
        if (hasQuery(query)) {
            $searches.find('input[value="' + query + '"]').parent().remove();
            goToPage(1);
        }
        query = query.replace(/\\/g, '\\\\');
        if (hasQuery(query)) {
            $searches.find('input[value="' + query + '"]').parent().remove();
            goToPage(1);
        }
    });

    function getQueryString(field, value) {
        if ($.isArray(value)) {
            var parts = [];
            $.each(value, function (idx, val) {
                parts.push(getQueryString(field, val))
            });
            return parts.join(' OR ');
        }
        value = '' + value;
        if (field !== 'all' && field !== '_all') {
            value = field + ':"' + value.replace(/&quot;/g, '\\"') + '"';
        }
        return value;
    }

    function hasQuery(query) {
        return ($searches.find('input[value="' + query + '"]').length > 0);
    }

    function addQuery(field, value) {
        var query = getQueryString(field, value);
        addQueryInput(query);
    }

    function addQueryInput(query) {
        if (hasQuery(query)) {
            return;
        }
        var $query = $('<span class="query"></spane>');
        var $input = $('<input name="s[]" type="hidden"/>');
        $input.val(query);
        $query
            .append($input)
            .append(query.replace('<?php echo $suffix?>', '') + ' <?php echo $removeQuery ?>&nbsp;&nbsp; ');

        $searches.append($query);
    }

    function clearForm() {
        $searches.find('input').parent().remove();
        $('.filters input[type="checkbox"]').attr('checked', false);
        $($textarea).val('');
        $loc.val('');
    }

    $searches.on('click', '.remove-query', function (e) {
        e.preventDefault();
        $(this).parent().remove();
        goToPage(1);
    });

    $form.on('click', '.clear', function (e) {
        e.preventDefault();
        clearForm();
        $loc.trigger('change');
        goToPage(1);
    });

    $('.add-filter').on('click', function () {
        var $group = $(this).parent().parent();
        var $input = $group.find('textarea');
        var value = $.trim($input.val());
        if (value.length == 0) {
            $form.submit();
            return;
        }
        $input.val('');
        addQuery('all', value);
        goToPage(1);
    });

    // Navigating part
    function setPage(page) {
        $('input[name="page"]').val(page);
    }

    function goToPage(page) {
        setPage(page);
        $form.submit();
    }
    function perPageChange(elem) {
        var $this = $(elem);
        $('input[name="perPage"]').val($this.val());
        goToPage(1);
    }
    function sortGrid(by, direction) {
        $('input[name="sortBy"]').val(by);
        $('input[name="sortDirection"]').val(direction);
        $form.submit();
    }

    // Search builder
    var loadedBuilder = false;
    $('#builderModal').on('show.bs.modal', function () {
        if (!loadedBuilder) {
            loadedBuilder = true;
            $.get('<?php echo $this->url($this->base, ['action' => 'builder']); ?>')
                .done(function (data) {
                    $('#builderModal').find('.modal-body').html(data);
                    $(document.body).trigger('requestRefresh');
                })
                .fail(function () {
                    loadedBuilder = false;
                    alert('Failed to load the builder');
                });
        }
    });

    // Location
    var $loc = $('#loc');
    $loc.on('change', function () {
        var $list = $('.loc-list');
        var parts = $loc.val().split(',');
        if (parts.length === 3) {
            $('#loc-text').text(
                'lat:' + parts[0] + ' lon:' + parts[1] + ' dist:' + parts[2]
            );
            $list.show();
        } else {
            $list.hide();
        }
    });
    $loc.trigger('change');
    $('.remove-loc').on('click', function (e) {
        e.preventDefault();
        $loc.val('');
        $loc.trigger('change');
        goToPage(1)
    });
    // Search builder
    var loadedMap = false;
    $('#mapModal').on('show.bs.modal', function () {
        if (!loadedMap) {
            loadedMap = true;
            $.get('<?php echo $this->url($this->base, ['action' => 'map']); ?>')
                .done(function (data) {
                    $('#mapModal').find('.modal-body').html(data);
                })
                .fail(function () {
                    loadedMap = false;
                    alert('Failed to load the map');
                });
        }
    });

    // Page Options
    var save = false;
    var prevOptions = {};
    $('#optionsModal').on('show.bs.modal', function () {
        save = false;
        prevOptions = getOptions();
    }).on('hide.bs.modal', function () {
        if (!save) {
            setOptions(prevOptions);
        }
    });
    $('#saveOptions').on('click', function () {
        save = true;
        window.KotkaApp.setRemember('<?php echo $this->base ?>', getOptions());
        $('#optionsModal').modal('hide');
        $form.submit();
    });
    function getOptions() {
        var options = {};
        options['aggrs'] = $('#aggr-options').val();
        options['fields'] = $('#field-options').val();
        options['size'] = $('#aggr-size').val();
        options['identifierAsRange'] = $('.identifier-as-range input[type="checkbox"]').is(':checked');
        $('.real-identifier-as-range input').val(options['identifierAsRange'] ? '1' : '0');
        return options;
    }
    function setOptions(options) {
        if (typeof options['identifierAsRange'] === 'undefined') {
            options['identifierAsRange'] = true;
        }
        $('#aggr-options').val(options['aggrs']).trigger("change");
        $('#field-options').val(options['fields']).trigger("change");
        $('#aggr-size').val(options['size']);
        $('.identifier-as-range input[type="checkbox"]').attr('checked', options['identifierAsRange']);
        $('.real-identifier-as-range input').val(options['identifierAsRange'] ? '1' : '0');
    }

    var tour = new Tour({
        keyboard: false,
        storage: false,
        backdrop: true,
        backdropPadding: 5,
        steps: [
            {
                element: ".identifier",
                title: "Identifier-kenttä",
                content: "Tähän voit kirjoittaa näytteen tunnisteen tai tunnistevälin. Hakeaksesi tunnistevälillä jätä pois ei-numeerisia merkit, jos objectID sisältää niitä. Esimerkiksi jos haluat etsiä " +
                    "väliltä JA.HA12-13 ja JA.HA12-17, niin kirjoita ehto muodossa JA.1213-1217. " +
                    "Halutessasi voit kytkeä tunnistevälihaun pois asetuksista.",
                placement: "bottom"
            },
            {
                element: ".singe-query",
                title: "Hakukenttä",
                content: 'Tähän kirjoitetuilla sanoilla haetaan kaikista näytteiden kentistä (taksoni, ' +
                'paikannimet, kerääjä jne…). Haku palauttaa ne näytteet joissa jokin ' +
                'antamistasi sanoista löytyy. Jos haluat etsiä vain näytteet, joissa ' +
                'esiintyvät kaikki sanat, klikkaa AND-nappia jokaisen sanan jälkeen. ' +
                '<h3>Monipuolisia hakuehtoja:</h3> ' +
                '<p>Haku fraasilla: kääri hakusanat lainausmerkkeihin. Esim. "Helsingin pitäjä"</p>' +
                '<p>Sanan voi katkaista asteriskilla (*). Kysymysmerkillä (?) voi korvata minkä ' +
                'tahansa merkin. Aksenttimerkkejä ei huomioida haussa (esim. ”Saõ Tome” = ' +
                '”Sao Tome”), paitsi kirjaimissa å, ä ja ö.</p>' +
                '<p>Haun kohdistaminen tiettyyn kenttään: kirjoita kentän nimi, kaksoispiste ' +
                'ja hakusana. Esim. locality:lahti tai leg:lahti.</p>' +
                '<p>Samankaltaisuushaku: lisää hakusanan loppuun tilde-merkki (~). Esim. haku ' +
                'locality:helsinki~ palauttaa myös näytteet joissa on paikannimessä ' +
                '”Helsingin” ja ”Helsinge”. </p>' +
                '<p>Näytteet, joista puuttuu jokin tieto: NOT _exists_:contry (näytteet joissa ei ' +
                'maan nimeä) ' +
                'Näytteet joissa on jokin tieto: _exists_: contry (näytteet joissa on maan nimi)</p>',
                placement: "bottom"
            },
            {
                element: ".accepted",
                title: "Suositelluksi merkityt",
                content: "Kun laitat tähän ruksin, taksonin nimellä tehdyt haut kohdistuvat vain " +
                "suositelluksi merkittyyn tai uusimpaan määritykseen (niillä näytteillä, " +
                "joissa on useita määrityksiä).",
                placement: "right"
            },
            {
                element: ".previously",
                title: "Äskettäin lisätyt",
                content: "Tätä klikkaamalla saat lomakkeelle äsken tallentamiesi näytteiden " +
                "tunnisteet, jolloin palaaminen niitä katsomaan on helppoa.",
                placement: "left"
            },
            {
                element: "#bucket",
                title: "Pika rajaukset",
                content: "Vasemmassa palstassa näet useimmin käytetyt arvot ja näytteiden määrän. " +
                "Näytettävät kentät ja näytettävien arvojen määrän voit valita itse " +
                "asetuksista. Voit rajata hakua klikkaamalla jotakin arvoa.",
                placement: "top"
            },
            {
                element: ".options",
                title: "Asetukset",
                content: "Asetuksista voit valita mitä kenttiä vasemmassa palstassa ja " +
                "hakutulostaulukossa näytetään.",
                placement: "left"
            }
        ],
        template: '<div class="popover">' +
        '<div class="arrow"></div> ' +
        '<h3 class="popover-title"></h3> ' +
        '<div class="popover-content"></div>' +
        '<div class="popover-navigation"> ' +
        '<div class="btn-group"> ' +
        '<button class="btn btn-sm btn-default" data-role="prev">« Edellinen</button> ' +
        '<button class="btn btn-sm btn-default" data-role="next">Seuraava »</button>  ' +
        '</div> ' +
        '<button class="btn btn-sm btn-default" data-role="end">Lopeta esitys</button>' +
        '</div>' +
        '</div>'

    });

    tour.init();
    $('#tutorial').click(function () {
        tour.start(true);
        if (tour.getCurrentStep() > 0) {
            tour.goTo(0);
        }
    });

    init.push(function () {
        /*
         var tutorial = this.getRemember('search-tutorial');
         if (tutorial == false) {
         this.setRemember('search-tutorial', true);
         tour.start();
         }
         */

        var searchOptions = this.getRemember('<?php echo $this->base ?>');
        var defaultOptions = {};

        <?php ?>
        defaultOptions['size'] = 10;
        defaultOptions['identifierAsRange'] = true;
        defaultOptions['fields'] = ['taxon', 'locality'];
        defaultOptions['aggrs'] = ['editor<?php echo $suffix?>', 'leg<?php echo $suffix?>', 'taxon<?php echo $suffix?>', 'taxonRank<?php echo $suffix?>', 'typeStatus<?php echo $suffix?>'];
        if (1 === <?php echo isset($params['c']) ? '1' : '0' ?>) {
            var options = <?php echo json_encode($params) ?>;
            if (options['aggr']) {
                options['aggrs'] = options['aggr'];
            } else {
                options['aggrs'] = [];
            }
            if (options['aggr-size']) {
                options['size'] = options['aggr-size'];
            } else {
                options['size'] = defaultOptions['size'];
            }
            setOptions(options);
            try {
                window.history.replaceState({}, document.title, window.location.href.split('?')[0]);
            } catch (e) {
                console.log(e);
            }
        } else if (searchOptions !== false) {
            setOptions(searchOptions);
        } else {
            setOptions(defaultOptions);
        }
        $form.submit();
        $('#aggr-options').select2({
            placeholder: 'filters',
            allowClear: true,
            maximumSelectionSize: 20
        });
        $('#field-options').select2({
            placeholder: 'Result fields',
            allowClear: true,
            maximumSelectionSize: 20
        });
    });

    <?php // search field handling ?>
    var isInQuote = false;
    var cache = [];
    var searchField = '';
    var valueHXR = null;
    var timeoutValue = null;
    var dateActive = false;
    $search.textcomplete([
        { // field connector
            words: ['AND', 'OR'],
            first: '"',
            match: /(["\])]\s\w{0,3})$/,
            index: 1,
            search: function (term, callback) {
                var searchTerm = term.split(' ')[1].toLowerCase();
                this.first = term.charAt(0);
                callback($.map(this.words, function (word) {
                    return word.toLowerCase().indexOf(searchTerm) === 0 ? word : null;
                }));
            },
            replace: function (word) {
                return this.first + ' ' + word + ' ';
            },
            context: function (text) {
                var match = text.match(/"/g);
                return !(match && match.length % 2);
            }
        },
        { // field list autocomplete
            words: <?php echo json_encode(array_merge(array_diff($elasticFields, $geoPoints), ['_exists_'])) ?>,
            dates: <?php echo json_encode($dates) ?>,
            dateTimes: <?php echo json_encode($dateTimes) ?>,
            match: /\b(_\w{0,}|\w{1,})$/,
            index: 1,
            search: function (term, callback) {
                term = term.toLowerCase();
                callback($.map(this.words, function (word) {
                    return word.toLowerCase().indexOf(term) === 0 ? word : null;
                }));
            },
            replace: function (word) {
                if ($.inArray(word, this.dates) !== -1) {
                    $('#dateStart').data("DateTimePicker").show();
                    setTimeout(function () {
                        dateActive = true;
                        $search.blur()
                    }, 20);
                    return [word + ': [', '_FROM_ TO _TO_]'];
                } else if ($.inArray(word, this.dateTimes) !== -1) {
                    $('#dateTimeStart').data("DateTimePicker").show();
                    setTimeout(function () {
                        dateActive = true;
                        $search.blur()
                    }, 20);
                    return [word + ': [', '_FROM_ TO _TO_]'];
                } else {
                    return [word + ': "', '"'];
                }
            },
            context: function (text) {
                var match = text.match(/[")(\]\[]/g);
                return !(match && match.length % 2);
            }
        },
        { // value autocomplete
            match: /\b(\w{3,}:\s"[\w\.\s]{0,})$/,
            index: 1,
            search: function (term, callback) {
                if (valueHXR !== null) {
                    valueHXR.abort();
                }
                if (timeoutValue !== null) {
                    clearTimeout(timeoutValue);
                }
                var searchText = term.split('"')[1].toLowerCase();
                searchField = term.split(':')[0];
                timeoutValue = setTimeout(function () {
                    valueHXR = $.getJSON('/js/data/search.json', {field: searchField, search: searchText})
                        .done(function (resp) {
                            valueHXR = null;
                            callback(resp);
                        })
                        .fail(function () {
                            callback([]);
                        });
                }, 300);

                callback([]);
            },
            replace: function (word) {
                return searchField + ': "' + word;
            },
            context: function (text) {
                var match = text.match(/"/g);
                return (match && match.length % 2);
            }
        }
    ], { maxCount: 20, debounce: 500 });

    $search.on('keyup', function () {
        if (dateActive) {
            dateActive = false;
            $('#dateStart').data("DateTimePicker").hide();
            $('#dateEnd').data("DateTimePicker").hide();
            $('#dateTimeStart').data("DateTimePicker").hide();
            $('#dateTimeEnd').data("DateTimePicker").hide();
        }
    });

    var options = {
        locale: 'en-au',
        useCurrent: true,
        sideBySide: true,
        format: 'YYYY-MM-DD',
        widgetPositioning: {
            vertical: 'bottom'
        },
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down",
            previous: "fa fa-angle-left",
            next: "fa fa-angle-right",
            today: 'fa fa-sun-o',
            close: 'fa fa-check'
        }
    };

    options['dayViewHeaderFormat'] = '[From: ] MMMM YYYY';
    $('#dateStart')
        .datetimepicker(options)
        .on("dp.hide", function (e) {
            if (!dateActive) {
                return;
            }
            var date = e.date;
            setDate(date, '_FROM_', false);
            $(e.target).data("DateTimePicker").hide().clear();
            if (tagExists('_TO_')) {
                $('#dateEnd')
                    .data("DateTimePicker")
                    .minDate(date)
                    .date(date)
                    .show();
            }
        });
    options['dayViewHeaderFormat'] = '[To: ] MMMM YYYY';
    $('#dateEnd')
        .datetimepicker(options)
        .on("dp.hide", function (e) {
            if (!dateActive) {
                return;
            }
            dateActive = false;
            setDate(e.date, '_TO_', false);
            $(e.target).data("DateTimePicker").hide().clear();
            setTimeout(function () {
                $search.focus()
            }, 20);
            goToPage(1);
        });


    options['format'] = 'YYYY-MM-DD[T]HH:mm:ss';
    options['showClose'] = true;
    options['dayViewHeaderFormat'] = '[From: ] MMMM YYYY';
    $('#dateTimeStart')
        .datetimepicker(options)
        .on("dp.hide", function (e) {
            if (!dateActive) {
                return;
            }
            var date = e.date;
            setDate(date, '_FROM_', true);
            $(e.target).data("DateTimePicker").hide().clear();
            if (tagExists('_TO_')) {
                $('#dateTimeEnd')
                    .data("DateTimePicker")
                    .minDate(date)
                    .date(date)
                    .show();
            }
        });
    options['dayViewHeaderFormat'] = '[To: ] MMMM YYYY';
    $('#dateTimeEnd')
        .datetimepicker(options)
        .on("dp.hide", function (e) {
            if (!dateActive) {
                return;
            }
            dateActive = false;
            setDate(e.date, '_TO_', true);
            $(e.target).data("DateTimePicker").hide().clear();
            setTimeout(function () {
                $search.focus()
            }, 20);
            goToPage(1);
        });

    function setDate(moment, tag, includeTime) {
        var format = includeTime ? 'YYYY-MM-DD[T]HH:mm:ss' : 'YYYY-MM-DD';
        var val = $search.val().replace(tag, moment.format(format));
        $search.val(val);
        try {
            // Not suppoerted by IE yet...
            document.querySelector('#search').dispatchEvent(new CustomEvent('autosize.update'));
        } catch (e) {
        }
    }

    function tagExists(tag) {
        return ($search.val().indexOf(tag) !== -1)
    }

    var clipboard = new ClipboardJS('#permalink');
    clipboard.on('success', function(e) {
        $.growl.notice({title: "Link", message: "copied to clipboard"});
        e.clearSelection();
    });

    <?php $this->inlineScript()->captureEnd();?>
</script>
