<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">body {
            font-family: Arial;
        }

        @page {
            size: A4;
            margin: 5mm;
        }

        body {
            margin: 0;
            font-size: <?php echo $this->baseFontSizePt?>pt;
        } <?php echo $this->styles ?></style>
</head>
<body>
<div id="allLabels"><?php echo $this->labels ?></div>
</body>
</html>