<div class="row query-builder">
    <div class="col-sm-12">
        <div id="leafletMap" style="height:600px;"></div>
        <p>Click on the map to draw a circle for the are that you want to search specimens from.</p>
    </div>
</div>

<script>
    <?php
    // Timeout is needed so that the map is rendered correctly to the search modal.
    // This error will be visible only in production since that's the only place we
    // currently use apache to proxy our content.
    ?>
    setTimeout(function () {
        var leafletMap = L.map('leafletMap', {
            center: [60, 20],
            zoom: 3,
            minZoom: 1
        });
        L.tileLayer('http://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'
        }).addTo(leafletMap);

        var drawnItems = new L.FeatureGroup();
        leafletMap.addLayer(drawnItems);

        var circleDrawer = new L.Draw.Circle(leafletMap, {
            shapeOptions: {
                color: '#339933'
            },
            repeatMode: true
        });

        leafletMap.on('draw:created', function (e) {
            var type = e.layerType;
            var layer = e.layer;

            $('#mapModal').modal('hide');
            if (type === 'circle') {
                var radius = parseInt(layer.getRadius(), 10);
                var radSuffix = 'm';
                if (radius > 5000) {
                    radius = (radius / 1000);
                    radSuffix = 'km';
                    if (radius > 100) {
                        radius = parseInt(radius, 10);
                    }
                }
                var latLng = layer.getLatLng();
                var str = latLng.lat.toFixed(6) + "," + latLng.lng.toFixed(6) + "," + radius + radSuffix;
                $loc.val(str);
                $loc.trigger('change');
                goToPage(1);
            }
        }).on('click', function () {
            circleDrawer.enable();
        });
    }, 500);
</script>