<input id="search-permalink"
   value="<?php echo $this->url($this->base, array(), array('query' => $this->params)); ?>" style="display: none" />
<?php if (isset($this->error)): ?>
    <?php if (is_array($this->error)): ?>
        <?php echo $this->partial('kotka/partial/messages', array('type' => 'danger', 'messages' => $this->error, 'title' => '<strong>Invalid query</strong>:')); ?>
    <?php else: ?>
        <?php echo $this->partial('kotka/partial/messages', array('type' => 'danger', 'messages' => ['<strong>' . $this->error . '</strong>'])); ?>
    <?php endif ?>
<?php elseif (isset($this->dataGrid)): ?>
    <?php echo $this->dataGrid ?>
<?php endif;