<?php
use ZfcDatagrid\Column\Type;

$hasMassActions = false;
if(count($this->massActions) > 0){
    $hasMassActions = true;
}
?>

<?php if ($this->daterangeEnabled): ?>
    <?php $this->inlineScript()->captureStart();?>
    $(function(){
        <?php //If daterange bootstrapTable filter is enable show it ?>
            $('input.daterange').daterangepicker(
            <?= Zend\Json\Json::encode($this->daterangeParameters, false, array('enableJsonExprFinder' => true)); ?>
            ).on('apply.daterangepicker', function(ev,picker){
                this.form.submit();
            });
        
    });
    <?php $this->inlineScript()->captureEnd(); ?>
<?php endif; ?>


<?php echo $this->toolbar; ?>

<?php
$orderOnclick = 'sortGrid(\'%s\',\'%s\'); return false;';

$classes = array('table', 'table-striped', 'table-bordered', 'tablesorter-bootstrap');
if($this->rowClickAction !== null){
    $classes[] = 'table-hover';
}
?>

<?php echo $this->partial($this->templateToolbar);?>

<table class="<?php echo implode(' ', $classes); ?>">
    <thead>
        <tr style="background-color: #EEE">
            <?php
            if($hasMassActions === true){
                echo '<th><input type="checkbox" onclick="' . $this->gridId . '_toggleCheckboxes(this);" /></th>';
            }

            foreach($this->columns as $col){
                /* @var $col \ZfcDatagrid\Column\AbstractColumn */
                $classes = array();
                $styles = array();

                $id = $col->getUniqueId();

                $label = '';
                if($col->getLabel() != ''){
                    $label = $this->translate($col->getLabel());
                }
                
                $width = $col->getWidth();
                if($width != ''){
                    $styles[] = 'width: '.$this->escapehtmlattr($width).'%';
                }
                
                
                if($col->isHidden() === true){
                    $classes[] = 'hidden';
                }
                if($col->getType() instanceof Type\Number){
                    $styles[] = 'text-align: right';
                }
                ?>
                <?php
                $onClick = '';
                if ($col->isUserSortEnabled() === true) {
                    $field = $col->getUniqueId();
                    if ($col->isSortActive() === true && $col->getSortActiveDirection() === 'ASC') {
                        $direction = 'DESC';
                    } else if ($col->isSortActive() === true && $col->getSortActiveDirection() === 'DESC') {
                        $direction = '';
                        $field = '';
                    } else {
                        $direction = 'ASC';
                    }
                    $classes[] = 'tablesorter-header';
                    $onClick   = 'onclick="' . sprintf($orderOnclick, $field, $direction) . '"';
                }
                ?>
                <th id="<?php echo $this->escapehtmlattr($id); ?>" class="<?php echo implode(' ', $classes); ?>" style="<?php echo implode(';', $styles); ?>" <?php echo $onClick ?>>
                    <div class="tablesorter-wrapper" style="position:relative;height:100%;width:100%">
                        <div class="tablesorter-header-inner">
                        <?php echo $this->escapeHtml($label); ?>
                        <?php
                        if($col->isSortActive() === true){
                            if($col->getSortActiveDirection() === 'ASC'):?>
                                <i class="tablesorter-icon icon-chevron-woen fa fa-chevron-down"></i>
                            <?php else: ?>
                                <i class="tablesorter-icon icon-chevron-up fa fa-chevron-up"></i>
                            <?php endif;
                        }
                        ?>
                        </div>
                    </div>
                </th>
                <?php
            }
            ?>
        </tr>
        
        <!-- User filters -->
        <?php if($this->isUserFilterEnabled === true):?>
            <tr style="background-color: #EEE">
                <?php
                if($hasMassActions === true){
                    echo '<td></td>';
                }
                foreach($this->columns as $col){
                    /* @var $col \ZfcDatagrid\Column\AbstractColumn */

                    $classes = array();
                    if($col->isHidden() === true){
                        $classes[] = 'hidden';
                    }
                    
                    $htmlFilter = '';
                    if ($col->isUserFilterEnabled() === true) {

                        if ($col->hasFilterSelectOptions() === true) {
                            $htmlFilter = '<select name="toolbarFilters[' . $col->getUniqueId() . ']" style="width: 80%" onchange="this.form.submit()" >';
                            foreach ($col->getFilterSelectOptions() as $value => $option) {
                                if ($col->getFilterActiveValue() == sprintf($col->getFilterDefaultOperation(), $value)) {
                                    $htmlFilter .= '<option value="' . $value . '" selected="selected">' . $option . '</option>';
                                } else if (($col->getFilterActiveValue() == '') && ($value == '')){
                                    $htmlFilter .= '<option value="' . $value . '" selected="selected">' . $option . '</option>';
                                } else {
                                    $htmlFilter .= '<option value="' . $value . '">' . $option . '</option>';
                                }
                            }
                            $htmlFilter .= '</select>';

                        } else if ($col->getType() instanceof \ZfcDatagrid\Column\Type\DateTime){
                            $htmlFilter = '<input type="text" name="toolbarFilters[' . $col->getUniqueId() . ']" style="width: 80%" value="' . $col->getFilterActiveValue() . '" class="daterange" />';
                        } else {
                            $htmlFilter = '<input type="text" name="toolbarFilters[' . $col->getUniqueId() . ']" style="width: 80%" value="' . $col->getFilterActiveValue() . '" />';
                        }
                    }
                    ?>
                    <td class="<?php echo implode(' ', $classes); ?>">
                        <?php echo $htmlFilter; ?>
                    </td>
                    <?php
                }
                ?>
            </tr>
        <?php endif; ?>
    </thead><!-- END table header -->
     
    <!-- Start table BODY -->
    <tbody>
        <?php foreach($this->data as $row): ?>
            <?php echo $this->bootstrapTableRow($row, $this->columns, $this->rowClickAction, $this->rowStyles, $hasMassActions); ?>
        <?php endforeach; ?>
    </tbody>
</table>

<?php echo $this->partial('zfc-datagrid/renderer/bootstrapTable/footer'); ?>
