<?php

$linkFirst = $linkLast = $linkNext = $linkPrev = '#';
$linkNextDis = $linkPrevDis = '  disabled';
$pages = isset($this->paginator) ? $this->paginator->getPages() : $this;
$activeParameters = isset($this->activeParameters) ? $this->activeParameters : [];
$paginatorOnclick = 'goToPage(%s); return false;';

if ($pages->current > 1) {
    $linkPrevDis = '';
    $linkPrev = $this->url(null, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => $pages->current - 1))), true);
    $linkFirst = $this->url(null, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => 1))), true);
}

if ($pages->current < $pages->pageCount) {
    $linkNextDis = '';
    $linkNext = $this->url($this->matchedRouteName, array(), array('query' => array_merge($activeParameters, array($this->parameterNames['currentPage'] => $pages->current + 1))), true);

    $linkLast = $this->url(null, array(), array('query' => array_merge($activeParameters, array($this->parameterNames['currentPage'] => $pages->pageCount))), true);
}
$lastPage = isset($pages->count) ? $pages->count : 0;
$totalItems = $pages->totalItemCount;
$itemsPerPage = $pages->itemCountPerPage;
$itemFrom = ($itemsPerPage * ($pages->current - 1)) + 1;
$itemTo = $itemFrom + $itemsPerPage - 1;
if ($itemTo > $totalItems) {
    $itemTo = $totalItems;
}
?>

<ul class="pagination" style="margin: 0; padding: 0;">
    <?php if ($pages->current > 1): ?>
        <li><a href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->current - 1); ?>">
                &laquo; Previous
            </a>
        </li>
        <?php if (!isset($pages->pagesInRange[1])): ?>
            <li>
                <a href="#" onclick="<?php echo sprintf($paginatorOnclick, 1); ?>">
                    1...
                </a>
            </li>
        <?php endif; ?>
    <?php else: ?>
        <li class="disabled">
            <a href="#">&laquo; Previous</a>
        </li>
    <?php endif; ?>

    <?php $hasLast = false; ?>
    <?php foreach ($pages->pagesInRange as $page): ?>
        <?php
        if ($page == $lastPage) {
            $hasLast = true;
        }

        if ($pages->current != $page):
            $onclick = sprintf($paginatorOnclick, $page);
            ?>
            <li>
                <a class="visible-lg" href="#" onclick="<?php echo $onclick; ?>">
                    <?php echo $page; ?>
                </a>
            </li>
        <?php else:?>
            <li class="active">
                <a>
                    <?php echo $page; ?><span class="hidden-inline-lg">/<?php echo $pages->pageCount ?></span>
                </a>
            </li>
        <?php endif ?>
    <?php endforeach; ?>

    <?php if ($pages->current < $pages->pageCount): ?>
        <?php if (!$hasLast): ?>
            <li>
                <a class="visible-lg" href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->pageCount); ?>">
                    ... <?php echo $lastPage ?>
                </a>
            </li>
        <?php endif; ?>
        <li>
            <a href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->current + 1); ?>">
                Next &raquo;
            </a>
        </li>
    <?php else: ?>
        <li class="disabled">
            <a href="#">Next &raquo;</a>
        </li>
    <?php endif; ?>
</ul>