<div class="form-group" data-advanced="2">
    <?php echo $this->formLabel()->openTag() ?>Date<?php echo $this->formLabel()->closeTag() ?>
    <div class="col-sm-3 advanced-group"><?php echo $this->FormElement($this->MYDateBegin) ?></div>
    <!--<div class="col-sm-1 form-control-static text-center no-gutter no-gutter-right">-</div>-->
    <div class="col-sm-3 advanced-group"><?php echo $this->FormElement($this->MYDateEnd) ?></div>
</div>