<?php

/** @var \Zend\Form\Element\Collection $element */
/** @var \Kotka\Form\PictureMeta $template */
$partial = 'kotka/specimens/partial/image';
$template = $element->getTemplateElement();
$placeHolder = $element->getOption('template_placeholder');
$total = $this->Count($element);
$id = $this->Id($element->getName());
$templateHtml = $this->partial($partial, array('form' => $template, 'id' => $id));
?>
<a href="#<?php echo $id ?>" class="add-tab" data-target="<?php echo $id ?>"
   data-placeholder="<?php echo $placeHolder ?>">Add image</a>
<div class="images row"
     id="<?php echo $id ?>"
     data-count="<?php echo $total ?>"
     data-template="<?php echo $this->EscapeHtmlAttr($templateHtml) ?>"
     data-template-elem="images"
     data-template-name="MYDocument">
    <?php foreach ($element as $form): ?>
        <?php echo $this->partial($partial, array('form' => $form, 'id' => $id)) ?>
    <?php endforeach; ?>
</div>
<?php
$this->formRow()
    ->setLabelClass('col-sm-2 control-label')
    ->setElementClass('col-sm-7')
    ->setRowClass('form-group advanced-group');
?>
<script>
    <?php $this->inlineScript()->captureStart();?>
    $('#tags').select2({
        placeholder: "Tags"
    });
    <?php $this->inlineScript()->captureEnd();?>
</script>
