<?php
$this->headScript()->prependFile($this->basePath() . '/js/map/wkartta.js?v=' . KOTKA_BUILD);
$this->headScript()->prependFile($this->basePath() . '/leaflet/leaflet.js?v=' . KOTKA_BUILD);
$this->headLink()->appendStylesheet($this->basePath() . '/leaflet/leaflet.css?v=' . KOTKA_BUILD);
$idMap = $this->Id($this->MYLatitude->getName()) . '_map';
$idLat = $this->Id($this->MYLatitude->getName());
$idLon = $this->Id($this->MYLongitude->getName());
$idSys = $this->Id($this->MYCoordinateSystem->getName());
$idWgsLat = $this->Id($this->MYWgs84Latitude->getName());
$idWgsLon = $this->Id($this->MYWgs84Longitude->getName());
$idVerbatim = $this->Id($this->MYCoordinatesVerbatim->getName());
?>
<div class="form-group">
    <div class="col-sm-12">
        <div class="form-group well well-sm map-group" style="margin-left:0">
            <div class="form-group advanced-group">
                <label class="col-sm-3 control-label">
                    <?php echo $this->MYCoordinatesVerbatim->getLabel() ?>
                </label>

                <div class="col-sm-6" id="<?php echo $idVerbatim ?>">
                    <?php echo $this->formElement($this->MYCoordinatesVerbatim) ?>
                </div>
                <?php echo $this->formRow()->help($this->MYCoordinatesVerbatim) ?>
            </div>
            <div class="form-group" data-advanced="8">
                <div class="col-sm-9">
                    <div id="<?php echo $idMap ?>"
                         class="col-sm-12 add-map" style="height: 420px; "
                         data-latitude-target="#<?php echo $idWgsLat ?>"
                         data-longitude-target="#<?php echo $idWgsLon ?>"
                         data-verbatim-target="#<?php echo $idVerbatim ?>"
                         data-latitude-source="#<?php echo $idLat ?>"
                         data-longitude-source="#<?php echo $idLon ?>"
                         data-system-source="#<?php echo $idSys ?>">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="hidden" id="<?php echo $idWgsLat ?>">
                            <?php echo $this->formElement($this->MYWgs84Latitude) ?>
                        </div>
                        <div class="hidden" id="<?php echo $idWgsLon ?>">
                            <?php echo $this->formElement($this->MYWgs84Longitude) ?>
                        </div>
                        <div class="col-sm-12 map-latitude advanced-group" id="<?php echo $idLat ?>">
                            <label class="control-label">
                                <?php echo $this->MYLatitude->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYLatitude) ?>
                        </div>
                        <div class="col-sm-12 map-longitude advanced-group" id="<?php echo $idLon ?>">
                            <label class="control-label">
                                <?php echo $this->MYLongitude->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYLongitude) ?>
                        </div>
                        <div class="col-sm-12 map-system advanced-group" id="<?php echo $idSys ?>">
                            <label class="control-label">
                                <?php echo $this->MYCoordinateSystem->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYCoordinateSystem) ?>
                        </div>
                        <div class="col-sm-12 advanced-group">
                            <label class="control-label">
                                <?php echo $this->MYCoordinateSource->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYCoordinateSource) ?>
                        </div>
                        <div class="col-sm-12 advanced-group">
                            <label class="control-label">
                                <?php echo $this->MYGeoreferenceSource->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYGeoreferenceSource) ?>
                        </div>
                        <div class="col-sm-12 advanced-group">
                            <label class="text-left control-label">
                                <?php echo $this->MYCoordinateRadius->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYCoordinateRadius) ?>
                        </div>
                        <div class="col-sm-12 advanced-group">
                            <label class="control-label">
                                <?php echo $this->MYAlt->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYAlt) ?>
                        </div>
                        <div class="col-sm-12 advanced-group">
                            <label class="control-label">
                                <?php echo $this->MYDepth->getLabel() ?>
                            </label>
                            <?php echo $this->formElement($this->MYDepth) ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" data-advanced="2">
                <div class="advanced-group">
                    <label class="control-label col-sm-3">
                        <?php echo $this->MYAFEQuadrat->getLabel() ?>
                    </label>

                    <div class="col-sm-2">
                        <?php echo $this->formElement($this->MYAFEQuadrat) ?>
                    </div>
                </div>
                <div class="advanced-group">
                    <label class="control-label col-sm-2">
                        <?php echo $this->MYUTMQuadrat->getLabel() ?>
                    </label>

                    <div class="col-sm-2">
                        <?php echo $this->formElement($this->MYUTMQuadrat) ?>
                    </div>
                </div>
            </div>
            <div class="form-group advanced-group">
                <label class="col-sm-3 control-label">
                    <?php echo $this->MYCoordinateNotes->getLabel() ?>
                </label>

                <div class="col-sm-6">
                    <?php echo $this->formElement($this->MYCoordinateNotes) ?>
                </div>
            </div>
        </div>
    </div>
</div>