<?php
$measurements = $this->measurements->getValueOptions();
$empty = [];
$has = [];
/** @var \Zend\View\Helper\Placeholder\Container\AbstractContainer $placeHolder */
$placeHolder = $this->placeholder('measurementCount');
$count = $placeHolder->getValue();
if (empty($count)) {
    $count = 0;
}
$count++;
$placeHolder->set($count);
$this->placeholder('measurementCount')->set($count);
?>
<fieldset data-advanced="<?php echo count($measurements) ?>" id="measurements-<?php echo $count ?>">
    <legend>Measurements</legend>
    <?php echo $this->formRow($this->measurements, null, null, null, 'col-sm-6 col-sm-offset-2 pull-up', 'col-sm-9'); ?>
    <div class="form-group">
        <?php foreach ($measurements as $measurement => $value): ?>
            <div class="advanced-group">
                <div class="col-sm-6 col-lg-4 <?php echo $measurement ?>-wrapper">
                    <div class="form-group">
                        <?php
                        $value = null;
                        if ($this->$measurement->has(0)) {
                            $value = $this->$measurement->get(0)->getValue();
                        }
                        if (empty($value)) {
                            $empty[] = $measurement;
                        } else {
                            $has[] = $measurement;
                        }
                        ?>
                        <?php echo $this->formRow($this->$measurement, null, null, null, 'col-sm-12', 'col-sm-9 no-gutter', 'col-sm-3 control-label'); ?>
                    </div>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</fieldset>

<script>
    <?php $this->inlineScript()->captureStart();?>
    (function ($) {
        var $measurements = $('#measurements-<?php echo $count ?>');
        var $select = $measurements.find('select');
        $select.on('change', function () {
            var $this = $(this);
            var value = $this.val();
            if (value == '') {
                return;
            }
            var row = '.' + value + '-wrapper';
            $this.val('');
            $this.find("option[value='" + value + "']").remove();
            $measurements.find(row).show();
        });

        $.each(<?php echo json_encode($empty) ?>, function (index, value) {
            $measurements.find('.' + value + '-wrapper').hide();
        });

        $.each(<?php echo json_encode($has) ?>, function (index, value) {
            $select.find("option[value='" + value + "']").remove();
        })
    })(jQuery);
    <?php $this->inlineScript()->captureEnd();?>
</script>