<?php
$escaper = new Zend\Escaper\Escaper();
?>

<div class="page-header">
    <h1>
        Templates
    </h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <tr>
            <th>
                URI
            </th>
            <th>
                Datatype
            </th>
            <th>
                Country & province
            </th>
            <th>
                Locality
            </th>
            <th>
                Dates
            </th>
            <th>
                Editor
            </th>
        </tr>
        <?php foreach ($this->templates as $template): ?>
            <tr>
                <td>
                    <?php $group = str_replace('specimen', '', $template->getDatatype()) ?>
                    <a href="<?php echo $this->url('bttps/specimens', array('action' => 'edit', 'group' => $group), array('query' => array('uri' => $template->getUri()))) ?>">
                        <?php echo $escaper->escapeHtml($template->getUri()) ?>
                    </a>
                </td>
                <td>
                    <?php echo $escaper->escapeHtml($template->getDatatype()) ?>
                </td>
                <td>
                    <?php echo $escaper->escapeHtml($template->getCountry() . " " . $template->getAdministrativeProvince() . " " . $template->getBiogeographicalProvince()) ?>
                </td>
                <td>
                    <?php echo $escaper->escapeHtml($template->getMunicipality() . " " . $template->getLocality()) ?>
                </td>
                <td>
                    <?php echo $escaper->escapeHtml($template->getDateBegin() . " - " . $template->getDateEnd()) ?>
                </td>
                <td>
                    <?php echo $escaper->escapeHtml($template->getEditor()) ?>
                </td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>