<?php
/** @var \Zend\Form\Element\Collection $element */
/** @var \Kotka\Form\TypeFieldset $template */
$partial = 'kotka/specimens/partial/types';
$template = $element->getTemplateElement();
$placeHolder = $element->getOption('template_placeholder');
$total = $this->Count($element);
$id = $this->Id($element->getName());
$html = $this->partial($partial, array('form' => $template, 'id' => $id));
?>
<div class="panel-group"
     id="<?php echo $id ?>"
     data-count="<?php echo $total ?>"
     data-link-prefix="Type "
     data-template="<?php echo $this->EscapeHtmlAttr($html) ?>">
    <a href="#<?php echo $id ?>" class="add-tab" data-target="<?php echo $id ?>"
       data-placeholder="<?php echo $placeHolder ?>">Add type specimen</a>
    <?php foreach ($element as $form): ?>
        <?php echo $this->partial($partial, array('form' => $form, 'id' => $id)) ?>
    <?php endforeach; ?>
</div>