<?php
$escaper = new Zend\Escaper\Escaper();
?>

<ul>
    <?php $empty = $this->type == 'string' ? 'EMPTY' : 'CLEAR'; ?>
    <li id="empty">
        <a href="#" class="picker" id="" title=""><?php echo $empty ?></a>
    </li>
    <?php
    $lastLetter = "";
    $title = "";
    foreach ($this->data as $uri => $data):
        $title = $escaper->escapeHtml($data['title']);
        $letter = $escaper->escapeHtml($data['letter']);
        ?>
        <?php if ($letter != $lastLetter): ?>
        <?php $lastLetter = $letter; ?>
        <li class="letter"><?php echo $letter ?></li>
    <?php endif; ?>
        <li>
            <a href="#" class="picker" id="<?php echo $uri ?>" title="<?php echo $title ?>">
                <?php if (isset($data['strong']) && $this->type != 'string') : ?>
                    <b><?php echo $escaper->escapeHtml($data['strong']) ?></b> -
                <?php endif; ?>
                <?php echo $title ?>
            </a>
        </li>
    <?php endforeach; ?>
</ul>

<script>
    // -------------------------------------------------------------------------------------------
    // Data picker

    $('.picker').click(function () {
        var id;
        id = $(this).attr('id');
        var title;
        title = $(this).attr('title');

        window.opener.$("#<?php echo $this->element; ?>").val(id);
        window.opener.$("#<?php echo $this->element; ?>_additional").html(title);
        window.close();
    });

</script>
