<?php
/** @var \Zend\Paginator\Paginator $specimens */
$specimens = $this->specimens;
$idx = 0;
/** @var \Kotka\View\Helper\Filter $filter */
$filter = $this->Filter();
$filter->addFilter('collection', 'CollectionName');

$type_species_class = "";
$type_species_mem = "";
$collectionName = $filter('collection', $this->collection, $this->collection);
$pages = false;
if ($specimens->count() > 1) {
    $pages = $specimens->getPages();
    $pages->parameterNames['currentPage'] = 'page';
    $pages->noJs = true;
    $pages->activeParameters = $this->criteria;
}
?>
<style>
    <?php $this->headStyle()->captureStart() ?>
    .type {
        list-style: none;
        margin-bottom: 0.5em;
        float: left;
        clear: left;
    }

    /*
        .type_map {
            display: block;
            width: 250px;
            height: 100px;
            padding: 5px 0 0 30px;
        }
    */
    .type_species,
    .type_acceptedname em,
    .type_status {
        font-weight: bold;
    }

    .type_verification {
        padding: 2px;
        border-radius: 3px;
        color: #000;
    }

    .type_verification.verified {
        background-color: #cfc;
    }

    .type_verification.probable {
        background-color: #cff;
    }

    .type_verification.doubtful {
        background-color: #fcc;
    }

    .type_verification.unverified {
        background-color: #ffc;
    }

    .type_acceptedname {
        display: block;
        margin-left: 30px;
        color: #000;
    }

    .type_specimenid {
        display: block;
        font-size: 9px;
        margin-left: 30px;
        color: #000;
    }

    .new_species {
        margin-top: 1.5em;
    }

    <?php $this->headStyle()->captureEnd() ?>
</style>
<?php if (count($specimens) == 0): ?>
    <h1>No type specimens in collection <?php echo $collectionName ?></h1>
    <?php
    return;
endif ?>
<div class="page-header">
    <h1>Type specimens in <?php echo $collectionName; ?>
        <small>
            total of <?php echo $specimens->getTotalItemCount() ?> type specimens
        </small>
    </h1>
</div>
<form id="byCollectionForm">
    <input type="hidden" name="uri" value="<?php echo $this->escapeHtmlAttr($this->criteria['uri'])?>">
    <input type="hidden" name="page" value="1">
</form>

<div style="position: fixed; left: 0; bottom: 0; right: 0; z-index: 10">
    <div class="row">
        <div class="col-xs-6 pull-right">
            <?php if ($pages): ?>
                <?php echo $this->partial('zfc-datagrid/renderer/bootstrapTable/paginator', $pages); ?>
            <?php endif ?>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="types">
            <?php foreach ($specimens as $specimen):
                $idx++;
                $uri = \Common\Service\IdService::getUri($specimen['documentQName']);
                $view = $this->url('view', [], ['query' => ['uri' => $uri]]);

                $type_species = empty($specimen['typeSpecies']) ? '(unnamed)' : $specimen['typeSpecies'];
                if ($type_species == $type_species_mem) {
                    $type_species_class = "";
                } else {
                    $type_species_class = "new_species";
                    $type_species_mem = $type_species;
                }

                ?>
                <li class="type <?php echo $type_species_class; ?>">
                    <a href="<?php echo $view ?>">
                        <em class="type_species">
                            <?php echo $type_species; ?>
                        </em>
						<span class="type_author">
							<?php echo isset($specimen['typeAuthor']) ? $specimen['typeAuthor'] : '' ?>
						</span>
						<span class="type_status">
							<?php echo isset($specimen['typeStatus']) ? $specimen['typeStatus'] : '' ?>
						</span>
                        <?php $typeVerification = isset($specimen['typeVerification']) ? $specimen['typeVerification'] : '' ?>
                        <span class="type_verification <?php echo $typeVerification ?>">
							<?php echo $typeVerification ?>
						</span>
                        <?php if (isset($specimen['taxon']) && !empty($specimen['taxon'])): ?>
                            <span class="type_acceptedname">
						Accepted name:
							<em>
                                <?php echo $specimen['taxon'] ?>
                            </em>
							<span>
								<?php echo isset($specimen['author']) ? $specimen['author'] : '' ?>
							</span>
						</span>
                        <?php endif ?>
                        <span class="type_specimenid">
							Specimen:
                            <?php echo $uri ?>
                            <?php if (isset($specimen['collection']) && $specimen['collection'] !== $collectionName): ?>
                                (in <?php echo $specimen['collection'] ?><?php echo strpos(strtolower($specimen['collection']), 'collection') === false ? ' collection' : '' ?>)
                            <?php endif ?>
						</span>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script>
<?php $this->inlineScript()->captureStart();?>
var $form = $('#byCollectionForm');
// Navigating part
function setPage(page) {
    $form.find('input[name="page"]').val(page);
}
function goToPage(page) {
    setPage(page);
    $form.submit();
}
<?php $this->inlineScript()->captureEnd();?>
</script>
