<?php
/** @var \Kotka\Triple\KotkaEntityInterface $document */
$filter = $this->Filter();
$filter
    ->addFilter('fullname', $this->SelectOptions('MA.person'));

$created = [];
$createdPrep = null;
if ($document->getMZCreator() !== null) {
    $createdPrep = 'by';
    $created[] = $this->Filter('fullname', $document->getMZCreator());
}
if ($document->getMZDateCreated() !== null) {
    if ($createdPrep) {
        $created[] = 'on ' . substr($this->Time($document->getMZDateCreated()), 0, 16);
    } else {
        $createdPrep = 'on';
        $created[] = substr($this->Time($document->getMZDateCreated()), 0, 16);
    }
}

$editor = [];
$editorPrep = null;
if ($document->getMZEditor() !== null) {
    $editorPrep = 'by';
    $editor[] = $this->Filter('fullname', $document->getMZEditor());
}
if ($document->getMZDateEdited() !== null) {
    if ($editorPrep) {
        $editor[] = 'on ' . substr($this->Time($document->getMZDateEdited()), 0, 16);
    } else {
        $editorPrep = 'on';
        $editor[] = substr($this->Time($document->getMZDateEdited()), 0, 16);
    }
}
?>
<?php if (!$this->allowEdit): ?>
    <?php if ($this->denyEditReason): ?>
        <?php echo $this->Alert($this->denyEditReason, 'warning') ?>
    <?php else: ?>
        <?php echo $this->Alert(
            "<strong>Note:</strong> You can only view and copy this record."
            . " To be able to edit this record, you must belong"
            . " to {$this->OrganizationName($document->getMZOwner())}",
            'warning') ?>
    <?php endif; ?>
<?php endif; ?>
<?php if (!empty($editor)): ?>
    <div class="form-group">
        <?php echo $this->formLabel()->openTag() ?>Last
        edited <?php echo $editorPrep . $this->formLabel()->closeTag() ?>
        <div class="col-sm-8 form-control-static">
            <?php echo implode(' ', $editor); ?>
            <?php if ($this->showHistory && $this->allowEdit): ?>
                <a href="<?php echo $this->url('https/specimens', array('action' => 'edit'), array('query' => array('uri' => $document->getUri(), 'history' => 'true'))) ?>">show
                    history</a>
            <?php endif ?>
        </div>
    </div>
<?php elseif ($this->showHistory && $this->allowEdit): ?>
    <div class="form-group">
        <?php echo $this->formLabel()->openTag() ?>&nbsp;<?php echo $this->formLabel()->closeTag() ?>
        <div class="col-sm-8 form-control-static">
            <a href="<?php echo $this->url('https/specimens', array('action' => 'edit'), array('query' => array('uri' => $document->getUri(), 'history' => 'true'))) ?>">show
                history</a>
        </div>
    </div>
<?php endif; ?>
<?php if (!empty($created)): ?>
    <div class="form-group">
        <?php echo $this->formLabel()->openTag() ?>Originally
        created <?php echo $createdPrep . $this->formLabel()->closeTag() ?>
        <div class="col-sm-8 form-control-static">
            <?php echo implode(' ', $created); ?>
        </div>
    </div>
<?php endif ?>
<?php if ($document->getMZOwner() !== null && $document->getMZOwner() != ''): ?>
    <div class="form-group">
        <?php echo $this->formLabel()->openTag() ?>Current owner of record<?php echo $this->formLabel()->closeTag() ?>
        <div class="col-sm-8 form-control-static">
            <?php echo $this->OrganizationName($document->getMZOwner()); ?>
        </div>
    </div>
<?php endif; ?>