<?php
/** @var \Zend\Form\Fieldset $form */
$form = $this->elem;
$isCollection = $elem instanceof \Zend\Form\Element\Collection;
$cnt = 0;
foreach ($form as $elem) {
    $cnt++;
}
if ($isCollection): ?>
    <div class="repeating row"
    data-count="<?php echo $cnt ?>"
    data-placeholder="<?php echo $form->getTemplatePlaceholder() ?>">
    <h2><?php echo $form->getLabel() ?>
        <button class="btn btn-default remove-on-click" type="button" tabindex="-1">×</button>
        <a href="#" class="add btn btn-success" tabindex="-1">
            <i class="fa fa-plus"></i>
        </a>
    </h2>
    <div class="col-sm-11">
        <span
            data-template="<?php echo $this->escapeHtmlAttr($this->partial('kotka/partial/fieldset', ['elem' => $form->getTemplateElement()])) ?>"></span>
    </div>
<?php endif; ?>
<?php
foreach ($form as $elem) {
    if ($elem instanceof \Kotka\Form\Element\ArrayCollection) {
        echo $this->formRow($elem);
    } else if ($elem instanceof \Zend\Form\Fieldset) {
        echo $this->partial('kotka/partial/fieldset', ['elem' => $elem]);
    } else {
        echo $this->formRow($elem);
    }
}
if ($isCollection): ?>
    </div>
<?php endif; ?>