<?php
use Kotka\Model\Util;

/** @var \Zend\Form\Form $form */
$form = $this->form;
$messages = $form->getMessages();
if (count($messages) > 0) {
    $str = array();
    $msgs = Util::extract_messages($messages);
    foreach ($msgs as $place => $message) {
        $str[] = $message . ' <a href="#' . $place . '"  class="name-in-form">»</a><br>';
    }
    $alert = isset($this->errorTitle) ? $this->errorTitle : '<strong>Data was not saved</strong> because it contains error(s). Please correct these and try again:';
    $alert .= '<ul><li>' . implode('</li><li>', $str) . '</li></ul>';
    echo $this->Alert($alert);
}
if ($form instanceof \Kotka\Form\WarningForm) {
    $messages = $form->getWarningMessages();
    if (count($messages) > 0) {
        $str = array();
        $msgs = Util::extract_messages($messages);
        foreach ($msgs as $place => $message) {
            $str[] = $message . ' <a href="#' . $place . '"  class="name-in-form">»</a><br>';
        }
        $alert = isset($this->warningTitle) ? $this->warningTitle : 'Data contains following warning(s):';
        $alert .= '<ul><li>' . implode('</li><li>', $str) . '</li></ul>';
        echo $this->Alert($alert, \Kotka\View\Helper\Alert::TYPE_WARNING);
    }
}
// Here is the needed js to make link to form element by name to work
$this->inlineScript()->appendScript("
    function scrollToElement(selector, time, verticalOffset) {
        time = typeof(time) != 'undefined' ? time : 100;
        verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
        element = $(selector);
        offset = element.offset();
        offsetTop = offset.top + verticalOffset;
        $('html, body').animate({
            scrollTop: offsetTop
        }, time);
    }
    $('body').on('click', '.name-in-form', function(e) {
        var name = $(e.target).attr('href');
        name = name.substring(1);
        scrollToElement('form [name^=\"' + name + '\"].form-control');
        e.preventDefault();

    });");

if ($this->addLeavePreventer) {
    $this->inlineScript()->appendScript("
    init.push(function() {
        // Leave preventer
        var \$form = $(\"#{$form->getName()}\");
        var \$inputs = \$form.find(\":input:not(.no-change-tracker)\");
        var sending = false;
        \$form.data('serialize',\$inputs.serialize());
        \$form.on('submit', function () {
            $('.alert').hide();
            sending = true;
        });
        $(window).bind('beforeunload', function(e){
            if(!sending && \$inputs.serialize() != \$form.data('serialize')) {
                return 'You have unsaved changes on page!';
            } else  {
                e=null;
            }
        });
    })");
}