<?php
$escaper = new \Zend\Escaper\Escaper('utf-8');
$this->headScript()->appendFile($this->basePath() . '/js/jquery.autosize.min.js?v=' . KOTKA_BUILD);
?>
<div id="submit-area">
    <div class="form-group">
        <?php if ($this->history && $this->allowEdit): ?>
            <div class="col-sm-2">
                <a class="btn btn-success pull-right btn-block ladda-button" href="<?php echo $this->disableHistory ?>"
                   data-style="slide-left">
                    <span class="ladda-label">Return to current version</span>
                </a>
            </div>
            <?php if ($this->user()->isAdmin()):?>
                <div class="col-sm-2 col-sm-offset-2">
                    <button type="submit" class="btn btn-danger btn-block ladda-button"
                                                    name="kotka_return" id="submit-return" data-style="slide-left">
                        <span class="ladda-label">Save this version to current</span>
                    </button>
                </div>
            <?php endif ?>
        <?php else: ?>
            <div class="col-sm-2 col-xs-12">
                <?php $disabled = $this->allowEdit ? '' : 'disabled="disabled"'; ?>
                <button <?php echo $disabled ?> type="submit" class="btn btn-primary btn-block ladda-button"
                                                name="kotka_return" id="submit-return" data-style="slide-left">
                    <span class="ladda-label">Save & keep editing</span>
                </button>
            </div>
            <?php if ($this->showCopyAsNew): ?>
                <div class="col-sm-5 col-sm-offset-1 col-xs-12">
                    <div class="btn-group btn-block" role="group">
                        <button <?php echo $disabled ?> type="submit" class="btn btn-primary ladda-button"
                                                        name="kotka_carryforward" id="submit-carryforward"
                                                        data-style="slide-left">
                            <span class="ladda-label">Save & copy as new</span>
                        </button>
                        <button type="submit" class="btn btn-warning ladda-button unable-disable" name="kotka_copy"
                                data-style="slide-left">
                            <span class="ladda-label">Copy as new record</span>
                        </button>
                        <button type="submit" class="btn btn-success ladda-button" name="kotka_clear"
                                data-style="slide-left">
                            <span class="ladda-label">Save and Clear</span>
                        </button>
                    </div>
                </div>
            <?php endif ?>
            <?php if ($this->document instanceof \Kotka\Triple\MYDocument && $this->document->getMYDatatype() === 'accession'): ?>
                <div class="col-sm-2 col-xs-12">
                    <a href="<?php echo $this->url('https/accession', [], ['query' => ['uri' => $this->document->getUri()]]); ?>"
                       class="btn btn-success btn-block ladda-button" data-style="slide-left">
                        <span class="ladda-label">Branches</span>
                    </a>
                </div>
            <?php endif ?>
            <?php if ($this->canDelete): ?>
                <div class="col-sm-1 col-xs-12">
                    <button class="btn btn-danger btn-block ladda-button unable-disable" id="delete"
                            data-style="slide-left">
                        <span class="ladda-label">Delete</span>
                    </button>
                </div>
            <?php endif ?>
        <?php endif; ?>
        <?php if (!$this->add && $this->spot): ?>
            <div class="col-sm-2 pull-right navigation-links" data-nav-base="/specimens/edit?uri=">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default navigation-link-prev disabled"><i
                            class="fa fa-arrow-left"></i></a>
                    <a href="#" class="btn btn-default navigation-link-next disabled"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        <?php endif; ?>
    </div>
    <input type="hidden" value="ok" id="status" name="status">
</div>
<script>
    <?php $this->inlineScript()->captureStart();?>
    <?php if (!$this->allowEdit) { echo "disableForm();"; }?>
    $('form').on('click', '.add-me', function (e) {
        var nameField = $($(e.target).attr('data-add-name'));
        var emailField = $($(e.target).attr('data-add-email'));
        if (typeof nameField !== 'undefined' && nameField !== false) {
            nameField.val('<?php echo $escaper->escapeJs(''. $this->User('fullname')) ?>');
        }
        if (typeof emailField !== 'undefined' && emailField !== false) {
            emailField.val('<?php echo $escaper->escapeJs('' . $this->User('email')) ?>');
        }
    });
    $('textarea').autosize();
    Ladda.bind('.ladda-button');
    <?php if ($this->canDelete): ?>
    $('#delete').on('click', function (e) {
        e.preventDefault();
        if (confirm('Are you sure you want to delete\n<?php echo $escaper->escapeJs('' . $this->document->getUri()) ?>')) {
            var url = '<?php echo $this->url('https/specimens', ['action' => 'delete'], ['query' => ['uri' => $this->document->getUri()]]); ?>';
            $.get(url).success(function (data) {
                Ladda.stopAll();
                disableForm(true);
                $.growl.notice({
                    title: "<?php echo $escaper->escapeJs('' . $this->document->getUri()) ?>",
                    message: "Will be deleted in an hour"
                });
            }).fail(function (data) {
                data = data['responseJSON'];
                var msg = 'error' in data ? data['error'] : '';
                $.growl.error({title: "Failed to delete", message: msg});
                Ladda.stopAll();
                <?php if (!$this->allowEdit) { echo "disableForm();"; }?>
            });
        } else {
            Ladda.stopAll();
            <?php if (!$this->allowEdit) { echo "disableForm();"; }?>
        }
    });
    <?php endif ?>
    <?php $this->inlineScript()->captureEnd();?>
</script>
