<?php

use Kotka\Model\Util;

$messages = $this->messages;
if (!is_array($messages)) {
    if (null === $messages) {
        return;
    }
    $messages = [$messages];
}
if (count($messages) === 0) {
    return;
}
$type = $this->type;
?>

<div class="alert alert-<?php echo $type ?> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <?php foreach ($messages as $msg): ?>
        <?php if (is_array($msg)): ?>
            <?php echo $title ?><br/>
            <?php $msg = Util::extract_messages($msg) ?>
            <?php foreach ($msg as $place => $message) : ?>
                <span class="error-message"><?php echo $message ?></span>
                <?php if ($place !== 'callbackValue'): ?>
                    <a href="#<?php echo $place ?>">»</a><br>
                <?php endif ?>
            <?php endforeach; ?>
        <?php else: ?>
            <?php echo $msg ?>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
