<?php
$title = $this->title ?: 'Specimen';
?>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="specimenModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel"><?php echo $title ?></h2>
            </div>
            <div class="modal-body">
                <img src="/img/ajax-loader.gif"/>
            </div>
        </div>
    </div>
</div>