<?php
$this->headScript()
    ->appendFile($this->basePath() . '/plugins/tablesorter-2.17.6/js/jquery.tablesorter.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/tablesorter-2.17.6/js/jquery.tablesorter.widgets.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/plugins/tablesorter-2.17.6/addons/pager/jquery.tablesorter.pager.min.js?v=' . KOTKA_BUILD)
    ->appendFile($this->basePath() . '/js/tablesorter.js?v=' . KOTKA_BUILD); ?>

<div class="row ts-pager">
    <div class="col-sm-6">
        <span class="pagedisplay form-control-static"></span> <?php echo $this->ofX ?>
        <select class="btn pagesize" name="perPage">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select> per page
    </div>
    <div class="col-sm-6">
        <div class="pull-right">
            <!-- Start Pagination -->
            <ul class="pagination" style="margin: 0; padding: 0;">
                <li><a href="#" class="prev">&laquo; Previous</a></li>
                <li><a href="#" class="next">Next &raquo;</a></li>
            </ul>
            <!-- End Pagination -->
        </div>
    </div>
</div>