<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <!-- Last update <?php echo KOTKA_LAST_UPDATE ?> build (<?php echo KOTKA_BUILD ?>) -->
    <meta charset="utf-8">
    <?php echo $this->headTitle('Kotka')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Plausible scripts -->
    <?php if (KOTKA_ENV === 'production'): ?>
        <script defer data-domain="kotka.luomus.fi" src="https://plausible.io/js/script.js"></script>
    <?php endif ?>

    <!-- Styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
        ->prependStylesheet($this->basePath() . '/css/kotka.css?v=' . KOTKA_BUILD)
        ->prependStylesheet($this->basePath() . '/css/ladda-themeless.min.css?v=' . KOTKA_BUILD)
    ?>
    <?php echo $this->headStyle() ?>
    <style>
        @media print
        {
            body {
                font-size: 12px;;
            }
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
    </style>
</head>
<body id="<?php echo $this->Environment() ?>">
<script>var init = [];</script>
<nav class="navbar navbar-inverse no-print" id="main-nav" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/"><strong>Kotka</strong></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <?php
        /** @var \User\View\Helper\User $user */
        $user = $this->User();
        if ($user->isGuest() == false): ?>
            <ul class="nav navbar-nav">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Specimens <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('https/search_specimens') ?>">Search specimens</a></li>
                        <li><a href="<?php echo $this->url('https/search_sample') ?>">Search preparations/samples</a></li>
                        <li><a href="<?php echo $this->url('https/search_branch') ?>">Search branches</a></li>
                        <li><a href="<?php echo $this->url('https/culture') ?>">Search cultures</a></li>
                        <li role="presentation" class="divider"></li>
                        <li class="li_add"><a
                                href="<?php echo $this->url('https/specimens', array('action' => 'add', 'group' => 'botany')) ?>"><span
                                    class="fa fa-plus"></span> Add
                                botanical</a></li>
                        <li class="li_add"><a
                                href="<?php echo $this->url('https/specimens', array('action' => 'add', 'group' => 'zoo')) ?>"><span
                                    class="fa fa-plus"></span> Add
                                zoological</a></li>
                        <li class="li_add"><a
                                    href="<?php echo $this->url('https/specimens', array('action' => 'add', 'group' => 'palaeontology')) ?>"><span
                                        class="fa fa-plus"></span> Add
                                palaeontological</a></li>
                        <li class="li_add"><a
                                    href="<?php echo $this->url('https/specimens', array('action' => 'add', 'group' => 'accession')) ?>"><span
                                        class="fa fa-plus"></span> Add
                                accession</a></li>
                        <li class="li_add"><a
                                    href="<?php echo $this->url('https/specimens', array('action' => 'add', 'group' => 'culture')) ?>"><span
                                        class="fa fa-plus"></span> Add
                                culture</a></li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="<?php echo $this->url('https/image_upload') ?>">Add multiple images</a></li>
                        <li><a href="<?php echo $this->url('https/image_upload', ['action' => 'edit']) ?>">Edit
                                images</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Collections <span
                                class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('https/collections') ?>">All</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.128'))) ?>">Luomus
                                collections</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.1127'))) ?>">Kuopio
                                collections</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.121'))) ?>">Kieppi
                                collections</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.1207'))) ?>">Oulu
                                collections</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.1627'))) ?>">Turku
                                collections</a></li>
                        <li>
                            <a href="<?php echo $this->url('view', array('action' => 'index'), array('query' => array('uri' => \Common\Service\IdService::DOMAIN_TUN . 'HR.1247'))) ?>">Jyväskylä
                                collections</a></li>
                        <li class="li_add"><a
                                    href="<?php echo $this->url('https/collections/action', array('action' => 'add')) ?>"><span
                                        class="fa fa-plus"></span> Add
                                collection</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tags <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo NEW_KOTKA_URL . '/tags' ?>">All</a></li>
                        <li class="li_add"><a
                                href="<?php echo NEW_KOTKA_URL . '/tags/add' ?>"><span
                                    class="fa fa-plus"></span> Add
                                tag</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo NEW_KOTKA_URL . '/organizations' ?>">All</a></li>
                        <li class="li_add"><a
                                href="<?php echo NEW_KOTKA_URL . '/organizations/add' ?>"><span
                                    class="fa fa-plus"></span> Add
                                organization</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo NEW_KOTKA_URL . '/transactions' ?>">All</a></li>
                        <li class="li_add"><a
                                href="<?php echo NEW_KOTKA_URL . '/transactions/add' ?>"><span
                                    class="fa fa-plus"></span> Add
                                transaction</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'autofill-excel')) ?>">Generate IDs to Excel</a>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'import')) ?>">Import</a>
                        </li>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'save')) ?>">Last saved
                                Excel</a></li>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'export')) ?>">Last exported
                                Excel</a></li>
                        <li><a href="<?php echo $this->url('excel', array('action' => 'create')) ?>">Excel generator</a>
                        </li>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'generic-label')) ?>">Generic
                                Labels</a></li>
                        <li><a href="/qr">QR reader</a></li>
                        <li role="presentation" class="divider"></li>
                        <!--<li><a href="/notes">My notes</a></li>-->
                        <!--<li class="pseudoLink"><a href="#">Last edited:</a></li>-->
                        <?php //echo $this->essentials->returnEditedURIlist(); ?>
                        <li><a href="https://fmnh-ws-prod.it.helsinki.fi/tipu-api/coordinates" target="_blank">Coordinate
                                mass converter</a></li>
                        <li><a href="https://pass.luomus.fi/" target="_blank">Change LUOMUS password</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="help-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Help <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://wiki.helsinki.fi/xwiki/bin/view/digit/Kotka%20Collection%20Management%20System/Manual%20for%20Kotka/" target="new"
                               title="Manual">
                                <span class="fa fa-book"></span>
                                Manual
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo $this->url('document', array('action' => 'field')) ?>" target="new"
                               title="Description of fields used by Kotka">
                                <span class="fa fa-book"></span>
                                Data fields
                            </a>
                        </li>
                        <li role="presentation" class="divider">

                        </li>
                        <li>
                            <a href="<?php echo $this->url('document', array('action' => 'distinct-values')) ?>"
                               title="Statistics of saved data">
                                <span class="fa fa-bar-charts"></span>
                                Field value stats
                            </a>
                        </li>
                        <li><a href="<?php echo $this->url('https/tools', array('action' => 'simplestats')) ?>">
                                <span class="fa fa-bar-charts"></span>
                                Quantity stats
                            </a>
                        </li>
                        <li><a href="<?php echo $this->url('https/reports', array('action' => 'annual')) ?>">
                                <span class="fa fa-bar-charts"></span>
                                Annual reports
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right-md">
                <li class="dropdown"><a class="dropdown-toggle user-username" style="display: none;"
                                        data-toggle="dropdown" href="#"><span
                            class="fa fa-user"></span>&nbsp;</a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="<?php echo $this->url('https/user', array('action' => 'edit')) ?>"><span class="fa fa-wrench"></span> Profile</a></li>-->
                        <li><a href="<?php echo $this->url('https/user', array('action' => 'logout')) ?>"><span
                                    class="fa fa-power-off"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        <?php endif; ?>
    </div>
    <?php /*
    <div style="background: #aa0000; width: 100%; color: #fff; padding: 0 0 0 10px">
        Maintenance break starting on Thursday 4th of December at 8 and ending at 20
    </div> */?>
</nav>

<div class="row"></div>
<div id="main" role="main">
    <div class="container-fluid">
        <?php
        $success = $this->FlashMessenger('success');
        $errors = $this->FlashMessenger('error');
        $warnings = $this->FlashMessenger('info');
        ?>

        <?php if (count($success)) : ?>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <?php foreach ($success as $msg) : ?>
                    <?php echo $msg; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

        <?php if (count($errors)) :
            echo $this->partial('kotka/partial/messages', array('type' => 'danger', 'messages' => $errors, 'title' => '<strong>Data was not saved</strong> because it contains error(s). Please correct these and try again:'));
        endif; ?>

        <?php if (count($warnings)) :
            echo $this->partial('kotka/partial/messages', array('type' => 'warning', 'messages' => $warnings, 'title' => 'Data contains following warning(s):'));
        endif; ?>

        <?php echo $this->content; ?>
        <div class="modal fade" id="feedbackModal" role="dialog" aria-labelledby="feedbackModal" aria-hidden="true">
            <div class="modal-dialog" style="width: 90%; max-width: 750px">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xa-12">
                                <iframe style="border: 0; width: 100%; height: 630px;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of main -->

<!-- Scripts -->
<?php
echo $this->headScript()
    ->prependFile($this->basePath() . '/js/ladda.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/spin.min.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/KotkaApp.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/app.js?v=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/bootstrap.js?=' . KOTKA_BUILD)
    ->prependFile($this->basePath() . '/js/jquery-1.11.0.min.js?v=' . KOTKA_BUILD);
?>
<?php echo $this->inlineScript() ?>
<?php if (!$this->skip_init): ?>
    <script>
        window.KotkaApp.start(init);
        (function () {
            var feedbackLoaded = false;
            $('.feedback-toggle').on('click', function(e) {
                e.preventDefault();
                var modal = $('#feedbackModal');
                if (!feedbackLoaded) {
                    modal.find('iframe').attr('src', '//vanha.laji.fi/freshdesk-widget?locale=en')
                }
                modal.modal('show');

            });
        })();
        <?php if (KOTKA_ENV === 'production' && $this->user()->isGuest()): ?>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-2664800-21', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
        <?php endif; ?>
    </script>
<?php endif; ?>
</body>
</html>