<?php echo $this->doctype();
?>
<!--suppress HtmlUnknownTarget -->
<html lang="fi">
<head>
    <meta charset="utf-8"/>
    <?php echo $this->headTitle('Kotka')->setSeparator(' - ')->setAutoEscape(false) ?>
    <meta name="description" content="Museum specimen management system."/>
    <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico"/>
    <!-- Styles -->
    <?php
    echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico')); ?>
</head>
<body id="dev">
<script>var init = [];</script>
<div id="d-main" class="container-fluid">
    <?php echo $this->content; ?>
</div>
<!-- #d-main ENDS -->
<!-- Scripts -->
<?php echo $this->headScript(); ?>
<?php echo $this->inlineScript() ?>
<script>
    if (typeof window.KotkaApp != "undefined" && typeof window.KotkaApp.start != "undefined") {
        window.KotkaApp.start(init)
    }
</script>
</body>
</html>