<?php
$baseFontSizePt = 8;
$perPage = 6;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

//$logoBase64 = $labelHelper->logoBase64();
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .wrapper {
            float: left;
            height: 90mm;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            width: 95mm;
            max-height: 110mm;
            overflow: hidden;
            padding: 2mm;
            POSITION: RELATIVE;
            page-break-inside: avoid;
        }

        .header {
            background-color: #ccc;
            margin: -2mm -2mm 2mm -2mm;
            padding: 2mm;
        }

        p {
            margin: 0 0 0.25em 3mm;
            text-indent: -3mm;
        }

        .header p {
            text-indent: 0;
            margin-top: 0.3mm;
            margin-left: 0;
        }

        .taxon {
            font-size: <?php echo $baseFontSizePt + 2?>pt;
            margin-bottom: 0.5em;
        }

        .taxon, .locality, .habitat, .leg {
            margin-top: 0.7em;
        }

        .barcode {
            float: right;
            width: 18mm;
            height: 18mm;
        }

        .barcode img {
            margin-top: -1mm;

        }

    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), '');
        $country = mb_strtoupper($label->getCountry());
        $province = '';
        $alt = $label->getAlt();
        $det = $label->getDet();
        $habitatClassification = $label->getHabitatClassification();
        $habitat = $label->getHabitatDescription();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
        $coordinate = $labelHelper->getCoordinateText_v2(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude(),
            $label->getWgs84Latitude(),
            $label->getWgs84Longitude(),
            $label->getCoordinateRadius()
        );

        if (!empty($det)) {
            $det = "<strong>Det.</strong> " . $det;
        }
        if (!empty($habitatClassification)) {
            $habitatClassification = '(' . $habitatClassification . ')';
        }
        if (!empty($alt)) {
            $alt = "<strong>Alt</strong> " . $alt . " m asl. ";
        }
        $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $cnt++;

        $localityNames = $labelHelper->concatenateAndTruncateNames(array("<strong>" . $country . "</strong>", $province, $label->getMunicipality(), $label->getLocality(), $label->getLocalityDescription()), 200);

        // --------------------------------------------------------------------
        $abbr = $this->collectionName($label->getCollectionID(), 'abbr');
        if (!empty($abbr)) {
            $abbr = '(' . $abbr . ')';
        }

        ?>
        <div class='wrapper'>
            <div class='specimen'>
                <div class="header">
                    <p>
                        <!-- TODO: Organization based on CollectionID e.g. Finnish Museum of Natural History Luomus -->
                        <?php echo $this->collectionName($label->getCollectionID()); ?> <?php echo $abbr ?>
                    </p>

                    <p>Specimen ID <strong><?php echo $label->getUri() ?></strong></p>
                </div>

                <div class="barcode">
                    <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                </div>

                <p class='taxon'>
                    <em><?php echo $label->getTaxon() ?></em> <?php echo $label->getAuthor(); ?>&nbsp;
                </p>

                <p class='det'>
                    <?php echo $det; ?>
                </p>

                <p class='locality'>
                    <?php echo $localityNames; ?>
                </p>

                <p class='coordinates'>
                    <strong>Lat/Lon.</strong>
                    <?php echo $coordinate ?>
                </p>

                <p class='habitat'>
                    <?php
                    if (!(empty($habitat) && empty($habitatClassification))):?>
                        <strong>Hab.</strong>
                        <?php echo $habitat; ?>
                        <?php echo $habitatClassification; ?>
                    <?php endif ?>
                    <?php echo $alt; ?>
                    <?php
                    $associated = $label->getAssociatedTaxa();
                    if (!empty($associated)): ?>

                <p class="with">
                    <strong>With</strong> <em><?php echo implode(', ', $associated) ?></em>
                </p>
                <?php endif ?>
                </p>

                <p class='leg'>
                    <strong>Leg.</strong>
                    <?php echo $leg ?>
                    <br/><?php echo $label->getLegID(); ?>
                </p>

                <p class='date'>
                    <strong>Date</strong>
                    <?php echo $date ?>
                </p>

            </div>
        </div>
        <?php
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>