<?php
$baseFontSizePt = 9;
$perPage = 6;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

//$logoBase64 = $labelHelper->logoBase64();
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .wrapper {
            float: left;
            height: 95mm;
        }

        .specimen {
            outline: 1px solid #000;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            width: 93mm;
            height: 88mm;
            overflow: hidden;
            padding: 3mm;
            POSITION: RELATIVE;
            page-break-inside: avoid;
        }

        .header {
            background-color: #fff;
            margin: -2mm -2mm 2mm -2mm;
            padding: 2mm;
        }

        p {
            margin: 0 0 0.25em 0;
            text-indent: 0;

        }

        .header p {
            text-indent: 0;
            margin-top: 0.3mm;
            margin-left: 0;
            text-align: center;
        }

        .collection {
            text-indent: 0;
            margin-top: 0.3mm;
            margin-left: 0;
            text-align: center;
            text-transform: uppercase;
        }

        .taxon {
            font-size: <?php echo $baseFontSizePt + 2?>pt;
            margin-bottom: 0.5em;
            text-indent: -5mm;
            margin-left: 5mm;

        }

        .taxon, .locality, .habitat, .leg {
            margin-top: 0.7em;
        }

        .barcode {
            float: right;
            width: 18mm;
            height: 18mm;
        }

        .barcode img {
            margin-top: -1mm;

        }

    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), '');
        $legVerbatim = $label->getLegVerbatim();
        $legID = $label->getLegID();
        $country = mb_strtoupper($label->getCountry());
        $province = '';
        $municipality = $label->getMunicipality();
        $locality = $label->getLocality();
        $localityDescription = $label->getLocalityDescription();
        $localityVerbatim = $label->getLocalityVerbatim();
        $alt = $label->getAlt();
        $det = $label->getDet();
        $infraRank = strtolower(substr($label->getInfraRank(),12));
        $detDate = $label->getDetDate();
        $habitatClassification = $label->getHabitatClassification();
        $habitat = $label->getHabitatDescription();
        $substrate = $label->getSubstrate();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
        $dateVerbatim = $label->getDateVerbatim();
        $coordinate = $labelHelper->getCoordinateText_v2(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude(),
            $label->getWgs84Latitude(),
            $label->getWgs84Longitude(),
            $label->getCoordinateRadius()
        );

    if ($infraRank === 'ssp') {
        $infraRank = 'subsp.';
    } elseif ($infraRank === 'var') {
        $infraRank = 'var.';
    } elseif ($infraRank === 'beta') {
        $infraRank = '&beta;';
    } elseif ($infraRank === 'b') {
        $infraRank = 'b.';
    }

        if (!empty($det)) {
            $det = "<strong>Det.</strong> " . $det;
        }
        if (!empty($detDate)) {
            $detDate = "<strong>Date </strong> " . $detDate;
        }
        if (!empty($habitatClassification)) {
            $habitatClassification = '(' . $habitatClassification . ')';
        }
        if (!empty($alt)) {
            $alt = "<strong>Alt</strong> " . $alt . " m asl. ";
        }
        if (empty($leg)) {
            $leg = $legVerbatim;
        }
        if (!empty($legID)) {
            $legID = "<strong>Leg no</strong> " . $legID;
        }
        if (!empty($date)) {
            $date = "<strong>Date</strong> " . $date;
        } elseif  (!empty($dateVerbatim)) {
            $date = "<strong>Date</strong> " . $dateVerbatim;
        }
        if (!empty($substrate)) {
            $substrate = "<strong>Substrate.</strong> " . $substrate;
        }
        $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $cnt++;

        $localityNames = $labelHelper->concatenateAndTruncateNames(array("<strong>" . $country . "</strong>", $province, $municipality, $locality, $localityDescription), 200);

        if (empty ($country) && empty ($province) && empty ($municipality) && empty ($locality) && empty ($localityDescription)) {
            $localityNames = $localityVerbatim;
        }


        // --------------------------------------------------------------------
        $abbr = $this->collectionName($label->getCollectionID(), 'abbr');
        if (!empty($abbr)) {
            $abbr = '(' . $abbr . ')';
        }

        ?>
        <div class='wrapper'>
            <div class='specimen'>
                <div class="header">
                    <p class="collection">
                        <!-- TODO: Organization based on CollectionID e.g. Finnish Museum of Natural History Luomus -->
                        <?php echo $this->collectionName($label->getCollectionID()); ?> <?php echo $abbr ?>
                    </p>

                    <p>Specimen ID <u><?php echo $label->getUri() ?></u></p>
                </div>

                <div class="barcode">
                    <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                </div>

                <p class='taxon'>
                    <em><?php echo $this->fullTaxon($label) ?></em> <?php echo $label->getAuthor(); ?>
                    <?php echo $infraRank; ?> 
                    <em><?php echo $label->getInfraEpithet(); ?></em> <?php echo $label->getInfraAuthor(); ?>
                    &nbsp;
                </p>

                <p class='det'>
                    <?php echo $det; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $detDate; ?>
                </p>

                <p class='locality'>
                    <?php echo $localityNames; ?>
                </p>

                <p class='coordinates'>
                    <strong>Lat/Lon.</strong>
                    <?php echo $coordinate; ?>
                    &nbsp;&nbsp;&nbsp;
                    <?php echo $alt; ?>
                </p>

                <p class='habitat'>
                    <?php
                    if (!(empty($habitat) && empty($habitatClassification))):?>
                        <strong>Hab.</strong>
                        <?php echo $habitat; ?>
                        <?php echo $habitatClassification; ?>
                    <?php endif ?>
                     <p class='substrate'>
                        <?php echo $substrate; ?>
                    </p>
                    <?php
                    $associated = $label->getAssociatedTaxa();
                    if (!empty($associated)): ?>

                <p class="with">
                    <strong>With</strong> <em><?php echo implode(', ', $associated) ?></em>
                </p>
                <?php endif ?>
                </p>

                <p class='leg'>
                    <strong>Leg.</strong>
                    <?php echo $leg; ?>
                    <p class='legno'>
                        <?php echo $legID; ?>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <?php echo $date; ?>
                    </p>
                </p>
            
            </div>
        </div>
        <?php
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>