<?php
$baseFontSizePt = 3.4;
$colsPerPage = 7;

$barcodeSize = "8mm";
$labelWidth = "48.0mm";
$labelHeight = "16.2mm";

/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;
$includeField = $this->fieldHelper;

$infraRank = $this->SelectOptions('MY.infraRank');

/** @var \Kotka\View\Helper\Label\Coordinate $coordinateHelper */
$coordinateHelper = $this->Coordinate();
$coordinateHelper->setType('short');
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        a {
            color: #000000;
            text-decoration: none;
        }

        .page {
            width: 210mm;
            height: 297mm;
            padding: 7mm;
            padding-top: 16mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col {
            display: table;
            width: <?php echo $labelWidth?>;
            float: left;
        }

        .wrapper {
            min-width: <?php echo $labelWidth?>;
            margin: 1mm 0 0 1mm;
            overflow: hidden;
            page-break-inside: avoid;
            float: left;
        }

        .specimen {
            display: table;
            width: <?php echo $labelWidth?>;
            height: <?php echo $labelHeight?>;
        }

        .text {
            margin-left: <?php echo $barcodeSize ?>;
            padding-left: 1.3mm;
            line-height: 119%;
        }

        p {
            margin: 0 0 -0.1em 0;
        }

        .qname {
            margin-left: 1em;
        }

        .name {
            white-space: nowrap;
        }

        .barcode {
            float: left;
            margin-top: 0.2mm;
            margin-left: 1.5mm;
            width: <?php echo $barcodeSize ?>;
            height: <?php echo $barcodeSize ?>;
        }
    </style>
</head>
<body>
<?php foreach ($labels as $label):
    /** @var \Kotka\Model\Label $label */
    $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), true);
    $country = mb_strtoupper($label->getCountry());
    $alt = $labelHelper->getAlt($label->getAlt());
    $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
    $rank = isset($infraRank[$label->getInfraRank()]) ? $infraRank[$label->getInfraRank()] : '';
    $infra = $labelHelper->getInfra($rank, $label->getInfraEpithet());
    $coordinate = $coordinateHelper(
        $label->getSystem(),
        $label->getLatitude(),
        $label->getLongitude()
    );
    ?>
    <div class='wrapper'>
        <div class='specimen'>
            <div class="barcode">
                <?php echo $this->qrCode(\Common\Service\IdService::getUri($label->getUri()), 200, 'barcode') ?>
            </div>
            <div class='text'>
                <div class='b0'>
                    <p class='id'>
                        <a href="<?php echo $label->getUri() ?>">
                            <?php $uriParts = \Common\Service\IdService::getUriInParts($label->getUri()) ?>
                            <span class='domain'><?php echo $uriParts[0] ?></span><br/>
                            <span class='qname'><?php echo $uriParts[1] ?></span>
                        </a>
                    </p>
                </div>    
            </div>
        </div>
    </div>
<?php endforeach; ?>
<script>
    var maxColHeight = 1075;
    var elemHeight = 0;
    var col = null;
    var colHeight = 0;
    var colCount = 0;
    var colPerPage = 4;
    var page = null;
    var labels = document.querySelectorAll(".wrapper");
    for (var i = 0, len = labels.length; i < len; i++) {
        elemHeight = getHeight(labels[i]);
        colHeight = getHeight(col);
        if ((colHeight + elemHeight) > maxColHeight) {
            col = null;
            if (colCount == colPerPage) {
                page = null;
                colCount = 0;
            }
        }
        if (page == null) {
            page = document.createElement('div');
            page.className = 'page';
            document.body.appendChild(page);
        }
        if (col == null) {
            colCount++;
            col = document.createElement('div');
            col.className = 'col';
            page.appendChild(col);
        }
        col.appendChild(labels[i]);

        //console.log(Dimension(col));
    }
    // Returns height in pixels!
    function getHeight(element) {
        if (element == null) {
            return 0;
        }
        var elmHeight, elmMargin;
        elmHeight = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('height'));
        elmMargin = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-top')) + parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-bottom'));

        return (elmHeight + elmMargin);
    }
</script>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>