<?php
$baseFontSizePt = 5;
$perPage = 49;
$perCol = 7;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

$border = '1px solid #ddd';
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        .page {
            max-width: 280mm;
            max-height: 210mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            page-break-after: always;
            border-top: <?php echo $border ?>;
            border-left: <?php echo $border ?>;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3mm;
            margin-bottom: auto;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .page-wrapper {
            width: 297mm;
            padding: 5mm 0 0 0;
            position: relative;
            margin: 0;
        }

        .col-wrapper {
            width: 40mm;
            float: left;
        }

        .wrapper {
            height: 27mm;
            padding: 1mm 0.8mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: <?php echo $border ?>;
            border-right: <?php echo $border ?>;
            page-break-inside: avoid;
            margin: 0;
            overflow: hidden;
        }

        p {
            margin: 0 0 0.25em 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 0.5mm 0 0.5mm 0;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .taxon em {
            font-size: <?php echo $baseFontSizePt + 3?>pt;
        }

        .barcode {
            float: left;
            padding-left: 1mm;
            width: 9mm;
            height: 9mm;
        }

        .logo {
            float: right;
        }

        .leg {
            margin-left: 2em;
        }

        .clear {
            clear: both;
        }

        .id {
            font-size: <?php echo $baseFontSizePt - 0.3?>pt;
            text-align: center;
            width: 14mm;
            margin-left: 0.5mm;
            float: left;
        }

        .id strong {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

    </style>
</head>
<body>
<div class="page-wrapper">
    <div class="page">
        <div class="col-wrapper">
            <?php foreach ($labels as $label):
                /** @var \Kotka\Model\Label $label */
                $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), TRUE);
                $legID = $label->getLegID();
                if (!empty($legID)) {
                    $leg .= ' (' . $legID . ')';
                }
                $country = mb_strtoupper($label->getCountry());
                $province = '';
                $alt = $label->getAlt();
                $habitatClassification = $label->getHabitatClassification();
                $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
                $coordinate = $labelHelper->getShortCoordinateText(
                    $label->getSystem(),
                    $label->getLatitude(),
                    $label->getLongitude()
                );

                if (!empty($habitatClassification)) {
                    $habitatClassification = '(' . $habitatClassification . ')';
                }
                if (!empty($alt)) {
                    $alt = "Alt " . $alt . " m asl. / ";
                }
                $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());

                if ($cnt % $perPage == 0 && $cnt > 0) {
                    echo '</diV></div></div><div class="page-wrapper"><div class="page"><div class="col-wrapper">';
                } elseif ($cnt % $perCol == 0 && $cnt > 0) {
                    echo '</diV><div class="col-wrapper">';
                }
                $cnt++;
                $taxon = $label->getTaxon();
                $author = $label->getAuthor();
                if ($this->CurrentTaxon($taxon, \Kotka\View\Helper\CurrentTaxon::TYPE_EXISTS)) {
                    $author = $this->CurrentTaxon($taxon, \Kotka\View\Helper\CurrentTaxon::TYPE_AUTHOR);
                    $taxon = $this->CurrentTaxon($taxon);
                }
                $count = $label->getCount();

                $localityNames[0] = $country;
                $localityNames[1] = $province;
                $localityNames[2] = $label->getMunicipality();
                $localityNames[3] = $label->getLocality();

                $localityNamesString = $labelHelper->concatenateAndTruncateNames($localityNames, 70);

                ?>
                <div class='wrapper'>
                    <div class='specimen'>
                        <div class="barcode">
                            <?php echo $this->qrCode($label->getUri(), 200, 'barcode') ?>
                        </div>
                        <div class='id'>
                            <a href="<?php echo $label->getUri() ?>">
                                <?php $uriParts = \Common\Service\IdService::getUriInParts($label->getUri()) ?>
                                <?php echo $uriParts[0] ?><br/><strong><?php echo $uriParts[1] ?></strong>
                            </a>
                        </div>
                        <div class="clear"></div>
                        <p class='taxon'>
                            <em><?php echo $taxon ?></em><br>
                            <?php echo empty($author) ? '' : "&nbsp;$author" ?>
                        </p>

                        <p class='b2'>
                            <?php echo $localityNamesString; ?>
                            <?php echo empty($count) ? '' : (
                                empty($coordinate) ? ' ' . $count : str_repeat('&nbsp;', 7) . $count
                                ) . '&nbsp;exx' ?>
                            <?php echo empty($date) ? '' : '<br>' . $date ?>
                            <?php echo empty($leg) ? '' : (empty($data) ? '<br>' : ' ' ) . $leg ?>
                        </p>
                    </div>
                </div>
                <?php
            endforeach; ?>
        </div>
    </div>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true, 'usePageWrapper' => true]) ?>
<?php endif; ?>
</body>
</html>