<?php
$baseFontSizePt = 7;
$perPage = 20;
$perCol = 5;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

$border = '1px solid #ddd';
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            max-width: 280mm;
            max-height: 210mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            page-break-after: always;
            border-top: <?php echo $border ?>;
            border-left: <?php echo $border ?>;
            margin-left: auto;
            margin-right: auto;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .page-wrapper {
            width: 297mm;
            padding: 5mm 0 0 0;
            position: relative;
            margin: 0;
        }

        .col-wrapper {
            width: 70mm;
            float: left;
        }

        .wrapper {
            height: 40mm;
            padding: 3mm 1.5mm 1mm 1.5mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: <?php echo $border ?>;
            border-right: <?php echo $border ?>;
            page-break-inside: avoid;
            margin: 0;
        }

        p {
            margin: 0 0 0.25em 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 4mm 0 4mm 0;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            float: right;
            width: 15mm;
            height: 15mm;
            margin-right: 3mm;
        }

        .logo {
            float: right;
        }

        .leg {
            margin-left: 2em;
        }

        .id {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

    </style>
</head>
<body>
<div class="page-wrapper">
    <div class="page">
        <div class="col-wrapper">
            <?php foreach ($labels as $label):
                /** @var \Kotka\Model\Label $label */
                $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim());
                $legID = $label->getLegID();
                if (!empty($legID)) {
                    $leg .= ' (' . $legID . ')';
                }
                $country = mb_strtoupper($label->getCountry());
                $province = '';
                $alt = $label->getAlt();
                $habitatClassification = $label->getHabitatClassification();
                $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
                $coordinate = $labelHelper->getShortCoordinateText(
                    $label->getSystem(),
                    $label->getLatitude(),
                    $label->getLongitude()
                );

                if (!empty($habitatClassification)) {
                    $habitatClassification = '(' . $habitatClassification . ')';
                }
                if (!empty($alt)) {
                    $alt = "Alt " . $alt . " m asl. / ";
                }
                $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());
                if ($cnt % $perPage == 0 && $cnt > 0) {
                    echo '</div></div></div><div class="page-wrapper"><div class="page"><div class="col-wrapper">';
                } elseif ($cnt % $perCol == 0 && $cnt > 0) {
                    echo '</div><div class="col-wrapper">';
                }
                $cnt++;
                $taxon = $label->getTaxon();
                $author = $label->getAuthor();
                $count = $label->getCount();
                if ($this->CurrentTaxon($taxon, \Kotka\View\Helper\CurrentTaxon::TYPE_EXISTS)) {
                    $author = $this->CurrentTaxon($taxon, \Kotka\View\Helper\CurrentTaxon::TYPE_AUTHOR);
                    $taxon = $this->CurrentTaxon($taxon);
                }
                ?>
                <div class='wrapper'>
                    <div class='specimen'>
                        <div class="barcode">
                            <?php echo $this->qrCode($label->getUri(), 200, 'barcode') ?>
                        </div>
                        <p class='id'>
                            <?php $uriParts = \Common\Service\IdService::getUriInParts($label->getUri()) ?>
                            <?php echo $uriParts[0] ?><strong><?php echo $uriParts[1] ?></strong>
                        </p>

                        <p class='taxon'>
                            <em><?php echo $taxon ?></em><br>
                            <?php echo empty($author) ? '' : "$author" ?>
                        </p>

                        <p class='b2'>
                            <?php echo $country ?>
                            <?php echo $province ?>
                            <?php echo $label->getMunicipality(); ?>
                            <?php echo $label->getLocality(); ?>
                            <?php echo $label->getLocalityDescription(); ?>
                            <?php echo $label->getHabitatDescription(); ?>
                            <?php echo $habitatClassification; ?>
                            <?php echo $alt; ?>
                            <?php echo empty($coordinate) ? '' : '<br>' . $coordinate ?>
                            <?php echo empty($count) ? '' : (
                                empty($coordinate) ? '<br>' . $count : str_repeat('&nbsp;', 7) . $count
                                ) . ' exx' ?>
                            <?php echo empty($date) ? '' : '<br>' . $date ?>
                            <?php echo empty($leg) ? '' : '<br>' . $leg ?>
                        </p>
                    </div>
                </div>
                <?php
            endforeach; ?>
        </div>
    </div>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true, 'usePageWrapper' => true]) ?>
<?php endif; ?>
</body>
</html>