<?php
$baseFontSizePt = 8;
$colsPerPage = 2;

$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

/** @var \Kotka\View\Helper\Label\Coordinate $coordinateHelper */
$coordinateHelper = $this->Coordinate();
$coordinateHelper->setType('turku');
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: "Times New Roman", Times;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .col {
            display: table;
            width: 99mm;
            float: left;
        }

        .wrapper {
            width: 99mm;
            margin: 0;
            page-break-inside: avoid;
            float: left;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            border-bottom: 1px dotted #ccc;
            width: 95mm;
            height: 55mm;
            padding: 2mm;
            padding-top: 10mm;
            padding-bottom: 5mm;
            position: relative;
            page-break-inside: avoid;
            text-align: left;
        }

        .header {
            margin: -2mm -2mm 2mm -2mm;
            padding: 2mm;
            width: 70mm;
        }

        p {
            margin: 0 0 0.25em 3mm;
        }

        .header p {
            text-indent: 0;
            margin-top: 0.3mm;
            margin-left: 0;
            text-align: center;
        }

        .taxon {
            font-size: <?php echo $baseFontSizePt + 2?>pt;
            margin-bottom: 0.5em;
        }

        .taxon, .locality, .publication, .coordinates, .date, .specimenID {
            margin-top: 1em;
        }

        .leg {
            float: right;
            text-align: left;
        }

        .clear {
            clear: both;
        }

        .upper-case {
            text-transform: ;
        }

        .barcode {
            float: right;
            width: 13mm;
            height: 13mm;
        }

        .barcode img {
            margin-top: -1mm;

        }

    </style>
</head>
<body>
<?php foreach ($labels as $label):
    /** @var \Kotka\Model\Label $label */
    $leg = $labelHelper->getLeg($label->getLeg(), '');
    $legID = $label->getLegID();
    $country = mb_strtoupper($label->getCountry());
    $province = '';
    $alt = $label->getAlt();
    $det = $label->getDet();
    $infraRank = strtolower(substr($label->getInfraRank(),12));
    $habitatClassification = $label->getHabitatClassification();
    $habitat = $label->getHabitatDescription();
    $populationAbundance = $label->getPopulationAbundance();
    $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
    $coordinate = $coordinateHelper(
        $label->getSystem(),
        $label->getLatitude(),
        $label->getLongitude(),
        $label->getWgs84Latitude(),
        $label->getWgs84Longitude(),
        $label->getCoordinateRadius()
    );

    if ($infraRank === 'ssp') {
        $infraRank = 'ssp.';
    } elseif ($infraRank === 'var') {
        $infraRank = 'var.';
    } elseif ($infraRank === 'beta') {
        $infraRank = '&beta;';
    } elseif ($infraRank === 'b') {
        $infraRank = 'b.';
    }

    if (!empty($det)) {
        $det = "det. " . $det . " " . $label->getDetDate();
    }
    if (!empty($habitatClassification)) {
        $habitatClassification = '(' . $habitatClassification;
        if (!empty($populationAbundance)) {
           $habitatClassification .= '. ' . $populationAbundance . ')';
            } else 
            {
            $habitatClassification .= ')';
            }
        } else 
    {
    if (!empty($populationAbundance)) {
        $habitatClassification = '(' . $populationAbundance . ')';
        }
    }
    if (!empty($alt)) {
        $alt = "Alt " . $alt . " m asl. ";
    }
    $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());
    $localityNames = $labelHelper->concatenateAndTruncateNames(array(
        $country,
        $province,
        $label->getMunicipality(),
        $label->getLocality(),
        $label->getLocalityDescription(),
    ), 300, '. '); 
    ?>
    <div class='wrapper'>
        <div class='specimen'>
            <div class="barcode">
                <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
            </div>

            <div class="header">
                <p>
                    KUOPIO NATURAL HISTORY MUSEUM
                </p>
            </div>

            <p class='taxon'>
                <em><?php echo $this->fullTaxon($label) ?></em> <?php echo $label->getAuthor(); ?>
                <?php echo $infraRank; ?> 
                <em><?php echo $label->getInfraEpithet(); ?></em> <?php echo $label->getInfraAuthor(); ?>
                &nbsp;
            </p>

            <p class='locality'>
                <?php
                if (!(empty($habitat) && empty($habitatClassification))):?>
                    <?php echo $localityNames . '. '; ?>
                    <?php echo $habitat; ?>
                    <?php echo $habitatClassification; ?>
                <?php else: ?>
                    <?php echo $localityNames; ?>
                <?php endif ?>
                <?php echo $alt; ?>
            </p>

            <p class='coordinates'>
                <?php echo $coordinate ?>
            </p>

            <p class='date'>
                <?php echo $date ?>
            </p>

            <p class='leg'>
                leg. <?php echo $leg ?> <?php echo $legID ?><br>
                <?php echo $det ?>
            </p>

            <p class="clear"></p>

            <p class="specimenID">
                Specimen ID <?php echo $label->getUri() ?>
            </p>

            <p class="publication">
                <?php echo empty($label->getPublication()) ? '' : '<small>' . implode(', ', $label->getPublication()) . '</small>' ?>
            </p>
        </div>
    </div>
    <?php
endforeach; ?>
<script>
    var maxColHeight = 1075;
    var elemHeight = 0;
    var col = null;
    var colHeight = 0;
    var colCount = 0;
    var colPerPage = 7;
    var page = null;
    var labels = document.querySelectorAll(".wrapper");
    for (var i = 0, len = labels.length; i < len; i++) {
        elemHeight = getHeight(labels[i]);
        colHeight = getHeight(col);
        if ((colHeight + elemHeight) > maxColHeight) {
            col = null;
            if (colCount == <?php echo $colsPerPage ?>) {
                page = null;
                colCount = 0;
            }
        }
        if (page == null) {
            page = document.createElement('div');
            page.className = 'page';
            document.body.appendChild(page);
        }
        if (col == null) {
            colCount++;
            col = document.createElement('div');
            col.className = 'col';
            page.appendChild(col);
        }
        col.appendChild(labels[i]);

        //console.log(Dimension(col));
    }
    // Returns height in pixels!
    function getHeight(element) {
        if (element == null) {
            return 0;
        }
        var elmHeight, elmMargin;
        elmHeight = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('height'));
        elmMargin = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-top')) + parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-bottom'));

        return (elmHeight + elmMargin);
    }
</script>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>