<?php
$baseFontSizePt = 8;
$perPage = 12;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

/** @var \Kotka\View\Helper\Label\Coordinate $coordinateHelper */
$coordinateHelper = $this->Coordinate();
$coordinateHelper->setType('short');
$filter = $this->filter();
$filter->addFilter('MY.lifeStage', $this->SelectOptions('MY.lifeStages'));
//$logoBase64 = $labelHelper->logoBase64();
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm 30mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .wrapper {
            float: left;
            height: 20mm;
        }

        .wrapper:first-child {
            border-top: 1px dotted #ccc;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            border-bottom: 1px dotted #ccc;
            border-left: 1px dotted #ccc;
            width: 105mm;
            height: 20mm;
            overflow: hidden;
            position: relative;
            page-break-inside: avoid;
        }

        p {
            margin: 0;
            display: block;
            height: 1.19em;
            max-width: 55mm;
            overflow: hidden;
        }

        .header p {
            text-indent: 0;
            margin-top: 0.3mm;
            margin-left: 0;
        }

        .sex {
            position: absolute;
            left: 35mm;
        }

        .lifeStage {
            position: absolute;
            right: 54mm;
        }

        .barcode {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: -1.5mm;
            width: 11mm;
            height: 11mm;
        }

        .barcode img {
            z-index: 0;
            margin-top: -1.2mm;
        }

        .id, .taxon, .locality {
            margin-left: 1mm;
        }
        .locality {
            position: absolute;
            z-index: 10;
        }

        .coordinates, .leg, .date {
            margin-left: 11mm;
        }

        .col-1 {
            padding-top: 1px;
            width: 52mm;
            overflow: hidden;
            float: left;
        }

        .col-2 {
            margin-left: 53mm;
            width: 52mm;
        }

        td {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
        }

        .measurementLabel {
            width: 20%;
        }
        .measurementValue {
            text-align: left;
            width: 30%;
        }

    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), '');
        $taxon = $label->getTaxon();
        $taxonRank = $label->getTaxonRank();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd(), 'number');
        $measurements = $labelHelper->getMeasurements($label->getMeasurement());
        $coordinate = $coordinateHelper(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude()
        );

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $cnt++;

        $localityNames = $labelHelper->concatenateAndTruncateNames(array($label->getMunicipality(), $label->getLocality()), 35);

        // --------------------------------------------------------------------
        $abbr = $this->collectionName($label->getCollectionID(), 'abbr');
        if (!empty($abbr)) {
            $abbr = '(' . $abbr . ')';
        }

        ?>
        <div class='wrapper'>
            <div class='specimen'>
                <div class="col-1">
                    <p class="id"><strong><?php echo $label->getUri() ?></strong></p>
                    <p class='sex'>
                        <?php echo $labelHelper->getSex($label->getSex()); ?>
                    </p>
                    <p class='lifeStage'>
                        <?php echo $filter('MY.lifeStage', $label->getLifeStage()) ?>
                    </p>
                    <p class='taxon'>
                        <em><?php echo $taxon; ?></em>
                        <!-- <?php echo $label->getAuthor(); ?> -->
                        <?php echo $label->getInfraEpithet() ?>
                    </p>
                    <p class='locality'>
                        <?php echo $localityNames; ?>
                    </p>
                    <p>
                      &nbsp;
                    </p>

                    <div class="barcode">
                        <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                    </div>

                    <p class='coordinates'>
                        <?php echo $coordinate ?>
                    </p>

                    <p class='date'>
                        <?php echo $date ?>
                    </p>
                    <p class='leg'>
                        <?php echo $leg ?>
                    </p>
                </div>
                <div class="col-2">
                    <table>
                        <tr>
                            <?php foreach ($measurements as $idx => $measurement): ?>
                                <?php if ($idx % 2 === 0 && $idx > 0): ?>
                                    <?php echo '</tr><tr>' ?>
                                <?php endif ;?>
                                <?php
                                $key = 'MY.measurement' . ucfirst($measurement['measurement']);
                                $parts = explode('/', $this->NullLabel($key), 2);
                                $measurementLabel = '';
                                $units = '';
                                if (isset($parts[1])) {
                                    $measurementLabel = $parts[0];
                                    $units = '&nbsp;' . $parts[1];
                                } else {
                                    $measurementLabel = $parts[0];
                                }
                                ?>
                                <?php if (!empty($measurementLabel)): ?>
                                    <td class="measurementLabel"><?php echo $measurementLabel ?></td>
                                    <td class="measurementValue"><?php echo $measurement['value'] . $units ?></td>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <?php
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>