<?php
$baseFontSizePt = 8;
$perPage = 56;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            border: 1px solid #000;
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm 2mm 5mm 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .wrapper {
            float: left;
            height: 19mm;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            width: 50mm;
            max-height: 40mm;
            overflow: hidden;
            padding: 0;
            POSITION: RELATIVE;
            page-break-inside: avoid;
        }

        p {
            margin: 0 0 0.25em 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 0.2em 0 0 0;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            margin-top: -2mm;
            margin-right: 1mm;
            float: left;
            width: 13mm;
            height: 13mm;
        }

        .logo {
            float: right;
        }

        .leg {
            margin-left: 2em;
        }

        .id {
            margin-top: -2mm;
            line-height: 17px;
        }
        .id strong {
            margin-left: 1mm;
        }
        .b0 {
            margin: 0 0 1mm 2mm;
        }
        .col-1 {
            padding-left: 0;
        }
        .col-3 {
            padding-right: 0;
            border-right: none;
        }
    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), true);
        $country = $label->getCountry() === 'Finland' ? '' : $label->getCountry();
        $province = '';
        $alt = $label->getAlt();
        $habitatClassification = $label->getHabitatClassification();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd(), 'number');
        $coordinate = $this->Coordinate(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude(),
            $label->getWgs84Latitude(),
            $label->getWgs84Longitude(),
            $label->getCoordinateRadius()
        );

        if (!empty($habitatClassification)) {
            $habitatClassification = '(' . $habitatClassification . ')';
        }

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $localityNames = $labelHelper->concatenateAndTruncateNames(array($country, $label->getAdministrativeProvince(), $label->getMunicipality(), $label->getLocality()), 200);

        ?>
        <div class='wrapper'>
            <div class='specimen col-<?php echo ($cnt % 3) + 1 ?>'>
                <div class="b0">
                    <small><?php echo $label->getDomain()?></small>
                </div>
                <div class='b1'>
                    <div class="barcode">
                        <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                    </div>
                </div>
                <p class='id'>
                    <strong><?php echo $label->getId() ?></strong><br>
                    <strong></strong>
                </p>
                <p class='taxon'>
                    <strong><em><?php echo str_replace(' ', '<br>', $label->getTaxon()) ?></em></strong>
                </p>
            </div>
        </div>
        <?php
        $cnt++;
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>