<?php
$baseFontSizePt = 3.4;
$perPage = 112;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;

$border = '1px solid #ddd';
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
            width: 210mm;
        }

        a {
            color: #000;
            text-decoration: none;
        }

        .page {
            max-width: 199.3mm;
            max-height: 278mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
            page-break-after: always;
            border-top: <?php echo $border ?>;
            border-left: <?php echo $border ?>;
            margin-left: auto;
            margin-right: auto;
            margin-top: 3mm;
            margin-bottom: auto;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .page-wrapper {
            width: 210mm;
            padding-top: 5mm;
            position: relative;
        }

        .wrapper {
            float: left;
            height: 20mm;
            width: 25mm;
            padding: 1mm 0.8mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-bottom: <?php echo $border ?>;
            border-right: <?php echo $border ?>;
            page-break-inside: avoid;
            margin: 0;
            overflow: hidden;
            line-height: 119%;
        }

        p {
            margin: 0 0 0 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 2.3mm 0 0 0;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            float: left;
            margin-top: 0.2mm;
            margin-bottom: 1mm;
            width: 8mm;
            height: 8mm;
        }

        .b1 {
            max-height: 2.4em;
            overflow: hidden;
        }

        .logo {
            float: right;
        }

        .leg {
            margin-left: 2em;
        }

        .clear {
            clear: both;
        }

        .id {
            font-size: <?php echo $baseFontSizePt - 0.3?>pt;
            text-align: center;
            width: 14mm;
            margin-left: 0.5mm;
            float: left;
        }

        .id strong {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

    </style>
</head>
<body>
<div class="page-wrapper">
    <div class="page">
        <?php foreach ($labels as $label):
            /** @var \Kotka\Model\Label $label */
            $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), true);
            $country = mb_strtoupper($label->getCountry());
            $alt = $labelHelper->getAlt($label->getAlt());
            $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
            $coordinate = $labelHelper->getCoordinateText(
                $label->getSystem(),
                $label->getLatitude(),
                $label->getLongitude(),
                $label->getWgs84Latitude(),
                $label->getWgs84Longitude(),
                $label->getCoordinateRadius(),
                true
            );
            if ($cnt % $perPage == 0 && $cnt > 0) {
                echo '</div></div><div class="page-wrapper"><div class="page">';
            }
            $cnt++;
            ?>
            <div class='wrapper'>
                <div class='specimen'>
                    <div class="barcode">
                        <?php echo $this->qrCode(\Common\Service\IdService::getQNameWithoutPrefix($label->getQname()), 200, 'barcode') ?>
                    </div>
                    <div class='id'>
                        <a href="<?php echo $label->getUri() ?>">
                            <?php $uriParts = \Common\Service\IdService::getUriInParts($label->getUri()) ?>
                            <?php echo $uriParts[0] ?><br/><strong><?php echo $uriParts[1] ?></strong>
                        </a>

                        <p class="taxon">
                            <em>
                                <?php echo $label->getTaxon() ?>
                            </em>
                            <?php echo $label->getAuthor() ?>
                        </p>
                    </div>
                    <div class="clear"></div>
                    <p class='b1'>
                        <?php echo $country ?>
                        <?php echo $labelHelper->getProvince(
                            $label->getBiologicalProvince(),
                            $label->getAdministrativeProvince()
                        ) ?>
                        <?php echo $label->getMunicipality() ?>
                        <?php echo $label->getLocality() ?>
                        <?php echo $label->getLocalityDescription() ?>
                    </p>

                    <p class='b2'>
                        <?php echo $coordinate ?>
                    </p>

                    <p class='b3'>
                        <?php echo $date ?>
                    </p>
                    <?php if ($label->getHost()): ?>
                        <p class='b4'>
                            host: <?php echo $this->ResolveHostName($label->getHost()) ?>
                        </p>
                    <?php endif ?>
                    <p class='b5'>
                        <?php echo $leg ?>
                    </p>
                </div>
            </div>
            <?php
        endforeach; ?>
    </div>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true, 'usePageWrapper' => true]) ?>
<?php endif; ?>
</body>
</html>