<?php
$baseFontSizePt = 8;

$barcodeSize = "11.5mm";
$labelWidth = "22mm";

/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            max-height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .specimen {
            border-top: 1px dotted #666;
            padding: 2mm;
            page-break-inside: avoid;
            clear: both;
        }

        p {
            margin: 0 0 0.15em 0;
        }

        .b2 {
            font-weight: bold;
        }

        .taxon {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            float: left;
            width: 18mm;
            height: 18mm;
            margin-right: 2em;
        }

        .leg, .id {
            margin-left: 2em;
        }
    </style>
</head>
<body>
<?php foreach ($labels as $label):
    /** @var \Kotka\Model\Label $label */
    /** @var \Kotka\Triple\MYGathering $gathering */
    $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim());
    $country = mb_strtoupper($label->getCountry());
    $province = '';
    $alt = $label->getAlt();
    $habitatClassification = $label->getHabitatClassification();
    $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
    $coordinate = $labelHelper->getCoordinateText(
        $label->getSystem(),
        $label->getLatitude(),
        $label->getLongitude(),
        $label->getWgs84Latitude(),
        $label->getWgs84Longitude(),
        $label->getCoordinateRadius(),
        true
    );
    if (!empty($habitatClassification)) {
        $habitatClassification = '(' . $habitatClassification . ')';
    }
    if (!empty($alt)) {
        $alt = "Alt " . $alt . " m asl. / ";
    }
    $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());
    $det = $labelHelper->getDet($label->getDet());
    ?>
    <div class='wrapper specimen'>
        <div class='b1'>
            <div class="barcode">
                <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . \Common\Service\IdService::getQNameWithoutPrefix($label->getQname())); ?>
            </div>
        </div>
        <p class='taxon'>
            <em><?php echo $label->getTaxon() ?></em> <?php echo $label->getAuthor() ?>
        </p>

        <p class='b2'>
            <?php echo $label->getUri() ?>
        </p>

        <p class='b3'>
            <?php echo $country ?>
            <?php echo $province ?>
            <?php echo $label->getMunicipality(); ?>
            <?php echo $label->getLocality(); ?>
            <?php echo $label->getLocalityDescription(); ?>
        </p>

        <p class='b4'>
            <?php echo $date ?>
            <?php if (!empty($leg)): ?>
                <span class='leg'><?php echo $leg ?></span>
            <?php endif ?>
        </p>
    </div>
    <?php
endforeach; ?>
<script>
    var maxColHeight = 1147;
    var elemHeight = 0;
    var pageHeight = 0;
    var page = null;
    var labels = document.querySelectorAll(".specimen");
    for (var i = 0, len = labels.length; i < len; i++) {
        elemHeight = getHeight(labels[i]);
        pageHeight = getHeight(page);
        if ((pageHeight + elemHeight) > maxColHeight) {
            page = null;
        }
        if (page == null) {
            page = document.createElement('div');
            page.className = 'page';
            document.body.appendChild(page);
        }
        page.appendChild(labels[i]);
    }

    // Returns height in pixels!
    function getHeight(element) {
        if (element == null) {
            return 0;
        }
        var elmHeight, elmMargin;
        elmHeight = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('height'));
        elmMargin = parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-top')) + parseInt(document.defaultView.getComputedStyle(element, '').getPropertyValue('margin-bottom'));

        return (elmHeight + elmMargin);
    }
</script>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>