<?php
$baseFontSizePt = 8;
$perPage = 6;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        a {
            color: #000000;
            text-decoration: none;
        }

        .wrapper {
            float: left;
            height: 90mm;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            width: 95mm;
            max-height: 90mm;
            overflow: hidden;
            padding: 2mm;
            POSITION: RELATIVE;
            page-break-inside: avoid;
        }

        p {
            margin: 0 0 0.25em 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 1.5em 0 1em 1em;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            float: right;
            width: 18mm;
            height: 18mm;
        }

        .logo {
            float: right;
        }

        .leg, .id {
            margin-left: 2em;
        }

        .backupid {
            font-size: 5pt;
            margin: 0;
            POSITION: ABSOLUTE;
            TOP: 1mm;
            RIGHT: 1mm;
        }
    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim());
        $country = $label->getCountry();
        $province = '';
        $alt = $label->getAlt();
        $habitatClassification = $label->getHabitatClassification();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd());
        $coordinate = $labelHelper->getCoordinateText(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude(),
            $label->getWgs84Latitude(),
            $label->getWgs84Longitude(),
            $label->getCoordinateRadius()
        );
        if (!empty($habitatClassification)) {
            $habitatClassification = '(' . $habitatClassification . ')';
        }
        if (!empty($alt)) {
            $alt = "Alt " . $alt . " m asl. / ";
        }
        $province = $labelHelper->getProvince($label->getBiologicalProvince(), $label->getAdministrativeProvince());

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $cnt++;
        ?>
        <div class='wrapper'>
            <div class='specimen'>
                <h1>Luomus - Finnish Museum of Natural History<br/>Botanical Museum (H)</h1>
                <?php if ($country == "Finland" || $country == "FI"): ?>
                    <h2>Flora Fennica</h2>
                <?php else: ?>
                    <h2>Flora of <?php echo $country ?></h2>
                <?php endif ?>
                <p class='taxon'>
                    <em><?php echo $label->getTaxon() ?></em> <?php echo $label->getAuthor() ?>
                </p>

                <div class='b1'>
                    <div class="barcode">
                        <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                    </div>
                </div>
                <p class='b2'>
                    <?php echo $country ?>
                    <?php echo $province ?>
                    <?php echo $label->getMunicipality(); ?>
                    <?php echo $label->getLocality(); ?>
                    <?php echo $label->getLocalityDescription(); ?>
                </p>

                <p class='b3'>
                    <?php echo $label->getHabitatDescription(); ?>
                    <?php echo $habitatClassification; ?>
                    <?php echo $alt; ?>
                    <?php
                    $associated = $label->getAssociatedTaxa();
                    if (!empty($associated)):?>
                        With <em><?php echo implode(', ', $associated) ?></em>
                    <?php endif ?>
                </p>

                <p class='b4'>
                    <?php echo $date ?>
                    <span class='leg'><?php echo $leg ?></span>
                </p>

                <p class='b5'>
                    <?php echo $coordinate ?>
                </p>

                <p class='id'>
                    Specimen ID: <?php echo $label->getUri() ?>
                </p>

                <p class='backupid'>
                    <?php echo $label->getUri() ?>
                </p>
            </div>
        </div>
        <?php
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>