<?php
$baseFontSizePt = 8;
$perPage = 21;
$cnt = 0;
/** @var \Kotka\Model\Label\Helper $labelHelper */
$labelHelper = $this->labelHelper;
$labels = $this->labels;
?>
<html lang='en'>
<head><title>labels</title>
    <meta charset='utf-8'/>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: <?php echo $baseFontSizePt?>pt;
            -webkit-font-smoothing: antialiased;
            margin: 0;
            padding: 0;
        }

        .page {
            border: 1px solid #000;
            width: 210mm;
            height: 297mm;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 5mm;
            page-break-after: always;
            position: relative;
        }

        .page:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .wrapper {
            float: left;
            height: 40mm;
        }

        .specimen {
            border-right: 1px dotted #ccc;
            width: 64mm;
            max-height: 40mm;
            overflow: hidden;
            padding: 2mm;
            POSITION: RELATIVE;
            page-break-inside: avoid;
        }

        p {
            margin: 0 0 0.25em 0;
        }

        h1 {
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            text-align: center;
            border-bottom: 1px solid #999;
            margin: 0.5em 0 0.25em 0;
        }

        h2 {
            text-align: center;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
            margin-bottom: 1em;
            margin: 0 0 0.25em 0;
        }

        .taxon {
            margin: 1.5em 0 1em 0;
            font-size: <?php echo $baseFontSizePt + 1?>pt;
        }

        .barcode {
            margin-top: -2mm;
            margin-right: -2mm;
            float: right;
            width: 18mm;
            height: 18mm;
        }

        .logo {
            float: right;
        }

        .id {
            line-height: 17px;
        }
        .id strong {
            margin-left: 1mm;
        }
        .col-1 {
            padding-left: 0;
        }
        .col-3 {
            padding-right: 0;
            border-right: none;
        }
    </style>
</head>
<body>
<div class="page">
    <?php foreach ($labels as $label):
        /** @var \Kotka\Model\Label $label */
        $leg = $labelHelper->getLeg($label->getLeg(), $label->getLegVerbatim(), true);
        $country = $label->getCountry() === 'Finland' ? '' : $label->getCountry();
        $province = '';
        $alt = $label->getAlt();
        $habitatClassification = $label->getHabitatClassification();
        $date = $labelHelper->dates2roman($label->getDateBegin(), $label->getDateEnd(), false);
        $coordinate = $this->Coordinate(
            $label->getSystem(),
            $label->getLatitude(),
            $label->getLongitude(),
            $label->getWgs84Latitude(),
            $label->getWgs84Longitude(),
            $label->getCoordinateRadius()
        );

        if (!empty($habitatClassification)) {
            $habitatClassification = '(' . $habitatClassification . ')';
        }

        if ($cnt % $perPage == 0 && $cnt > 0) {
            echo '</div><div class="page">';
        }
        $localityNames = $labelHelper->concatenateAndTruncateNames(array($country, $label->getAdministrativeProvince(), $label->getMunicipality(), $label->getLocality()), 200);

        ?>
        <div class='wrapper'>
            <div class='specimen col-<?php echo ($cnt % 3) + 1 ?>'>
                <div class='b1'>
                    <div class="barcode">
                        <?php echo $this->QrCode(\Kotka\View\Helper\QrCode::PHPQR_PREFIX . $label->getUri()); ?>
                    </div>
                </div>
                <p class='id'>
                    <small><?php echo $label->getDomain()?></small><strong><?php echo $label->getId() ?></strong><br>
                    <strong><?php echo $label->getOriginalCatalogueNumber() ?></strong>
                </p>
                <p class='taxon'>
                    <strong><em><?php echo $label->getTaxon() ?></em></strong><br><?php echo $label->getAuthor() ?><br>
                    <?php echo $labelHelper->getSex($label->getSex()); ?> <?php echo $label->getAge() ?>
                </p>
                <p class='b2'>
                    <?php echo $localityNames; ?><br>
                    <?php echo $date ?>
                    <?php if(!empty($leg)): ?>
                        <br><span class='leg'><?php echo $leg ?></span>
                    <?php endif ?>

                    <?php if (!empty($label->getRing())): ?>
                        <br>Ring: <?php echo $label->getRing() ?>
                    <?php endif ?>
                </p>
            </div>
        </div>
        <?php
        $cnt++;
    endforeach; ?>
</div>
<?php if(isset($this->params['doubleSided']) && $this->params['doubleSided']): ?>
    <?php echo $this->partial('kotka/label/double_sided', ['loadJQuery' => true]) ?>
<?php endif; ?>
</body>
</html>