<?php 
$url = $this->url('https/search_specimens', array('action' => 'index'), array(), true);
$exports = [
    'pdf' => 'Print labels',
    'excel' => 'Export to Excel'
];

$params = $_GET;
if (isset($params['export'])) {
    unset($params['export']);
}

$parametersAdd = http_build_query($params);
if (!empty($parametersAdd)) {
    $parametersAdd = '&' . $parametersAdd;
}
// <span class="btn disabled">Export to:</span>
?>
<?php foreach($exports as $type => $name) :
    $method = $type . 'Max';
    if ($this->total > $this->$method):?>
        <div id="export-<?php echo $type ?>" class="form-control-static" style="float:left">
        <?php echo $type ?> max is (<?php echo $this->$method?>)&nbsp;
        </div>
    <?php continue;
    endif;
    $urlExport = $url . '?export' . '=' . $type . $parametersAdd; ?>
    <a class="btn btn-info" id="export-<?php echo $type ?>" href="<?php echo $urlExport ?>">
        <?php echo $name ?>
    </a>
<?php endforeach;
