<?php
use ZfcDatagrid\Column;
use ZfcDatagrid\Column\Style;
use ZfcDatagrid\Column\Type;

$linkFirst = $linkLast = $linkNext = $linkPrev = '#';
$linkNextDis = $linkPrevDis = '  disabled';
$pages = $this->paginator->getPages();

$paginatorOnclick = 'goToPage(%s); return false;';

if ($pages->current > 1) {
    $linkPrevDis = '';
    $linkPrev = $this->url(null, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => $pages->current - 1))), true);
    $linkFirst = $this->url(null, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => 1))), true);
}

if ($pages->current < $pages->pageCount) {
    $linkNextDis = '';
    $linkNext = $this->url($this->matchedRouteName, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => $pages->current + 1))), true);

    $linkLast = $this->url(null, array(), array('query' => array_merge($this->activeParameters, array($this->parameterNames['currentPage'] => $pages->pageCount))), true);
}
$lastPage = $this->paginator->count();
$totalItems = $this->paginator->getTotalItemCount();
$itemsPerPage = $this->paginator->getItemCountPerPage();
$itemFrom = ($itemsPerPage * ($pages->current - 1)) + 1;
$itemTo = $itemFrom + $this->paginator->getItemCountPerPage() - 1;
if ($itemTo > $totalItems) {
    $itemTo = $totalItems;
}
$ofX = 'results';
if (isset($this->ofX)) {
    $ofX = $this->ofX;
}
?>
<div class="row">
    <div class="col-sm-4">
        <span>
           <?php if ($totalItems > 0) { echo $itemFrom ?> - <?php echo $itemTo ?> of <?php } echo $totalItems . ' ' . $ofX ?>
            <?php
            $perPage = array(10 => '', 25 => '', 50 => '', 100 => '');
            $perPage[$itemsPerPage] = ' selected="selected"';
            ?>
            <select class="btn" name="itemsPerPage" onchange="perPageChange(this);return false;">
                <?php foreach ($perPage as $num => $sel) {
                    echo '<option value="'.$num.'" '.$sel. '>'.$num.'</option>';
                }?>
            </select> per page
        </span>
    </div>
    <div class="col-sm-3 form-control-static no-gutter no-gutter-right">
        <?php if ($this->export): ?>
            <?php if ($totalItems > \Kotka\Controller\SearchController::MAX_EXPORT) : ?>
                Too many results to export (max <?php echo \Kotka\Controller\SearchController::MAX_EXPORT ?>)
            <?php else: ?>
                <?php echo $this->partial('zfc-datagrid/toolbar/export-kotka',[
                    'total'    => $totalItems,
                    'pdfMax'   => \Kotka\Controller\SearchController::MAX_EXPORT_PDF,
                    'excelMax' => \Kotka\Controller\SearchController::MAX_EXPORT_EXCEL
                ]);?>
            <?php endif?>
        <?php endif?>
    </div>
    <div class="col-sm-5 no-gutter">
        <div class="pull-right">
        <!-- Start Pagination -->
            <div class="row">
                <div class="pull-right" style="margin-bottom: 5px; width: 150px; margin-right: 8px;">
                    <div class="input-group">
                        <div class="btn input-group-addon" style="padding-top: 6px;" onclick="goToPage($('#page-jump').val()); return false;">
                            To page
                        </div>
                        <input id="page-jump" type="text" onkeyup="if (event.which === 13) {goToPage($('#page-jump').val());} return false;" class="form-control" name="<?php echo $this->parameterNames['currentPage']; ?>"
                               value="<?php echo $pages->current; ?>"/>
                    </div>
                </div>
            </div>

            <ul class="pagination pull-right" style="margin: 0 0 5px 0; padding: 0;">
                <?php if ($pages->current > 1): ?>
                    <li><a href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->current - 1); ?>">
                            &laquo; Previous
                        </a>
                    </li>
                    <?php if (!isset($pages->pagesInRange[1])): ?>
                        <li>
                            <a href="#" onclick="<?php echo sprintf($paginatorOnclick, 1); ?>">
                                1...
                            </a>
                        </li>
                    <?php endif; ?>
                <?php else: ?>
                    <li class="disabled">
                        <a href="#">&laquo; Previous</a>
                    </li>
                <?php endif; ?>

                <?php $hasLast = false; ?>
                <?php foreach ($pages->pagesInRange as $page): ?>
                    <?php
                    if ($page == $lastPage) {
                        $hasLast = true;
                    }

                    if ($pages->current != $page):
                        $onclick = sprintf($paginatorOnclick, $page);
                        ?>
                        <li>
                            <a class="visible-lg" href="#" onclick="<?php echo $onclick; ?>">
                                <?php echo $page; ?>
                            </a>
                        </li>
                    <?php else:?>
                        <li class="active">
                            <a>
                                <?php echo $page; ?><span class="hidden-inline-lg">/<?php echo $pages->pageCount ?></span>
                            </a>
                        </li>
                    <?php endif ?>
                <?php endforeach; ?>

                <?php if ($pages->current < $pages->pageCount): ?>
                    <?php if (!$hasLast): ?>
                        <li>
                            <a class="visible-lg" href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->pageCount); ?>">
                                ... <?php echo $lastPage ?>
                            </a>
                        </li>
                    <?php endif; ?>
                    <li>
                        <a href="#" onclick="<?php echo sprintf($paginatorOnclick, $pages->current + 1); ?>">
                            Next &raquo;
                        </a>
                    </li>
                <?php else: ?>
                    <li class="disabled">
                        <a href="#">Next &raquo;</a>
                    </li>
                <?php endif; ?>

            </ul>
         <!-- End Pagination -->
        </div>
    </div>
</div>
